[2017-06-28 06:57] jstrachan commented on #1606
There's was an issue with the Che YAML - the new release fixing it should be out shortly - try update tenant

[2017-06-28 11:02] joshuawilson commented on #1565
related to #1388

[2017-06-28 12:41] ldimaggi commented on #1606
The Update tenant button does not respond for the test user account for which a Che project was not created when the account was provisioned.

(does not respond = does not highlight, does not respond visually, and nothing in the Chrome browser console log )

[2017-06-28 13:43] ldimaggi commented on #1606
OK - that did work - the user account looks to be correct now - verifying.

[2017-06-28 14:12] ldimaggi opened #1610 "Project creation fails - groovy.lang.MissingPropertyException: No such property: io for class: bayesianScanner"
Followup to https://github.com/fabric8-ui/fabric8-platform/issues/1606

Steps to recreate:
* Login to https://openshift.io
* Create new space
* Create new quickstart project ("Add to Space") - accept all defaults

[code]

Full Jenkins log is attached.

[create_project.log.txt](https://github.com/fabric8-ui/fabric8-platform/files/1108955/create_project.log.txt)

[2017-06-28 15:03] ldimaggi commented on #1606
The problem seems to be fixed now - but - will leave this issue open until we can verify that the problem is not recreated for other/all new user accounts.

[2017-06-28 15:27] #1549 closed

[2017-06-28 19:23] ldimaggi commented on #1606
After retrying this test with a second (totally new) user account ("osiotest3142"), the pattern seems to be consistent:
* Create a new user, register the user
* After the user's first login to OSIO, the Che and/or Jenkins projects are not visible in the OpenShift web console - also the projects are not listed in output from oc CLI.
* The projects appear after the user updates the tenant service fr

[2017-06-28 22:27] catrobson commented on #492
Updated user flows and designs after talking with @qodfathr: https://redhat.invisionapp.com/share/CFC91QFHU

@dgutride we'll capture a story for experimenting with the screenshot mechanism, as I'm worried about how long of a delay that will cause for opening the pop-down.

[2017-06-28 22:31] catrobson commented on #1576
Initial work happening in this fabric8-ux story:  https://github.com/fabric8-ui/fabric8-ux/issues/510

You can see user flows and some design ideas forming here:  https://redhat.invisionapp.com/share/WJCDBEBYM

[2017-06-28 22:33] catrobson commented on #1576
@joshuawilson - main question I have for Dev team - if you look at user flows I have a Phase 1, 2, 3.  Do those phases make sense to you?  Are Phase 1 and 2 useful distinctions especially to get this done in a more timely fashion?  Reviewed with @qodfathr and he was happy with the direction of these user flows.  Designs still need more work.

[2017-06-29 07:22] corinnekrych opened #1613 "Import wizard does not handle multiple selection"
Since fabric8-generator handles multiple github repos, wizard should create multiple codebases.

[2017-06-29 10:15] jstrachan commented on #1606
this sounds like an issue with fabric8-init-tenant or WIT - I raised this https://github.com/fabric8io/fabric8-init-tenant/issues/122

[2017-06-29 16:28] ldimaggi commented on #1610
This problem was seen repeatedly on June 28 - it is not being seen on June 29 - closing.

[2017-06-29 16:28] #1610 closed

[2017-06-29 16:32] ldimaggi opened #1615 "Errors written to Jenkins logs are not communicated to users in OSIO UI"
If a build fails, the failure is communicated to the user in the OSIO UI. It would be helpful to users to have the cause of the failures extracted from the Jenkins logs and made available to the user in the OSIO UI. At present, users must access the Jenkins log to find the root cause of failures.

For example, in a recent failure, the user only sees this in the OSIO UI:

![screenshot from 2017-06-

[2017-06-29 17:05] aslakknutsen commented on #1606
It's getting Forbidden from OSO applying the view/edit roles in the Jenkins namespace which skips the Che creation.. Looks like some async issue. Investigating.

[2017-06-29 18:30] ldimaggi commented on #1606
https://github.com/fabric8io/fabric8-init-tenant/issues/122

[2017-06-29 19:01] catrobson opened #1617 "Areas to use tree-list view"
Change over Area list page to use tree-list view control to show parent and children areas as a tree rather than in a flat list with parent/child/grandchild/etc.

[2017-06-29 21:07] qodfathr commented on #1344
There are a lot of considerations to be made here, and many equally valid and competing use-cases. We'll need to do some UX research, but, based upon even some back of the napkin use-casing, I feel that we essentially need to offer the user a list of everything which is associated with the Space (pipelines, repos, etc.), each with a checkbox. The checkbox controls "delete this thing, too."

Simple

[2017-06-30 11:59] qodfathr commented on #1403
Either I'm still seeing this, or some variant of it. My approach (sorry but this is from memory)
1. Create 3 new spaces and do a quick start in each.
2. Delete the spaces.
3. Create a new space and do a quickstart
4. Observe all Pipelines put into that new space (should only have the one new one)

I aggressively deleted everything in OSO, and everything returned to OSO, too, so this feels to be re

[2017-06-30 12:09] ldimaggi commented on #1403
FYI - This issue was logged in May 2017:  https://github.com/fabric8-ui/fabric8-ui/issues/1283

It was linked to this (unresolved) issue: https://github.com/fabric8io/fabric8-init-tenant/issues/75

[2017-06-30 14:28] jstrachan commented on #1403
@qodfathr the only explanation I can think of if you have a recent Tenant is that Jenkins was down when you zapped your BuildConfigs (pipelines) so that when jenkins came back up it had missed them get deleted so didn't know to zap them from the GitHub Org plugin. You have a recent tenant right? (The version of jenkins you're using appears on the new status drop down list).

Lemme see if I can fig

[2017-06-30 15:39] ldimaggi opened #1619 "In promoting project to run, timing delays may cause user confusion as links are displayed before the corresponding assets are ready"
I just saw the following situation:
* User creates new project, pipeline reports success
* But - if the user attempts to access the staged app before promoting it to run - this error is seen:

![screenshot from 2017-06-30 11-01-52](https://user-images.githubusercontent.com/642621/27742862-32b00c88-5d88-11e7-8d18-a4ea2af1c296.png)

The problem is a matter of timing. The app requires (how long?) to

[2017-06-30 15:51] ldimaggi commented on #1344
Issue was originally logged here:  https://github.com/fabric8-ui/fabric8-ui/issues/1251

[2017-06-30 15:51] ldimaggi commented on #1344
Closing 1251 as a dup of this issue.

[2017-06-30 15:51] ldimaggi commented on #1251
Closing as a dup of:  https://github.com/fabric8-ui/fabric8-ui/issues/1344

[2017-06-30 15:51] #1251 closed

[2017-07-01 17:04] kylebuch8 commented on #921
I've issued PR #1616 for this. Looks like we need to either make the error message more generic or get an update to the API to provide a more specific error message.

[2017-07-03 13:10] joshuawilson opened #1621 "UX for Remote work items"
_From @Mgranfie on October 12, 2016 15:18_

As a user I should be able to use the ALM tools to work with issues that currently exist in other tools such as GIT, Bugzilla etc, without having to recreate them in Almighty.
- User should be able to directly interact with attributes from the remote issue, as a work item in ALM.
- User should not have to update the remote issue, or refresh the Almighty

[2017-07-03 13:10] joshuawilson commented on #1621
_From @maxandersen on October 13, 2016 11:9_

You are using both remote and external interchangeably in this story.  I think it is important we do not mix up those two related but quite different from user perspective.

All remote issues are external by definition, but you could see at some point that not all external issues are remote issues. I've updated the text to reflect that.

p.s. the syste

[2017-07-03 13:10] joshuawilson commented on #1621
_From @maxandersen on October 13, 2016 11:14_

I also updated the changes in the external system should immediately take effect in Almighty to say eventually. It is too much to expect remote items that might only be possible to fetch with coarse grained intervals to be updated immediately.

[2017-07-03 13:10] joshuawilson commented on #1621
_From @ldimaggi on October 13, 2016 17:31_

Have we thought about how/where we will configure the remote system fetch/refresh time intervals? (Something similar to email/calendar refresh on a phone/tablet? Will we also include a "manual fetch" option?)

[2017-07-03 14:57] joshuawilson commented on #1617
@catrobson is this to be designed or do you have designs?

[2017-07-03 16:06] ldimaggi commented on #1563
No - the bcs have all been deleted

The issue is limited to the 'almightytest' account.

[2017-07-03 16:54] joshuawilson commented on #1576
@catrobson the designs look like what I thought it should be. How would the Phases work?
Long term we may want to be more specific and have a whole page in the profile to check off the areas that you want enable and maybe the features/phases for them.

[2017-07-03 17:55] joshuawilson commented on #1615
@jstrachan @rawlingsj what do you think?

[2017-07-03 18:47] dgutride commented on #921
This is dependent on the API being updated as outlined here:  https://github.com/openshiftio/openshift.io/issues/312

[2017-07-03 20:34] ldimaggi opened #1625 "Not reproducible - user accounts can be rendered unusable - "Already created BuildConfig" cited in logs - no build configs found"
This test - https://ci.centos.org/job/devtools-test-end-to-end/ - started failing on Sunday, July 2. The error logged (Jenkins log) is:

[code]
However, no build configs are found in the OpenShift Jenkins project:
![screenshot from 2017-07-03 16-29-47](https://user-images.githubusercontent.com/642621/27807203-40bec2ec-600d-11e7-9c83-6ec98a044dfd.png)

The error displayed to the user is:
[code]
[Je

[2017-07-03 20:38] joshuawilson opened #1626 ""View all Spaces" returns random subsets of a user's spaces"
_From @ldimaggi on July 3, 2017 19:10_

I first started seeing this issue on July 3 - when a user views all spaces, random subsets of that user's spaces are seen:

![screenshot from 2017-07-03 14-26-01](https://user-images.githubusercontent.com/642621/27805194-403d941c-6001-11e7-9e9e-1cb7bfcf3fe8.png)

![screenshot from 2017-07-03 14-45-19](https://user-images.githubusercontent.com/642621/27805201

[2017-07-03 20:38] joshuawilson commented on #1626
_From @aslakknutsen on July 3, 2017 19:32_

This is a f8-ui issue, not planner. But possible caused by no pagination support in the UI and random returned order from server.

[2017-07-03 20:41] ldimaggi commented on #1625
Deleting builk configs, deployment configs, restarting pods, etc. has no effect on this bug.

[2017-07-04 00:58] #1456 closed

[2017-07-04 01:39] joshuawilson opened #1627 "Duplicated "Create new space" header"
_From @bartoszmajsak on June 29, 2017 7:56_

When creating new space from the **Profile**, modal has double "Create new space" label.

![image](https://user-images.githubusercontent.com/719616/27677169-081e8bde-5cb1-11e7-968c-79635be273a8.png)

It seems that first one is part of `<h4 class="modal-title">Create new space</h4>` and the other is nested in `<space-creator>`.

Chrome v59.0.3071.104

_C

[2017-07-04 01:40] joshuawilson commented on #1627
@mindreeper2420 this is only from the **Profile** page.

[2017-07-04 02:01] joshuawilson opened #1628 "continues page reload loop"
_From @debianmaster on June 29, 2017 18:22_

Goto:  https://openshift.io/cjonagam-io/_spaces     `replace cjonagam-io` with your yousername

and click `New` button   page goes into infinite loop of   Reload -> New -> Reload

_Copied from original issue: openshiftio/openshift.io#304_

[2017-07-04 07:34] corinnekrych opened #1629 "No dummy code"
This class https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/shared/dummy.service.ts should only handle space template. Clean the unused part.

[2017-07-05 02:07] joshuawilson opened #1630 ""My work items" in dashboard rendering badly"
_From @mishaone on July 4, 2017 23:52_

Right after logging in, we're take to the dashboard with Recent Spaces, My work Items and recent active pipelines. The "My work items" part of this is rendering oddly. The first screenshot shows how the title of the work items seems to be overwriting a hash. The second shows multiple work items doing the same. I highlighted the title to see what exactly it s

[2017-07-05 13:06] #1613 closed

[2017-07-05 13:10] mindreeper2420 commented on #1630
@joshuawilson it looks like something is going on with the retrieval of the work item id - when I go into the Planner, the Work Item ID is a 36 character code.

[2017-07-05 13:22] michaelkleinhenz commented on #1630
This is due to the change of the id handling. The id field now holds a UUID and the UI should use the new system.number field for local ID display. This has to be adapted throughout OSIO. In Planner, it is already fixed, but is stuck in deploy hell. As soon as we get the pipeline fixed, this will be fixed on Planner. On Platform, the same needs to be done.

[2017-07-05 13:42] mindreeper2420 commented on #1630
@joshuawilson @michaelkleinhenz - I changed the string to be `{{workItem.attributes['system.number']}}` and it is pulling the proper number now, based on the context of the Space. It now shows the first work item in Space 'adam' as '1' and the first work item in Space 'miranda' and '1'. No longer does it jump from '1' to '12' when there are only two numbers in the Space.

[2017-07-05 14:01] ldimaggi opened #1635 "Intermittent but recurring problem - codebase not populated with project code"
Seeing this problem intermittently - no repeatable pattern seen yet - sometimes, when a new project is created, creating a codebase does not populate the codebase with the project's code:

![screenshot from 2017-07-03 14-20-20](https://user-images.githubusercontent.com/642621/27867814-ca8b9d5e-6168-11e7-9c4c-117111ece804.png)

Assigning to ldimaggi until a repeatable pattern can be identified.

[2017-07-05 14:16] #1630 closed

[2017-07-05 15:38] mindreeper2420 commented on #1627
As the Space Creator component contains the title, it does not need to be passed by the page to the modal itself. Removing the title from the `<modal #createSpace` call eliminates the duplicate title.

[2017-07-05 16:15] #1627 closed

[2017-07-05 17:14] ldimaggi commented on #1625
After the jenkins project's pods are scaled to zero, persistent volume claims remain:
[code]

[2017-07-05 17:14] ldimaggi commented on #1625
At this point - how can a user clear these persistent volume claims?

[2017-07-05 17:17] joshuawilson commented on #1625
@jstrachan can you answer this one?

[2017-07-05 18:01] ldimaggi commented on #1625
The error message is generated here:
https://github.com/fabric8io/fabric8-generator/blob/master/src/main/java/io/fabric8/forge/generator/kubernetes/CreateBuildConfigStep.java#L236

But - what is causing this? And why only for this account? Thx!

[2017-07-05 22:24] kylebuch8 commented on #1377
I have this worked out locally but I need #1585 to be finished before I can complete the task.

[2017-07-05 22:30] rawlingsj commented on #1377
Are you sure it's not #1565?

[2017-07-05 22:52] kylebuch8 commented on #1377
Ha, yes. #1565

[2017-07-05 22:53] rawlingsj commented on #1377
ah great - thanks

[2017-07-06 11:56] corinnekrych commented on #1486
closing as we fixed it with displaying only 2 buttons: import from repo and quickstart.

[2017-07-06 11:56] #1486 closed

[2017-07-06 13:19] jstrachan commented on #1625
BuildConfigs are in the users namespace `almusertest1`; not in the `almusertest1-jenkins` namespace. The Builds for the pipelines are there too. There are temporary S2I Builds created in the `almusertest1-jenkins` namespace but like all Builds they are transient and OpenShift will GC them at some point.

Then main thing to check on is `BuildConfig` resources in `almusertest1` - they should be crea

[2017-07-06 13:23] ldimaggi opened #1640 "Project creation ("add to space") dialog's "OK button is non-functioning"
First started seeing this issue on July 6 - after creating a new project - the "OK" button in the dialog is non-functioning - no error is displayed for the user or written to the Chrome browser console log:

![screenshot from 2017-07-06 09-16-55](https://user-images.githubusercontent.com/642621/27913025-c4a591d2-622c-11e7-83c3-dbfbbfc067cf.png)

[2017-07-06 13:36] ldimaggi opened #1641 "Project creation ("add to space") - fails to create codespace"
Started seeing this on July 6 - steps to recreate:
* Create a new space
* Create a new Vert.X project ("add to space")
* Accept all defaults
* Observe that the project is created, its build pipeline is started, but no codebase is created
* No errors are reported to the user or logged in the Chrome browser console

![screenshot from 2017-07-06 09-32-23](https://user-images.githubusercontent.com/642

[2017-07-06 13:37] ldimaggi commented on #1641
Seeing this same problem with multiple user accounts.

[2017-07-06 13:49] corinnekrych commented on #1640
@ldimaggi it should be fixed by https://github.com/fabric8-ui/fabric8-ui/pull/1638

[2017-07-06 13:50] corinnekrych commented on #1641
@ldimaggi it should be fixed by https://github.com/fabric8-ui/fabric8-ui/pull/1638

[2017-07-06 14:19] corinnekrych commented on #1607
this one is fixed by https://github.com/fabric8-ui/fabric8-ui/issues/1613

[2017-07-06 14:19] #1607 closed

[2017-07-06 14:20] corinnekrych commented on #1608
it should be fixed by https://github.com/fabric8-ui/fabric8-ui/issues/1613

[2017-07-06 14:20] #1641 closed

[2017-07-06 14:21] #1640 closed

[2017-07-06 15:25] ldimaggi opened #1642 "Creating a new project in a space results in new builds being created for all other projects in the space"
Steps to recreate:
* Create a space, create a project in that space - observe the pipeline/build for that project:
![screenshot from 2017-07-06 11-16-00](https://user-images.githubusercontent.com/642621/27918625-854f2da2-623d-11e7-914c-09f31b94193c.png)

* Create a second project in the space - observe that a 2ns build/pipeline for the first project is also created:
![screenshot from 2017-07-06 11

[2017-07-06 15:32] ldimaggi commented on #1642
Related to repository name issue: https://github.com/fabric8-ui/fabric8-ui/issues/1498

If all the patterns are deleted from the "repository name pattern" field - then creating a new project only results in that project being built. Is this the proper workaround?

[2017-07-06 16:10] ldimaggi opened #1644 "Creating a new project results in Bayesian error"
Steps to recreate:
* Create a new Vert.X project - accept all defaults.

Error written to Jenkins log:

[code]

[2017-07-06 16:42] joshuawilson commented on #1642
I thought this was fixed if you cleaned up your BC, right @jstrachan?

[2017-07-06 17:16] joshuawilson commented on #1644
@jyasveer @invincibleJai @arunkumars08 Do you know about this and what is causing it?

[2017-07-06 19:12] ldimaggi commented on #1625
Was just able to recreate this error with a new user account - steps to reproduce:
* Create 4 new projects (Vert.X quickstart) in a new space with a new user account

As expected, the 4 projects/apps result in quotas being reached for stage and run:
[code]

Adding a 5th project resulted in the "Already created BuildConfig"  error. But - this scenario was not reproducible.

oc get bc -n osiotest314

[2017-07-06 19:24] ldimaggi opened #1646 "Pipeline fails while build is successful - the user might miss the error symbol as the pipeline phases stays green"
It's possible for a build to be successful, but the pipeline fails. The resulting pipeline display shows both red and green results - we should better highlight that the pipeline failed.

![screenshot from 2017-07-06 14-54-24](https://user-images.githubusercontent.com/642621/27928927-081ef3ea-625f-11e7-9890-8d5f1ceead37.png)

Log fragment follows:

[code]

[2017-07-06 19:29] #1363 closed

[2017-07-06 19:57] ldimaggi opened #1648 "Error in pushing project to stage caused by timeout reported as success in OSIO UI"
Steps to recreate:
* Create a new Vert.X project - accept all defaults

The push to stage failed due to a timeout. The UI presented this as success:

![screenshot 23](https://user-images.githubusercontent.com/642621/27930144-8b752dfa-6263-11e7-9924-51a711be9d7e.png)

Openshift correctly trapped the error:

![screenshot 24](https://user-images.githubusercontent.com/642621/27930168-9bd99960-6263-11e

[2017-07-07 02:51] joshuawilson commented on #1646
@jstrachan how can it fail and pass at the same time?

[2017-07-07 05:16] jstrachan commented on #1646
the status of a stage != the status of the build.

From the log all the stages are green (see the 'SUCCESS') in the build log - thats the last stage. Then after all that the final build that returned an error. So the UI is totally correct - the stages all were green but the build failed right at the end.

I'll try figure out why though; as thats a tad wacky.

[2017-07-07 07:07] corinnekrych commented on #1361
After completed Quickstart, the user is brought to space dashboard.
has been fixed.

[2017-07-07 07:07] #1361 closed

[2017-07-07 07:08] rawlingsj commented on #1625
NAME TYPE FROM LATEST
july6-s2i Source Binary 5
july6a-s2i Source Binary 4
july6b-s2i Source Binary 3
july6c-s2i Source Binary 2
july6d-s2i Source Binary 1

Are you sure you've given the correct command and information above?  I wouldn't expect any build configs in the osiotest314-jenkins namespace especially with 'Source Binary' in the description.  The list you've given above are completed s2i b

[2017-07-07 07:08] corinnekrych commented on #1360
has been fixed

[2017-07-07 07:08] #1360 closed

[2017-07-07 11:49] ldimaggi commented on #1646
This issue is related - https://github.com/fabric8-ui/fabric8-ui/issues/1648

[2017-07-07 15:42] corinnekrych commented on #1414
@sbose78 we could easily do it see:
https://github.com/fabric8-ui/fabric8-ui/compare/master...corinnekrych:wizard.display.jenkins.job.url.correctly?expand=1
BUT
then we displayed a URL which is not yet available as the jenkins job for the repo takes some time to be created. if the user hit the URL he will get a 404

I'm closing the issue, if @catrobson thinks we rather display a not yet available

[2017-07-07 15:42] #1414 closed

[2017-07-07 15:45] ldimaggi opened #1660 "Create a new project - Secured Spring Boot Tomcat Quickstart - fails"
Steps to recreate:
* Create a new project - in either a new or existing space - select Secured Spring Boot Tomcat
* Project fails in rollout to stage

Error is: no openshift.yaml found

See attached build log file.
[Secured_Spring_Boot_Tomcat_log.txt](https://github.com/fabric8-ui/fabric8-ui/files/1131505/Secured_Spring_Boot_Tomcat_log.txt)

[2017-07-07 15:50] ldimaggi opened #1661 "Caching in the UI results in the user seeing references to deleted spaces"
To recreate this issue:
* Create and delete spaces - The deleted spaces are shown in the 'recent spaces' lists - if a space is deleted and then recreated, its name can appear more than once in the list.

Screenshots - these screenshots are all taken at the same time - the "view all spaces" list is correct - the others are incorrect.

![screenshot from 2017-07-07 07-55-23](https://user-images.githu

[2017-07-07 15:56] ldimaggi commented on #1661
![screenshot from 2017-07-07 11-55-47](https://user-images.githubusercontent.com/642621/27965902-4231092c-630b-11e7-97a2-9f5004807759.png)

[2017-07-07 16:02] joshuawilson commented on #1661
Does a refresh or hard refresh fix it?

[2017-07-07 16:15] ldimaggi opened #1662 ""Add to Space" - results in SSO error creating Che workspace"
This issue first started showing up on July 7 - After creating a new project, either by creating the project from a quickstart, or by importing existing code, attempts to create a new Che workspace are blocked by an "ERR_TOO_MANY_REDIRECTS" error. The Che workspaces, however, are created. The user must use an incognito window to access the workspaces in Che.

________________________________

Orig

[2017-07-07 17:39] ldimaggi commented on #1661
Yes - a control/r refresh clears the recent spaces displayed in the account home view.

[2017-07-07 17:51] ldimaggi opened #1664 "Create a new project - Secured Vertx - Rest & Red Hat SSO Quickstart - fails"
Steps to recreate:
* In a new or existing space, create a new Quickstart project of type: Secured Vertx - Rest & Red Hat SSO
* Rollout to stage fails - error logged is:
[code]

See attached build log.
[Secured_VertX_REST_RH_SSO_log.txt](https://github.com/fabric8-ui/fabric8-ui/files/1131850/Secured_VertX_REST_RH_SSO_log.txt)

[2017-07-07 19:01] ldimaggi opened #1666 "Failures in staging should prevent deployment to run - but they aren't"
See attached screenshot - creating a new (Vert.x - CRUD) quickstart failed in staging. (A separate issue will be logged for this failure.)

The failure in staging did not prevent the app from being promoted to run. Shouldn't a failure to stage always abort the build pipeline?

![screenshot from 2017-07-07 14-56-48](https://user-images.githubusercontent.com/642621/27972649-18527d4c-6325-11e7-88fd-d

[2017-07-07 19:22] ldimaggi opened #1667 "Create a new project - Vert.x CRUD - fails"
Steps to recreate:
* In a new or existing space, create a new project based on a Vert.x-CRUD quickstart.

The build is successful, but the stage and run pods never come up. This is reproducible - saw it 3 out of 3 times, all OpenShift assets (builds, stage/run pods, etc.) deleted between attempts.

Stage deploy log:

[code]

Build log attached.
[VertX_CRUD_log.txt](https://github.com/fabric8-ui/fa

[2017-07-07 19:37] joshuawilson commented on #1666
@jstrachan here is another for you.

[2017-07-07 20:04] ldimaggi opened #1668 "Create a new project - Spring Boot CRUD - fails"
Steps to recreate:
* Create a new project - Select Spring Boot CRUD

Error raised is:
[code]

Build log attached.
[Spring_Boot_CRUD_log.txt](https://github.com/fabric8-ui/fabric8-ui/files/1132178/Spring_Boot_CRUD_log.txt)

[2017-07-07 20:47] ldimaggi commented on #1661
![screenshot from 2017-07-07 15-36-27](https://user-images.githubusercontent.com/642621/27976338-ffc29096-6333-11e7-94eb-327130fd6d9a.png)

[2017-07-07 23:46] ldimaggi opened #1670 "Create a new project - Wildfly CRUD - fails"
Steps to recreate:
* In a new or existing space, create a new project from the Wildfly CRUD quickstart.

The build fails with this error:
[code]

See attached build log.

[Wildfly_CRUD_log.txt](https://github.com/fabric8-ui/fabric8-ui/files/1132606/Wildfly_CRUD_log.txt)

[2017-07-08 00:03] ldimaggi opened #1671 "Create a new project - Wildfly Swarm - fails"
To recreate:
* In a new or existing space, create a new project from the Wildfly swarm - Config Map Quickstart.

This error is logged:

[code]
[Wildfly_Swarm_config_map_log.txt](https://github.com/fabric8-ui/fabric8-ui/files/1132621/Wildfly_Swarm_config_map_log.txt)

Build log attached.

[2017-07-08 00:11] ldimaggi opened #1672 "Create a new project - Wildfly HTTP - fails"
To recreate:
* In a new or existing space, create a new project from the Wildfly HTTP quickstart

This error is logged:

[code]
[Wildfly_Swarm_HTTP_log.txt](https://github.com/fabric8-ui/fabric8-ui/files/1132625/Wildfly_Swarm_HTTP_log.txt)

Build log is attached.

[2017-07-08 00:17] ldimaggi opened #1673 "Create new project - WildFly Swarm - Health Checks - fails"
To recreate:
* In a new or existing space, create a new project from the WildFly Swarm - Health Checks quickstart

This error is logged:

[code]

Build log is attached.
[Wildfly_Swarm_health_checks_log.txt](https://github.com/fabric8-ui/fabric8-ui/files/1132631/Wildfly_Swarm_health_checks_log.txt)

[2017-07-08 00:23] ldimaggi opened #1674 "Create new project - WildFly Swarm - REST and RH SSO - fails"
To recreate:
* In a new or existing space create a new project from the WildFly Swarm - REST and RH SSO  quickstart

This error is logged:
[Wildfly_Swarm_REST_and_RH_SSO_log.txt](https://github.com/fabric8-ui/fabric8-ui/files/1132633/Wildfly_Swarm_REST_and_RH_SSO_log.txt)

[code]

[2017-07-08 12:42] ldimaggi commented on #1635
Another example - created 3 new projects - and attempted to create workspaces for each project - only 1 workspace was populated with project code:

![screenshot from 2017-07-08 08-40-50](https://user-images.githubusercontent.com/642621/27985467-5bc9098a-63b9-11e7-836b-e65d79ae7d13.png)

[2017-07-08 12:48] ldimaggi commented on #1635
Error logged to Che when one of the workspaces missing project code was created:

[code]
[che_log.txt](https://github.com/fabric8-ui/fabric8-ui/files/1132970/che_log.txt)

[2017-07-08 18:06] ldimaggi commented on #1662
SSO issue may be a caching issue - need to investigate - using an incognito window resolved the problems.

[2017-07-08 18:08] ldimaggi commented on #1635
Another example - 4 new projects created:

![screenshot from 2017-07-08 14-07-26](https://user-images.githubusercontent.com/642621/27988049-e14093da-63e6-11e7-9198-e0db5cdeb280.png)

[2017-07-08 18:09] ldimaggi commented on #1536
Closing as non-reproducible. Have not seen this problem for weeks.

[2017-07-08 18:09] #1536 closed

[2017-07-08 19:07] alexeykazakov commented on #1662
See https://github.com/redhat-developer/rh-che/issues/180

[2017-07-09 00:24] #1377 closed

[2017-07-09 02:31] ldimaggi opened #1677 "Newly provisioned user accounts are missing a "test" project"
For example, a new user account ("osiotest314") has these projects defined - there is no "test" project:

![screenshot from 2017-07-08 19-07-01](https://user-images.githubusercontent.com/642621/27990709-27791232-642d-11e7-88c5-f59bcde99d28.png)

[2017-07-09 03:08] ldimaggi opened #1678 "Importing existing code creates the project and codespace - but not a build pipeline"
If a user imports existing code - the codespace is created, but not the build pipeline.

[2017-07-09 03:17] ldimaggi opened #1679 "Quota limits, when reached and resulting in deployment failures, are not reported to user in OSIO UI"
Steps to recreate:
* "Clean out" existing spaces, github repos, OpenShift pods, deployments, build configs, etc.
* Create (3) new projects (Vert.X, Spring-Boot, Vert.X Config Map)
* Observe success reported for rollout to stage and run:

![screenshot from 2017-07-08 23-13-19](https://user-images.githubusercontent.com/642621/27990894-774f3da8-6433-11e7-8860-7c4b00de5d01.png)

But - observe that quo

[2017-07-09 03:18] ldimaggi commented on #1679
Related to:  https://github.com/fabric8-ui/fabric8-ui/issues/1648

[2017-07-09 04:08] joshuawilson commented on #1677
@aslakknutsen @jstrachan Do you know anything about this?

[2017-07-09 23:55] aslakknutsen commented on #1606
Fixed by https://github.com/fabric8io/fabric8-init-tenant/pull/144

[2017-07-09 23:55] #1606 closed

[2017-07-10 02:30] ldimaggi opened #1681 "User should be warned in OSIO UI when OpenShift limits are reached"
In experimenting with a new (and empty) user account:

* I am seeing a predictable pattern in that a user can create 2 projects - depending on the characteristics of each project - for example - if a user creates a Vert.X project and a Spring Boot Healthcheck project. the stage and run resources look like this:
[code]

* If that user creates ONE Che workspace, however, the Che related workspaces r

[2017-07-10 02:30] ldimaggi commented on #1681
Related to:
https://github.com/openshiftio/openshift.io/issues/355

[2017-07-10 02:32] ldimaggi commented on #1681
Also note - if a user attempts to create a 2nd Che workspace, this error is logged in Che:

[code]

But - no error is displayed in the OSIO UI.

[2017-07-10 03:03] ldimaggi opened #1682 "Need to document limitations of free account - quotas for creating projects"
This issue is a task - for us to clearly document the limitations of a free account in terms of the projects that a user can create. It's looking like the limit is one project:

* I am seeing a predictable pattern in that a user can create 2 projects - depending on the characteristics of each project - for example - if a user creates a Vert.X project and a Spring Boot Healthcheck project. the stag

[2017-07-10 03:04] ldimaggi commented on #1682
Related to:  https://github.com/fabric8-ui/fabric8-ui/issues/1681

[2017-07-10 06:32] corinnekrych commented on #1629
done part of https://github.com/fabric8-ui/fabric8-ui/pull/1643

[2017-07-10 06:32] #1629 closed

[2017-07-10 07:45] corinnekrych commented on #1672
@ldimaggi @joshuawilson this is typically NOT a UI issue. I *think* we should not track backend/templates issue in fabric8-ui repo. Let's close it here an open it in relevant repo.

[2017-07-10 07:49] corinnekrych opened #1683 "Import repo wizard should show an error when no repos are selected"
In select repo, the multi-selection filtered list for repos does not show an error when no repo is selected.
* actual
The wizard carries on silently to fail at codebase creation.
* expected
The wizard should show the error and disable the next button.

[2017-07-10 07:59] jstrachan commented on #1672
the place to raise issues about quickstarts are here:
general issues:
https://github.com/openshiftio/appdev-planning/issues/
vertx quickstarts:
https://github.com/openshiftio-vertx-boosters
wildfly quickstarts:
https://github.com/wildfly-swarm-openshiftio-boosters
spring quickstarts:
https://github.com/snowdrop

I do hope we can setup E2E testing to automatically remove failing quickstarts from th

[2017-07-10 12:19] bobmcwhirter commented on #1674
The -jbossorg suffix indicates that the JBoss Nexus needs to be configured either via pom.xml or your personal settings.xml mayhap.

[2017-07-10 15:57] catrobson opened #1691 "Profile HTML/CSS Updates"
Update profile to follow new design framework and:

- Ensure we have experimental feature capability
- Remove anything that is not active on the profile currently

Linked to fabric8-ux issue: https://github.com/fabric8-ui/fabric8-ux/issues/534

[2017-07-10 17:09] ldimaggi commented on #1648
Just saw another instance of this issue:

![screenshot from 2017-07-10 11-50-55](https://user-images.githubusercontent.com/642621/28030224-d49e8700-6570-11e7-9d2a-0376e9e1ba8c.png)
![screenshot from 2017-07-10 11-44-30](https://user-images.githubusercontent.com/642621/28030225-d4b4ab3e-6570-11e7-81c3-fa58871ecfa2.png)
![screenshot from 2017-07-10 11-43-58](https://user-images.githubusercontent.com

[2017-07-10 17:41] ldimaggi commented on #1682
More data:

With 1 workspace running:
[code]

After stopping that workspace:
[code]

[2017-07-10 17:43] ldimaggi opened #1694 "Running tests in Che workspace for project created from "Vert.X basic" workspace = file not found error"
Steps to recreate:
* Create a new project from the "Vert.X basic" quickstart
* Create a Che workspace
* Run the Junit tests in the Che workspace

The tests run - test "HTTPApplicationTest" runs cleanly - test "OpenShiftIT" logs this error:

[code]

[2017-07-10 17:43] maxandersen commented on #1557
@jstrachan how about we for now limit to show only what is in the space explicitly and for any "orphaned" builds users will go directly to jenkins and browse ?

[2017-07-10 19:29] #1691 closed

[2017-07-10 19:42] #1410 closed

[2017-07-10 19:54] sbose78 commented on #1557
Here's a way to manually fix the problem
https://github.com/openshiftio/openshift.io/wiki/FAQ#my-pipelines-are-not-being-properly-filtered-by-my-space

On Jul 10, 2017 11:14 PM, "Max Rydahl Andersen" <notifications@github.com>
wrote:

[2017-07-10 19:59] ldimaggi opened #1699 "Running tests in Che workspace for project created from "Vert.X ConfigMap" workspace = file not found error"
Steps to recreate:
* Create a new project from the "Vert.X ConfigMap" quickstart
* Create a Che workspace
* Run the Junit tests in the Che workspace

The tests run - test "HTTPApplicationTest" runs cleanly - test "OpenShiftIT" logs this error:

[code]

[2017-07-10 20:00] ldimaggi opened #1700 "Running tests in Che workspace for project created from "Vert.X ConfigMap" workspace = Syntax error in test code"

[2017-07-10 20:02] ldimaggi commented on #1700
The OpenShiftIT test contains this code:

[code]
Which results in a syntax error as the returned ValidatableResponse cannot be converted to a boolean. This code change seems to work:

[code]

[2017-07-10 21:20] ldimaggi opened #1703 "Running tests in Che for project created from Spring Boot basic quickstart fail with java.lang.InstantiationException"
To recreate:
* Create new project from Spring Boot Basic quickstart
* Create workspace in Che
* Run tests in Che

[code]

[2017-07-10 21:26] ldimaggi opened #1704 "Running tests in Che workspace for project created from "Vert.X HTTP + ConfigMap" workspace = Syntax error in test code"

[2017-07-10 21:27] ldimaggi commented on #1704
The same error as described in this issue is seen:
https://github.com/fabric8-ui/fabric8-ui/issues/1700

[2017-07-10 21:33] ldimaggi opened #1705 "Running tests in Che for project created from Spring Boot Healthcheck quickstart fail with java.lang.InstantiationException"

[2017-07-10 21:34] ldimaggi commented on #1705
See: https://github.com/fabric8-ui/fabric8-ui/issues/1703 - the same exception is raised here.

[2017-07-10 21:34] ldimaggi commented on #1705
OpenshiftIT test fails with this exception:

[code]

[2017-07-10 21:35] ldimaggi commented on #1705
Localtest fails with this exception:
[code]

[2017-07-10 21:42] ldimaggi opened #1706 "Running tests in Che workspace for project created from "Vert.X HealthCheck" workspace = file not found error"

[2017-07-10 21:43] ldimaggi commented on #1706
The same exception is raised as is documented here:
https://github.com/fabric8-ui/fabric8-ui/issues/1694

[2017-07-11 03:14] ldimaggi opened #1707 "Duplicate pipelines created when user creates a new project"
See attached screenshot.

Steps to recreate:
* In a new space, with all github repos deleted, and all OpenShift assets removed for the user account,
create a new project from the Vert.X quickstart.
* Observe the duplicate pipelines

![screenshot from 2017-07-10 23-12-29](https://user-images.githubusercontent.com/642621/28049447-7ab1c572-65c5-11e7-8e59-f5cdd358ce9f.png)

[2017-07-11 06:06] jstrachan commented on #1557
@maxandersen its not just BuildConfigs / Builds we use the same logic for all kubernetes resources too. Having an 'All Space' seems more consistent and avoids having a mostly broken UI where stuff goes invisible.

Remember in OpenShift folks can create BCs via the CLI or OpenShift console which don't know to add a magic label to work well inside the openshift.io console. I'd rather not make a weir

[2017-07-11 06:14] corinnekrych commented on #1707
@ldimaggi today I'll work on https://github.com/fabric8-ui/fabric8-ui/issues/1593 let see if the removal of duplicate steps helps.

[2017-07-11 06:21] joshuawilson commented on #1707
I don't think they are related since this bug just started happening.

[2017-07-11 06:44] corinnekrych commented on #1405
@jstrachan This error could also appears when the user is not logged. Rather than forwarding to update profile, I think we should display a message to ask the user to log out / log in again.

[2017-07-11 06:50] corinnekrych opened #1708 "Update profile page should not be displayed when not logged in"
https://OPENSHIFT_IO/USER_NAME/_update should not be accessible when not logged in. Or could be accessible but update button should be disabled
* actual
Atm when we go there without being logged:
![screenshot 2017-07-11 08 46 59](https://user-images.githubusercontent.com/1395710/28054605-d3c9f4a4-6615-11e7-8a98-c1a286dbbe82.png)
Updating the profile throws a JS error

@catrobson @joshuawilson what

[2017-07-11 07:41] jstrachan commented on #1405
we can easily tell if the user is logged in by checking for the presence of the KeyCloak token on the client side; if there's no KC token then redirect to login.

However if the user is logged in then logging out and logging in again does nothing to fix broken github / OSO tokens (usually the latter TBH) - which causes the forge wizard to fail

[2017-07-11 09:25] corinnekrych commented on #1405
@jstrachan I don't understand how the update profile helps to renew/fix auth tokens

[2017-07-11 09:31] jstrachan commented on #1405
the `Update Tenant` button doesn't help at all, but there used to be a button to relink your github/openshift account on the 'Update Profile" page. Though it looks like thats now gone away!

So I don't see how a user can ever fix their broken github/OSO tokens anyway! :) Oh dear!

I guess we could link to the KeyCloak admin page (which is a bit ninja but I don't see anything else right now in fabr

[2017-07-11 09:32] jstrachan commented on #1405
Ah I guess we can use this page now: https://openshift.io/_gettingstarted - the only problem is, if there are already 2 stale tokens linked - it redirects anyway and doesn't give the user a chance to relink.

I guess we need a 'relink tokens' page?

[2017-07-11 09:37] corinnekrych commented on #1405
mmm, as this is a temporary solution to workaround a KC issue, I'd rather not change the UI flow. Besides I found it confusing to forward the user to a new page.
My preferred (and easy workaround) would be to provide an error message with the link to KC console https://sso.openshift.io/auth/realms/fabric8/account/identity

cc @catrobson wdyt?

[2017-07-11 09:45] jstrachan commented on #1405
I'm cool with not redirecting but providing the user with a message that their tokens are borked and what they need to do next and a link to the  page to relink the tokens etc.

Ideally we'd have a page like `_gettingstarted` we could reuse instead of moving the user to a totally different UI (the keycloak URL). I wonder if there's a way we can use `_gettingstarted` without the 'redirect to home i

[2017-07-11 09:57] aslakknutsen commented on #1311
Closing. Update button was a temp hack during summit. To be replaced by automation.

[2017-07-11 09:57] #1311 closed

[2017-07-11 12:49] joshuawilson commented on #1708
good point

[2017-07-11 13:29] joshuawilson commented on #1405
If fixing broken github/OSO tokens is a regular issue then maybe we should look at adding it back into the profile page.
cc @catrobson

[2017-07-11 13:31] joshuawilson commented on #1311
@aslakknutsen is the automation in place and working? Can we remove the button?

[2017-07-11 13:31] jstrachan commented on #1405
@joshuawilson yeah - maybe a custom Tokens tab on the profile? that looks a little like the _gettingstarted page?

[2017-07-11 13:33] ldimaggi commented on #1311
What are the metrics regarding the automation? How often does it run? What triggers it? What information is logged where when it (tries to) runs? Thx!

[2017-07-11 19:36] alexeykazakov commented on #1405
I'm strongly against using Keycloak UI for re-linking OSO/GitHub :)
It's known issue with invalid OSO tokens and we still don't know why it's happening - https://github.com/fabric8-services/fabric8-wit/issues/1351
I don't think it's a Keycloak issue. It's rather an OSO issue. It doesn't help us though ;)
+1 to bring re-linking page back to our UI.
But what if we also create some simple endpoint wh

[2017-07-12 12:37] catrobson commented on #1708
Agreed that this requires login.  We should navigate the user to the log in page if they try to direct link to this page without being logged in.

[2017-07-12 12:39] corinnekrych opened #1717 "Add to space should redirect to login if user not logged in"
![screenshot 2017-07-12 14 23 01](https://user-images.githubusercontent.com/1395710/28117980-b6dba77a-670f-11e7-8ca6-0e60df5d09bc.png)
Atm even without being logged, we can access the button.
@catrobson For fine granularity should we redirect to login or grey the button not available for non-logged user?

[2017-07-12 12:41] catrobson commented on #1717
Redirect to login.

[2017-07-12 14:19] catrobson opened #1719 "Experimental Features direct link behavior"
There are a few states that can happen for users accessing experimental features, so I have captured the expected behavior below:

User is direct linked into a experimental feature page, and they are not logged in.  Page should be shown to them with the experimental feature banner at the top.

User is direct linked into an experimental feature page, and they are logged in, but have not opted into

[2017-07-12 15:06] corinnekrych commented on #1405
Merging this PR: https://github.com/fabric8-ui/fabric8-ui/pull/1709 (as a first step) but leaving the issue opened as more worked is asked.
Atm the UI catches the KeyCloakFailureException from forge backend and ask the user to unlink its account.
To be able to reproduce the issue I usually open the browser console, go to localStorage and corrupt the auth_token.
@alexeykazakov Do we know exactly ho

[2017-07-12 17:16] dgutride commented on #1719
Fixed via #1721

[2017-07-12 17:47] ldimaggi commented on #1706
Tests were run in the UI, from the Run->Test menu.

[2017-07-12 17:48] ldimaggi commented on #1705
Tests were run in the UI, from the Run->Test menu.

[2017-07-12 17:48] ldimaggi commented on #1704
Tests were run in the UI, from the Run->Test menu.

[2017-07-12 17:48] ldimaggi commented on #1703
Tests were run in the UI, from the Run->Test menu.

[2017-07-12 17:49] ldimaggi commented on #1700
Tests were run in the UI, from the Run->Test menu.

[2017-07-12 17:49] ldimaggi commented on #1699
Tests were run in the UI, from the Run->Test menu.

[2017-07-12 17:49] ldimaggi commented on #1694
Tests were run in the UI, from the Run->Test menu.

[2017-07-12 17:55] alexeykazakov commented on #1405
No, and this is a problem.

Not yet. Feel free to create one https://github.com/fabric8-services/fabric8-auth/issues ;)

@jstrachan WDYT about such an endpoint?

Do you see value in that?

[2017-07-12 19:03] dgutride commented on #1719
Closing upon deploy to production - work is complete @maxandersen

[2017-07-12 21:08] catrobson opened #1724 "_error has unlinked buttons and links"
https://openshift.io/_error

Page has two buttons:
Take me home - should go to openshift.io/_home.  Make this button primary blue.
I'm feeling helpful, report the issue - remove this button because we don't have feedback implemented yet.

Links:
Add work item - remove this, we wouldn't know what space to go to
Iterations - remove this, we wouldn't know what space to go to
Spaces - navigate user to

[2017-07-12 21:09] catrobson commented on #1724
@corinnekrych are there any variants to _error page that we should also check?

[2017-07-12 21:48] aslakknutsen commented on #1405
Che Host/Starter, Forker and Tenant could suffer the same issue. But UI doesn't know when any of these actually required the info and what info is required.

It would make sense if these services could return some common response that is understood by UI that there is a 'external account auth' issue if the user is around when this happen, and UI show some linking action based on that. Or some othe

[2017-07-13 03:27] #1628 closed

[2017-07-13 04:39] jstrachan commented on #1405
Maybe the UI needs to periodically ping the tenant service to validate the GitHub & OS tokens & if they don't work unlink them so the UI knows it's time to earn the user they need to delink?

Then the forge wizard & Che operations in the UI can check the tokens are valid first before trying to talk to forge & Che?

[2017-07-13 05:45] jstrachan opened #1725 "forge wizard validation messages no longer appear"
not sure if this is a regression of CSS styles or something but validation errors are no longer visible.

e.g. open the new quickstart wizard, type the name of a github repo that exists in your user account and hit tab so it validates; it should warn the project exists - but doesn't show anything.

Note its still validating correctly - notice the Next/Finish buttons get disabled - its just the mes

[2017-07-13 05:50] jstrachan opened #1726 "drop down / kebab menus broken"
seems the drop down menus no longer work - is this a CSS regression?

e.g. try any kebab menu on the Create > Pipelines / Applications / Environments page - none of them show anything any more.

[2017-07-13 05:51] jstrachan commented on #1726
seems the drop down combo box button is broken too - e.g. the combo box to pick a quickstart

[2017-07-13 06:07] jstrachan commented on #1726
FWIW this seems a recent regression, it wasn't there in `fabric8/fabric8-ui:vbd65fd8` which at the time of writing was 16 hours ago: https://hub.docker.com/r/fabric8/fabric8-ui/tags/

[2017-07-13 07:15] corinnekrych commented on #1724
@catrobson nope this is the one.

[2017-07-13 07:44] maxandersen commented on #1642
Closing this as it is now duplicated on openshiftio/openshift.io#360

[2017-07-13 07:44] #1642 closed

[2017-07-13 08:34] corinnekrych opened #1727 "App wizard app-generator-single-selection-dropdown does not displays drop down content when the dropdown is open"
![screenshot 2017-07-13 10 23 07](https://user-images.githubusercontent.com/1395710/28157337-75158656-67b6-11e7-8e39-a10798b707e4.png)
@mindreeper2420 when the `open` class is added, nothing more is displayed (although `li` content is there).
Similar to the other issue https://github.com/fabric8-ui/fabric8-ui/issues/1725#event-1161942775 for kebab opened by @jstrachan

@mindreeper2420 Please Help!

[2017-07-13 09:07] jstrachan commented on #1707
this is mostly fixed now. slightly long story;

if we can't talk to the websockets on the kubernetes/openshift REST API we default to polling. The polling UI has a bug introducing duplicates. Its on my list of things to fix real soon...

However openshift.io should be using websockets so shouldn't need to poll so shouldn't have shown this issue. However that got broken briefly with configuration c

[2017-07-13 09:10] jstrachan commented on #1727
this relates to this issue too https://github.com/fabric8-ui/fabric8-ui/issues/1726 kebab menus were recently all broken too

[2017-07-13 10:29] mindreeper2420 commented on #1727
@corinnekrych fix is in PR https://github.com/fabric8-ui/fabric8-ui/pull/1728. For some reason, simple transitions on the `.dropdown` class prevented anything in the wizard (and kebabs) from opening. I updated the code to have them be specific to `navbar-pf .dropdown`.

[2017-07-13 10:30] mindreeper2420 commented on #1726
@jstrachan this should be fixed by PR https://github.com/fabric8-ui/fabric8-ui/pull/1728, which also addresses dropdowns.

[2017-07-13 12:03] #1727 closed

[2017-07-13 12:04] #1726 closed

[2017-07-13 16:43] jstrachan opened #1730 "forge wizard should not let the user hit Finish until the Jenkins pod is ready"
we can currently only really execute a quickstart wizard when the tenant's Jenkins pod is up and ready.

So we should add a little UI to indicate that the UI is waiting for the Jenkins pod to go green (like if you drop down the status menu from the top right drop down next to the users name).

Am not sure if it should be a general validation warning or whatnot?

[2017-07-13 19:11] #1724 closed

[2017-07-13 21:58] maxandersen commented on #1719
@dgutride i just tried and it seems to be working slightly better now for logged in user - but i'm getting 404 for pages like https://openshift.io/openshiftio/openshiftio/plan/detail/47728172-191a-4194-89fb-522008bf643a for anonymous users...shouldn't it at least say there is something here, but please login to see it ?

[2017-07-13 22:08] dgutride commented on #1719
![screenshot-openshift io-2017-07-13-18-07-19](https://user-images.githubusercontent.com/7306953/28189895-33480330-67f6-11e7-8cfc-81bcbb56b55d.png)

@catrobson @maxandersen  - this is what I see when I click on that link (I'm not logged in) - can you try again, maybe clear your cache and retry?

[2017-07-13 22:18] maxandersen commented on #1719
weird, works in incognito Chrome but on safari I get 404 even after clear cache/restart etc..

[2017-07-13 22:22] dgutride commented on #1719
@maxandersen - if you view other pages are you certain you are logged out?

[2017-07-13 22:25] maxandersen commented on #1719
@dgutride yes, no user logged in anywhere. But yeah with safari nothing actually works. not even when I try to login.
really weird.

[2017-07-13 22:26] dgutride commented on #1719
@maxandersen  - does it work with regular chrome, too?

[2017-07-13 22:33] maxandersen commented on #1719
looks like it.

[2017-07-14 04:18] joshuawilson commented on #1725
@mindreeper2420 can you please take a look at this too.

[2017-07-14 04:20] joshuawilson commented on #1642
Why not close the one in openshiftio? The work is to be done here, right?

[2017-07-14 14:01] jstrachan commented on #1730
lemme see if I can get the Forge wizard to let users create projects when Jenkins isn't up....

[2017-07-14 16:58] dgutride commented on #1719
Moving to closed @maxandersen - Safari was upgraded to 10.1 (from 10.0.3)

[2017-07-14 16:58] #1719 closed

[2017-07-14 20:08] catrobson commented on #1621
Closing as any work around remote work items will be captured and handled in fabric8-planner.

[2017-07-14 20:08] #1621 closed

[2017-07-14 20:10] catrobson commented on #139
I have captured which pages require log-in on the URL spreadsheet here:  https://docs.google.com/a/redhat.com/spreadsheets/d/1cNSDuek0v1EBPpdPlFwG_Y_yOlux86m9MYf9UrF82l4/edit?usp=drive_web

[2017-07-16 16:40] aslakknutsen commented on #139
@catrobson just as a note; GH does not require login on #5 There is a public and a private view of it. (user profile page)

[2017-07-16 22:07] catrobson commented on #139
@aslakknutsen - Thanks for the catch!  I thought I had notated the 'view profile' page as not requiring log-in but I had that incorrect in the spreadsheet.  Updated to reflect that 'view' does not require log-in, only 'edit' profile/settings.

[2017-07-17 02:59] ldimaggi commented on #1707
Note - over time - the number of duplicates continues to increase.

[2017-07-17 08:48] corinnekrych commented on #1593
This is a Fabric8-generator forge Addon issue. The duplicate step is returned by Forge backend.

[2017-07-17 10:07] corinnekrych commented on #1725
@joshuawilson @mindreeper2420 This is not a CSS issue. It's a bug on the forge UI wizard which swallowed the validation messages returned by http call in here:
https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/space-wizard/services/fabric8-app-generator.service.ts#L225
With the refactor of the wizard i think all validation error are swallowed

[2017-07-17 10:32] maxandersen commented on #1642
No, this bug looks like a backend issue.

[2017-07-17 15:01] dlabrecq opened #1736 "Toggle missing for personal access token"
I noticed that the personal access token, on the update profile page, no longer has an expand toggle. Not sure if that was intentional?

There is still code for the toggle in the page, so I expect it should be shown.

<i class="padding-top-13 fa"
    [ngClass]="{'fa-angle-down': tokenPanelOpen, 'fa-angle-right': !tokenPanelOpen}"
    (click)="toggleTokenPanel()"></i>

[2017-07-17 15:02] dlabrecq opened #1737 "Cannot navigate away from the update profile page"
I'm having trouble navigate away from the update profile page. I've clicked the update and cancel buttons. I've also selected "Profile" from the user menu in an attempt to navigate back to the profile page. Selecting "Account home" also does nothing. I can only navigate away by selecting a recent space.

[2017-07-17 15:10] corinnekrych commented on #1683
fixed with https://github.com/fabric8io/fabric8-generator/pull/26

[2017-07-17 15:21] catrobson commented on #1576
Stage 1 has been completed.  Will create stories for stage 2 separately.

[2017-07-17 15:21] #1576 closed

[2017-07-17 15:49] corinnekrych commented on #1405
closing this one linked to `KeyCloakFailureException`.

[2017-07-17 15:49] #1405 closed

[2017-07-17 17:57] joshuawilson commented on #1737
I just tried it. I did a hard refresh before I started. If you make no changes then the Cancel button is how you leave. If you update something (besides the update tenant) then the Update button at the bottom activates for me and I can leave. Maybe try an in incognito tab.

[2017-07-17 18:07] joshuawilson commented on #1683
Can we close it?

[2017-07-18 06:19] #1683 closed

[2017-07-18 06:41] corinnekrych opened #1742 "Forge Wizard should display error when Jenkins is not ready"
1. User create a quickstart using Forge:
2. fabric8-generate forge add-on replies: becasue Jenkins is not up.
[code]
This is the part that is failing when Jenkins is not up and running https://github.com/fabric8io/fabric8-generator/blob/b8cfdc4df7188aa4d312fc9c7411a307c819d4ed/src/main/java/io/fabric8/forge/generator/kubernetes/CreateBuildConfigStep.java#L286

The UI doesnot display the error mess

[2017-07-18 09:07] corinnekrych opened #1743 "Duplicate result display for quickstart"
![screenshot 2017-07-18 11 04 59](https://user-images.githubusercontent.com/1395710/28309427-a194ee8c-6ba9-11e7-87b1-0cc2c996f6e4.png)

Git repositories names is not required as it displays duplicate information

[2017-07-18 09:13] corinnekrych commented on #1593
merged and fixed in forge addon

[2017-07-18 09:13] #1593 closed

[2017-07-18 10:26] ibuziuk opened #1745 "Need to increase request timeout between ui and core to make it work with idled che server"
Che server idling is already promoted to prod which results in the following error when trying to create workspace against idled che-server:

[code]

Need to increase timeout to 5 mins for requests between ui & core.

We will be able to rollback to previous timeout only once async support will be in place[1]
[1] https://github.com/fabric8-services/fabric8-wit/issues/1506

[2017-07-18 10:26] ibuziuk commented on #1745
cc: @aslakknutsen @joshuawilson

[2017-07-18 13:30] corinnekrych opened #1746 "The space dashboard should only show information for that space."
1. create a new quickstart on SpaceA, name it `everywhere`
2. Select the pipeline to be displayed on OSO (opehsift online)
3. On left side Actions | Edit yaml
[code]
remove the label space (`space: SpaceA`)
3. Switch to SpaceB or any space

* Actual Result:
The pipe `everywhere` is displayed on SpaceB and SpaceA or any space.

* Expected Result:
Once the pipeline`everywhere`'s BuildConfig has lost

[2017-07-18 14:07] #1440 closed

[2017-07-18 14:07] #1725 closed

[2017-07-18 14:07] #1743 closed

[2017-07-18 18:59] ibuziuk commented on #1745
@joshuawilson @dlabrecq guys, will it be possible to get temp solution in place before async API will be implemented - making request to the endpoint again if timeout occurs (a few times) ? For now timeout happens after 30 seconds which is clearly not enough for che-server to start (In che-starter we have 3 minutes timeout for it). If there is no bandwidth for UI team to address this issue, could

[2017-07-18 19:04] joshuawilson commented on #1745
We will work on it.

[2017-07-18 19:05] ibuziuk commented on #1745
@joshuawilson awesome, thank you

[2017-07-18 19:09] dlabrecq commented on #1745
@joshuawilson We may want to post a warning message instead, indicating it will try again. Please let me know if you want my help.

[2017-07-18 19:16] joshuawilson commented on #1745
@dlabrecq if you want to take this on that would be great.

[2017-07-18 19:17] joshuawilson commented on #1745
we have the status for che in the status widget, you might be able to read that

[2017-07-18 19:22] ibuziuk commented on #1745
@dlabrecq not sure if there is a need in warning message since expected che-server starting time is 2-3 mins now.

[2017-07-18 19:29] joshuawilson commented on #1745
@dlabrecq While we could wait for an event to make it usable. If that takes longer then a few minutes can you just set it to be inactive for 5 min. That will fix it for right now and then you can continue to look a more elegant solution.

[2017-07-18 19:44] dlabrecq commented on #1745
I was just worried the user might continue to click on the "open che" button/link if nothing appears to be happening. Maybe we can temporarily disable the button (and set a tooltip) while Che is starting?

[2017-07-18 19:47] joshuawilson commented on #1745
I think disable it until the timer is up works. The tooltip is a nice idea.

[2017-07-18 20:34] aslakknutsen commented on #1737
I'm seeing the same

This is in the console on entry

[code]

[2017-07-18 20:46] joshuawilson commented on #1737
I'm seeing it now too.

[2017-07-18 20:47] joshuawilson commented on #1737
@dlabrecq can you take this one on?

[2017-07-19 02:36] aslakknutsen commented on #1197
I just noticed the same. This is my debug info:

Create a space, Go anywhere, Go to View All spaces, Delete created space. The rest api DELETE space is called. Logout. Notification '"SpaceName" was created!" appear. It somehow manages to call POST spaces with the same space during logout for some absurd reason. Log back in and the space is there. This time you can delete it.

[2017-07-19 12:33] dlabrecq commented on #1737
Sure

[2017-07-19 13:10] joshuawilson commented on #1737
there is work being done on the backend to support this at https://github.com/fabric8-services/fabric8-wit/issues/1506

[2017-07-19 13:55] corinnekrych opened #1751 "Muli-select dropdown displays validation issue"
As a regression of https://github.com/fabric8-ui/fabric8-ui/issues/1725
When importing a repo in wizard, the multi-select keep issuin a validation error preventing the user from going to next step:
![screenshot 2017-07-19 14 41 03](https://user-images.githubusercontent.com/1395710/28370431-990b6be6-6c9a-11e7-8a33-a8156a82de45.png)

[2017-07-19 14:04] jstrachan commented on #1730
we've worked around this now by letting the forge wizard work whether or not jenkins master is running

[2017-07-19 14:04] #1730 closed

[2017-07-19 14:04] jstrachan commented on #1742
forge wizard can now work without jenkins (providing you update your tenant)

[2017-07-19 17:09] ldimaggi commented on #1677
@aslakknutsen @jstrachan @maxandersen @corinnekrych @qodfathr

Was this an intentional change to drop the "test" project?  Or - is this another problem that only new users will see?

[2017-07-19 17:36] dlabrecq commented on #1737
Fixed by https://github.com/fabric8-ui/fabric8-ui/pull/1753

[2017-07-19 17:52] jstrachan commented on #1677
We were told to remove the test project to reduce the OSO footprint  - so now integration tests run in the 'foo' namespace rather than 'foo-test'

[2017-07-19 17:52] #1677 closed

[2017-07-19 18:02] dlabrecq commented on #1708
I believe this has been fixed by https://github.com/fabric8-ui/fabric8-ui/pull/1753.

I found an undefined user attribute property in the JS console when the user selects "Log Out" from this page. This prevented the login process from fully completing. With the issue fixed, the user should be navigated back to the log in.

Please retest after https://github.com/fabric8-ui/fabric8-ui/pull/1753 has

[2017-07-19 18:05] dlabrecq commented on #1736
This appears to have been fixed by https://github.com/fabric8-ui/fabric8-ui/pull/1753.

[2017-07-19 18:05] #1736 closed

[2017-07-19 18:10] ldimaggi commented on #1214
Re-opening as the cause for the error seems to be reproducible.

[2017-07-19 18:11] ldimaggi commented on #1214
<img width="1323" alt="00001726" src="https://user-images.githubusercontent.com/642621/28382437-189e2aa6-6c8c-11e7-8498-1075f6ebbee7.png">

[2017-07-19 18:13] burrsutter commented on #1214
The workaround is to manually clean up older workspaces (though they are not actually running).

[2017-07-19 18:13] ldimaggi commented on #1681
Related to:

https://github.com/fabric8-ui/fabric8-ui/issues/1214

[2017-07-19 18:17] ldimaggi commented on #1214
See:  https://github.com/fabric8-ui/fabric8-ui/issues/1681

[2017-07-19 18:19] burrsutter commented on #1707
I saw this again on July 19th

[2017-07-19 18:30] l0rd commented on #1214
@ldimaggi I will open a correspondent issue on rh-che repo to track it

[2017-07-19 22:21] ldimaggi commented on #1707
Actually - it seems to be a little worse now...

![screenshot from 2017-07-19 18-19-49](https://user-images.githubusercontent.com/642621/28392230-07ab0b60-6caf-11e7-9caa-28960bab09ed.png)
![screenshot from 2017-07-19 18-19-06](https://user-images.githubusercontent.com/642621/28392229-07a7c9b4-6caf-11e7-9d18-14f6650a581f.png)

[2017-07-20 00:00] aslakknutsen commented on #1737
@joshuawilson It feels like that comment is a bit missplaced.. :)

[2017-07-20 02:46] joshuawilson commented on #1742
@jstrachan isn't it good to still have this, even after you fixed it. Or are we not using Jenkins?

[2017-07-20 02:50] dlabrecq commented on #1745
See https://github.com/fabric8-ui/fabric8-ui/pull/1756

[2017-07-20 02:59] joshuawilson commented on #1737
@aslakknutsen you are right, I was moving too fast and put it on the wrong issue. I deleted my comment. Thanks.

[2017-07-20 03:09] #1746 closed

[2017-07-20 03:11] #1751 closed

[2017-07-20 03:12] #1737 closed

[2017-07-20 06:33] jstrachan commented on #1742
@joshuawilson it isn't good to still have this, I have fixed using the Jenkins master and we still no longer use it.

However this issue is unrelated to the accessing the jenkins master; its related to the fabric8-tenant not creating the user's tenant correctly.

While forge no longer requires communication with the jenkins master or the master to be running to create new apps; it does require the

[2017-07-20 07:41] jstrachan commented on #1742
I do wonder if there's a chance the jenkins URL discovery code was looking in the wrong namespace; I just patched the forge back end to make absolutely 100% sure it looks in the jenkins namespace then reports the namespace it was looking in (in case we hit some timing issue of fabric8-tenant).

Also we now throw `io.fabric8.forge.generator.kubernetes.BadTenantException` if we cannot find the Jenki

[2017-07-20 10:34] l0rd commented on #1214
When a user creates a new workspace but one is already running the correct behaviour should be:

1. the old workspace is stopped and then...
2. the new workspace is created

This currently fails. Because Che fails to stop the old workspace due to a regression introduced in version `1.0.208` (c.f. https://github.com/redhat-developer/rh-che/issues/175)

I've created https://github.com/redhat-develop

[2017-07-20 11:43] aslakknutsen commented on #1742
@jstrachan The Response is from Forge. It's what happens when there is an error, regardless of what the error is. The UI Borked on that repsonse which is why the Type error got displayed. This issue alone has very little to do with the Tenant services and more about error handling in the forge wizard.

The quoted response was the response from forge when I reproduced the 'jenkins url error'.

This

[2017-07-20 11:54] jstrachan commented on #1742
@aslakknutsen I'm aware the error is from Forge.

I'm just wondering why Forge would ever not be able to find the Jenkins Route in the tenant's jenkins namespace. We always need to be able to find the Jenkins Route to know the Jenkins URL so we can register the github webhooks - irrespective of whether the jenkins master is up.

I'm just about to release the new forge code that explicitly lists th

[2017-07-20 12:24] aslakknutsen commented on #1742
@jstrachan Becasue it used to take 2min+ to get tenant services installed, and this was explicitly attempted to be executed before that happened to reproduce the error... But, it does seem to be looking in 'aslak' and not 'aslak-jenkins'. There is a 'Jenkins' service in that namespace as well, but it doesn't have any Route.

[2017-07-20 12:34] aslakknutsen commented on #1534
@l0rd The title of this issue is wrong at this point, correct? Could you rename it to reflect the CheFile/Factories issues?

[2017-07-20 12:42] ibuziuk opened #1758 "Codebases: Layout problem with "open workspace" dropdown"
![image](https://user-images.githubusercontent.com/1461122/28417732-6ce06962-6d59-11e7-95eb-e008d19d98c6.png)

[2017-07-20 12:49] jstrachan commented on #1742
So I guess we can't reproduce this error any more now right (once the tenants are updated)? As the fabric8-tenant is within a second or so?

[2017-07-20 12:52] aslakknutsen commented on #1742
@jstrachan Correct. The UI should still handle the general Error response from Forge tho.

[2017-07-20 13:02] corinnekrych commented on #1742
@aslakknutsen @jstrachan Agreed guys. The UI should handle Forge error and Forge exception, therefore the last PR.

[2017-07-20 13:04] aslakknutsen commented on #1352
You get this error when you Delete your OSO namespaces. Tenant services do not monitor them to auto recreate. This is partly related to https://github.com/openshiftio/openshift.io/issues/297 which would stop you from being allowed to, but you're still admin of a couple of them and have the rights to delete.

Calling PATCH core/api/user/services will trigger a recreate/update, but not sure where th

[2017-07-20 14:29] #1745 closed

[2017-07-20 14:34] #1742 closed

[2017-07-20 15:13] jstrachan opened #1762 "import forge wizard doesn't pass in the labelSpace parameter (like the new quickstart project does)"
so the imported projects (BuildConfigs) don't get labelled with the space the user is in.

Right now the ChoosePipelineStep isn't used for imports; which it probably should be really - which is the step which processes the labelSpace parameter - to let us associate a pipeline with imported projects. I've raised an issue here on that: https://github.com/fabric8io/fabric8-generator/issues/29

While

[2017-07-20 21:26] joshuawilson commented on #1758
@ibuziuk what is the problem and what do you expect it to do?

[2017-07-20 21:38] joshuawilson commented on #1352
so who should own this?

[2017-07-21 01:30] aslakknutsen commented on #1352
@joshuawilson A Team effort? hehe

You can put it on Tenant Service.

[2017-07-21 07:05] corinnekrych opened #1764 "Forge service is down show an empty Error message"
https://user-images.githubusercontent.com/642621/28422546-5d0a4b48-6d36-11e7-9b6b-8fd1f88b2589.png
As commented by @ldimaggi in https://github.com/openshiftio/openshift.io/issues/366#issuecomment-316720072
when forge service is down and the wizard is started, the system displays an empty error

[2017-07-21 07:32] pilhuhn opened #1765 "Logo on getting started page too big"
I have installed f8 locally via the instructions from INSTALL.md

After logging in I see the OS-logo in the page being much too big and the page being too wide
![bildschirmfoto 2017-07-21 um 09 29 35](https://user-images.githubusercontent.com/208246/28453383-6e2df386-6df7-11e7-96da-521d4cf6196b.png)

[2017-07-21 07:40] #1707 closed

[2017-07-21 08:01] jstrachan commented on #1707
fixed now in fabric8-runtime-console; just needs merging to fabric8-ui and releasing to prod

[2017-07-21 09:06] l0rd commented on #1534
@aslakknutsen I'm going to close this since the original issue has been solved. The Chefile/factory issue already exists in eclipse/che repo: https://github.com/eclipse/che/issues/4362

[2017-07-21 09:06] #1534 closed

[2017-07-21 09:30] ibuziuk commented on #1758
@joshuawilson the layout looks broken for me. Previously dropdown with available workspaces was per repository, now it is located in the table header

[2017-07-21 10:46] jstrachan commented on #1707
its now in fabric8-ui - we just need it released to production. @joshuawilson fancy doing the magic manual steps please?

[2017-07-21 12:37] jstrachan opened #1770 "new quickstart wizard doesn't send across the labelSpace = nameOfCurrentSpace any more"
so that the generated pipeline (BuildConfig) doesn't get labelled with `space: nameOfCurrentSpace` which then makes the pipelines invisible on the Pipelines tab

[2017-07-21 14:06] corinnekrych opened #1771 "space name with underscore does not displayed pipelines"
Step to reproduce:
1. create a space named `SPACE_UNDERSCORE`
2. create quickstart

Result:
* code base is created
* no pipelines displayed.
although going to OSO I can see the pipeline with the label `SPACE_UNDERSCORE`

[2017-07-21 15:55] #1771 closed

[2017-07-21 16:01] dlabrecq commented on #1758
If you refresh the page, the combobox should be rendered in the appropriate row where it belongs.

I did some digging and work-item-widget is overriding the .combobox CSS selector -- it's positioned absolutely and sets the 'top' property. I'm guessing that's why it's at the top of the container.

I'm going to set the specificity of that selector so it won't effect anything else.

[2017-07-21 16:20] dlabrecq commented on #1758
Fixed by https://github.com/fabric8-ui/fabric8-ui/pull/1775

[2017-07-21 17:02] #1758 closed

[2017-07-21 18:05] #1764 closed

[2017-07-21 18:09] jstrachan commented on #1770
The workaround to get back invisible pipelines in the UI:

    oc label bc nameOfPipelinr space=nameOfSpace

[2017-07-23 14:01] mindreeper2420 opened #1777 "Add HTML/CSS Code Guidelines to Repo"
Instead of referencing Code Guidelines that currently reside on fabric8-ux, I'd like to see them added directly to this repo for ease of reference and use.

Currently file location: https://github.com/fabric8-ui/fabric8-ux/blob/master/code-guidelines.md

@joshuawilson thoughts on this? Should it be extended to other repos that are consumed by fabirc8-ui as well?

[2017-07-24 05:07] jyasveer commented on #1770
This is also blocking us to see the stack reports from the pipeline page.

[2017-07-24 09:38] ibuziuk commented on #1745
@joshuawilson @dlabrecq could this issue be reopened ? Nothing seems to change - timeout happens after ~1 minute when trying to create workspace against idled che-server

[2017-07-24 11:04] ibuziuk commented on #1745
It looks like increasing timeout does not help - it still occurs after ~1 minute. I think this is related to routing for core. Router have a timeout set for request and it looks like we are hitting those timeouts - that could be a reason why increasing timeout on client side not working. To fix this issue there is a need to either increase timeout for core routes or making request to the endpoint

[2017-07-24 14:13] dlabrecq commented on #1745
We can try adding a retry(n) statement to the request. If the request times out, it can try again n-number of times.

How long does it take before Che goes idle? Is there a way to force it to idle for testing? It's difficult to test a solution unless we can start with an idle Che.

[2017-07-24 14:15] ibuziuk commented on #1745
@dlabrecq che can be idled manually via `oc idle che-host` command - this is what I do for testing

[2017-07-24 14:17] joshuawilson commented on #1777
fabric8-ux lives within fabric8-ui, so I would say they can live in either repo and then everyone else points to them. I would not want them in multiple repos, because then we would have to maintain copies.

[2017-07-24 18:47] dlabrecq commented on #1745
Please see https://github.com/fabric8-ui/fabric8-ui/pull/1780

[2017-07-24 19:42] joshuawilson commented on #139
Create a story for this in openshift.io repo.

[2017-07-24 19:52] joshuawilson commented on #1525
Closing as this appears to be a duplicate.

[2017-07-24 19:52] #1525 closed

[2017-07-24 19:54] joshuawilson commented on #1516
We do not support Safari 10.0.2. Please update to 10.1.1.
Closing, will not fix.

[2017-07-24 19:54] #1516 closed

[2017-07-24 19:55] joshuawilson commented on #1524
Closing, no activity.

[2017-07-24 19:55] #1524 closed

[2017-07-24 20:01] joshuawilson commented on #1467
Closing as it appears fixed.

[2017-07-24 20:01] #1467 closed

[2017-07-24 20:04] joshuawilson commented on #1384
Closed with PR #1383

[2017-07-24 20:04] #1384 closed

[2017-07-24 20:13] joshuawilson commented on #1350
I just deleted my -jenkins from OSO. However when I updated my tenant it came back.
@jstrachan What should the actions be here?
@fbricon can we close this?

[2017-07-24 20:14] joshuawilson commented on #1350
I'm closing this as it isn't an issue for OSIO but for OSO. Please comment as needed.

[2017-07-24 20:14] #1350 closed

[2017-07-24 20:21] joshuawilson commented on #139
Details at #1717

[2017-07-24 20:26] joshuawilson commented on #1708
This is not fixed. We should block going to the edit profile page if not logged in or if it is a different user.

[2017-07-24 20:39] ldimaggi commented on #1350
FYI - I think that the issue here is that the projects' github repos were not deleted - and the webhooks defined for these repos resulted in the projects being recreated.

[2017-07-24 20:49] joshuawilson commented on #1660
This issue was moved to openshiftio/openshift.io#392

[2017-07-24 20:49] #1660 closed

[2017-07-24 20:50] joshuawilson commented on #1664
This issue was moved to openshiftio/openshift.io#393

[2017-07-24 20:50] #1664 closed

[2017-07-24 20:50] joshuawilson commented on #1667
This issue was moved to openshiftio/openshift.io#394

[2017-07-24 20:50] #1667 closed

[2017-07-24 20:51] joshuawilson commented on #1668
This issue was moved to openshiftio/openshift.io#395

[2017-07-24 20:51] #1668 closed

[2017-07-24 20:51] joshuawilson commented on #1670
This issue was moved to openshiftio/openshift.io#396

[2017-07-24 20:51] #1670 closed

[2017-07-24 20:52] joshuawilson commented on #1671
This issue was moved to openshiftio/openshift.io#397

[2017-07-24 20:52] #1671 closed

[2017-07-24 20:52] joshuawilson commented on #1672
This issue was moved to openshiftio/openshift.io#398

[2017-07-24 20:53] #1672 closed

[2017-07-24 20:53] joshuawilson commented on #1673
This issue was moved to openshiftio/openshift.io#400

[2017-07-24 20:53] #1673 closed

[2017-07-24 20:54] joshuawilson commented on #1674
This issue was moved to openshiftio/openshift.io#401

[2017-07-24 20:54] #1674 closed

[2017-07-24 20:54] joshuawilson commented on #1694
This issue was moved to openshiftio/openshift.io#402

[2017-07-24 20:55] #1694 closed

[2017-07-24 20:55] joshuawilson commented on #1699
This issue was moved to openshiftio/openshift.io#403

[2017-07-24 20:55] #1699 closed

[2017-07-24 20:56] joshuawilson commented on #1700
This issue was moved to openshiftio/openshift.io#404

[2017-07-24 20:56] #1700 closed

[2017-07-24 20:56] joshuawilson commented on #1703
This issue was moved to openshiftio/openshift.io#405

[2017-07-24 20:56] #1703 closed

[2017-07-24 20:57] joshuawilson commented on #1704
This issue was moved to openshiftio/openshift.io#406

[2017-07-24 20:57] #1704 closed

[2017-07-24 20:58] joshuawilson commented on #1705
This issue was moved to openshiftio/openshift.io#407

[2017-07-24 20:58] #1705 closed

[2017-07-24 20:58] joshuawilson commented on #1706
This issue was moved to openshiftio/openshift.io#408

[2017-07-24 20:58] #1706 closed

[2017-07-24 21:55] joshuawilson commented on #1350
While that may be true, what does it have to do with granting permissions to delete something in OSO?

[2017-07-24 22:03] joshuawilson commented on #1770
@jstrachan do you have a plan to fix this? We can't expect new users to go in and make that kind of fix.

[2017-07-24 22:07] joshuawilson commented on #1762
@jstrachan how much of this is related to https://github.com/fabric8-ui/fabric8-ui/issues/1770

[2017-07-25 02:26] joshuawilson commented on #1678
@ldimaggi are you still seeing this?
@jstrachan do you know what is causing this?

[2017-07-25 02:28] joshuawilson commented on #1666
@rawlingsj do you know why this staging failure doesn't block the build?

[2017-07-25 02:34] joshuawilson commented on #1646
@jstrachan Is this something we should change in the UI? or is it good enough now. I'm asking because it was confusing to us. Maybe @catrobson can come up with a better way to display this so the user will understand.

[2017-07-25 02:36] joshuawilson commented on #1644
@ldimaggi are you still seeing this?
@jyasveer @invincibleJai @arunkumars08 did you look into this?

[2017-07-25 02:44] joshuawilson commented on #1626
I wonder if this has to do with pagination of the result set.

[2017-07-25 02:48] #921 closed

[2017-07-25 02:54] joshuawilson commented on #1625
@ldimaggi were you able to do as they said? and did it fix things?

[2017-07-25 03:03] joshuawilson commented on #1617
ping @catrobson

[2017-07-25 03:06] joshuawilson commented on #1646
related to #1615

[2017-07-25 03:10] joshuawilson commented on #1591
@jstrachan were you ever able to build the thing that would do this?

[2017-07-25 03:17] joshuawilson commented on #1582
@ldimaggi are you still seeing this? or can we close it?

[2017-07-25 03:19] joshuawilson commented on #1568
I still haven't seen this. @ldimaggi please confirm.
@dgutride can you try this and confirm.

[2017-07-25 03:22] joshuawilson commented on #1388
fixed in #1633

[2017-07-25 03:22] #1388 closed

[2017-07-25 03:22] joshuawilson commented on #1565
fixed in #1633

[2017-07-25 03:22] #1565 closed

[2017-07-25 03:27] joshuawilson commented on #1563
@ldimaggi can you please confirm that this is still an issue?

[2017-07-25 03:30] joshuawilson commented on #1562
closing for lack of activity

[2017-07-25 03:30] #1562 closed

[2017-07-25 03:39] joshuawilson commented on #1555
With the changes we are making, this may be possible in the hear term.

[2017-07-25 05:34] invincibleJai commented on #1644
@joshuawilson got 401 (unauthorised)  due to auth token expiration through Jenkins , it working fine now @arunkumars08 pls confirm.

[2017-07-25 06:22] arunkumars08 commented on #1644
@joshuawilson Tried creating a new space and triggered a build. Logs are fine, UI report is fine too.
@ldimaggi Could you try once and check if it is still persisting?
@invincibleJai Thanks for looking into.

[2017-07-25 07:41] jstrachan commented on #1591
its on my TODO list once I've finished a few other things... hopefully I'll get to it soon

[2017-07-25 12:23] catrobson commented on #1617
Dana and I discussed that this could move forward without designs for just swapping out the list component itself to a tree-list component.  None of the other interactions will be affected, and the only change we discussed was that we would consider adding in drag-and-drop with the tree-list component.

[2017-07-25 12:26] catrobson commented on #1646
@jstrachan Are we able to give the user some information about the problem with the build failure?  I think the user in this case is looking to understand why I am in a failure state, so we need some information to show.  If so, can I get an example of what that might look like so I can consider how to integrate it into the screen for these cases?

[2017-07-25 13:15] jstrachan commented on #1762
its the same issue.

interestingly I just tried master of fabric8-ui and could not reproduce the issue; so dunno if @corinnekrych fixed this lately?

[2017-07-25 13:21] jstrachan commented on #1762
odd - so seems to work when debugging a locally running fabric8-ui, but the latest docker image still has this issue - so a bit stumped really

[2017-07-25 13:25] hferentschik commented on #1516
Wau :-(. Do the required APIs change so dramatically?

[2017-07-25 13:35] dgutride opened #1785 "Remove unused code"
The platform code has quite a bit of unused code due to fast refactoring and shifting priorities.  We should remove it to make sure we can move quickly.

The list includes:

- team-membership-dialog/*
- templates/start-widget/*
- settings (still a live route but not accessible and should be removed)
- settings/profile/* & settings/tokens/*
- delete-account-dialog/*
- control/* (was a workaround co

[2017-07-25 13:37] joshuawilson commented on #1785
We do have a user story for Settings in both Platform and Planner, so we might want to keep that.

[2017-07-25 13:45] joshuawilson commented on #1762
and @qodfathr saw this issue on Friday last week in production.

[2017-07-25 13:45] dgutride opened #1786 "Modify folder structure of code"
The Angular style guide recommends using Folder by Feature structure as the project size increases - https://angular.io/guide/styleguide#folders-by-feature-structure.  As openshift.io grows, grouping a few logically related components will greatly help with quickly locating code to work on.

I'd recommend we restructure the code the following way:

1) Create two new folders named layout and space

[2017-07-25 13:46] joshuawilson commented on #1516
@dgutride @mindreeper2420 can you please comment on @hferentschik question.

[2017-07-25 14:09] jstrachan commented on #1762
I've not seen this work in prod or local fabric8 for a week or so - I've just no clue why master of fabric8-ui works great though

[2017-07-25 14:10] dlabrecq commented on #1516
Without installing an older version of Safari, I don't know what the underlying problem is? However, if there are JavaScript errors, that would prevent the home page from rendering.

[2017-07-25 14:21] ldimaggi commented on #1582
This problem seems to be resolved - closing.

[2017-07-25 14:21] #1582 closed

[2017-07-25 14:39] dgutride commented on #1516
@hferentschik - we saw this locally when testing - this seems to be a bug in Safari missing support for the Headers browser API which Angular 4 depends on.  They fixed it in the next release (searching for safari 10 headers polyfill reveals a number of other frameworks also hit this same problem including Polymer).

[2017-07-25 15:04] ibuziuk commented on #1745
@joshuawilson @dlabrecq thank you guys. tested on https://fabric8-ui-fabric8-ui-pr-1780-fabric8-ui.badger.fabric8.io and the solution seems to work just fine :+1:
Is it already on prod ? (on prod I still have problems with creating workspace against idled che-server)

[2017-07-25 15:09] joshuawilson commented on #1745
not on prod yet, I'll update prod

[2017-07-25 15:11] ibuziuk commented on #1745
@joshuawilson thank you!

[2017-07-25 15:14] joshuawilson commented on #1745
updated, please confirm and close

[2017-07-25 15:15] joshuawilson commented on #1745
well, I guess it is already closed :-P

[2017-07-25 15:21] ibuziuk commented on #1745
@joshuawilson  already closed, but confirm ;-)

[2017-07-25 15:30] dlabrecq commented on #1745
Glad the 'retry' is working. I was able to adjust the timeout shorter during testing, but 30 sec seemed to be the max, oddly.

[2017-07-25 15:57] ldimaggi commented on #1644
The problem is no longer being seen - closing.

[2017-07-25 15:57] #1644 closed

[2017-07-25 16:01] ldimaggi commented on #1625
I think that we can close this issue - that account was put into a bad state - other related, and more specific issues, have been logged since then. Thx!

[2017-07-25 16:01] #1625 closed

[2017-07-25 16:04] ldimaggi commented on #1568
The issue is no longer being seen. Closing.

[2017-07-25 16:04] #1568 closed

[2017-07-25 19:21] #1777 closed

[2017-07-25 20:10] #1785 closed

[2017-07-26 01:36] joshuawilson commented on #1528
@catrobson we are going to need to work with @l0rd and the che team to figure out how we either change the Codebases page or what a Workspaces page would look like so that we can provide the che controls that are needed.

[2017-07-26 05:24] joshuawilson commented on #1770
@jstrachan if this isn't fixed, please reopen. Closing.

[2017-07-26 05:24] #1770 closed

[2017-07-26 05:43] joshuawilson commented on #1526
@ldimaggi is this still an issue?

[2017-07-26 05:56] joshuawilson commented on #1515
@ldimaggi are you able to reproduce this?

[2017-07-26 11:15] ibuziuk commented on #1214
@ldimaggi @burrsutter could you please verify the fix on prod against the latest che-server ?
I have closed https://github.com/redhat-developer/rh-che/issues/217

[2017-07-26 12:07] dgutride commented on #592
Fixed via #1790

[2017-07-26 12:07] #592 closed

[2017-07-26 13:27] ldimaggi commented on #1214
Related issue:
https://github.com/openshiftio/openshift.io/issues/425

[2017-07-26 13:47] ldimaggi commented on #1214
From the linked Che issue:

When a user creates a new workspace but one is already running the correct behaviour should be:
* the old workspace is stopped and then...
* the new workspace is created

What I am seeing is that this^ sequence of actions is working - BUT - the user is presented with the error  message described here:

![screenshot from 2017-07-26 09-38-44](https://user-images.githubuse

[2017-07-26 13:48] #1214 closed

[2017-07-26 13:50] dgutride commented on #591
User PATCH is now called twice on each navigation between spaces or context switch - this updates recent context information and recent space information.  Moving to closed as it no longer happens 8 times.

[2017-07-26 13:50] #591 closed

[2017-07-26 13:52] ibuziuk commented on #1214
@ldimaggi are you creating workspaces from "Codebases" or Dashboard ?
[code]
This scenario is supposed to work only if workspaces are created via "Codebases"

[2017-07-26 13:54] ldimaggi commented on #1214
Always form the 'Create Workspace' in the OSIO UI.

On Wed, Jul 26, 2017 at 9:52 AM, Ilya Buziuk <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2017-07-26 13:59] ldimaggi commented on #1515
Closing as not reproducible.

[2017-07-26 13:59] #1515 closed

[2017-07-26 14:00] ldimaggi commented on #1526
Yes - there is nothing to prevent this happening to a user over time.

[2017-07-26 15:02] ldimaggi commented on #1678
Yes - this issue is still present.

[2017-07-26 15:07] jstrachan commented on #1678
got an example project thats been imported?

[2017-07-26 15:31] ldimaggi commented on #1214
This problem was resolved in the latest 1.0.253 Che.

[2017-07-26 15:58] mindreeper2420 opened #1797 "Status Icon Does Not Show Rollup"
In the Status drop down, when a status is anything other than green (check mark), it should appear in the header as such. Currently, the status icon in the header is always shown as the check mark, regardless of what the individual statuses are.

<img width="265" alt="screen shot 2017-07-26 at 11 57 24 am" src="https://user-images.githubusercontent.com/4032718/28630922-9eeb0da0-71f9-11e7-9be2-7c8b

[2017-07-26 16:25] joshuawilson commented on #1797
Some of the values need to be polled to get them, they aren't there until you open the menu. So it is not simple to just copy it to the top.
If we want to patch it, we could change the icon to the text "status".

[2017-07-26 22:24] mindreeper2420 opened #1802 "Codebases Sync Issues"
When deleting, moving or renaming a repo on GitHub, the changes are not synched to OSIO. Previous codebases still appear in the widget, but empty rows appear on the Codebases page for each repo that was deleted/moved/renamed existed. OSIO shows a notification that the repo in question cannot be found.

[2017-07-28 00:37] aslakknutsen opened #1812 "Fix centos-ci prod-preview deployment"
f8-ui is using the old deployment method from before we kept the deployment configs in the repo, and the one deployed in prod-preview was referring to fabric8io/ not fabric8-io as image name.

It's also not using config/secret maps etc etc. so almighty-jobs and prod-preview env need to be cleaned up and aligned.

[2017-07-28 18:47] mindreeper2420 opened #1815 "Update Getting Started"
Update the Getting Started page to use framework elements. Update the header to use the correctly sized image.

Team: @fabric8-ui/uxd-css

[2017-07-28 20:40] #1765 closed

[2017-07-28 20:54] #1815 closed

[2017-07-28 21:24] mindreeper2420 commented on #1265
@joshuawilson I have been unable to replicate this. I've cleared all cache, plugins, browser history. I am on Mac OSX using version 59.0.3071.115 (Official Build) (64-bit).

Here is what I see:
**Logged Out:**
<img width="1440" alt="screen shot 2017-07-28 at 5 20 44 pm" src="https://user-images.githubusercontent.com/4032718/28736738-4a24afc6-73b9-11e7-8130-0c3aeab2f6bc.png">

**Logged In:**
<img w

[2017-07-29 08:38] rkratky commented on #1265
I can confirm it's showing as it's supposed to for me, too, now.

[2017-07-29 08:38] #1265 closed

[2017-07-31 13:03] dgutride commented on #1786
Work is complete - see pr #1813.  space-wizard can be moved by @corinnekrych when she feels it is a good time.

[2017-07-31 13:03] #1786 closed

[2017-08-01 18:18] mindreeper2420 opened #1823 "Update PatternFly Version"
Update to the latest PatternFly version (3.26.1) in order to consume the new icons (11 in total), various bug fixes and layout updates.

[2017-08-01 19:21] hferentschik commented on #1516
@dgutride thanks for the explanation. Much appreciated. I am wondering though whether there should not be browser version checks which would help the user to trouble shoot the error. I am basically not so much behind in terms of versions. I would assume other people hit the same problem. It would be nice to get at least some sort of feedback that my browser in this version is not supported.

[2017-08-01 19:35] joshuawilson opened #1825 "Update to use the Async CheStarter API from Codebases"
- fabric8-wit has provided 2 new endpoints - one for starting che server asynchronous & another for getting it's state
    `PATCH api/codebases/che/start`
    `GET api/codebases/che/state`
- when user navigates to the "Codebases" view, UI first checks if che-server is running
- if che-server is running, all is good and the flow is the same to what we have right now
- if che-server is not running,

[2017-08-01 19:36] joshuawilson commented on #1825
@dlabrecq when the PR on the backend gets merged is this something you want to do?

[2017-08-01 20:33] dlabrecq commented on #1825
Sure, I can do that.

@catrobson I'm curious to hear your thoughts about disabling the "Create workspace" controls upon first entering the codebases page?

[2017-08-01 20:56] joshuawilson commented on #1825
@dlabrecq didn't mean to imply that you should do this without working through UX first. ;)

[2017-08-01 22:13] #1823 closed

[2017-08-01 22:15] joshuawilson commented on #1516
@hferentschik we are putting together a matrix of supported browsers and figure we can add it to the wiki. That way anyone can see what version of their preferred browser they need.

[2017-08-02 01:58] catrobson commented on #1825
+1 that if we can make it seamless, we should keep the create workspace enabled and just start that process at the end of the che startup process, and just show one overall "working on it" experience to the user on the workspace.  @dlabrecq we can work together and with @bdellasc on how to show the waiting event on workspace in a friendly way.

[2017-08-02 02:01] joshuawilson commented on #1825
What do you mean by "keep the create workspace enabled"?

[2017-08-02 02:08] catrobson commented on #1825
I'm opposing this statement - "During che-server start-up "Create workspace" buttons are disabled".  I think during che-server start-up we should leave the "Create workspace" button enabled, and just queue up any workspace creation request behind the startup behind the scenes- the user doesn't need to know that level of detail IMO.  The idea of starting up the che server when we navigate to the pa

[2017-08-02 02:10] joshuawilson commented on #1825
That means if they hit the button and it's not ready they will get an error.

[2017-08-02 02:15] dlabrecq commented on #1825
No, the user no longer hits an error. At least, not due to the old 30 sec request timeout.

If the user clicks the button, the spinner will start, tooltips are set, and the button is disabled appropriately. The user will simply wait, but Che will launch in a new window tab eventually.

The user won't see an error, unless Che times out itself, after 3 minutes.

[2017-08-02 02:17] joshuawilson commented on #1825
OK, that works for me. Just to be clear the button is active until you click it and then it become inactive if Che is not ready.

[2017-08-02 02:21] catrobson commented on #1825
Clicking the button should then initiate a "we're working to load your workspace" state (so yes, button is then replaced/disabled by this state) that tells the user what is going on in some way.  This is where we can work with visual design to refine the feedback to the user during this part of the process.

[2017-08-02 02:22] joshuawilson commented on #1825
I like it. Thanks for the detailed version. :)

[2017-08-02 02:23] dlabrecq commented on #1825
Sounds good to me!

[2017-08-03 07:08] Preeticp opened #1826 "All caps used for OpenShift.io Logo, shouldn't it be OpenShift.io?"
OpenShift is always written with only O and S in capital case, but in the logo we have it as OPENSHIFT.io. This is not consistent with our usage of OpenShift.io in all the other places. The logo afaics is seen on the landing page before login, on the login page and post login. I have attached a couple of screenshots below for reference.

![case for openshift not in sync](https://user-images.github

[2017-08-03 07:14] rgarg1 commented on #1678
The issue is still reproducible. I used my brand new OSIO account today to import an untouched Vertx repo: https://github.com/rgargosiotest1/aug3a

The Pipelines were never started.

[2017-08-03 07:29] sbose78 commented on #1826
probablly @fabric8-ui/uxd  might know whom to pass on the feedback to? Or does it come from marketing directly.. not sure.

[2017-08-03 07:40] jeffmaury opened #1827 "Add a specific page where token can be retrieved after login"
In order to tools (DevStudio/JBossTools) to integrate the auth phase, the landing page should allow for easy tokens retrieval (like OpenShift does).
So it would be nice if there will be a landing page where tokens can be easily retrieved. Provision for status should also be added.
Page could be:

- a JSON one with well defined fields
- an HTML one (like OpenShift) with well defined div for fields

[2017-08-03 08:04] alexeykazakov commented on #1827
This actually can be a standalone page in openshiftio app instead of fabric8-ui so DevStudio can use our login endpoint directly: api.openshift.io/api/login/authoriz?redirect=https://openshift.io/some-new-page
So after login the browser will be redirected to that page and the page just needs to get the token from URL and render it.

[2017-08-03 08:32] jeffmaury commented on #1827
So what is the Github repo so that I can move this issue

[2017-08-03 10:05] Preeticp commented on #1826
Moved the issue here: https://github.com/fabric8-ui/fabric8-ux/issues/574

[2017-08-03 15:55] joshuawilson commented on #1827
@jeffmaury it would go in https://github.com/openshiftio/openshift.io

[2017-08-03 15:57] jeffmaury commented on #1827
Closed as replaced by openshiftio/openshift.io#466

[2017-08-03 15:57] #1827 closed

[2017-08-07 10:43] corinnekrych commented on #1786
@dgutride oki I'll take care of moving space-wizard under space. Reading angular style, I think we should use `/app/space/wizard` and `app/space/settings` instead of space-wizard as the folder name already have the space context information.

"Why? A developer can locate the code and identify what each file represents at a glance. The structure is as flat as it can be and there are no repetitive o

[2017-08-07 12:39] dgutride commented on #1786
@corinnekrych  - I agree about space-settings and space-wizard dropping the space- prefix.  I didn't want to do that in the first checkin to simplify the more complicated move.  If you want to change settings, let me know, otherwise I'll take care of it later on.

[2017-08-07 12:48] joshuawilson commented on #1786
That does make sense.

[2017-08-07 14:04] corinnekrych opened #1838 "move space-wizard under space"
related to https://github.com/fabric8-ui/fabric8-ui/issues/1786

[2017-08-07 14:12] corinnekrych opened #1839 "Document of fabric8-ui wiki the space wizard"
in the wiki, give some information about:
* publish Mitch uml diagram
* add a desciption about runtime
* explain API with forge add-on
* link backend repos

[2017-08-07 15:01] corinnekrych opened #1841 "UI error on notification list `alm-toast-notification-list`"
Getting this error in current fabric8-ui master ```main.36ee701c3c060205f2d0.bundle.js:1 Error: Template parse errors:
Can't bind to 'notifications' since it isn't a known property of 'alm-toast-notification-list'.
If 'alm-toast-notification-list' is an Angular component and it has 'notifications' input, then verify that it is part of this module.
If 'alm-toast-notification-list' is a Web Componen

[2017-08-07 15:21] ibuziuk commented on #1825
PR https://github.com/fabric8-services/fabric8-wit/pull/1559 has been merged
Some http status code details:
`PATCH api/codebases/che/start`
 - 200 if che server is running and ready to handle requests (che server state info in the body)
-  202 if it che server has been started asynchronously (che server state info in the body)
 `GET api/codebases/che/state`
- 200 (che-server state info in the body

[2017-08-08 11:54] corinnekrych commented on #1556
This issue is not reproducible. it has been fixed.

[2017-08-08 11:54] #1556 closed

[2017-08-08 11:56] slemeur commented on #1528
I worked on the following set of specifications for these use cases:
https://redhat.invisionapp.com/share/94CH0VNV5

I think it covers what is needed, but we can refined them and scope them. First goal would be to only allow browsing the existing workspaces and deleting them from a new "Workspaces" tab. We can then add the other capabilities.

[2017-08-08 11:58] corinnekrych commented on #1762
@jstrachan I think this one https://github.com/fabric8-ui/fabric8-ui/issues/1762 could be closed. it must be fixed by: https://github.com/fabric8io/fabric8-generator/commit/2685aa6568f8f4e2b27b8fc344a7e68708e861a4 right?

[2017-08-08 12:00] jstrachan commented on #1762
yes! labelSpace is definitely passed now to import; its working great now

[2017-08-08 12:00] jstrachan commented on #1678
this is fixed now - just waiting to get to prod

[2017-08-08 12:14] corinnekrych commented on #1555
@joshuawilson with the patternfly wizard there is a back button:
https://github.com/patternfly/patternfly-ng/blob/master/src/app/wizard/wizard.component.ts#L50

cc: @catrobson do we want to be able to go back?

[2017-08-08 12:31] catrobson commented on #1555
@corinnekrych yes, we'd like to be able to allow the user to go back and change things on previous steps.  I *think* that the API changes that James was working on would enable us to do that.

[2017-08-08 12:38] corinnekrych commented on #1555
if we're in quickstart wizard and we want to go back, I think we only need to send an http call with previous params. No nee to change anything to forge add-on (ie: no API changes required).
@catrobson I think atm this is more a UI limitation.
@jstrachan could you confirm?

[2017-08-08 12:38] joshuawilson commented on #1528
The visuals you provided appear releated to https://github.com/fabric8-ui/fabric8-ui/issues/1825

[2017-08-08 12:42] #1762 closed

[2017-08-08 12:47] joshuawilson commented on #1555
@jstrachan were you able to update the Forge REST endpoint to support fetching the needed info and validation on Finish?

[2017-08-08 12:51] jstrachan commented on #1555
@corinnekrych the client side should be able to move back at any time really without talking to the forge server side

@joshuawilson no I've not yet had chance to reimplement the server side forge wizard on the client side with the associated new REST API on the server and used on the client; its a more long term change when my TODO list is much shorter

[2017-08-08 13:15] jstrachan commented on #1678
its in prod

[2017-08-08 13:19] slemeur commented on #1528
@joshuawilson: They are also providing mockups for what a "Workspaces page" would look like.

[2017-08-08 14:23] sunix opened #1850 "Changing the name of a new space should remove the `already exist` error message"
Having that

- osio user has a space `newspace` created
- osio user try to create a new space with the name `newspace`
- the creation wizard shows back the form with the error ` The GitHub repository newspace already exists! The following characters are accepted:  dashes, letters, numbers  and the name cannot start or end with a dash `

When

- osio user is modifying the field `name`

Then

- the

[2017-08-08 14:31] ldimaggi commented on #1678
Just tried this - using a repo that I forked from a test repo that Burr created - https://github.com/ldimaggi/vertx-eventbus

The import worked cleanly - the app was deployed to stage and run in the pipeline - the pipeline was correctly included in the OSIO UI.

[2017-08-08 14:42] joshuawilson commented on #1850
this issue was listed several weeks ago at https://github.com/openshiftio/openshift.io/issues/382

[2017-08-08 15:00] sunix commented on #1850
@joshuawilson to me looks like a different issue.

[2017-08-08 15:25] catrobson opened #1851 "Gather requirements for system status dropdown"
Meet with @joshuawilson @aslakknutsen and Brad to gather refined requirements for what would be useful to show in the system status dropdown.

Verification Criteria:
* Requirements are gathered and documented
* Stories created for UXD, UI, and Platform to support requirements

[2017-08-08 15:36] catrobson opened #1852 "Gather requirements & shared understanding for deleting a space"
Discuss the full workflow and impact of deleting a space and come to agreement on what would be removed when deleting a space.

Verification Conditions:
* Met with @joshuawilson @aslakknutsen @dgutride @dlabrecq to discuss requirements and flow
* Document decisions of how delete should work
* Create stories for work on UX, UI, and Platform

[2017-08-08 17:17] dgutride commented on #1839
@corinnekrych - during a follow-on discussion about understanding which quick-starts are available, it was requested that we identify the source locations of each quick start listed in the wizard (github repo/fork) - can we include that in the documentation as well?  @burrsutter fyi

[2017-08-08 18:45] dlabrecq commented on #182
The wizard has been ported to patternfly-ng, but don't believe we will use it to replace the space wizard. I believe @catrobson and @bdellascio are looking at a different design.

[2017-08-08 18:53] catrobson commented on #182
@dlabrecq we decided that for now we would upgrade it to use PatternFly existing wizard until we're ready with a new model.

[2017-08-08 20:59] catrobson commented on #1446
When we remove a codebase, we should also clean up/remove any workspaces in Che at the same time.

[2017-08-08 21:02] burrsutter commented on #1825
A screencast of the problem
https://screencast.com/t/DSO3hRWQ5T

[2017-08-09 05:27] #1838 closed

[2017-08-09 07:31] #1678 closed

[2017-08-10 04:51] jyasveer opened #1856 "Stack Analysis is missing from the UI"
https://github.com/openshiftio/openshift.io/issues/528

[2017-08-10 12:27] corinnekrych opened #1857 "Import wizard result displays [Object Object] due to forge addon API change"
![screenshot 2017-08-10 11 06 37](https://user-images.githubusercontent.com/1395710/29170264-fb3ae5d2-7dd7-11e7-92cc-5b5febd844d0.png)

[2017-08-10 12:35] ldimaggi commented on #1857
Duplicate of:  https://github.com/openshiftio/openshift.io/issues/483

[2017-08-10 18:30] catrobson commented on #1852
We've agreed that deleting a space will:

- Delete codebase links
- Delete workspaces
- "Clean" OpenShift for objects from that space, including:  Pipelines, Applications, Pods, Builds, Build Configs.

Deleting a space will not:

- Delete the github repository

[2017-08-12 17:03] catrobson commented on #1852
UX Design for deleting spaces has been captured in https://github.com/fabric8-ui/fabric8-ux/issues/573

[2017-08-13 02:17] #1857 closed

[2017-08-13 02:36] joshuawilson commented on #1852
Since we met and have the designs in progress, I think we can close this.
Please reopen if there is more to do.

[2017-08-13 02:36] #1852 closed

[2017-08-14 13:51] catrobson opened #1867 "Import vs. Create Codebase - resolve capability and update UI"
Decide if we should have a create vs. import codebase capability on the space dashboard, update this issue and UI to reflect decisions made.

[2017-08-14 15:06] catrobson commented on #552
We decided this morning that we will remove this option from the kabob in the UI until the API has been created to reduce confusion for users.

[2017-08-14 18:31] dlabrecq commented on #552
Created PR https://github.com/fabric8-ui/fabric8-ui/pull/1869 to omit the disabled option.

[2017-08-14 21:15] aslakknutsen commented on #1626
What order do we want spaces in here? @catrobson

[2017-08-14 21:49] joshuawilson commented on #1626
IMHO, I would want it in either most recently visited or alphabetical.

[2017-08-15 01:46] catrobson commented on #1626
This is being redesigned right now here:  https://github.com/fabric8-ui/fabric8-ux/issues/572
Right now we're thinking about showing these by latest change date, but this might be quite volatile so I need to think about that a bit more.  Last visited might be less volatile for if the user changes the filter criteria or refreshes the page.  Alphabetical by default is typically not useful, so we wil

[2017-08-16 13:53] #1850 closed

[2017-08-17 10:00] jstrachan opened #1884 "on the Codebases page we should have the option to create a Pipeline for a Codebase"
folks can create codebases via a github URL, which is great. Folks may then want to then create a pipeline for it after the codebase has been created; so we should:

* know if a Codebase has an associated Pipeline or not and if not provide a kebab option on a Codebase to `Create Pipeline`

The `Create Pipeline` wizard would then work kinda like the `Import` wizard; only we already know the github

[2017-08-17 17:10] joshuawilson opened #1885 "Improve error handling"
We have observed that some errors can break whole sections of the UI when they really should be isolated.

We need to look at improving our error handling locally and consider covering global error handling.

This article is a starting point. https://medium.com/@amcdnl/global-error-handling-with-angular2-6b992bdfb59c

[2017-08-17 17:13] dgutride commented on #1885
One other thing we could consider is uploading exceptions to a common logging endpoint to trigger quick responses (and reporting).  We might need a design for error handling in the UI  - should we show a notification, always redirect to an error page, let the user continue working?  We can't guarantee an unhandled exception will still result in a usable page for users but there is a possibility th

[2017-08-17 17:19] joshuawilson commented on #1885
I have talked about posting UI errors back to the server so they can be viewed in logs and error tracking software we use. This would allow us to spot errors that users are seeing before they report them.

[2017-08-18 16:19] alexeykazakov opened #1896 "Updating user profile requires browser refresh to see the changes"
1. Go to Update Profile page
2. Change email
3. Click on Update
4. I see the old email in the profile again
5. Refresh the browser
6. Now I see the updated email

I didn't try with other fields though.

[2017-08-19 02:25] jyasveer commented on #1856
this is fixed in https://github.com/fabric8-ui/fabric8-ui/pull/1882

[2017-08-19 02:25] #1856 closed

[2017-08-19 02:47] jyasveer opened #1898 "Analytics: Recommender widget does not auto refresh once the recommendations are available."

[2017-08-21 06:52] corinnekrych opened #1900 "Clean tenant deletes spaces but do not notified the header list"
Scenario:
* go to profile, hit `clean tenant` button
* confirm deletion
* Actual: in the the header the list of recently visited spaces is not notified of the deletion. some "ghost" space are displayed
* expected: the space removed from clean tenant should also be removed in most recently visited list.

[2017-08-21 12:45] rhopp opened #1903 "Stack Report Recommendations section overflowing"
See screenshot:
![image](https://user-images.githubusercontent.com/1215011/29519870-3d8841be-867f-11e7-8e75-01a9f4cdef16.png)

[2017-08-21 12:55] joshuawilson commented on #1900
@dgutride can you take this on?

[2017-08-21 12:56] dgutride commented on #1900
yep  - @joshuawilson - there is a bug in the runtime code that is breaking delete notifications if I wire them up, it is a bit more complicated unfortunately, I'm on it today, though

[2017-08-21 12:56] joshuawilson commented on #1903
@mindreeper2420 can you take a look at this?

[2017-08-21 12:57] joshuawilson commented on #1900
thanks

[2017-08-21 19:24] dgutride commented on #1900
work is complete @corinnekrych

[2017-08-23 09:20] jstrachan opened #1910 "the new LSIO launchpad-addon back end breaks defaulting of the project name from the labelSpace"
so we've a new forge back end which is not yet in production (but its in master) which uses the latest greatest LSIO forge addon and catalog; so that we can do things like test out PRs / branches / forks of the booster catalog on our CI / CD pipelines.

One downside is that the project name is now entered on the 3rd tab rather than first which means that the auto-defaulting of the name to be the s

[2017-08-23 09:24] jstrachan commented on #1910
@corinnekrych I wonder could you have a look at this one? I don't grok the client side validation logic

[2017-08-23 14:42] jstrachan opened #1912 "if you are on the Pipelines page and you `Add to Space` via the kebab menu it'd be nice to not move to the Space home page"
e.g. it'd be nice to stay on the `Pipelines` page after importing/creating a new app if you start the wizard on the `Pipelines` page - it feels odd that you're forced to move to the space home page

[2017-08-23 16:24] corinnekrych commented on #1910
@jstrachan I think your change is correct.

The forge addone return a `canMoveToNextStep` false from the last of the 3 new steps
see ```
{"metadata":{"deprecated":false,"category":"Fabric8","name":"Fabric8: Project Info","description":"Project Information"},"state":{"valid":false,"canExecute":false,"wizard":true,"canMoveToNextStep":false,"canMoveToPreviousStep":true,"steps":["Mission","Runtime","F

[2017-08-23 16:32] ldimaggi commented on #1910
James - has the UI changed too?

On Wed, Aug 23, 2017 at 5:20 AM, James Strachan <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2017-08-23 16:45] jstrachan commented on #1910
yes the UI has changed - its not in prod yet though

On 23 August 2017 at 17:32, Len DiMaggio <notifications@github.com> wrote:

--
James
-------
Red Hat

Twitter: @jstrachan
Email: james.strachan@gmail.com
Blog: https://medium.com/@jstrachan/

fabric8: https://fabric8.io/
open source development platform

funktion: https://funktion.fabric8.io/
open source event based lambda programming

[2017-08-24 08:17] corinnekrych commented on #182
@catrobson @dlabrecq I've renamed the issue "spike". I think we now know what we want to replace:
- we keep the sapce-wizard as it is.  to be redesign later to remove modal.
- we change app-generator wizard to reuse patternfly wizard.
we can create an other issue for that purpose when we do the redesign of quickstart/import flow.

[2017-08-24 08:17] #182 closed

[2017-08-25 15:02] jstrachan opened #1915 "use a nicer widget to pick quickstarts instead of the combo box"
the latest greatest forge back end using the latest `launchpad-addon` now has a single step to pick a quickstart (or booster in RHOAR speak) then step2 is the project info page (github org, name, group id, version etc).

* Step1:
<img width="1022" alt="pipelines_-_fabric8_io" src="https://user-images.githubusercontent.com/30140/29719514-4de6bb44-89ae-11e7-9a97-753283435620.png">

* Step 2
<img wid

[2017-08-25 15:02] jstrachan commented on #1915
cc @catrobson

[2017-08-25 15:18] catrobson commented on #1915
+1 that we  want this to changeover to something easier to browse than a picker dropdown.  @mindreeper2420 is working  up a new design for the launch team that hopefully we can follow here as well.

[2017-08-25 17:40] mindreeper2420 opened #1917 ""Open in IDEA" under Pipelines does not work"
Under Create/Pipelines, there is a kabob menu option to "Open in IDEA" that does not work. When I click on the option, I do not receive any kind of notification or error - it just closes the kabob menu.

<img width="455" alt="screen shot 2017-08-25 at 1 37 57 pm 2" src="https://user-images.githubusercontent.com/4032718/29725690-f97731aa-899a-11e7-9621-f6f98013eb04.png">

[2017-08-28 13:45] #1900 closed

[2017-08-28 14:28] corinnekrych commented on #1545
Some initial effort on unit test done:
![screenshot 2017-08-28 16 27 50](https://user-images.githubusercontent.com/1395710/29777913-f0d45bc0-8c0d-11e7-8292-84e9dfde5979.png)
As we go fix issue, we can increase coverage.

[2017-08-28 14:29] #1545 closed

[2017-08-28 14:59] corinnekrych commented on #1839
Done here: https://github.com/fabric8-ui/fabric8-ui/wiki/Forge-Wizard

[2017-08-28 14:59] #1839 closed

[2017-08-28 15:08] catrobson commented on #1851
Met and discussed that the notifications toolbar is the correct place to have this type of status in the future, and we should just be alerting users when there is something that is wrong.  We will leave status dropdown as is for now until we can design and implement the notifications toolbar.  Closing this issue.

[2017-08-28 15:08] #1851 closed

[2017-08-28 15:11] aslakknutsen commented on #1812
As of 26. Aug prod-preview should be updated ok

[2017-08-28 15:11] #1812 closed

[2017-08-28 15:13] #552 closed

[2017-08-28 15:16] corinnekrych commented on #139
@joshuawilson is it ok to close it? should it be an epic on OSiO

[2017-08-29 08:10] corinnekrych commented on #1839
@dgutride here is the doc on where to find boosters: https://github.com/fabric8-ui/fabric8-ui/wiki/Forge-Wizard#where-does-it-find-booster

[2017-08-30 11:45] corinnekrych opened #1934 "Unit test takes longer to run"
Prior to this [commit to introduce runtime console](https://github.com/fabric8-ui/fabric8-ui/commit/f6bde5ea7249f4bf686c2bdcdd6648183e57fa9b) tests take
* 1.467 secs to run
* start date: 13:29:51 end date 13:31:29 of 1min38s to load and run

After, tests take:
* 27.548 secs to run (which is ok as runtime-console comes with more unit tests
 * start date: 13:23:01 end date 13:27:12 of 4min11s to loa

[2017-09-01 05:05] gorkem commented on #1917
Why do we even have this menu?

[2017-09-01 07:59] sbose78 opened #1948 "If space deletion fails, do not show success message."
Part of https://github.com/openshiftio/openshift.io/issues/651

[2017-09-01 15:21] joshuawilson commented on #139
This has not been done. Why do you think it should be an epic?

[2017-09-01 15:38] joshuawilson commented on #1934
That was in runtime-console but wasn't needed in the merger. If you think it is needed, try adding it and see what it does.

[2017-09-01 15:40] joshuawilson commented on #1917
@gorkem I think it was something @jstrachan was working on.

[2017-09-03 10:32] corinnekrych commented on #139
@joshuawilson is it sth to split in requirements and tasks ie: fill-in the document + implement it. or does it cover only the fill-in of the document?

[2017-09-04 04:11] joshuawilson commented on #139
There is the list that @catrobson made. We need to review and verify that. So maybe that is enough to close this. Then we can open another issue to do the work.

An epic is larger then a user-story and I don't feel it is big enough to be an epic.

[2017-09-04 11:08] jstrachan commented on #1917
@gorkem because not everyone uses Che yet - folks use eclipse / VS Code / IDEA too. There are moves for similar IDEA functionality for VS Code / Eclipse too. Ideally I'd prefer an "Open in IDE" dialog then have more options for opening in Che / IDEA / Eclipse / VS Code / using git CLI and vi/emacs etc)

[2017-09-04 11:11] jstrachan commented on #1917
@mindreeper2420 I suspect the issue is you've not installed Jetbrains Toolbox which has the URL handler?

I'm hoping to move that menu item into a dialog box so we can add a warning for IDEA that it requires Jetbrains Toolbox (unfortunately there's no easy way to test if a URL is gonna work or not AFAIK) - plus we could then have a CLI tab to show folks how to fork / clone a project from the CLI t

[2017-09-04 11:15] jstrachan commented on #1917
There's been some attempts to offer Jetbrains Toolbox like URL handling for VS code:

* https://github.com/Microsoft/vscode/issues/22014
* https://github.com/Microsoft/vscode/issues/20291

and eclipse:

* https://bugs.eclipse.org/bugs/show_bug.cgi?id=513364
* https://bugs.eclipse.org/bugs/show_bug.cgi?id=513262

though neither work right yet AFAIK (we'd ideally be able to include the git ref/branc

[2017-09-04 13:11] mindreeper2420 commented on #1917
I don't have anything installed, as I don't use JetBrains software. If this doesn't work without prompting and all sorts of things installed, it should either be removed from production until we have the process/flow in place, or have it changed to 'Open in Che' until one is ready, no?

The fact that it gave no prompt, no information and just closed the menu without telling me why was confusing/fr

[2017-09-04 13:16] mindreeper2420 commented on #1917
Might it also make sense to keep this in the menu, but greyed out/disabled, and an 'Open with Che' also in the menu, but disabled? The only problem I see is the Che instances idling - then it will take a few minutes to start back up and launch.

[2017-09-05 13:23] #1910 closed

[2017-09-05 23:09] mindreeper2420 commented on #1530
Closed as part of PR https://github.com/fabric8-ui/fabric8-ui/pull/1935

[2017-09-05 23:09] #1530 closed

[2017-09-06 15:31] mindreeper2420 opened #1986 "Update stylelint-webpack-plugin package"
The stylelint-webpack-plugin package will need to be updated in order to properly rebuild after a style failure when `npm start` is run. Currently, the build fails completely, causing the user to have to restart their build in order to re-lint any changes to `.less` files.

The is currently a PR in the [stylelint-webpack-plugin](https://github.com/JaKXz/stylelint-webpack-plugin) repo (number 112)

[2017-09-06 21:09] #1912 closed

[2017-09-07 18:36] dlabrecq commented on #1825
Fixed by PR #1954

[2017-09-07 18:36] #1825 closed

[2017-09-08 19:29] #1948 closed

[2017-09-11 02:59] joshuawilson commented on #1460
The parent copy was closed as this has not been seen in a while.

[2017-09-11 02:59] #1460 closed

[2017-09-11 06:26] corinnekrych opened #1991 "Display warning of overriden files (Jenkinsfile, POM) for import wizard flow"
As https://github.com/openshiftio/openshift.io/issues/671#issuecomment-327795166

[2017-09-15 11:48] jstrachan opened #2002 "capture performance metrics of page loads (when a page completes loading & rendering) plus when wizard steps complete"
we need to start capturing user performance metrics in the browser so we know how long it takes for pages to render properly.

Then we need to post these metrics to some SaaS metrics endpoint which we can then throttle/filter/avoid DoS attack) and store in zabbix.

One important set of metrics is the forge wizards; how long does each step take to render on Next and how long does Finish take.

Then

[2017-09-18 07:01] corinnekrych opened #2005 "Create space: multiple hit of create button result on error notification"
Step to reproduce
1. create . new space
2. hit several time quickly the create button
3. notification are spent for failed attempsl (dur to non-unique name)
![screenshot 2017-09-18 08 49 14](https://user-images.githubusercontent.com/1395710/30531635-ee515d24-9c4f-11e7-9d08-2b4e91fd4926.png)

[2017-09-18 07:50] corinnekrych commented on #1991
delivered in prod

[2017-09-18 07:50] #1991 closed

[2017-09-18 14:44] #2005 closed

[2017-09-18 20:02] joshuawilson commented on #2002
This issue was moved to openshiftio/openshift.io#857

[2017-09-18 20:02] #2002 closed

[2017-09-18 20:03] joshuawilson commented on #1986
This issue was moved to openshiftio/openshift.io#858

[2017-09-18 20:03] #1986 closed

[2017-09-18 20:04] #1934 closed

[2017-09-18 20:04] joshuawilson commented on #1917
This issue was moved to openshiftio/openshift.io#860

[2017-09-18 20:04] #1917 closed

[2017-09-18 20:05] joshuawilson commented on #1915
This issue was moved to openshiftio/openshift.io#861

[2017-09-18 20:05] #1915 closed

[2017-09-18 20:06] joshuawilson commented on #1903
I think this has been fixed. If you still see this as an issue please open a new issue on https://github.com/openshiftio/openshift.io

[2017-09-18 20:06] #1903 closed

[2017-09-18 20:14] joshuawilson commented on #1898
Closing to track on https://github.com/openshiftio/openshift.io/issues/642

[2017-09-18 20:14] #1898 closed

[2017-09-18 20:15] joshuawilson commented on #1896
This issue was moved to openshiftio/openshift.io#862

[2017-09-18 20:15] #1896 closed

[2017-09-18 20:16] joshuawilson commented on #1885
This issue was moved to openshiftio/openshift.io#863

[2017-09-18 20:16] #1885 closed

[2017-09-18 20:16] joshuawilson commented on #1884
This issue was moved to openshiftio/openshift.io#864

[2017-09-18 20:16] #1884 closed

[2017-09-18 20:17] joshuawilson commented on #1867
This issue was moved to openshiftio/openshift.io#865

[2017-09-18 20:17] #1867 closed

[2017-09-18 20:19] joshuawilson commented on #1802
This issue was moved to openshiftio/openshift.io#866

[2017-09-18 20:19] #1802 closed

[2017-09-18 20:19] joshuawilson commented on #1797
This issue was moved to openshiftio/openshift.io#867

[2017-09-18 20:19] #1797 closed

[2017-09-18 20:20] joshuawilson commented on #1717
This issue was moved to openshiftio/openshift.io#868

[2017-09-18 20:20] #1717 closed

[2017-09-18 20:26] joshuawilson commented on #1708
This issue was moved to openshiftio/openshift.io#871

[2017-09-18 20:26] #1708 closed

[2017-09-18 20:26] joshuawilson commented on #1682
This issue was moved to openshiftio/openshift.io#872

[2017-09-18 20:26] #1682 closed

[2017-09-18 20:27] joshuawilson commented on #1681
This issue was moved to openshiftio/openshift.io#873

[2017-09-18 20:27] #1681 closed

[2017-09-18 20:27] joshuawilson commented on #1679
This issue was moved to openshiftio/openshift.io#874

[2017-09-18 20:27] #1679 closed

[2017-09-19 03:25] joshuawilson commented on #1666
This issue was moved to openshiftio/openshift.io#877

[2017-09-19 03:25] #1666 closed

[2017-09-19 03:28] joshuawilson commented on #1662
This issue was moved to openshiftio/openshift.io#878

[2017-09-19 03:28] #1662 closed

[2017-09-19 03:29] joshuawilson commented on #1661
This issue was moved to openshiftio/openshift.io#879

[2017-09-19 03:29] #1661 closed

[2017-09-19 03:29] joshuawilson commented on #1648
This issue was moved to openshiftio/openshift.io#880

[2017-09-19 03:29] #1648 closed

[2017-09-19 03:30] joshuawilson commented on #1646
This issue was moved to openshiftio/openshift.io#881

[2017-09-19 03:30] #1646 closed

[2017-09-19 03:31] joshuawilson commented on #1635
This issue was moved to openshiftio/openshift.io#882

[2017-09-19 03:31] #1635 closed

[2017-09-19 03:31] joshuawilson commented on #1626
This issue was moved to openshiftio/openshift.io#883

[2017-09-19 03:31] #1626 closed

[2017-09-19 03:32] joshuawilson commented on #1619
This issue was moved to openshiftio/openshift.io#884

[2017-09-19 03:32] #1619 closed

[2017-09-19 03:33] joshuawilson commented on #1617
This issue was moved to openshiftio/openshift.io#885

[2017-09-19 03:33] #1617 closed

[2017-09-19 03:33] joshuawilson commented on #1615
This issue was moved to openshiftio/openshift.io#886

[2017-09-19 03:33] #1615 closed

[2017-09-19 03:34] joshuawilson commented on #1595
This issue was moved to openshiftio/openshift.io#887

[2017-09-19 03:34] #1595 closed

[2017-09-19 03:35] joshuawilson commented on #1591
This issue was moved to openshiftio/openshift.io#888

[2017-09-19 03:35] #1591 closed

[2017-09-19 03:35] joshuawilson commented on #1567
This issue was moved to openshiftio/openshift.io#889

[2017-09-19 03:35] #1567 closed

[2017-09-19 03:36] joshuawilson commented on #1563
This issue was moved to openshiftio/openshift.io#890

[2017-09-19 03:36] #1563 closed

[2017-09-19 03:37] joshuawilson commented on #1560
This issue was moved to openshiftio/openshift.io#891

[2017-09-19 03:37] #1560 closed

[2017-09-19 03:38] joshuawilson commented on #1557
This issue was moved to openshiftio/openshift.io#892

[2017-09-19 03:38] #1557 closed

[2017-09-19 03:39] joshuawilson commented on #1555
This issue was moved to openshiftio/openshift.io#893

[2017-09-19 03:39] #1555 closed

[2017-09-19 03:40] joshuawilson commented on #1552
This issue was moved to openshiftio/openshift.io#894

[2017-09-19 03:40] #1552 closed

[2017-09-19 03:40] joshuawilson commented on #1539
This issue was moved to openshiftio/openshift.io#895

[2017-09-19 03:40] #1539 closed

[2017-09-19 03:40] #1535 closed

[2017-09-19 03:42] joshuawilson commented on #1531
Closing this issue going to track the original.

[2017-09-19 03:42] #1531 closed

[2017-09-19 03:42] joshuawilson commented on #1528
This issue was moved to openshiftio/openshift.io#896

[2017-09-19 03:42] #1528 closed

[2017-09-19 03:43] joshuawilson commented on #1526
This issue was moved to openshiftio/openshift.io#897

[2017-09-19 03:43] #1526 closed

[2017-09-19 03:43] joshuawilson commented on #1514
This issue was moved to openshiftio/openshift.io#898

[2017-09-19 03:43] #1514 closed

[2017-09-19 03:43] joshuawilson commented on #1508
This issue was moved to openshiftio/openshift.io#899

[2017-09-19 03:43] #1508 closed

[2017-09-19 03:44] joshuawilson commented on #1507
This issue was moved to openshiftio/openshift.io#900

[2017-09-19 03:44] #1507 closed

[2017-09-19 03:44] joshuawilson commented on #1499
This issue was moved to openshiftio/openshift.io#901

[2017-09-19 03:44] #1499 closed

[2017-09-19 03:45] joshuawilson commented on #1499
This issue was moved to openshiftio/openshift.io#902

[2017-09-19 03:46] joshuawilson commented on #1497
This issue was moved to openshiftio/openshift.io#903

[2017-09-19 03:46] #1497 closed

[2017-09-19 03:47] #1496 closed

[2017-09-19 03:47] #1485 closed

[2017-09-19 03:48] joshuawilson commented on #1483
This issue was moved to openshiftio/openshift.io#904

[2017-09-19 03:48] #1483 closed

[2017-09-19 03:49] joshuawilson commented on #1466
Closing. Will track the original.

[2017-09-19 03:49] #1466 closed

[2017-09-19 03:49] #1455 closed

[2017-09-19 03:50] joshuawilson commented on #1449
This issue was moved to openshiftio/openshift.io#905

[2017-09-19 03:50] #1449 closed

[2017-09-19 03:52] joshuawilson commented on #1446
closing to track original

[2017-09-19 03:52] #1446 closed

[2017-09-19 03:53] joshuawilson commented on #1445
This issue was moved to openshiftio/openshift.io#906

[2017-09-19 03:53] #1445 closed

[2017-09-19 03:54] joshuawilson commented on #1443
This issue was moved to openshiftio/openshift.io#907

[2017-09-19 03:54] #1443 closed

[2017-09-19 03:56] joshuawilson commented on #1434
This issue was moved to openshiftio/openshift.io#908

[2017-09-19 03:56] #1434 closed

[2017-09-19 03:56] joshuawilson commented on #1403
This issue was moved to openshiftio/openshift.io#909

[2017-09-19 03:56] #1403 closed

[2017-09-19 03:58] joshuawilson commented on #1393
This issue was moved to openshiftio/openshift.io#910

[2017-09-19 03:58] #1393 closed

[2017-09-19 03:58] joshuawilson commented on #1380
This issue was moved to openshiftio/openshift.io#911

[2017-09-19 03:58] #1380 closed

[2017-09-19 03:59] joshuawilson commented on #1378
This issue was moved to openshiftio/openshift.io#912

[2017-09-19 03:59] #1378 closed

[2017-09-19 03:59] joshuawilson commented on #1375
This issue was moved to openshiftio/openshift.io#913

[2017-09-19 03:59] #1375 closed

[2017-09-19 04:00] joshuawilson commented on #1371
This issue was moved to openshiftio/openshift.io#914

[2017-09-19 04:00] #1371 closed

[2017-09-19 04:13] #1365 closed

[2017-09-19 04:13] #1364 closed

[2017-09-19 04:13] #1362 closed

[2017-09-19 04:14] #1358 closed

[2017-09-19 04:16] joshuawilson commented on #1357
Closing, going to track original.

[2017-09-19 04:16] #1357 closed

[2017-09-19 04:16] #1356 closed

[2017-09-19 04:16] #1355 closed

[2017-09-19 04:18] joshuawilson commented on #1352
Closing. This is sort of fixed now that the user can't do much on their account. Also will track original and let Tenant service do the work.

[2017-09-19 04:18] #1352 closed

[2017-09-19 04:18] #1347 closed

[2017-09-19 04:21] joshuawilson commented on #1344
This issue was moved to openshiftio/openshift.io#915

[2017-09-19 04:21] #1344 closed

[2017-09-19 04:22] joshuawilson commented on #1318
This issue was moved to openshiftio/openshift.io#916

[2017-09-19 04:22] #1318 closed

[2017-09-19 04:22] joshuawilson commented on #1302
This issue was moved to openshiftio/openshift.io#917

[2017-09-19 04:22] #1302 closed

[2017-09-19 04:27] joshuawilson commented on #1301
This issue was moved to openshiftio/openshift.io#918

[2017-09-19 04:27] #1301 closed

[2017-09-19 04:27] #1293 closed

[2017-09-19 04:28] joshuawilson commented on #1290
This issue was moved to openshiftio/openshift.io#919

[2017-09-19 04:28] #1290 closed

[2017-09-19 04:28] joshuawilson commented on #1284
This issue was moved to openshiftio/openshift.io#920

[2017-09-19 04:29] #1284 closed

[2017-09-19 04:30] joshuawilson commented on #1260
This issue was moved to openshiftio/openshift.io#921

[2017-09-19 04:30] #1260 closed

[2017-09-19 04:30] joshuawilson commented on #1249
This issue was moved to openshiftio/openshift.io#922

[2017-09-19 04:30] #1249 closed

[2017-09-19 04:31] joshuawilson commented on #1238
This issue was moved to openshiftio/openshift.io#923

[2017-09-19 04:31] #1238 closed

[2017-09-19 04:32] joshuawilson commented on #1199
This issue was moved to openshiftio/openshift.io#924

[2017-09-19 04:32] #1199 closed

[2017-09-19 04:33] joshuawilson commented on #1197
This issue was moved to openshiftio/openshift.io#925

[2017-09-19 04:33] #1197 closed

[2017-09-19 04:36] joshuawilson commented on #974
This issue was moved to openshiftio/openshift.io#926

[2017-09-19 04:36] #974 closed

[2017-09-19 04:37] joshuawilson commented on #762
This issue was moved to openshiftio/openshift.io#927

[2017-09-19 04:37] #762 closed

[2017-09-19 04:37] joshuawilson commented on #599
This issue was moved to openshiftio/openshift.io#928

[2017-09-19 04:37] #599 closed

[2017-09-19 04:37] joshuawilson commented on #536
This issue was moved to openshiftio/openshift.io#929

[2017-09-19 04:37] #536 closed

[2017-09-19 04:38] joshuawilson commented on #507
This issue was moved to openshiftio/openshift.io#930

[2017-09-19 04:38] #507 closed

[2017-09-19 04:38] joshuawilson commented on #492
This issue was moved to openshiftio/openshift.io#931

[2017-09-19 04:38] #492 closed

[2017-09-19 04:39] #390 closed

[2017-09-19 04:40] joshuawilson commented on #382
This issue was moved to openshiftio/openshift.io#932

[2017-09-19 04:40] #382 closed

[2017-09-19 04:41] joshuawilson commented on #350
This issue was moved to openshiftio/openshift.io#933

[2017-09-19 04:41] #350 closed

[2017-09-19 04:41] #272 closed

[2017-09-19 04:42] joshuawilson commented on #193
This issue was moved to openshiftio/openshift.io#934

[2017-09-19 04:42] #193 closed

[2017-09-19 04:43] joshuawilson commented on #139
This issue was moved to openshiftio/openshift.io#935

[2017-09-19 04:43] #139 closed

[2017-09-19 04:43] joshuawilson commented on #114
This issue was moved to openshiftio/openshift.io#936

[2017-09-19 04:43] #114 closed

[2017-09-19 04:44] #97 closed

[2017-09-19 04:44] joshuawilson commented on #72
This issue was moved to openshiftio/openshift.io#937

[2017-09-19 04:44] #72 closed

[2017-09-19 04:45] joshuawilson commented on #8
This issue was moved to openshiftio/openshift.io#938

[2017-09-19 04:45] #8 closed

[2017-09-19 12:16] omajid commented on #1356
Going to https://openshift.io after logging in redirects me to my spaces correctly! Thanks for fixing this!

[2017-09-19 13:33] dlabrecq commented on #72
The app.component.html file references the header tag like so:

<header>
  <alm-app-header></alm-app-header>
</header>

It would be easy enough to move the tag to the header component.

[2017-10-17 13:00] debloper opened #2120 "Need comparative comparison between the webpack-config files"
There are several webpack config files building the project in different manner and for different purpose. But except for the config file naming, there seems to be no documentation about the differences between them or the exact purpose of needing to have these many configs.

It seems to me that a bootstrapper script that sets necessary env_vars, then only a handful of configs could/should be able

[2017-10-18 02:37] joshuawilson commented on #2120
Webpack is an advanced bundling system. It is not used for builds. The alternative is SystemJS. Each config has the name in it for what it is for.
 - `webpack.common.js` is the shared configs
 - `webpack.dev.js` is run when you use `npm start`
 - `webpack.test.js` is used when you use `npm test`
 - `webpack.prod.js` is used when you use `npm build`

Any others can largely be ignored unless you kno

[2017-10-18 06:06] sbose78 opened #2143 "`npm start` fails with planner related errors."
[code]

[2017-10-18 06:08] sbose78 commented on #2143
I'm at `npm --version 5.5.1`

I've tried

- `rm -rf node_modules ; npm install`
- `npm start`

[2017-10-18 07:12] sbose78 commented on #2143
Works after taking latest master.

[2017-10-18 07:12] #2143 closed

[2017-10-18 08:27] fabifrank opened #2144 "Menubar duplicates itself when toolbar for space setting is activated"
When opening the toolbar for the space settings within a space (url `testspace/settings`) and then click on `Analyze` for example the whole menubar duplicates itself to the right, so each button (`Analyze`, `Plan` ... ) exists twice or more. Only the most right barlist has active links.

[2017-10-18 14:04] joshuawilson commented on #2144
This is a duplicate of https://github.com/openshiftio/openshift.io/issues/1128.
This has been fixed. Please try a hard refresh (ctrl + shft + r) or open in incognito mode.
I just checked it and it appears fixed. Please verify and let us know.

[2017-10-18 15:36] debloper commented on #2120
My complain wasn't against webpack in itself. I see that as a tool, and as long as it's best at what it does, I'm cool with that. My ask was there seems to be lack of contexts (can't call that documentation, but can very well be) of how we're using it for our purpose.

It seems to be a limited knowledge how they're rigged and can practically only be obtained that information by asking specific per

[2017-10-18 15:49] joshuawilson commented on #2120
I'm not sure about running it on docker-compose. But `dev` and `prod` should both provide the configs needed to run it. The main difference is that prod should be minified and ugly for size, dropping anything not needed to run. While dev gives you everything we can think of to find and track down issues in the code.

Webpack is a very active community and accepts PRs. Using it is like any other to

[2017-10-19 08:04] fabifrank commented on #2144
Fixed!

[2017-10-19 08:04] #2144 closed

[2017-10-22 01:18] debloper commented on #2120
I'm sorry Joshua if I'm having trouble to get my point across.

My complain (if you think there is one, by the tone of it) isn't against webpack, or having to use it (or the lack there of), or a better alternative to that etc.

My proposition was, what's the difference between the configs, make it clearer to the ones using it. Doesn't matter that person has previous experience with webpack or not.

[2017-10-23 02:46] joshuawilson commented on #2120
Thanks @debloper that makes a lot of sense. I'll look at adding something along those lines.

[2017-10-28 13:39] mindreeper2420 opened #2175 "Update NPM Script"
Update the `npm run reinstall` script to swap out `npm cache clean` for `npm cache verify`, in accordance with the new npm@5 configuration.

Currently, running `npm run reinstall` throws the following error
[code]

[2017-10-28 19:58] joshuawilson commented on #2175
Yup, making the change through all the repos and building up to this one. Thanks.

[2017-11-08 15:12] ldimaggi opened #2213 "It is not possible to login to builds generated by PRs"
See: https://github.com/fabric8-ui/fabric8-ui/pull/1873#issuecomment-342533599

For example:
https://fabric8-ui-fabric8-ui-pr-2210-fabric8-ui.badger.fabric8.io/

It looks like a KC config error.

[2017-11-13 14:40] mindreeper2420 opened #2228 "View Encapsulation - Consuming Modules"
Discuss View Encapsulation and whether Platform should be on, how to consume modules that do or do not have it turned on, etc.

[2017-11-17 12:44] mindreeper2420 commented on #2228
Has there been a decision on turning this on or off, or even how to enforce proper styling (which is a primary concern), across modules that OSIO consumes?

[2017-11-17 16:31] joshuawilson commented on #2228
We have not discussed it more then a few minutes in the monday meeting. If you really want to track this, please repost it to https://github.com/openshiftio/openshift.io

[2017-11-21 09:18] jaseemabid opened #2253 "Text element to select a github repo is confusing."
Please see the attached screenshots. The white block area to the left of the filter icon looks like a text area but its not. Clicking on the filter opens up a real text area underneath which looks ugly.

Suggestions:

   1. Make the white block actually a text area and avoid the extra space that pops below.
   2. Make sure user can type there without actually clicking the tiny icon.

![screenshot

[2017-11-21 09:25] jaseemabid opened #2254 "Cannot import code in Firefox because patternfly blows up"
Importing code with the wizard fails on latest Firefox because of patternfly issues. Please see the screenshot for stack trace (I've no idea how I can copy paste it from the console).

![screenshot from 2017-11-21 14-52-52](https://user-images.githubusercontent.com/601714/33064519-f64ef6ea-cecb-11e7-82b1-cedfa2c42826.png)

[2017-11-21 15:23] jaseemabid commented on #2253
Moved to https://github.com/openshiftio/openshift.io/issues/1421

[2017-11-21 15:23] #2253 closed

[2017-11-21 15:24] jaseemabid commented on #2254
Moved to https://github.com/openshiftio/openshift.io/issues/1422

[2017-11-21 15:24] #2254 closed

[2017-11-29 14:29] #2228 closed

[2017-12-06 16:30] sbose78 opened #2296 "Add unit tests for the space service"
We use
https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/shared/spaces.service.ts
everywhere, hence we need to add unit tests for this.

[2018-06-25 14:28] mindreeper2420 commented on #2175
outdated - closing

[2018-06-25 14:28] #2175 closed

[2018-08-09 18:39] aptmac commented on #2296
fixed in https://github.com/fabric8-ui/fabric8-ui/pull/3201

[2018-08-09 18:39] #2296 closed

[2018-11-23 06:45] Preeticp opened #3419 "The Add Collaborator feature in the dashboard should be Add Collaborators"
For consistency:
1. We should have 'Add Collaborators' on the dashboard instead of 'Add Collaborator' to keep it consistent with the dialog box which says 'Add collaborators'. Keeping it plural makes sense since we can add multiple collaborators at once.
2. In the dialog box 'collaborators' should be 'Collaborators'.
![add_collaborators](https://user-images.githubusercontent.com/16647625/48930746-

[2018-11-23 12:57] Preeticp commented on #3419
Closing this in favor of : https://github.com/openshiftio/openshift.io/issues/4580

[2018-11-23 12:57] #3419 closed

[2018-12-14 21:13] fabric8cd opened #3444 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `origin/master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sur

[2018-12-14 21:36] #3444 closed

[2018-12-14 21:36] #2213 closed

[2018-12-14 21:37] joshuawilson commented on #2120
updated webpack

[2018-12-14 21:37] #2120 closed

[2018-12-16 03:03] fabric8cd commented on #804
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:03] fabric8cd commented on #1915
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:04] fabric8cd commented on #1496
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:04] fabric8cd commented on #1629
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:04] fabric8cd commented on #1565
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:05] fabric8cd commented on #1318
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:05] fabric8cd commented on #1316
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:05] fabric8cd commented on #889
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:05] fabric8cd commented on #860
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:05] fabric8cd commented on #862
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:06] fabric8cd commented on #717
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:06] fabric8cd commented on #726
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:07] fabric8cd commented on #594
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:07] fabric8cd commented on #533
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:07] fabric8cd commented on #546
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:07] fabric8cd commented on #502
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:07] fabric8cd commented on #350
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:07] fabric8cd commented on #376
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:08] fabric8cd commented on #138
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:08] fabric8cd commented on #370
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:09] fabric8cd commented on #305
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:09] fabric8cd commented on #293
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:09] fabric8cd commented on #274
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:09] fabric8cd commented on #175
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:09] fabric8cd commented on #183
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:09] fabric8cd commented on #162
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:10] fabric8cd commented on #110
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:10] fabric8cd commented on #51
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:10] fabric8cd commented on #49
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:10] fabric8cd commented on #41
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 03:10] fabric8cd commented on #55
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/fabric8-ui)
- [GitHub release](https://github.com/fabric8-ui/fabric8-ui/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket: