[2017-04-28 02:45] joshuawilson commented on #1197
Cool feature! I was wanting to do that earlier today.

[2017-04-28 02:45] mindreeper2420 commented on #1198
This occurred for me as well - thought it was my browser, but I guess not :-)

[2017-04-28 02:59] ldimaggi commented on #1198
It's the Loch Ness monster of UI bugs...   ;-)

On Thu, Apr 27, 2017 at 10:45 PM, Adam Jolicoeur <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2017-04-28 03:14] joshuawilson opened #1199 "styles changed for the worse on the fly"
When you in the Planner on the Backlog and go to the Create tab and then back to Planner the styles on the list view are edited.

The .list-view-pf-main-info class gets `display: block` gets added.

It appears to be set in fabric8-ui and then the change persists when you leave the component

[2017-04-28 06:55] samuzzal-choudhury opened #1201 "UI div overflow in create new space modal screen"
Test System: Mac Pro 15.4-inch (2880 x 1800)

While creating a new space on my system, I observed overflow in "Select build pipeline strategy ..." and "Application Generator Results" screens. Please checkout of the attached screens for ready reference.

![image](https://cloud.githubusercontent.com/assets/17740190/25517487/4b09e7c4-2c0d-11e7-91b8-7dbd20a8af04.png)

![image](https://cloud.githubuser

[2017-04-28 07:22] michaelkleinhenz commented on #1190
@ldimaggi I can not reproduce that on prod-preview. I played around with it, put items in various iterations, the started iteration etc, but never got that error when changing states. Can you elaborate on what you did?

[2017-04-28 07:26] michaelkleinhenz commented on #1188
@ldimaggi I also can not reproduce this behaviour. I created several iterations, setting dates on creation or later and dates are consistent. Could that be a timezone problem? Can you look at the raw API output of your failing case? That would be "https://api.prod-preview.openshift.io/api/spaces/SPACEID/iterations" with SPACEID your space id.

[2017-04-28 07:28] michaelkleinhenz commented on #1182
@ldimaggi again, can not verify over here. You did click on the "Create Work Item" label on the closed quick add to trigger this, correct?

[2017-04-28 08:07] xcoulon opened #1202 "Unable to complete registration"
On production, I'm stuck at the registration page:

![image](https://cloud.githubusercontent.com/assets/178502/25520003/81b16ce2-2bfa-11e7-9276-e70f8c4c8e61.png)

Clicking on the `Save Username` button results in the following error in the browser console:

[code]

Clicking on the `Connect accounts` button results in the following error in the browser console:

[code]

[2017-04-28 08:58] xcoulon commented on #1202
updated the description with error message occurring when clicking on the `Save Username` button.

[2017-04-28 12:21] ldimaggi commented on #1198
This was in the title field of the DETAIL panel only.

[2017-04-28 12:41] ldimaggi commented on #1188
This may be related to timezones.

This is failing in the EDT/USA (East Coast) timezone - it's not failing for Michael.

[2017-04-28 12:50] ldimaggi commented on #1182
Yes - but - this is a diff problem - as is shown in the screenshot - the quick add simply disappeared.

[2017-04-28 13:00] michaelkleinhenz commented on #1188
Ok, confirmed this is only happening in US timezones. Looking at it now.

[2017-04-28 13:07] michaelkleinhenz commented on #1198
I looked at that issue and I can not see what could cause that. Here are the findings:

- the title field is different from other input fields. It is an editable <h2> field, not an input field.
- there is an event handler for onUpdate() that is called on every keystroke, but that is not doing anything to the value itself. It is just checking if the field is whitespace only and if not, enables the

[2017-04-28 13:57] joshuawilson opened #1206 "Iterations unclickable"
If you create several iterations in a row and then go to a workitem try to set it, you are unable to click on the iteration.

[2017-04-28 14:00] sanbornsen commented on #1206
Is it in the details page?

[2017-04-28 14:01] aslakknutsen commented on #1206
@sanbornsen yes, Edit workitem

[2017-04-28 14:02] aslakknutsen commented on #1206
@alexeykazakov Will add a video recording of the behavior

[2017-04-28 14:04] baijum commented on #1206
Steps given by Aslak to reproduce this bug:
[code]

[2017-04-28 14:22] michaelkleinhenz commented on #1188
Fixed in https://github.com/fabric8io/fabric8-planner/pull/1824

[2017-04-28 14:31] alexeykazakov commented on #1206
https://docs.google.com/file/d/0B9n-iStea6d4eDYwQWF5YVhVd1U/edit

[2017-04-28 15:31] ldimaggi opened #1208 "Screen display is corrupted when creating new space project in Firefox on Windows"
Firefox screenshot:

![screenshot 2](https://cloud.githubusercontent.com/assets/642621/25535709/10c559ce-2c06-11e7-9ef9-16904a4359b1.png)

In contrast - here's the same operation in Chrome:

![screenshot 3](https://cloud.githubusercontent.com/assets/642621/25535731/2137835e-2c06-11e7-880e-453896bf4b3a.png)

[2017-04-28 15:32] ldimaggi commented on #1208
This is on Windows 10

[2017-04-28 15:37] ldimaggi commented on #1190
Closing as non reproducible.

[2017-04-28 15:37] #1190 closed

[2017-04-28 15:45] ldimaggi opened #1209 "In Planner board view - iteration totals for work item status is not updated when workitems are moved between status columns"
Steps to recreate:
* Create work items
* Associate workitems with iteration
* In the Board view, drag and drop workitems between status columns
* Observe the iteration's totals NOT being updated

![screenshot from 2017-04-28 11-39-19](https://cloud.githubusercontent.com/assets/642621/25536253/1be96de8-2c08-11e7-8d38-429114eee4d0.png)

![screenshot from 2017-04-28 11-39-44](https://cloud.githubuser

[2017-04-28 16:05] ldimaggi opened #1210 "In Planner, Backlog/Board row in header disappears after saving edits in workitem Detail panel"
This is not reproducible at will, but is being seen - when working in the Board view, the header navigation row for Board/Backlog disappears:

It's here:

![screenshot from 2017-04-28 11-41-20](https://cloud.githubusercontent.com/assets/642621/25537057/00ec75b4-2c0b-11e7-9af5-882baf8b42ff.png)

And - now it's gone:

![screenshot from 2017-04-28 11-39-44](https://cloud.githubusercontent.com/assets/

[2017-04-28 16:18] michaelkleinhenz commented on #1206
Fixed by https://github.com/fabric8io/fabric8-planner/pull/1828

[2017-04-28 16:32] ldimaggi commented on #1210
To recreate - Edit a workitem's detail panel - close the panel and the navigation row disappears.

[2017-04-28 16:47] ldimaggi opened #1212 "In Planner, moving a workitem to Backlog replaces the workitem's assignee icon"
To recreate:
* In Planner backlog view, select a workitem's kebab, and select 'Move to Backlog'
* Observe the workitem's assignee icon replaced with this icon:
![screenshot from 2017-04-28 12-40-01](https://cloud.githubusercontent.com/assets/642621/25538285/1bc717c2-2c10-11e7-8c3f-52962dbec08a.png)

This error is written to the console log in Chrome:

[code]

Before:

![screenshot from 2017-04-28

[2017-04-28 19:08] mitchharpur commented on #1180
done

[2017-04-28 19:08] #1180 closed

[2017-04-28 20:13] ldimaggi opened #1214 "If Che quota is reached, creating Che workspace fails with vague error - manual cleanup of existing workspaces needed to resolve"
Steps to recreate:
* Create new space
* Create new project
* Sync github repo to codebase
* Attempt to 'Create workspace'

If the user has already created (1) Che workspace, then the attempt to create another will fail with this error - Che opens but fails to create a workspace:

Could not start workspace ktenb7ih. Reason: Start of environment 'default' failed.

[2017-04-29 01:39] mindreeper2420 commented on #1208
@joshuawilson @ldimaggi I was not able to replicate this on Firefox for Mac, but I did find another issue using:
<img width="1920" alt="screen shot 2017-04-28 at 9 37 42 pm" src="https://cloud.githubusercontent.com/assets/4032718/25551922/206e4eda-2c5b-11e7-8b12-4a7fc29d7dd6.png">

[2017-04-29 01:39] mindreeper2420 commented on #1208
@ldimaggi @joshuawilson also of note, I do not have access to a Windows machine to test anything on a Windows environment.

[2017-04-29 19:42] joshuawilson commented on #1201
What browser and OS are you using?

[2017-04-29 23:38] joshuawilson opened #1220 "Whitespace is not trimmed on codebases"
When a github link is added if there is whitespace on the end it is saved. This causes errors when it is picked up by Che.

Trim the whitespace from the repo link.

[2017-04-30 02:28] gorkem opened #1221 "Typos on codebases"
There is a typo on the information box on the codebases page on the `che workspaces` column. Also the che workspace column should just be workspaces.
![image](https://cloud.githubusercontent.com/assets/82738/25560772/beac2a3e-2d2a-11e7-9149-b686e49e9f76.png)

[2017-04-30 03:42] catrobson commented on #1212
@ldimaggi - can you log any planner UI issues to the planner repo instead of UI repo moving forward?    https://github.com/fabric8io/fabric8-planner

[2017-04-30 18:15] catrobson commented on #1221
@gorkem - why should we not say Che - because we would need to say Eclipse Che?

[2017-04-30 18:16] catrobson commented on #1221
@dlabrecq - as reported in another issue the pop-up ended up with some incorrect grammar.

[2017-05-01 10:06] rkratky opened #1222 "UI squished in browser view"
Attaching screenshot. Strangely, this only happens when not in incognito mode. Regardless of browser used -- tested in FF, Chromium, Opera, Vivaldi. Squished in regular; OK in incognito.

![ui-squished](https://cloud.githubusercontent.com/assets/6623103/25577456/67e58078-2e66-11e7-9946-fbd9c166e6de.png)

[2017-05-01 12:16] ldimaggi commented on #1212
Moved to - https://github.com/fabric8io/fabric8-planner/issues/1835

[2017-05-01 12:16] #1212 closed

[2017-05-01 13:50] dlabrecq commented on #1221
The grammatical error is fixed with https://github.com/fabric8io/fabric8-ui/pull/1200

[2017-05-01 13:55] gorkem commented on #1221
It is not consistent with the labels we use on the buttons down the list, they are labeled `Create workspace`. Also I think we have the workspace concept on the platform level.

[2017-05-01 14:07] dlabrecq commented on #1220
Fixed by https://github.com/fabric8io/fabric8-ui/pull/1223

[2017-05-02 04:05] joshuawilson commented on #1222
Did you change it to be very narrow or did it do that automatically? We do not have it built for mobile sizes yet.

[2017-05-02 07:49] rkratky commented on #1222
I didn't change the window size (I should've included a screenshot that made it clear). The above squished page is shown in a browser window that's maximized on a 1920px monitor.
![ui-squished](https://cloud.githubusercontent.com/assets/6623103/25608778/9cc580b6-2f1c-11e7-87f9-e6f28ade4f9d.png)

[2017-05-02 13:52] corinnekrych opened #1237 "Add code coverage when `npm test`"
Code coevrage has been removed.
Configure package.json to trigger an instanbul code coverage.

[2017-05-02 13:54] corinnekrych opened #1238 "Add unit test to improve code coverage"
Test in isolation:
- services,
- components/directives,
- modules

Let's sub-task the uni tests per module (ie: functionalities of fabric8-ui):
- [ ] unit test for [space-wizard module](https://github.com/fabric8io/fabric8-ui/issues/1545)
- [ ] unit test for settings-wizard module
- [ ] unit test for profile module
- [ ] unit test for shared module
- [ ] unit test for settings module
- [ ] unit te

[2017-05-04 11:06] corinnekrych commented on #600
@pmuir @joshuawilson the 60 requests an hour is fixed by adding Authorisation to Headers in this PR:
https://github.com/fabric8io/fabric8-ui/pull/616
according to the doc the limit is now 5000 requests an hour.
Let's close this issue.

[2017-05-04 11:59] #600 closed

[2017-05-04 14:57] corinnekrych opened #1246 "Going to bookmarked URL when not logged does not forward to login page"
![unspecified-7](https://cloud.githubusercontent.com/assets/1395710/25709827/b4fb5794-30ea-11e7-8639-df9e41e325d5.png)

[2017-05-04 14:58] corinnekrych commented on #1246
1. open a new window,
2. go to  url like: http://localhost:3000/username/space_name/create (without being logged)
3. Codebases are not displayed because unautorized
I'd expect a redirect on login page

[2017-05-04 15:21] corinnekrych opened #1247 "Malformed HTML issue in gettingStarted page"
When doing this commit: https://github.com/fabric8io/fabric8-ui/commit/bc914a142c7d5359602d4811babea64ca3703557#diff-c2b0f15998cf1d4cfbc9023a35bcf01c for remove update username
[</form> tag](https://github.com/fabric8io/fabric8-ui/blob/master/src/app/getting-started/getting-started.component.html#L130) was forgotten.
therefore, there is a malformed html error in getting started

[2017-05-04 15:40] mindreeper2420 opened #1249 "Add ability to have multiple Admins of a Space"
When trying to add Areas to a Space, it was discovered that the creator the Space must add Collaborators/Areas (access the Settings). There should be the ability to have multiple administrators of a Space.

[2017-05-04 21:15] ldimaggi opened #1251 "Deleting a space does not delete the pipelines"
If the user attempts to access or delete a pipeline that was originally created in a space that has been deleted, this error is written to the Chrome browser console log:

[code]

However, no error is displayed in the UI for the user.

[2017-05-04 21:18] ldimaggi opened #1252 "Pipelines originally created in spaces that have been deleted cannot be deleted/removed from the UI"
If a user attempts to delete a pipeline that was originally created in a space that has since been deleted, the deletion fails. This error is written to the Chrome browser log:

[code]

However, no error is presented to the user in the UI.

[2017-05-05 01:21] ldimaggi opened #1253 "Intermittent, recurring problem where creating a new project (add to space) results in Forge error"
See attached screenshot:

<img width="1920" alt="206e4eda-2c5b-11e7-8b12-4a7fc29d7dd6" src="https://cloud.githubusercontent.com/assets/642621/25730953/94550966-310f-11e7-9692-e816e37b1086.png">

[2017-05-05 01:58] ldimaggi opened #1254 "Enhancement - every ERROR that is logged to Chrome console log should also be reported to the user via the UI"
For many error conditions - such as: https://github.com/fabric8io/fabric8-ui/issues/1252 - no error message is displayed in the UI for the user. Unless the user is monitoring the Chrome console log, he/she will not see any details of the error.

It should be a standard that all errors that impact the user are reported in the UI for the user. Thx!

[2017-05-05 11:34] arunkumars08 commented on #1201
This happens when we try to create a new space from the 'View all spaces' screen. Tested in Chrome @joshuawilson @samuzzal-choudhury

[2017-05-05 11:34] rkratky opened #1255 "Pen(cil) icons for editing profile items not working"
Clicking on the pen icons in profile doesn't do anything.
![pen-icon](https://cloud.githubusercontent.com/assets/6623103/25743968/947c3526-3197-11e7-82aa-0fb881d03916.png)

[2017-05-05 11:39] rkratky opened #1256 ""Update tenent" -- meant "tenant"?"
In user profile, there a heading and a button that say "Update tenent". What's a "tenent"? Is that supposed to say "tenant"? And if so, what's the difference between the function of this button and "Update Profile"? (Neither of those buttons does anything, btw.)

[2017-05-05 11:48] rkratky opened #1257 "Profile cannot be updated"
User profile is impossible to update. The "Update Profile" button is grayed out, so there's no way to update info (name, email, etc.) about the user. All I can do is click "Cancel".

Also, clicking on all three links in the left column of the Profile view (Add an email, Add a url, Add a bio) places the cursor (activates) in the "Email" field.

Section "Connected accounts" on the Profile page conta

[2017-05-05 11:56] rkratky opened #1258 "Misleading or non-functioning "home" links in Profile"
On the "Activity" tab in user profile:

- placeholder message when there's no activity (it says: "No Activity Message")
- the 'home' link in the sentence "Go to your home page to get started in Openshift.io." leads to https://openshift.io/# -- which is not the user's homepage; it should probably lead to _home).
- the "Got to my dashboard" button does nothing
- Also, why include both a link and a b

[2017-05-05 12:01] rkratky opened #1259 ""Spaces" tab in user profile not working"
The "Spaces" tab shows the number "2" regardless of the number of spaces the user has. Clicking on the tab shows empty 'space' -- it doesn't show existing spaces the user created, nor does it show the "2" spaces the tab indicates.
![no-spaces](https://cloud.githubusercontent.com/assets/6623103/25744643/4b06e7e8-319b-11e7-8200-676cbc14b5f7.png)

[2017-05-05 12:05] rkratky commented on #1259
Also, there's placeholder text shown in both the "Spaces" tab ("Static content Spaces") and the "Work Items" tab ("Static content Work items").

[2017-05-05 12:10] rkratky opened #1260 "Blue links on dark background are hard to read"
Links rendered as blue text on dark background are difficult to read. The styling should be different.

![blue-links](https://cloud.githubusercontent.com/assets/6623103/25744913/99bf5ef0-319c-11e7-9737-319d42341e6c.png)

[2017-05-05 13:13] ldimaggi opened #1261 "Enhancement - Add support for attaching files (text, image, video) to workitems"
It would be helpful to be able to attach files to workitem description and comment fields.

[2017-05-05 13:30] corinnekrych commented on #1247
Fixed with https://github.com/fabric8io/fabric8-ui/pull/1250

[2017-05-05 13:30] #1247 closed

[2017-05-06 01:42] dlabrecq opened #1264 "Cannot refresh the current page"
When I click the browser's refresh button, an error is message is shown. For example:
"Cannot GET /dlabrecq%40redhat.com/_update"

This issue also prevents the update profile page from being able to link GitHub and OpenShift accounts properly. For example, when linking GitHub and OpenShift accounts, the user we're forced to redirect to the getting started page. This is because the UI doesn't suppo

[2017-05-06 13:48] rkratky opened #1265 "Landing page misformatted in Chrome"
Attaching screenshot of the current landing page in Blink-based browsers:

![chrome-hp](https://cloud.githubusercontent.com/assets/6623103/25772830/6361805e-3273-11e7-9967-0013ec4f57fc.png)

[2017-05-08 14:39] dlabrecq commented on #860
This was intentional as this page has not been fully implemented.

Fix by https://github.com/fabric8io/fabric8-ui/pull/1263

[2017-05-08 14:55] dlabrecq commented on #805
For the update profile page, we won't allow the user to update their username. Thus, it's probably safe to assume 409 is for an invalid email.

Fixed by https://github.com/fabric8io/fabric8-ui/pull/1263

Note that there is a potential issue returning 409 for duplicate email. That is, 409 is also returned for an existing username. The /api/user API may be called to update multiple properties (e.g.,

[2017-05-08 15:22] dlabrecq commented on #612
Added to update profile page. See https://github.com/fabric8io/fabric8-ui/pull/1263.

Will update profile page, next.

[2017-05-08 15:24] dlabrecq commented on #543
The getting started page has gone through several iterations. I believe this can be closed now.

[2017-05-08 15:24] #543 closed

[2017-05-08 15:25] dlabrecq commented on #539
The codebases page has gone through a couple iterations, as well as a UI redesign. I believe this can be closed now.

[2017-05-08 15:25] #539 closed

[2017-05-09 09:58] #1209 closed

[2017-05-10 02:13] ldimaggi opened #1279 "java.lang.OutOfMemoryError: Metaspace - reported on build failure"
This is a recurring problem - saw this multiple times on May 9 in production.

This pipeline:
https://openshift.io/almusertest1/testmay91494369460731/create/pipelines
https://console.starter-us-east-2.openshift.com/console/project/almusertest1/browse/pipelines/testmay91494369460731?tab=history

Results in this build error:
https://jenkins-almusertest1-jenkins.8a09.starter-us-east-2.openshiftapps.c

[2017-05-10 02:34] ldimaggi commented on #1279
Note that the pipelines are reported as not started in the UI.

[2017-05-10 07:08] naina-verma commented on #1279
Hi @ldimaggi ,

I looks like Quota limit exceed and it is visible on the openshift console as well.

![screenshot from 2017-05-10 12-37-39](https://cloud.githubusercontent.com/assets/19172870/25886947/9187b0d6-357d-11e7-97e4-4b900c3a6a5d.png)
![screenshot from 2017-05-10 12-37-54](https://cloud.githubusercontent.com/assets/19172870/25886946/9187c044-357d-11e7-9a6c-8706663174d9.png)

[2017-05-10 12:11] ldimaggi commented on #1279
Yes - but - the MEMORY quota is not exceeded.   ;-)

![screenshot from 2017-05-10 08-09-19](https://cloud.githubusercontent.com/assets/642621/25898025/4f424fe4-3558-11e7-86b9-c4eab2873d8d.png)

[2017-05-10 12:17] ldimaggi opened #1283 "Unless user removes github repo for deleted project - the project's pipelines are unexpectedly recreated"
If a user opts to delete a project, he/she must delete all builds, pipelines, etc. in the Openshift console, as these cannot at present be deleted in the openshift.io UI

However, if the user does not also delete the corresponding github repo for the project, the pipelines that had previously been deleted are recreated when a new project is created - this might surprise users as they have already

[2017-05-10 12:25] ldimaggi commented on #1253
I have seen this problem intermittently, where "add to space" fails intermittently.

For example - creating new project "postsummitspacemay8a" failed on May 8 with this error:

`message = Failed to import project to https://github.com/ldimaggi/postsummitspacemay8a.git. org.eclipse.jgit.api.errors.TransportException: https://github.com/ldimaggi/postsummitspacemay8a.git: 404 Not Found - status = FAI

[2017-05-10 12:25] ldimaggi commented on #1253
Also seeing a different variation on this problem:

`Failed to import project to https://github.com/almightytest/testmay81494272517490a.git. org.eclipse.jgit.api.errors.TransportException: https://github.com/almightytest/testmay81494272517490a.git: https://github.com/almightytest/testmay81494272517490a.git/info/refs?service=git-receive-pack not found`

[2017-05-10 12:55] ldimaggi opened #1284 "Feature request - Automated method for users to delete a project"
(And also delete all a project's assets.)

Related to:  https://github.com/fabric8io/fabric8-ui/issues/1283

[2017-05-10 13:52] ldimaggi commented on #1283
Related to:
https://github.com/fabric8io/fabric8-init-tenant/issues/75

[2017-05-10 14:18] jstrachan commented on #1253
I've seen this too - I wonder if the forge wizard server side needs to add a retry around talking to github to create the project and/or importing the code.

BTW I raised an issue here https://github.com/fabric8io/fabric8-generator/issues/9 - if ever the wizard seems to work but errors are returned from the server then we should probably raise those errors here: https://github.com/fabric8io/fabric

[2017-05-10 14:27] ppitonak opened #1285 "Cannot connect GitHub account when name contains non-ASCII characters"
1. I login to OpenShift.io
2. I'm redirected to https://openshift.io/_gettingstarted
3. I check the GitHub checkbox and click "Connect accounts" button

result:
* nothing happens in UI
* there are no HTTP requests on button click in browser console

[2017-05-10 14:28] alexeykazakov commented on #1285
There is an error in Console:
[code]
And no calls to api.openshfit.io

[2017-05-10 14:37] alexeykazakov commented on #1285
Looks like something specific to Pavol's account. I tried with other accounts and it works.
@dlabrecq any idea?

[2017-05-10 14:42] alexeykazakov commented on #1285
Looks like token parsing is failing. Maybe because of "Pitoňák" (encoding) in the token claims:
[code]

[2017-05-10 14:45] alexeykazakov commented on #1285
Yes, this is the issue ^^^. If I replace "Pitoňák" by "Pitonak" it works.

[2017-05-10 16:36] corinnekrych opened #1289 "Routing should redirect to login page for bookmark-able URLs"
similar to issue https://github.com/fabric8io/fabric8-ui/issues/1246 the following URL should have a routing that forward to login page if user is not logged in:
http://localhost:3000/username/space
http://localhost:3000/username/space/plan
http://localhost:3000/username/space/plan/detail/311 (a workitem id)
http://localhost:3000/username/space/create/pipelines
http://localhost:3000/username/_spac

[2017-05-11 10:03] ppitonak commented on #1285
Thanks @alexeykazakov, should I change the title of this issue?

[2017-05-11 14:10] alexeykazakov commented on #1285
Yes please

[2017-05-11 14:37] jstrachan opened #1290 "create an Angular component to link to view/open/create a workspace for a git URL and optional branch/sha"
e.g. on a Pipeline / BuildConfig / Deployment / Work Item we may be able to find the github URL, branch and possibly Che stack ID.

It would be nice to be able to link to a single page via "Open In Che" links around the UI which would then:

* check to see if there is a workspace already for the given git URL, branch and stack ID and if so open it
* if not prompt the user to create a workspace; wh

[2017-05-11 14:45] jstrachan commented on #1290
@dlabrecq wonder if you had a clue here? the basic issue is when viewing, say, a Pipeline, WorkItem, Deployment or some other resource we may find a git URL / branch / che stack; but not be aware if there's a Codebase/Workspace for it yet.

So figure we could just have a page we link to that then wraps up looking for the corresponding codebase/workspace and supports lazily creating one on the fly

[2017-05-11 20:08] dlabrecq commented on #1290
We currently have the ability to retrieve a list of the user's codebases which can be iterated over to match a GitHub URL. If a match is found, we can easily open Che.

(It's my understanding that the Che APIs don't accept a branch. The user must select a branch within Che.)

If there is no matching codebase, you can create one providing you have a GitHub URL. If you're suggesting a GitHub URL is

[2017-05-11 21:25] jstrachan commented on #1290
I wonder if for now we can create a component like:

'''
<open-codebase-link gitUrl='foo' branch='bar' stackId='abc'>Open Che<...
'''

Where everything but git URL is optional - we can then use this markup on pages like the pipelines & work items - then the implementation can lazily load the codebases to open a modal or whatever?

[2017-05-11 21:29] jstrachan commented on #1290
Though a service to open the link may be easier too ;)

[2017-05-12 07:58] naina-verma opened #1293 "Unauthorized user shouldn't see "create workspace" / Grayed"
Unauthorized user shouldn't see "create workspace" / Grayed

Steps to reproduce

- An unauthorized user tries to create workspace
- The Github repo details are not showing up in the screenshot

Expected : The "Create workspace" either to visible to user or Grayed

![screenshot from 2017-05-12 13-25-32](https://cloud.githubusercontent.com/assets/19172870/25988771/f037bdd4-3716-11e7-9580-ab61cd7c939

[2017-05-12 14:54] dlabrecq commented on #1285
@alexeykazakov When you say "token parsing is failing", are you speaking about the backend or the UI?

The UI calls the /login/linksession API to link GitHub and OpenShift. However, the only parsing performed by the getting started page is to extract the client_session and session_state from the auth token.

I looked at how we parse JWT tokens in the UI, but we're only pulling these two strings be

[2017-05-12 17:11] alexeykazakov commented on #1285
It's UI that is failing. See the stacktrace - https://github.com/fabric8io/fabric8-ui/issues/1285#issuecomment-300499773
`ProviderService.parseJwt (https://openshift.io/_assets/lib/8.da26744db01c21eb11cd.chunk.js:1:8095)`
It doesn't matter what you are pulling from the token actually. You parse it first and it fails.

[2017-05-13 01:25] dlabrecq commented on #1202
I'm not able to reproduce the issue on prod. However, I can harden the code to ensure the GettingStartedService.createTransientProfile() always has a User object when called (i.e., not rely on the constructor subscription).

That said, the page in this screen shot is (pre-summit) old. For example, we're no longer providing the ability to save the username -- a few changes have been made since then

[2017-05-13 01:26] dlabrecq commented on #1202
Fixed by https://github.com/fabric8io/fabric8-ui/pull/1299

[2017-05-13 02:11] dlabrecq commented on #1285
FYI, I added the jwt-decode library for UTF-8 support. I don't have an account with UTF-8 characters, but perhaps @ppitonak can test the snapshot in the PR below?

See: https://github.com/fabric8io/fabric8-ui/pull/1300

[2017-05-13 02:16] alexeykazakov commented on #1285
You could add any characters you want to your profile via https://openshift.io/<user_user_name>/_update but the profile page seems to be broken.

[2017-05-13 10:28] jstrachan opened #1301 "have a canonical openshift.io console URL for a github repo and/or branch..."
which when opened in a browser would present the user with the options to:

* create or open a Che workspace for the git repo
* import the project as a Pipeline so that it can built/ran
* fork the repo to another organisation (then do the above)

e.g. a URL something like `https://openshift.io/github/owner/repo/[branchOrTag[/filePath]]` so that its super easy to link to a git repo and/or branch an

[2017-05-13 10:29] jstrachan commented on #1301
we could implement this page using the component/code from #1290 as well - but also to add the ability to import a BuildConfig so it can be built/deployed on your tenant etc

[2017-05-13 10:33] jstrachan opened #1302 "how should we allow users to pick the upstream quickstarts in addition to the RHOAR ones?"
more of a UX question than anything else really. Right now we've 1 wizard which just uses the RHOAR wizards (vertx, spring boot, WF swarm) but we've loads more quickstarts we could let users use (node, php, C++, go, swift, ruby, python et al - together with camel/fuse quickstarts too).

So we maybe need a way to pick which 'set' of quickstarts to choose from first? Then we can let users pick from

[2017-05-13 10:34] jstrachan commented on #1302
right now we have 2 separate wizards for RHOAR and upstream quickstarts; which isn't an awesome UX - wonder if we need a better combined wizard that groks all possible quickstarts with a nice way to filter/choose?

[2017-05-13 18:35] dlabrecq commented on #1285
Yes, the _update page functionality hasn't been merged, yet. However, I was able to change my last name to Làbrécqüê via Keycloak. I even used some Japanese UTF-8 characters, but wasn't able to reproduce the original problem on Chrome.

No errors are generated when parsing the token, before and after my fix, but I'm also not able to reproduce Caron/Hacheck accent characters using the Mac querty ke

[2017-05-15 05:10] naina-verma opened #1303 ""404 Page doesn't exist" should be handle"
"404" Page doesn't exist should be handle

Scenario
For now If user try to browse some random URL's,  the UI is not handling it .

video link :  https://drive.google.com/a/redhat.com/file/d/0B1qUq_laG6COa3JqdVgxMHRBR0k/view?usp=sharing

[2017-05-15 08:48] ppitonak commented on #1285
@dlabrecq I added a comment on #1300, it should be ok to copy&paste problematic unicode characters from here but it would be very strange if Japanese characters work and Slovak don't.

[2017-05-16 06:33] corinnekrych opened #1310 "Fix bad AppModule import"
Introduced by https://github.com/fabric8io/fabric8-ui/commit/1dd644aaae59f238fe5ec5b9051492ffad1d5303
As several AppModule are exported from fabric8-runtime-console, when importing it, we need to be more specific

[2017-05-16 07:13] corinnekrych commented on #1310
already fixed https://github.com/fabric8-ui/fabric8-runtime-console/commit/1772e5602005790aeefeec21f39e6203c9f44795

[2017-05-16 07:13] #1310 closed

[2017-05-16 13:48] joshuawilson commented on #896
As a work around, you can go into the main UI and edit the node_modules of the file at https://github.com/fabric8-ui/ngx-login-client/blob/master/src/app/auth/authentication.service.ts#L147

[2017-05-16 15:59] ibuziuk opened #1311 "Profile -> update profile -> Update tenant does not work"
There are no errors / warning in browser console, just after pressing "Update tenant" button nothing happens

[2017-05-16 16:05] joshuawilson commented on #1311
@aslakknutsen are we still using the Update Tenant feature.

[2017-05-17 10:25] jstrachan opened #1316 "load environment variables from the container at runtime"
right now we are baking environment variables into the docker image via webpack for things like `FABRIC8_FORGE_API_URL`, `FABRIC8_WIT_API_URL`, `FABRIC8_SSO_API_URL`, `FABRIC8_RECOMMENDER_API_URL` and the [stuff in webpack](https://github.com/fabric8io/fabric8-ui/blob/master/config/webpack.dev.js#L26-L31).

This works great for SaaS hosted consoles in, say, pre-prod and prod. But it doesn't work a

[2017-05-17 11:09] jstrachan commented on #578
master should now have the environments page back without the`... /namespace/default/..` issue

[2017-05-17 16:22] jstrachan opened #1318 "after creating a new app, the `Analyze` tab is kinda confusing as you don't really get to see the new app/pipeline"
I wonder if we should default to taking the user to the Create tab (and maybe the Pipelines tag) so users can see their new app being built?

[2017-05-17 17:13] jstrachan commented on #1318
or maybe the wizard should prompt if the user wants to see the new pipeline and/or codebase?

[2017-05-18 04:28] #1220 closed

[2017-05-18 04:29] #1246 closed

[2017-05-18 04:35] #1285 closed

[2017-05-18 13:55] Preeticp opened #1328 "Typos and incomplete content on the landing page for openshift.io"
There seem to be a few typos and incomplete sentences in the content on the OSIO landing/login page. I realize this was done in a hurry, here are a few things I noticed and some suggestions:

1. In the "Makes it simple to create containerized dev, test and staging environments." box:
The sentence: "Pipeline definitions are written using a Groovy DSL providing huge flexibility in how you assemble t

[2017-05-19 10:05] #896 closed

[2017-05-19 14:51] pmuir commented on #1301
Codenvy Factories are relevant here.

[2017-05-22 01:56] joshuawilson opened #1344 "Deleting a space doesn't delete associated pipelines"
_From @fbricon on May 2, 2017 15:22_

After deleting a space, I still have a zombie pipeline still trying to build. It's possible the pipeline state is in a borked state that prevents it from being deleted, I have no idea, but in that case the deletion process should be more robust.

_Copied from original issue: openshiftio/openshift.io#132_

[2017-05-22 01:57] joshuawilson opened #1345 "Invalid link to Home from the pipeline history page"
_From @fbricon on May 2, 2017 15:28_

Clicking on the `Home` link from the Pipeline history (`https://openshift.io/<user>/<space>/create/pipelines/<repo>/history`) page fails:

<img width="946" alt="screen shot 2017-05-02 at 11 25 33 am" src="https://cloud.githubusercontent.com/assets/148698/25625313/2fdc9a12-2f2a-11e7-9a08-2820d0c7e90c.png">

_Copied from original issue: openshiftio/openshift.io#

[2017-05-22 01:59] joshuawilson opened #1346 "Collaborators page has wrong email css when hovering over user"
_From @fbricon on May 2, 2017 16:32_

Minor issue when hovering over a user in the collaborators page
![may-02-2017 12-29-46](https://cloud.githubusercontent.com/assets/148698/25628205/6155f29c-2f33-11e7-9efa-4fc7267093d6.gif)

_Copied from original issue: openshiftio/openshift.io#137_

[2017-05-22 02:00] joshuawilson opened #1347 "Landing page link to user doc 404s"
_From @fbricon on May 2, 2017 16:42_

`Learn more using our documentation.` on the [home page](https://openshift.io/_home) opens https://access.redhat.com/documentation/en-us/red_hat_openshift.io/1/html-single/user_guide which is not reachable

_Copied from original issue: openshiftio/openshift.io#138_

[2017-05-22 02:01] joshuawilson opened #1348 "Developer poll seems hard coded"
_From @fbricon on May 2, 2017 16:50_

Developer poll on https://openshift.io/_home seems hard coded. It resets after the page is reloaded. Seems like a left over mockup piece. Either make it functional or remove it, since the website is now live.

_Copied from original issue: openshiftio/openshift.io#139_

[2017-05-22 02:01] joshuawilson commented on #1348
It was a space filler and there are UX plans to replace it.

[2017-05-22 02:02] joshuawilson opened #1349 "Can't open pipeline view. Navigation fails silently"
_From @fbricon on May 2, 2017 15:0_

See
![may-02-2017 10-59-01](https://cloud.githubusercontent.com/assets/148698/25624121/79471460-2f26-11e7-894a-c7d9fbfa3d61.gif)

_Copied from original issue: openshiftio/openshift.io#130_

[2017-05-22 02:02] joshuawilson commented on #1349
_From @fbricon on May 2, 2017 15:4_

This seems caused by something gone bad on the openshift side I guess. From the chrome dev tools I can see :

[code]
...which is an orthogonal problem. There should be some user feedback, explaining the action can't be done

[2017-05-22 02:02] joshuawilson commented on #1349
_From @fbricon on May 2, 2017 15:10_

Additionally, none of the menus on the left of the pipeline work. Similar errors are shown in the browser console.

Deleting the pipeline fails with:
[code]

[2017-05-22 02:02] joshuawilson commented on #1349
_From @fbricon on May 2, 2017 17:15_

Now, clicking on the Build link, I get a webpack related error

[code]

[2017-05-22 02:04] joshuawilson opened #1350 "Can't delete *-jenkins project in OpenShift"
_From @fbricon on May 2, 2017 18:20_

All projects can be deleted in OpenShift, except for `Project 'fbricon-jenkins'' could not be deleted.User "fbricon@redhat.com" cannot delete projects in project "fbricon-jenkins"`

Behaviour should be consistent for all OpenShift projects

_Copied from original issue: openshiftio/openshift.io#141_

[2017-05-22 02:06] joshuawilson opened #1351 "Creating/Deleting spaces doesn't update the top left menu"
_From @fbricon on May 2, 2017 18:53_

Creating/Deleting spaces doesn't update the top left menu, which can lead to situations like this, where the menu is missing spaces :
<img width="544" alt="screen shot 2017-05-02 at 2 52 05 pm" src="https://cloud.githubusercontent.com/assets/148698/25634021/24711e1a-2f47-11e7-97f1-cf4df5f3b500.png">

_Copied from original issue: openshiftio/openshift.io#142_

[2017-05-22 02:07] joshuawilson opened #1352 "No way to recover from *cough* accidental *cough* OpenShift project deletion"
_From @fbricon on May 2, 2017 19:4_

Because this user doesn't know what he's doing, (following #130 and #141), some critical, missing OpenShift projects prevent new spaces from being operational, even though a git project was successfully created

<img width="469" alt="screen shot 2017-05-02 at 2 56 27 pm" src="https://cloud.githubusercontent.com/assets/148698/25634320/23fb470c-2f48-11e7-9803-f3e

[2017-05-22 02:11] joshuawilson opened #1353 "space count is wrong"
_From @chmouel on May 5, 2017 7:31_

I have played around with openshift.io and creating/deleting around spaces (on openshift.online  or openshift.io).

It seems that the number of spaces available on the tab as seen in the screenshot as I have no spaces but it still list it as 2 :

![image](https://cloud.githubusercontent.com/assets/98980/25736997/a249a0e8-3175-11e7-87e9-60259a7fb133.png)

_Copie

[2017-05-22 02:12] joshuawilson opened #1354 "OpenShift project is not accecible"
_From @chmouel on May 5, 2017 7:35_

Maybe I am missing some things but when creating a new space I am getting this error :

![image](https://cloud.githubusercontent.com/assets/98980/25737056/f85357ae-3175-11e7-88fa-c2a7da49d10b.png)

_Copied from original issue: openshiftio/openshift.io#155_

[2017-05-22 02:22] joshuawilson opened #1355 "Delete on Pipelines has no UI to indicate it is deleting"
_From @burrsutter on May 17, 2017 13:55_

this page https://openshift.io/rhn-engineering-bsutter/myspace/create/pipelines

the delete function
https://www.screencast.com/t/VniafQAW3Ohh

selecting delete seemingly does nothing

https://screencast.com/t/X5jikZYqm

_Copied from original issue: openshiftio/openshift.io#163_

[2017-05-22 02:26] joshuawilson opened #1356 "usability issue, when logged in and visiting the openshift.io main page, where are my projects?"
_From @burrsutter on May 17, 2017 23:4_

https://screencast.com/t/mNVwutZBk

Under "Account Home", but that is not obvious

_Copied from original issue: openshiftio/openshift.io#171_

[2017-05-22 02:26] joshuawilson commented on #1356
_From @omajid on May 19, 2017 16:33_

I had the same issue. I was logged in, didn't see my projects, so I scrolled down to the bottom of https://openshift.io and clicked "Log in" again, which asked for my credentials *again* and then brought me back to https://openshift.io without showing me my projects. I thought "Account Home" was for managing my account, not to actually work on my projects.

[2017-05-22 02:27] joshuawilson opened #1357 "2 OSIO accounts, reusing github account, stuck"
_From @burrsutter on May 20, 2017 23:49_

The screen at https://openshift.io/_gettingstarted?wait=true will simply get stuck if the github account had previously been used with openshift.io.

You will see the experience about half way through this video
http://www.screencast.com/t/2N83qKcaZnR

_Copied from original issue: openshiftio/openshift.io#173_

[2017-05-22 02:32] joshuawilson opened #1358 "Tests java.util.concurrent.TimeoutException"
_From @burrsutter on May 21, 2017 17:17_

Using the Vert.x Basic booster/quickstart, generated by the main wizard (pick your tech stack/pipeline).   The webhook does pick up changes to the repo and kicks off a pipeline.  I have used both the github UI to make a change as well as Che, however, tests always fail with a timeout.

Here is the project:
https://github.com/burrsutter/myvertxbasic10

and

[2017-05-22 02:37] joshuawilson commented on #1222
@rkratky Can you please verify this is still an issue. If it doesn't occur in incognito, then I am going to guess that you won't be able to reproduce it. However, if you are able to reproduce it, please list the steps here.

@mindreeper2420 any ideas?

[2017-05-22 02:41] joshuawilson commented on #1249
This will be solved when we add Orgs and possibly need Role Based Access Control. Currently we are creating a shared space under a "user" not an "org".

[2017-05-22 02:43] joshuawilson commented on #1251
We need to take a deeper look at clean up when we "delete" something like a space.

[2017-05-22 02:56] joshuawilson opened #1359 "springboot basic quickstart fails in pipeline: Server credentials with ID "ossrh" not found!"
_From @rawlingsj on April 29, 2017 12:28_

Looks like there's some default Red Hat distribution details somewhere which means `mvn deploy` is unable to transfer artifacts to the content repo.

Here's the project that was generated https://github.com/rawlingsj/jr-demo111

[code]

_Copied from original issue: openshiftio/openshift.io#110_

[2017-05-22 02:57] joshuawilson opened #1360 "Setup Wizard - Next Button goes nowehre after specifying github repo"
_From @harrymower on April 29, 2017 16:2_

![image](https://cloud.githubusercontent.com/assets/1022371/25556892/b5b9f25a-2cd3-11e7-99b7-a18b31710997.png)

_Copied from original issue: openshiftio/openshift.io#111_

[2017-05-22 02:57] joshuawilson commented on #1360
@mitchharpur please look at this.

[2017-05-22 02:58] joshuawilson opened #1361 "After completing the wizard, the wizard get started menu should close and go back to the dashboard (or somewhere)"
_From @harrymower on April 29, 2017 16:6_

![image](https://cloud.githubusercontent.com/assets/1022371/25556912/3409c888-2cd4-11e7-8cf7-80309bd1089b.png)

_Copied from original issue: openshiftio/openshift.io#112_

[2017-05-22 02:58] joshuawilson commented on #1361
@catrobson Can you look at updating the flow for this?

[2017-05-22 02:58] joshuawilson commented on #1361
_From @catrobson on April 29, 2017 21:10_

Yes, it is supposed to bring you to the space dashboard after completing the QuickStart so you can see your project building.  It is also supposed to do some other things that are currently not implemented, like add your new codebase automatically.  I'll capture a workflow with all of the expected interactions when I get in front of a laptop tonight so we

[2017-05-22 02:58] joshuawilson commented on #1361
@mitchharpur can you take this on when @catrobson completes the designs and flow.

[2017-05-22 02:58] joshuawilson commented on #1361
_From @catrobson on April 30, 2017 3:36_

Flow:
![gettingstarted](https://cloud.githubusercontent.com/assets/3739227/25561223/e86752cc-2d34-11e7-96ed-280f0a0a9ed7.png)

[2017-05-22 02:59] joshuawilson opened #1362 "Doing an import codebase and selecting the default options seems to kick off master builds continually"
_From @pmuir on April 29, 2017 18:46_

It looks like this registers a webhook for all events on github, which in turn is kicking off a build for any change to the github repo, not just pushes to master.

Note that this wizard allows you to select CI as well as build master, which we ticked when importing this repo.

@jstrachan @rawlingsj ^^^

_Copied from original issue: openshiftio/openshift.io#1

[2017-05-22 03:00] joshuawilson opened #1363 "It is possible to create a space without selecting a template"
_From @jfchevrette on May 1, 2017 13:39_

When a user creates a space, the _Template_ drop-down is empty by default. It should not be possible to create a space without a template.

The field should be marked mandatory to make sure the user selects one. We can also select a template by default.

![create-space-empty-template](https://cloud.githubusercontent.com/assets/3001/25580792/ac93a5fc-2e51-1

[2017-05-22 03:01] joshuawilson opened #1364 "Notifications are sometimes hidden behind other overlays."
_From @jfchevrette on May 1, 2017 13:40_

Should we make the notifications appear on top of everything else?

![error-overlay](https://cloud.githubusercontent.com/assets/3001/25580893/3a8ed994-2e52-11e7-9899-ef82e55b31d7.png)

_Copied from original issue: openshiftio/openshift.io#120_

[2017-05-22 03:02] joshuawilson opened #1365 "created jenkinsfile refer to @master of library files"
_From @maxandersen on May 1, 2017 15:23_

generated projects refer to `@Library('github.com/fabric8io/fabric8-pipeline-library@master')` rather than a specific version.

I would have expected a specific version or possibly a branch where only minor issues would be changing ?

_Copied from original issue: openshiftio/openshift.io#123_

[2017-05-22 03:03] joshuawilson opened #1366 "Profile page is an hard coded mockup"
_From @fbricon on May 2, 2017 14:44_

Opening https://openshift.io/fbricon%40redhat.com shows a mockup profile page

<img width="878" alt="screen shot 2017-05-02 at 10 42 46 am" src="https://cloud.githubusercontent.com/assets/148698/25623072/4e3c2686-2f24-11e7-93eb-e8ba54e38dbf.png">

_Copied from original issue: openshiftio/openshift.io#127_

[2017-05-22 03:05] joshuawilson opened #1367 "Creating a new space doesn't filter Github repos properly"
_From @fbricon on May 2, 2017 15:17_

I can't type my repository name in the filter field, it's readonly apparently. Which forces me to scroll through my hundreds of repo.
<img width="572" alt="screen shot 2017-05-02 at 11 13 06 am" src="https://cloud.githubusercontent.com/assets/148698/25624880/ce75c240-2f28-11e7-9ab1-c77d98549774.png">

Moreover, all repositories display the same hard-coded desc

[2017-05-22 03:08] joshuawilson commented on #1201
@mindreeper2420 can you please look into this.

[2017-05-22 03:09] joshuawilson commented on #1255
The profile page is not active yet.

[2017-05-22 03:12] joshuawilson commented on #1256
@rkratky I believe you are correct, it is mis-spelled. It updates the OpenShift Tenant.

@catrobson do you have designs for the "update profile"? Do we keep the "update tenant" button and should we have an explanation as to what it does?

[2017-05-22 03:14] joshuawilson commented on #1260
@catrobson @mindreeper2420 can you please take a look at this.

[2017-05-22 03:16] joshuawilson commented on #1261
closing as this is a dup of https://github.com/fabric8io/fabric8-planner/issues/1848

[2017-05-22 03:16] #1261 closed

[2017-05-22 03:18] joshuawilson commented on #1265
@rkratky is this still an issue? If so, please describe how to reproduce it.

[2017-05-22 03:24] joshuawilson commented on #1279
@jstrachan @mitchharpur What do you think?

[2017-05-22 03:26] joshuawilson commented on #1284
What do you mean by "project"? Is this in OpenShift or are you referring to Space?

What would the user workflow be for the scenario you listed?

[2017-05-22 03:28] joshuawilson commented on #1253
@jstrachan any update?

@mitchharpur what do you think?

[2017-05-22 03:30] joshuawilson commented on #1289
We do have a doc that breaks that down, though it doesn't mean they are fixed yet. Still much work to do there.

https://docs.google.com/spreadsheets/d/1cNSDuek0v1EBPpdPlFwG_Y_yOlux86m9MYf9UrF82l4/edit#gid=208615194

[2017-05-22 03:38] joshuawilson commented on #1293
@fabric8io/uxd What is the design here?

[2017-05-22 03:40] joshuawilson commented on #1302
@fabric8io/uxd What do you think?

[2017-05-22 03:51] joshuawilson commented on #578
@michaelvirgil the Environments page has gone through some changes. Can you please verify this issue?

[2017-05-22 03:52] joshuawilson commented on #1318
@qodfathr @catrobson what do you think?

[2017-05-22 03:53] joshuawilson commented on #1328
This issue was moved to openshiftio/openshift.io#178

[2017-05-22 03:53] #1328 closed

[2017-05-22 08:48] jstrachan commented on #1253
I've added a retry loop around that bit of code. Still not sure why it happens though!

[2017-05-22 08:49] jstrachan commented on #1253
I'm wondering if its some odd networking issue that sometimes the pod loses the ability to talk to github? does seem like bouncing the pod helps too ;) whenever I've seen this, bouncing the pod and it works great again

[2017-05-22 09:24] rkratky commented on #1265
@joshuawilson, yes, it's still an issue. To reproduce: just open in Chrome in a non-incognito window. I removed all configuration and cache and reinstalled the browser to ensure there's no plugin, extension, or history interference. The behavior is still the same.

Google Chrome, Version 58.0.3029.110 (64-bit), Fedora 25.

[2017-05-22 09:50] rkratky commented on #1222
@joshuawilson, yes, still the same. But you're right. I've no idea how to reproduce it. I tried with a clean, freshly installed browser (no history, no extensions), and it's still there.

[2017-05-22 11:40] pmuir commented on #1364
This one is bizarre - if you launch the new space dialog from the context menu (left side) the dialog is behind the notifications, if you launch it from the view, it's in front.

[2017-05-22 11:40] pmuir commented on #1363
The template box is, by design, empty by default. Agreed it should be mandatory.

[2017-05-22 12:07] joshuawilson commented on #1289
For most of the URLs we should NOT redirect to the Login page but only prevent the user from editing. If they want to edit it, they need to login. We need to get @fabric8io/uxd to provide guidance on it.

[2017-05-22 13:11] jstrachan opened #1371 "add a simple code browser/editor UI?"
we used to have this in the old fabric8-console; a way to browse & edit text files in git without firing up a full IDE. Its particularly handy for demos where you can instantly browse and edit code.

more of a long term thing really as it avoids having to wait for the Che workspace/service to come up etc

[2017-05-22 13:43] mindreeper2420 opened #1372 "Update Cache Settings to Match OSIO Marketing"
Update OSIO product to utilize caching changes that are utilized on the marketing page.

OpenShiftio/OpenShift.io PR: https://github.com/openshiftio/openshift.io/pull/176

[2017-05-22 15:21] jstrachan commented on #1359
I raised this issue:
https://github.com/openshiftio/appdev-planning/issues/30

am working on a fix by upgrading to the newer RHAOR release

[2017-05-22 16:06] jstrachan opened #1375 "have a richer 'Open' page for codebases/pipelines?"
I wonder if we need a nicer Open wizard that explains to users how to:

* create a workspace / open in Che
* use IDEA / Eclipse / VS Code
* install git clients and clone from the command line

So rather than having "Open in Che, Open in  IDEA, Open in Eclipse" links in various parts of the UI maybe we should just link to an Open page which lets users one click to open in Che / IDEA then when other

[2017-05-22 19:41] ldimaggi commented on #1284
This is related to the Spaces - where the user adds a project (such as a Vert.X HTTP Booster) to a space. It should be possible for a user to delete a project and by doing so also optionally have the project's assest (pipeline, github repo, etc.) deleted.  Thx!

[2017-05-22 23:55] catrobson commented on #1256
This button was put in and does not follow the UX design for profile.  It was told to me that it would be there only temporarily while we were having profile problems, and then it would be removed.

[2017-05-23 00:02] mindreeper2420 commented on #1372
PR here: https://github.com/fabric8io/fabric8-ui/pull/1373

[2017-05-23 00:22] catrobson commented on #1289
+1 that most of the pages should not re-route to log-in when the user is just viewing and we'll need to ask for log-in only upon edit.  I'll add a story to the UX backlog to designate log-in points across the platform.

[2017-05-23 00:29] catrobson commented on #1318
We need to improve the dashboard to actually show the user what is happening rather than bring them to a different place in the application.  The dashboard should give me an overview of everything going on in the system which it doesn't do a great job of today.  Let's do an ideal design of this and drive towards better data and APIs that can show useful information rather than routing the user som

[2017-05-23 00:37] catrobson commented on #1302
+1 to reconsider the wizard.  UX Issue:  https://github.com/fabric8io/fabric8-ux/issues/444

[2017-05-23 00:39] catrobson commented on #1260
Yup, agreed it is hard to read.  Will get visual input.

[2017-05-23 00:40] catrobson commented on #1293
Will address as part of https://github.com/fabric8io/fabric8-ux/issues/442

[2017-05-23 02:14] joshuawilson commented on #1265
@rkratky can you please specify what the issue is. I don't understand with just the title and screenshots.

[2017-05-23 02:20] joshuawilson commented on #1371
Interesting idea. You may want to also consider one of the many REPLs out there like Plunker as a source of inspiration.

[2017-05-23 02:21] joshuawilson commented on #1359
thanks

[2017-05-23 02:25] donnydavis commented on #1279
I would think its because its out of memory in the meta space
default      1  444  2.9 18011824 2924492 ?    Ssl  02:17  25:57 java -XX:+UseParallelGC -XX:MinHeapFreeRatio=20 -XX:MaxHeapFreeRatio=40 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -XX:MaxMetaspaceSize=100m

Specifically this little fella
XX:MaxMetaspaceSize=100m

This value needs to be increased

Open a shell on your jenkins pods

[2017-05-23 02:26] joshuawilson commented on #1375
@catrobson can you add this to your list of user scenarios that we need to discus / plan

[2017-05-23 02:28] joshuawilson commented on #1284
I agree we need to be able to have the "delete" clean up after it's self.

[2017-05-23 02:30] joshuawilson commented on #1256
@aslakknutsen do you know when we can remove the Tenant button or if we are able to work without it. What needs to happen in the system to not require the user to update their tenant any more?

[2017-05-23 02:31] joshuawilson commented on #1289
Thanks @catrobson

[2017-05-23 02:32] joshuawilson commented on #1318
@catrobson I'm assigning this to you until the designs are ready.

[2017-05-23 02:55] donnydavis commented on #1279
A quick search brings me back to here
https://github.com/openshift/jenkins/blob/master/2/contrib/s2i/run#L65
and here
https://github.com/openshift/jenkins/blob/master/slave-base/contrib/bin/run-jnlp-client#L86

The values are hard coded when the upstream image is built.

I already opened an issue
https://github.com/openshift/jenkins/issues/296

Cheers

[2017-05-23 03:05] donnydavis commented on #1279
It would appear you can override this value by adding this env variable to your dc
JAVA_GC_OPTS

[2017-05-23 03:36] #885 closed

[2017-05-23 03:36] #1043 closed

[2017-05-23 03:36] #1071 closed

[2017-05-23 03:36] #1208 closed

[2017-05-23 05:14] naina-verma opened #1377 "HTML <Titles> should be according to the page content"
HTML <Titles> should be according to the page content
The Title Tag <title></title> should contain appropriate title with respect to page
For example : if The page is for space dashboard , in that case the title should contain "space dashboard" keyword into it.

This is minor enhancement in the pages

[2017-05-23 05:39] joshuawilson commented on #1377
Please be more specific. What are your referring to?

[2017-05-23 06:43] jstrachan commented on #1359
now fixed in openshift.io, the default spring boot http booster works fine here - though you need to be careful changing the source ;) https://github.com/snowdrop/spring-boot-http-booster/issues/42

[2017-05-23 06:43] #1359 closed

[2017-05-23 06:58] jstrachan commented on #1279
@rawlingsj any thoughts?

[2017-05-23 07:05] jstrachan commented on #1371
yeah - in https://github.com/fabric8io/fabric8-console we created a simple UI that looks and feels like navigating around a github repository; but keeping the fabric8 nav bar/UI so you can easily switch between source, pipelines, apps, environments etc. Its kinda handy really; though Che is our IDE - there's times an editor is handy. I still find myself doing some changes just in the github.com si

[2017-05-23 08:12] cescoffier commented on #1358
The root issue is: https://github.com/vert-x3/vertx-web/pull/634

I've a workaround for the booster (until we release the fix).

[2017-05-23 11:34] catrobson opened #1378 "Help link top right should link to documentation"
Help link in username dropdown should link to documentation, not Fabric8 documentation online.  Documentation link location:  https://access.redhat.com/documentation/en-us/red_hat_openshift.io/1/html-single/user_guide.

[2017-05-23 12:20] ldimaggi commented on #1377
I think that Naina is referring to the page's HTML title.

[2017-05-23 13:34] rkratky commented on #1265
@joshuawilson, I've no idea what the underlying issue is. But the screenshot is an actual screenshot of the page as it shows for me -- you'll notice that it doesn't look as it's supposed to.

[2017-05-23 13:37] jstrachan opened #1380 "the Finish button should not need to invoke Validate again if there's been no change"
if you change a field on the first page and tab, it validates. Then if I click `Finish` it validates again. It'd be nice to avoid this extra validation; as validation is kinda slow ;)

[2017-05-23 13:45] mitchharpur commented on #153
fixed

[2017-05-23 13:45] #153 closed

[2017-05-23 13:46] mitchharpur commented on #500
done

[2017-05-23 13:46] #500 closed

[2017-05-23 14:00] jstrachan opened #1382 "space wizard doesn't send the labelSpace property (for the name of the current space)"
I just tried the wizard; I left the default `vertx http boost` choice then entered a new unique name and hit `Finish` on the first page.

Here's the payload thats posted to the `execute` endpoint:

[code]

[2017-05-23 14:09] pmuir commented on #1371
I think the Che team also want to provide an embeddable version of Che... @l0rd

[2017-05-23 15:23] l0rd commented on #1371
@pmuir I'm not sure if Che would fit here. We want to provide 3 flavors of Che:

**osio-ide**: that's openshit.io IDE
**fabric8-ide**: that's osio-ide that can run on your local minishift
**eclipse-che**: upstream Che that is configured to talk with the Docker API directly

And we can have these really quickly.

But, regardless of the flavour, Che is still more than an editor it's a coding workspa

[2017-05-23 15:39] corinnekrych opened #1384 "Routing for invalid URLs: where to go, error page?"
Atm when going to:

* http://localhost:3000/unkownuser/unkownspace => toaster msg to indicate 'unkown/unkown space is not known' used to fail with Exception (see PR to redirect the _home)
* http://localhost:3000/unkownuser/unkownspace/unkownroute =>error in console, validation fails without redirect.

@catrobson Should we redirect to _error page in both cases (note: those are different cases as fa

[2017-05-24 00:55] catrobson commented on #1384
@corinnekrych I think it does make sense from a user's perspective to use the 404 in these cases, and it gives them helpful links to recover from.

[2017-05-24 02:28] #1202 closed

[2017-05-24 06:33] joshuawilson opened #1386 "Profile removes email"
I went into my profile and edited it. I updated the bio. Then I logged out and tried to log back in. My email was removed from my profile and I could not access my account.

[2017-05-24 06:36] alexeykazakov commented on #1386
We will also make sure our API doesn't allow to remove emails - https://github.com/almighty/almighty-core/issues/1340

[2017-05-24 08:21] xcoulon opened #1387 "Use the new `Number` attribute to display a work item number"
Once https://github.com/almighty/almighty-core/pull/1338 has been merged, the work items structure will be changed in the backend and in the REST API: internally, we'll use a `UUID` as the unique identifier of a work item in the whole system, and a new field named `number` will contain the work item's 'natural id' in the parent space. This is the field that should be used in the UI when displaying

[2017-05-24 10:40] rawlingsj opened #1388 "community branding"
we ought to have separate 'fabric8' branding that is used during the npm build of the community image for when the new console is used outside of openshift.io

FWIW fabric8 backgrounds and logos can be found here http://design.jboss.org/fabric8/

[2017-05-24 10:48] rawlingsj commented on #1388
@mindreeper2420 @catrobson @joshuawilson is this easy enough to do?  We want to include the new console in the next community release, it doesn't have to be perfect to start with but I figured we cant release it with the openshift.io branding.

[2017-05-24 12:19] #1382 closed

[2017-05-24 12:28] corinnekrych opened #1390 "Webpack-dev-server is not serving url with dot in it"
I recently change my username from `corinnekrych` to `corinnekrych@redhat.com`, when running in dev mode with a `npm start` i: using webpack-dev-server I run into the issue of a
![screenshot 2017-05-24 14 27 50](https://cloud.githubusercontent.com/assets/1395710/26403098/33d1be76-408d-11e7-808a-f007edb186b2.png)

Similar to https://github.com/angular/angular-cli/pull/2535/files

[2017-05-24 13:30] mitchharpur commented on #118
this code is no longer part of the solution

[2017-05-24 13:30] #118 closed

[2017-05-24 14:42] jstrachan opened #1393 "add a "_notauthorized" page"
when using fabric8-ui on premise such as on minishift the user can login as a user who is not yet approved. On OpenShift.io we redirect to: https://manage.openshift.com/openshiftio which is fine.

However we probably need a little page we can use for on premise that basically says something like...

[code]

[2017-05-24 16:49] alexeykazakov commented on #1393
@jstrachan this redirect URL can be set via ALMIGHTY_AUTH_NOTAPPROVED_REDIRECT env var for the api service.

[2017-05-24 16:53] alexeykazakov commented on #1393
if the env var is not set then a JSON with an error message: "user <username> is not approved" will be return to the browser instead.

[2017-05-24 16:57] rawlingsj commented on #1393
That's interesting, ok so until we have a not authorized page we can use that.  It's crude but explains what's happening rather than the redirect to the red hat developer site.

[2017-05-24 19:22] dlabrecq commented on #1386
I couldn't reproduce the issue -- my email is still available. However, the UI does allow the email to be removed. If the input field changed to an empty string, the email will be deleted when updating the profile.

That said, I made the email required. It can still be changed, but not removed. I also cleaned up some empty profile properties, which may be added when profile attributes are not avai

[2017-05-24 21:00] alexeykazakov commented on #1386
Maybe you couldn't reproduce it because https://github.com/almighty/almighty-core/issues/1340 has been already fixed.

[2017-05-24 21:16] dlabrecq commented on #1386
Possibly, but I've tested this page quit a bit. Changed my bio, full name, etc., but never tried an empty string for the email. Still not quite sure how Joshua removed his email?

[2017-05-25 00:50] catrobson commented on #1388
@rawlingsj is the same sort of header and pages used for the community build?  There is no branding other than the bar right now for the header, but we can swap out the branding on the "Account Home" page.

[2017-05-25 02:06] #1303 closed

[2017-05-25 02:06] #1390 closed

[2017-05-25 02:18] joshuawilson commented on #1378
That link returns a 404 page and after looking around I can't find the correct link there.

[2017-05-25 02:20] joshuawilson commented on #1380
I'm guessing this is for the App Wizard.

[2017-05-25 02:27] joshuawilson commented on #1387
This issue was moved to fabric8io/fabric8-planner#1925

[2017-05-25 02:27] #1387 closed

[2017-05-25 02:27] joshuawilson commented on #1387
This is a task for the Planner team, passed it over to them. cc @michaelkleinhenz

[2017-05-25 02:31] joshuawilson commented on #1393
We have an "error" page that I eventually plan to use for all redirects. It should take the error message and display it. However, how we do this is up to @fabric8io/uxd and @qodfathr

[2017-05-25 07:23] jstrachan commented on #1380
ah yeah sorry! :) this is the app wizard - lemme create a label for that to make it a bit more clear what issues relate to it

[2017-05-25 09:08] rawlingsj commented on #1388
@catrobson yeah I guess what I was thinking is we don't really want the text OpenShift.io appearing in the console when we run it on prem or minishift for example.

Having said that the "Account Home" is certainly the most obvious so I wonder if at build time we can use a different property that replaces the text and background with one that says fabric8 and a wallpaper / banner from http://design

[2017-05-25 09:26] jstrachan commented on #1393
@alexeykazakov thanks for the heads up! I've switched the default now to leave `ALMIGHTY_AUTH_NOTAPPROVED_REDIRECT` blank so it generates the JSON.

Though I prefer having a single static HTML page for not-approved, its a nicer UX; then we can give the user more meaningful nice HTML as to what not approved means and how to work around it (e.g. instructions on how to approve someone in KeyCloak etc

[2017-05-25 11:36] gorkem commented on #1371
This is a scenario we want to support eventually. You can follow up progress on https://github.com/eclipse/che/issues/5006. The trick is to back the embedded widget with a factory which will provide the workspace. I think a factory, combined with the new universal command palette https://github.com/eclipse/che/issues/4993 will be enough to reach all the functionality on the embedded mode. The only

[2017-05-25 17:10] mitchharpur commented on #506
fixed

[2017-05-25 17:10] #506 closed

[2017-05-25 17:11] mitchharpur commented on #919
appears to be fixed

[2017-05-25 17:11] #919 closed

[2017-05-25 20:18] joshuawilson commented on #506
@mitchharpur please reference the PR that it was fixed in, for traceablity.

[2017-05-26 02:25] joshuawilson opened #1403 "Creating a new pipeline collaterally re-recreates deleted pipelines"
_From @sbose78 on May 25, 2017 20:22_

Steps to reproduce :

1. Create space.

2. Create 3-4pipelines

3. I deleted all but 1 from the openshift online webconsole because the the 'delete pipeline' option in openshift.io returned a HTTP 405
[code]

4.  So I tried deleting them from OpenShiftOnline , which worked.
5. I checked the Pipelines page on OpenShift.io , the deleted ones were gone - all goo

[2017-05-26 05:18] joshuawilson commented on #1311
@ibuziuk this works for me. I know that there is no feedback but it does update. You can verify it on OpenShift by checking the version of the tenant.

@aslakknutsen Do you plan for us to keep this button/feature or is there an automated way to handle it. If we keep it can we provide feedback to know that it was updated? Maybe display the version number.

[2017-05-26 05:22] #1188 closed

[2017-05-26 05:26] joshuawilson commented on #390
related #1027

[2017-05-26 09:42] jstrachan opened #1405 "App Wizard: if `KeyCloakFailureException` is returned lets display a button to link the user to the `Update Profile` page"
it seems pretty common that folks have issues with their tokens, leading the forge wizard to throw `io.fabric8.forge.generator.keycloak.KeyCloakFailureException`.

If the error includes that class of exception, it'd be good to default to showing a UI something like:

[code]
then if users click that button it takes them to the Update Profile page. (We can always have a button to let users see the f

[2017-05-26 09:43] rawlingsj opened #1406 "'Connect OpenShift account' button doesn't work"
My OpenShift token timed out or something so I wanted to re-connect it.  Clicking the button doesn't seem to have any affect.

![screenshot 2017-05-26 10 42 44](https://cloud.githubusercontent.com/assets/1457180/26489643/17bccb76-4200-11e7-998f-1ddc9357bd92.png)

[2017-05-26 09:46] sbose78 commented on #1406
@dlabrecq could you please take a look? I see, no requests are being sent to the backend for these 2 buttons.

[2017-05-26 09:58] rawlingsj commented on #1406
@alexeykazakov @aslakknutsen it's probably a separate discussion but I'm wondering if we can automate the openshift token refresh?  That would prevent the error altogether and avoid users having to take this manual step?

[2017-05-26 10:06] ibuziuk commented on #1311
I pressed the button and tenant seems to be updated. However
`oc get pod che-1-o jsonpath='{.Labels.version}'` returns 1.0.155
and the latest version now is 1.0.160

[2017-05-26 11:05] ibuziuk commented on #1311
[code]
This fixed now - was able to update tenant to 1.0.60 via button

[2017-05-26 13:46] dlabrecq commented on #1406
Those particular buttons appears to be from the old profile page. Until a couple days ago, the new profile page had not been merged to prod, only prod-preview. However, I just checked prod and the lastest profile page is available now.

[2017-05-26 13:52] dlabrecq commented on #1406
FYI, if you had logged out successfully, the user should be redirected to the getting started page upon a new login. The getting started page asks the user to link their accounts.

[2017-05-26 13:59] dlabrecq commented on #1259
This is an old profile page and that functionality was not implemented, just hard coded.

As of today, the latest profile page is available in prod. Note there is no longer a count in the tab as we are using infinite scroll.

[2017-05-26 13:59] #1259 closed

[2017-05-26 14:00] dlabrecq commented on #1257
This is an old profile page and that functionality was not implemented, just hard coded.

As of today, the latest profile page is available in prod.

[2017-05-26 14:00] #1257 closed

[2017-05-26 14:01] dlabrecq commented on #1255
This is an old profile page and that functionality was not implemented, just hard coded.

As of today, the latest profile page is available in prod. Note that the pen icons have been removed as they are not used in the latest mockups.

[2017-05-26 14:01] #1255 closed

[2017-05-26 14:02] dlabrecq commented on #860
As of today, the latest profile page is available in prod.

[2017-05-26 14:02] #860 closed

[2017-05-26 14:03] dlabrecq commented on #805
As of today, the latest profile page is available in prod.

[2017-05-26 14:03] #805 closed

[2017-05-26 14:03] dlabrecq commented on #612
The latest profile page is available in prod.

[2017-05-26 14:03] #612 closed

[2017-05-26 14:18] dlabrecq commented on #1258
This is an old profile page, which was not fully implemented. The home link has since been fixed and the latest button reads "Get Started" per UX mockups.

That said, the button navigation has been fix by https://github.com/fabric8io/fabric8-ui/pull/1408

[2017-05-26 16:28] joshuawilson commented on #1311
@aslakknutsen can we get an API that will return the version? That way we can display it.

[2017-05-26 18:06] alexeykazakov commented on #1406
OSO doesn't support token refresh. But we could re-link users OSO account which should obtain a new valid OSO token for the user - https://github.com/almighty/almighty-core/issues/1351
We should make sure we have all needed API on the SSO/API service side then we can address it on the UI level.

[2017-05-26 20:18] pmuir opened #1410 "Markdown not rendering on pipelines selector page"
https://www.screencast.com/t/wwDelL9ujE

[2017-05-26 20:47] #1258 closed

[2017-05-27 00:26] aslakknutsen commented on #1311
@joshuawilson yea, WIP

[2017-05-27 00:27] joshuawilson commented on #1311
thanks

[2017-05-29 08:50] sbose78 opened #1414 "Forge Quickstart : should show the jenkins 'repository' url"
At the end of the _Add pipeline using the quickstart_ wizard,  after forge setups everything in jenkins :

Instead of showing *only* the **organization url** which currently looks like https://jenkins-shbose-jenkins.8a09.starter-us-east-2.openshiftapps.com/job/sbose78

...the box should *also* show the exact **repository url** which should be something like
https://jenkins-shbose-jenkins.8a09.star

[2017-05-29 13:16] sbose78 commented on #1017
This has been fixed here https://github.com/fabric8io/fabric8-ui/pull/1062/files#diff-28519934ef78f3a7270b64304cb53b39R178

[2017-05-29 13:16] #1017 closed

[2017-05-30 19:40] joshuawilson opened #1417 "Not working "Plan out my space" and "Create new code from scratch" in welcome popup"
_From @danieloh30 on May 29, 2017 13:37_

During creating new space, we can see the popup window as below screenshot. But when we click icons related to "Plan out my space" and "Create new code from scratch", it's not working but only "Import exist code" and "Select technology stack and pipeline" .

![screenshot from 2017-05-29 22-33-37](https://cloud.githubusercontent.com/assets/14066977/26551742

[2017-05-31 18:56] ldimaggi commented on #1214
Update - More recently - this error is being seen:

Could not start workspace htuksoxr. Reason: Start of environment 'default' failed. Error: No Route with label deployment=che-ws-20vzpjk75mk8sm1n could be found

[2017-05-31 19:11] ldimaggi commented on #1214
I was just able to resolve the "no route" error by deleting builds, services, etc. in Che through the OpenShift web console - the problem was the result of previously failed tests that left assets in an unsuable state? The difficulties with this issue are that it is (1) intermittent, (2) difficult to debug, and (3) difficult to avoid.

[2017-05-31 20:29] #862 closed

[2017-06-01 17:28] dgutride opened #1425 "Unable to view more than 20 collaborators"

[2017-06-01 18:31] #1425 closed

[2017-06-01 19:33] #1256 closed

[2017-06-01 20:49] joshuawilson opened #1434 "Can't open with Firefox on a Mac"
_From @luebken on June 1, 2017 9:32_

Trying to open with Firefox on a Mac I got the following error:

[code]
<img width="1637" alt="screen shot 2017-06-01 at 11 29 40" src="https://cloud.githubusercontent.com/assets/53055/26673645/ee11faf4-46bd-11e7-83a7-1b7b2f20c2e9.png">

_Copied from original issue: openshiftio/openshift.io#188_

[2017-06-01 20:49] joshuawilson commented on #1434
_From @maxandersen on June 1, 2017 11:21_

I don't get unresponsive script - I just don't get it loading at all on Firefox. Very weird.

Works for me in Chrome and Safari which would be the workaround.

Can you tell me if that works for you ?

also, I just used openshift.io - did you try another url ?

[2017-06-01 20:49] joshuawilson commented on #1434
_From @luebken on June 1, 2017 12:7_

I was able to reproduce it: I opened the pipeline history in a new tab.

<img width="1677" alt="screen shot 2017-06-01 at 14 05 04" src="https://cloud.githubusercontent.com/assets/53055/26678986/7f65ccbe-46d3-11e7-9d45-524e27dfd2fa.png">

[2017-06-02 02:52] ldimaggi opened #1435 "Creating a new project can fail to start the pipeline - unclear what the cause is - no cause is logged or reported to user"
In the past, creating a new project/application ("add to project") would create a pipeline and then start it. As of today, the pipeline is still created, but it is not automatically being started - is this intentional?

[2017-06-02 14:13] joshuawilson commented on #1435
@mitchharpur @jstrachan do you know what happened here?

[2017-06-02 14:51] jstrachan commented on #1435
does the webhook get correctly created on your github project? Are there any errors in the github webhook page when its tried to trigger your jenkins?

[2017-06-02 16:54] joshuawilson opened #1436 "Pipelines view blank"
_From @luebken on June 2, 2017 14:9_

- I've switched to the pipelines tab.
- Started a new pipeline via the kebab menu.
- As nothing happend I refreshed the page.
- The resulting page was blank.

<img width="1348" alt="screen shot 2017-06-02 at 16 03 28" src="https://cloud.githubusercontent.com/assets/53055/26729419/dc4a9a1a-47ad-11e7-9f31-6e33cdbc2890.png">

_Copied from original issue: openshif

[2017-06-05 08:04] jstrachan commented on #1436
My guess is its an openshift token issue - logging out and in again (or reconnecting your openshift account) will fix it.

I wonder what gets returned on the Network tab if you filter with `buildconfigs` - it looks like HTML or something is being returned instead of JSON from the error log.

I've no idea why the openshift tokens keep going stale though - its a bigger issue really - we need to stop

[2017-06-05 08:04] jstrachan commented on #1435
@ldimaggi see above

[2017-06-05 08:08] jstrachan opened #1440 "on the new app quickstart wizard, if you type a name then hit Finish it validates but doesn't finish"
So you have to hit Finish twice and it then validates twice.

I think if you tab out of the field, you can then hit Finish and it works OK though

[2017-06-05 10:21] jstrachan opened #1441 "App Wizard: hide the 'labelSpace' and 'kubernetesSpace' properties on the `Select a build pipeline strategy` wizard tab"
I'm just about to move these 2 properties to the ChoosePipelineStep wizard step to fix the spaces / labels issue so they now appear at the bottom of the UI as shown below. Lets hide them if they are there too (like we do currently on the next step)
<img width="887" alt="fabric8" src="https://cloud.githubusercontent.com/assets/30140/26780320/26c6287c-49e1-11e7-8f5a-e0a5ea1c4b6f.png">

[2017-06-05 10:31] jstrachan commented on #1436
if its your openshift token thats no longer connected you could try relink your openshift token:

* click on your user name (top right) and a drop down occurs
* select Profile
* click "Update Profile" button on the top right
* click the "Connect OpenShift" button near the bottom of the page

If that doesn't work/fix it, you could try
* go to this URL:  https://sso.openshift.io/auth/realms/fabric8/

[2017-06-05 10:33] pkettman commented on #1436
My pipelines list is unexpectedly blank as well, but but different errors in the JS console.
![obrazek](https://cloud.githubusercontent.com/assets/26871874/26780673/1db8550c-49eb-11e7-9451-09ead7462943.png)

[2017-06-05 10:45] jstrachan commented on #1436
through chat it turned out that @pkettman's openshift identity wasn't even connected to his keycloak account as the 'Remove' button didn't appear here https://sso.openshift.io/auth/realms/fabric8/account/identity

[2017-06-05 12:01] catrobson commented on #1441
UXD has a story to look at the whole wizard, but in the meantime this is a bit of a visual mess to look at and understand what is happening.  Some suggestions below.

![pipelinestrategypage](https://cloud.githubusercontent.com/assets/3739227/26783243/31a3025e-49c5-11e7-95e8-f89cb79e5f03.jpg)

[2017-06-05 12:37] ldimaggi commented on #1435
Closing as non-reproducible - whatever the issue was on Friday - it's not there now.

[2017-06-05 13:59] jstrachan commented on #1403
this is a known issue with the jenkins-sync-plugin; we'll hopefully have a fix soon

[2017-06-05 14:28] chmouel opened #1442 "Conflict between keycloak username and OSIO username"
We are trying to investigate why the UI on OSIO is trying to create things as _cboudjna-_ when my username is _chmouel_ from the UI.

We have updated the keycloak information to make sure it's configured as cboudjna as show on this screenshot

![image pasted at 2017-6-5 16-07 1](https://cloud.githubusercontent.com/assets/98980/26787816/93482426-4a0b-11e7-967d-4528cadc97b1.png)

after logout/login

[2017-06-05 14:38] jstrachan opened #1443 "when we deploy an app and we're out of quota we get a spinner which can be confusing"
here's an example:
<img width="1053" alt="fabric8_and_keycloak_account_management" src="https://cloud.githubusercontent.com/assets/30140/26788360/d53568dc-4a04-11e7-8927-90e9bc4939f5.png">

in this case we've created a Deployment with a replica count of 1 but no pods have been started yet. So we show a spinner. But when no pods have actually started; we maybe should show some kind of indication to

[2017-06-05 14:38] jstrachan commented on #1443
this is related too https://github.com/fabric8-ui/fabric8-runtime-console/issues/490

[2017-06-05 15:26] sbose78 commented on #1442
After login/logout, the keycloak username does not get sync'd because currently we only sync from OSIO --> Keycoak and not the other way around.

The initial username is stored in the api.openshift.io backend.

[2017-06-05 15:40] alexeykazakov commented on #1442
Users are not supposed to use KC UI at all and specially for updating their profiles. We will block KC UI for users later.
But anyway, in this case the login-logout didn't help. @sbose78 could you please take a look why?

[2017-06-05 15:48] sbose78 commented on #1442
We don't update the username, we only update full-name, email and avatar.

https://github.com/almighty/almighty-core/blob/master/login/service.go#L700

[2017-06-05 16:34] joshuawilson opened #1445 "Pipeline(s) not shown after creation over 'Add to Space'"
_From @pkettman on June 5, 2017 14:30_

Steps:
Created a new project/codebase over 'Add to Space' with a selected pipeline
The pipeline is not available in OSIO Pipelines list

Reason:
The OSIO codebase was not linked to an expected default namespace pkettman, but to namespace pke-test1, which I had created previously while I testing the OSO.

https://gist.github.com/pkettman/b722228ae7bb67f282a7d

[2017-06-05 16:35] joshuawilson opened #1446 "Can't remove a codebase"
_From @pkettman on June 5, 2017 14:43_

The codebases can't be removed over the OSIO GUI. When I clean them on OS over its concole, the OSIO GUI looks strange, see the picture.
![obrazek](https://cloud.githubusercontent.com/assets/26871874/26788622/235fabb8-4a0e-11e7-9a1a-9b933852477b.png)

_Copied from original issue: openshiftio/openshift.io#192_

[2017-06-05 17:41] rawlingsj commented on #1445
FWIW we worked around the issue by manually deleting the `pke-test1` openshift project and created a new one `oc new-project pkettman` but note this is not a solution.

[2017-06-05 18:12] alexeykazakov commented on #1442
Related to https://github.com/almighty/almighty-core/issues/1366

[2017-06-05 18:24] ldimaggi commented on #1435
Actually - the issue is still there for the almightytest account. We thought that the problem was caused by a quota violation, but resolving that quota issue did not clear up the problem.

Creating a new project ("add to space") creates a new pipeline, but that pipeline is not started.

The latest details are:

Pipeline definition in OSIO:
https://openshift.io/almusertest1/testjun51496685779384/cr

[2017-06-05 19:20] joshuawilson commented on #1445
@rawlingsj do you have a proposed solution?

[2017-06-05 19:36] rawlingsj commented on #1445
No proposed solution, my suggestion of deleting the existing users home namespace and recreating one which matched the username in keycloak worked but asking folks to do this themselves seems extreme.

I guess when a user signs up with openshift.com they can choose their namespace name via `oc new-project foo` as long as it's unique where as openshift.io expects it to match their username in keycl

[2017-06-05 19:44] joshuawilson commented on #1445
maybe @alexeykazakov should be involved in this too

[2017-06-05 20:02] rawlingsj commented on #1435
These are the forge logs for that test project, not sure if its the cause but there is an ERROR here:
[code]

[2017-06-05 22:20] ldimaggi commented on #1435
An error is listed - the indication is that the job was not triggered - but the reason for the failure is not indicated in the log - is there some way of determining the root cause of the error?

�[0m�[31m2017-06-05 18:03:57,417 ERROR [io.fabric8.forge.generator.kubernetes.CreateBuildConfigStep] (default task-54) Failed to trigger job https://jenkins-almusertest1-jenkins.8a09.starter-us-east-2.ope

[2017-06-05 22:29] alexeykazakov commented on #1445
Actually the init tenant service creates namespaces based on the OSO username. Not the Keycloak one. But currently the keycloak username == OSO username == developers.redhat.com username. We should improve our tenant namespace management in OSIO.

[2017-06-05 22:38] rawlingsj commented on #1445
But in this case @pkettman already had an openshift.com account and had created a namespace called `pke-test1` which doesn't equal any username.  Therefore when @pkettman signed into openshift.io there's an incorrect assumption in the UI that the user had a namespace of `pkettman`.

To work around the issue we deleted the `pke-test1` and manually created a new one `pkettman` with oc new-project bu

[2017-06-05 23:01] alexeykazakov commented on #1445
I'm not sure what approach is better here. Ideally we should support existing namespaces I guess.
cc: @aslakknutsen @qodfathr.
What I'm saying is that it's rather an issue of how we manage namespaces. It's not related to SSO.

[2017-06-06 03:47] #1441 closed

[2017-06-06 09:26] jstrachan opened #1449 "changing spaces via the context drop down; should that keep on the same page but just change the space?"
if I'm on the Codebases / Pipelines / Apps / Environments page and switch between 2 spaces I'd have thought the UI should stay on the same space; not always go to the space overview page. Otherwise to switch between 2 spaces when looking at something in the Create site, we have to then navigate to Create then navigate to the tab we were on which feels clunky.

@catrobson does that sound a more nat

[2017-06-06 13:58] jstrachan opened #1452 "overlaying text on the pipelines dashboard widget"
see https://screencast.com/t/hPkaRG7SYsZ

[2017-06-06 14:27] mitchharpur commented on #541
this is now implemented

[2017-06-06 14:27] #541 closed

[2017-06-06 18:13] joshuawilson commented on #1449
I do like that idea. If I'm planning and I need to add an issue to another space it would be better if the context switcher just switched the context and not my view too.

I think the question we need to ask (and answer) is this; Why would a use change spaces?

[2017-06-06 18:30] joshuawilson opened #1454 "Service "12-vertxbasic" is invalid: metadata.name: Invalid value:"
_From @burrsutter on June 6, 2017 13:20_

Projects that begin with numbers fail in the Integration Test phase of the Jenkins build.

https://gist.github.com/burrsutter/f48fac019c3e3b371d9f51b9b212ee91

Workaround is to put the numbers later in the string like "vertx12basic".  The reason I moved the numbers earlier in the string is because the back end of the string is cut-off in the UI.

https://s

[2017-06-06 18:30] joshuawilson commented on #1454
_From @jstrachan on June 6, 2017 13:23_

yeah - the wizard should disallow project names starting with numbers as they are invalid as kubernetes names for things like services

[2017-06-06 18:34] joshuawilson opened #1455 "Space dashboard (Analyze), width of Codebases too narrow, vertical too short"
_From @burrsutter on June 6, 2017 15:2_

https://screencast.com/t/eLrhN87RCJ

My codebase list is too narrow and too short, it should also be sorted by last accessed date descending (most recent up top).

The current UI widget is essentially useless

_Copied from original issue: openshiftio/openshift.io#197_

[2017-06-06 18:34] joshuawilson opened #1456 "Create, codebases UI should be sorted, most recent"
_From @burrsutter on June 6, 2017 15:23_

https://screencast.com/t/lukyPpyId

Unclear what the current sorting criteria are
The drop-down list box and the ascending/descending UI do nothing
https://screencast.com/t/tLNChNkpVmB

_Copied from original issue: openshiftio/openshift.io#198_

[2017-06-07 01:26] joshuawilson opened #1460 "create workspace sometimes never changes its label"
_From @burrsutter on June 6, 2017 23:41_

After a dozen tests today, I found the Create Workspace "button" does not always switch to Open Workspace after the workspace is created.
http://www.screencast.com/t/wUNyuvKlYXBk

my workaround is to find the Che URL and navigate to the workspace via the Che Dashboard
https://screencast.com/t/PhVMVAfr

_Copied from original issue: openshiftio/openshift.io#

[2017-06-07 01:27] joshuawilson opened #1461 "Che: context assist HTTP 401"
_From @burrsutter on June 6, 2017 23:49_

https://screencast.com/t/549bv3F2

Using the Vert.x Basic template and
router.
looking at the methods of the Vert.x router - they all pop-up HTTP 401

_Copied from original issue: openshiftio/openshift.io#201_

[2017-06-07 16:54] joshuawilson opened #1466 "Springboot CRUD quickstart failed to build"
_From @luebken on June 7, 2017 10:28_

Reproduce:
* Add new project to space via quickstart
* Select Springboot CRUD
* Build in pipeline fales.

This is the repo that I worked with: I've created: https://github.com/luebken/test-springboot-crud

This is the of my jenkins log:
[code]

_Copied from original issue: openshiftio/openshift.io#204_

[2017-06-07 17:39] joshuawilson opened #1467 "Jenkins: java.lang.OutOfMemoryError: Metaspace"
_From @burrsutter on June 7, 2017 17:16_

https://gist.github.com/burrsutter/8ec379579b07115df5e017a2a0cd45cf
workaround, restart the Jenkins pod
oc scale dc/jenkins --replicas=0 -n burrsutter-jenkins
oc scale dc/jenkins --replicas=1 -n burrsutter-jenkins

_Copied from original issue: openshiftio/openshift.io#206_

[2017-06-07 18:58] jstrachan commented on #59
I think this issue is fixed now

[2017-06-07 18:58] #59 closed

[2017-06-07 19:00] jstrachan opened #1470 "lets add a real real time status UI that shows the status and version of the tenant services"
here's a screenshot of my current prototype - PR on its way shortly
<img width="314" alt="fabric8" src="https://user-images.githubusercontent.com/30140/26896220-e8cacf8c-4bbb-11e7-8850-749afebe3ab4.png">

[2017-06-07 19:16] joshuawilson commented on #1470
@jstrachan currently @pmuir is working on the Status, maybe he can add this to it.

[2017-06-07 19:19] pmuir commented on #1470
My status API is more for the shared services rather than the tenant services.

Shouldn't the version numbers go the About dialog?

[2017-06-07 19:23] jstrachan commented on #1470
Maybe we can combine efforts then (phew glad we were not reimplementing the same thing ;).

I put the version in there too as finding the version and the status require the same kinda thing (finding the pod/deployment) for tenant stuff; but happy to hide the version and add to the about if you prefer. Should be easy to refactor the controller that groks the tenant status information into a service

[2017-06-07 19:24] jstrachan commented on #1470
The tenant service stuff is actually much much harder; e.g. finding out the tenant namespace/entity isn't possible from the router on the home page for example :)

[2017-06-07 19:25] pmuir commented on #1470
Yep - add it to about.

Agreed on the controller, mine is super simple on the UI side, so just PR yours and I can fit around it.

[2017-06-07 19:26] pmuir commented on #1470
Yes, tenant status stuff is the hard bit. SG has some tenant info on his status API but need to talk to him to find out more.

[2017-06-07 20:42] jstrachan commented on #1470
here's the PR which hopefully gets built soon with my minor PR for fabric8-ui to use this new widget
https://github.com/fabric8-ui/fabric8-runtime-console/pull/501

[2017-06-07 22:49] rawlingsj commented on #1470
from the snapshot build deployed at https://fabric8-ui-fabric8-ui-pr-501-fabric8-runtime-console.int.rdu2c.fabric8.io - the status works great!

I wonder if there's a middle ground to the discussion above, rather than having
foo : version 1.2.3
we had
foo : 1.2.3
i.e. omitting the word 'version' so it looks cleaner but keeps the quick indication of what version is running?

Also while users seem t

[2017-06-08 02:22] joshuawilson commented on #1470
I like that idea @rawlingsj

[2017-06-08 08:08] chmouel commented on #1442
This seems to be fixed for me as I don't have any errors anymore, I think we can close this

[2017-06-08 08:24] jstrachan commented on #1470
I like it; I did wonder if we detect there's a new version we should show the `Update Tenant` button too.
Though I guess ultimately we'll be automatically upgrading tenants for the user; so it'll just happen in the background anyways?

[2017-06-08 08:36] jstrachan commented on #1470
@rawlingsj the next PR build will have the `version` text removed and a tool top added in case folks wonder what the number is ;)

[2017-06-08 09:31] rawlingsj commented on #1470
I like it!

![status-img](https://user-images.githubusercontent.com/1457180/26921975-94b805e8-4c35-11e7-90de-e460413c48f1.png)

[2017-06-08 11:04] sbose78 commented on #1470
This looks awesome @jstrachan !
Would there be a way to convey that we are using "Jenkins 2" with 'our distribution' version of '3.0.31' ?

[2017-06-08 11:05] jstrachan commented on #1470
we only use jenkins 2 ;) so I guess that could go on the About page?

[2017-06-08 13:13] #1442 closed

[2017-06-08 13:58] joshuawilson opened #1475 "Space Applications Dashboard never populates (despite the Applications tab populating)"
_From @burrsutter on June 8, 2017 9:41_

on the Analyze/Space Dashboard
https://screencast.com/t/LodwWToA9J
https://screencast.com/t/ZkGecTDMc

_Copied from original issue: openshiftio/openshift.io#209_

[2017-06-08 17:06] jstrachan commented on #1449
because you're working on different apps in different spaces and you want to switch between them (either planning / codebases / pipelines / apps / environments)

[2017-06-08 19:49] ldimaggi opened #1479 "Quickstart - Import Code fails with 400 error"
Performing "Add to Space" and selecting "Import Code" fails.

This git repo was used: https://github.com/almightytest/vertxbasic23

Screenshot  sequence:

![screenshot from 2017-06-08 15-21-17](https://user-images.githubusercontent.com/642621/26947724-b6c605f0-4c61-11e7-8e31-3d1d631521e4.png)

![screenshot from 2017-06-08 15-21-37](https://user-images.githubusercontent.com/642621/26947735-be8b91ba

[2017-06-09 12:15] jstrachan opened #1483 "review the Apps page UX"
we may wanna polish it a bit etc.

I like [this demo](https://drive.google.com/file/d/0B-T8vwICvu2MTDV5M25tTURoOUU/view)that Jorge pointed us at:

<img width="1364" alt="osepipelinedashboard_export_mp4_-_google_drive" src="https://user-images.githubusercontent.com/30140/26974931-8248f864-4d15-11e7-8add-12badc4fe0ed.png">

so we could add the (optional) Promote button on the right. Then adding more

[2017-06-09 12:15] jstrachan commented on #1483
+ @catrobson

[2017-06-09 13:37] corinnekrych commented on #1345
@joshuawilson I don't see any breadcrumbs like in screenshot beside according to
https://github.com/fabric8io/fabric8-ui/blob/master/src/app/create/pipelines/pipelines-routing.module.ts
there is no https://openshift.io/<user>/<space>/create/pipelines/<repo>/history
actually clicking on the repo itself forward to 404
should we close this issue?

[2017-06-09 16:31] #1351 closed

[2017-06-09 16:48] joshuawilson commented on #1345
@corinnekrych I think we either need a new issue for what you recorded or fix that first and then see if we still have the recorded bug.

@fbricon can you still reproduce this issue?

[2017-06-09 16:51] joshuawilson opened #1485 "Create Space workflow does not throw you into the new space"
_From @burrsutter on June 9, 2017 14:44_

Video
https://screencast.com/t/1q2lHgdfl

By default, it left me in my old space.  Granted, I canceled out of the Add to Space wizard but that should still have put me into the new added space

_Copied from original issue: openshiftio/openshift.io#213_

[2017-06-09 16:52] joshuawilson opened #1486 "Plan out my space appears to be a dead button"
_From @burrsutter on June 9, 2017 14:45_

And since it is first in the list, that is going to be very confusing to the new end-user
https://screencast.com/t/3B8NL94gq

_Copied from original issue: openshiftio/openshift.io#214_

[2017-06-09 16:53] joshuawilson opened #1487 "Create a new Starter project, Create a new Quick start Project"
_From @burrsutter on June 9, 2017 14:48_

https://screencast.com/t/3B8NL94gq

These two buttons appear to lead to the same place, therefore one of them is superfluous.

I believe the rightmost Quick start option is the most important and therefore should be left-most (most of our end-users will read and prioritize left-to-right).

_Copied from original issue: openshiftio/openshift.io#215_

[2017-06-09 16:55] fbricon commented on #1345
Still there on openshift.io: https://www.screencast.com/t/4B0OTyDOMDa

[2017-06-09 17:00] ldimaggi opened #1488 "New project creation fails - Fabric8ForgeService raises 500 error code"
Steps to reproduce:
* Creaet new space
* In that space - "add to space" - creaet a new project - accept all defaults (basic Vert.X)
* Project creation fails - this error is returned to the user:

[code]

Everything in openshift looks OK - other than the Jenkins pod log shows this error:

[code]

[2017-06-09 20:27] ldimaggi opened #1489 "Quickstart - Import code - repo search drop-down does not allow user to modify search string"
The user is not able to specify a search string for the repository drop down. As a result, all the user's repos are displayed. If a user owns a large number of repos, searching through the list can be cumbersome.

![screenshot from 2017-06-09 16-25-31](https://user-images.githubusercontent.com/642621/26993310-89083fdc-4d30-11e7-88ac-720690632c13.png)

[2017-06-09 20:30] ldimaggi opened #1490 "Quickstart - Import code - repo search drop-down lists repos to which the user does not belong"
See the attached screenshot - we noticed this with Burr Sutter's account - repos to which he is not a member 9 such as RHEL7 related repos - were displayed:

![screenshot from 2017-06-09 15-55-07](https://user-images.githubusercontent.com/642621/26993393-d5a81ccc-4d30-11e7-853c-441dcfa8c1dc.png)

[2017-06-09 21:03] ldimaggi opened #1491 "Quickstart - Import code - different users are seeing different import options"
See the atatched screenshots - it looks the user is asked to specify an organization, only if the user is already in one or more github organizations:

![screenshot from 2017-06-09 15-53-21](https://user-images.githubusercontent.com/642621/26994392-7ac8f844-4d35-11e7-8af0-6d917dc271f7.png)
![screenshot from 2017-06-09 15-50-00](https://user-images.githubusercontent.com/642621/26994393-7acd86ac-4d3

[2017-06-11 18:39] ldimaggi commented on #1491
The same problem is being seen tody - even though the "almightytest" user us now a member of 2 organizations.

What is the threshold for a user account to trigger/see the organization option when importing code for a new project? Thx!

[2017-06-11 18:43] burrsutter commented on #1491
Here are my organizations - what openshift.io sees and what is on github are not in sync
<img width="559" alt="github_organizations" src="https://user-images.githubusercontent.com/378310/27013568-4144332e-4eb4-11e7-8d47-040ac3fb9f53.png">
<img width="901" alt="import_organizations" src="https://user-images.githubusercontent.com/378310/27013567-4140105a-4eb4-11e7-8929-dafe898c7d55.png">

[2017-06-11 18:47] burrsutter commented on #1491
And the repository name pattern drop-down list is not accurate for the organization I picked on the first step.  The burrsutter organization does not have these repositories

<img width="896" alt="repository_name_pattern2" src="https://user-images.githubusercontent.com/378310/27013594-c1a8e686-4eb4-11e7-96dc-ef4901c44327.png">

[2017-06-12 02:07] joshuawilson commented on #1345
@fbricon do you have a way to see that without Flash?

[2017-06-12 03:17] joshuawilson commented on #1348
@catrobson what do you want here instead?

[2017-06-12 12:36] corinnekrych commented on #1488
@ldimaggi locally with the latest code from fabric8-ui I from master, I can create a quickstart ok.
I don't think this is an issue for fabric8-ui.

[2017-06-12 12:36] #1488 closed

[2017-06-12 12:44] joshuawilson commented on #1345
@catrobson can you tell us what this should do since we can't repoduce it and don't know which way to make it go?
@jstrachan do you remember what it is supposed to do?

[2017-06-12 12:47] corinnekrych commented on #1345
This path https://openshift.io/<user>/<space>/create/pipelines/<repo>/history is not valid any more in the router. We can't even go to:
https://openshift.io/<user>/<space>/create/pipelines/<repo>, an error page is displayed. what should be the correct behaviour? Should be have a link on pipe and then one on pipe history or should we disable the link on pipe all together?

[2017-06-12 13:14] naina-verma opened #1496 "Unable to "create Workspace" 504 gateway timeout"
Unable to "create Workspace"  504 gateway timeout
Video link
https://drive.google.com/a/redhat.com/file/d/0B1qUq_laG6COYTg5QkFDa3VDaGc/view?usp=sharing

[2017-06-12 13:38] joshuawilson commented on #1345
@corinnekrych it looks like you have 3 slashes in the middle of the URL, is that intentional?

[2017-06-12 13:45] corinnekrych commented on #1345
@joshuawilson sorry md issue, I've fixed it.

[2017-06-12 13:52] fbricon commented on #1345
@joshuawilson HIH

![jun-12-2017 09-51-29](https://user-images.githubusercontent.com/148698/27037064-c7b51928-4f54-11e7-837a-d8eac105608a.gif)

[2017-06-12 14:09] mindreeper2420 opened #1497 "Update Gulp Scripts"
Update Gulp Scripts to build less files, move images/fonts and consume node_modules for frameworks (PatternFly, Bootstrap and Font Awesome). Convert Webpack scripts to Gulp scripts, where appropriate.

[2017-06-12 18:20] ldimaggi opened #1498 "Repository name pattern - for a user account continuously appends new project names until user is unable to create new project"
Test user account 'almighytest' is currently unable to create a new project. The error logged in the Forge log (see below) indicates that a read attempt is being made on a closed socket.

I am not able to recreate this error with other accounts - it looks like this user account is hitting a path that other accounts are not.

![screenshot from 2017-06-12 14-16-18](https://user-images.githubusercont

[2017-06-12 18:33] ldimaggi opened #1499 "New project creation should be in a transaction - so that users are not left to "clean up" after a failure"
If user attempts to add a new project to a space, and project creation fails, the user can be left with unwanted assets (github repo, pipeline, etc.)

See:  https://github.com/fabric8io/fabric8-ui/issues/1498

It would be much better for the user if the project creation were enclosed in a transaction, and if the user were given the option of cleaning up in the event of a failure.

[2017-06-12 18:51] ldimaggi commented on #1498
https://github.com/fabric8io/fabric8-generator/blob/master/src/main/java/io/fabric8/forge/generator/kubernetes/CreateBuildConfigStep.java#L324

[2017-06-12 18:51] joshuawilson commented on #1345
@catrobson do you know what you want us to do with this screen yet?

[2017-06-12 18:54] ldimaggi commented on #1498
Look here:

https://jenkins-almusertest1-jenkins.8a09.starter-us-east-2.openshiftapps.com/job/almightytest/config.xml

Under:

[code]

Has the account hit a token length error? That would explain why the failure is unique to this account.

[2017-06-12 19:03] ldimaggi commented on #1498
[code]

And so forth.....

[2017-06-13 12:18] ldimaggi commented on #1498
The issue is that every time a user creates a new project, the project name is appended to the Repository name pattern - eventually, attempts to create new projects fail.

[2017-06-13 12:20] jstrachan commented on #1498
its worth noting that the new tenant should remove project names from this pattern when the Pipeline is deleted (the underlying BC)

[2017-06-13 14:44] joshuawilson opened #1501 "Can't update workitems even relevant spaces are already removed"
_From @danieloh30 on June 13, 2017 5:7_

Can't update workitems[1] even relevant spaces are already removed[2] at user profile menu.
However it looks all fine once the page is reloaded and I think the workitem - select box - should be refreshed automatically when the relevant spaces are removed.
[1]
![screenshot from 2017-06-13 14-01-04](https://user-images.githubusercontent.com/14066977/27066738-

[2017-06-13 18:03] catrobson commented on #1449
I like this idea as well, but I think we need to think through what happens if I move over into a user context and then back to a space context.  Let me take a task to do a quick run-through of this so we make sure we have all scenarios/use cases covered for how to handle leaving the user in context as they switch between spaces and users.

[2017-06-14 07:38] jstrachan opened #1505 "lazy load the status drop down menu"
it would be nice to delay initialising the `fabric8-status-list` widget until the status drop down is clicked on the header.

hopefully wrapping the widget in an `<div *ngIf="dropdownVisible">` kinda block would do the trick. Though we need to figure out how to know if an ng2-boostrap `Dropdown` is visible or not.

I tried invoking a method or setting a property on these events with no luck so far

[2017-06-14 07:44] jstrachan commented on #1505
doh! event handling needs to be on the `<li dropdown class="dropdown status-dropdown">` element not the `<a>` or the div of the contents!

[2017-06-14 08:41] jstrachan commented on #1345
fixed by https://github.com/fabric8-ui/fabric8-runtime-console/pull/

[2017-06-14 08:41] #1345 closed

[2017-06-14 08:45] jstrachan commented on #1344
I guess this is a UX question; should deleting a space delete all Pipelines & Apps in that space? Or move them to some other space? Maybe the space deletion wizard needs to present the user with that choice?
[code]
etc?

[2017-06-14 08:46] jstrachan commented on #1344
Or the simple solution - don't allow a Space to be deleted until you delete all the Pipelines + Apps?

[2017-06-14 08:47] jstrachan opened #1507 "delete Pipeline should prompt the user if they wish to delete the apps from each environment too"
if you delete a Pipeline the dialog should prompt the user to ask if they want to delete the associated resources from the Stage and Run environments too.

If so all the resources for a pipeline should be removed

[2017-06-14 08:48] jstrachan opened #1508 "delete option on the Applications page should delete all resources associated with an App"
not just the Deployment/DeploymentConfig but also all the associated ReplicaSets, Pods, Service, Route, ConfigMap, Secrets etc

[2017-06-14 08:52] jstrachan commented on #1350
the `-jenkins` + `-che` namespaces are owned by openshift.io; am not sure we should let users be able to delete them.

[2017-06-14 08:54] jstrachan commented on #1367
@mitchharpur I wonder if we could use that nice new multi-select widget you created? I could make the forge wizard take a list of projects to choose from if that helps?

[2017-06-14 09:51] naina-verma commented on #1355
Hi @joshuawilson ,

Do you have any update on this issue !!

[2017-06-14 12:16] jstrachan opened #1514 "Analyze dashboard: Pipelines widget should use links for the pipeline names"
so you can quickly link to either all the pipelines or a single pipeline and see its pipeline history etc

[2017-06-14 12:35] #1505 closed

[2017-06-14 12:55] ldimaggi opened #1515 "Intermittent issue - Create workspace failing on openshift.io - 504 error reported"
Started seeing this on June 14 - in a new space, with a new (quickstart) project - attempting to create a new workspace is failing. No error is reported to the user in the UI.

No 'Access-Control-Allow-Origin' header is present on the requested resource.

This error is logged in the Chrome console:

``
2api.openshift.io/api/codebases/cff4a44a-67e1-4a8d-a67e-d2dcc90354d3/create:1 POST https://api.o

[2017-06-14 15:21] corinnekrych commented on #1491
The root cause is linked to https://github.com/fabric8io/fabric8-generator/issues/17

[2017-06-14 17:15] joshuawilson commented on #1344
@fabric8io/uxd @catrobson please review for design of deleting spaces.
@jstrachan do we have an API to remove pipelines and apps?

[2017-06-14 17:21] joshuawilson commented on #1350
@fbricon do you have thoughts/comments on this?

[2017-06-14 17:23] joshuawilson commented on #1367
@mitchharpur can you please pass that info to @corinnekrych

[2017-06-14 17:24] fbricon commented on #1350
reserved 'system' projects should probably all be protected from deletion.
Ideally, there should be a message explaining why these projects can't be deleted

[2017-06-14 17:26] joshuawilson commented on #1355
related to https://github.com/fabric8io/fabric8-ui/issues/1507
related to https://github.com/fabric8io/fabric8-ui/issues/1344

[2017-06-14 20:50] joshuawilson opened #1516 "Getting started does not work with Safari"
_From @hferentschik on June 13, 2017 21:19_

I tried to launch OpenShift.io from Safari and followed the sign up process and the linking of the required accounts. I ended up on the page with the "Get Started" link:

![getting-started](https://user-images.githubusercontent.com/296354/27105068-7cf8a98c-508e-11e7-9f14-dabcd537bf8e.png)

Once I press the button, the following page stays empty:

![empt

[2017-06-14 20:50] joshuawilson commented on #1516
Currently we are only testing against Chrome. We plan to support the other browsers moving forward.

[2017-06-14 21:08] jstrachan commented on #1344
Yeah, we've all the APIs we need in the openshift REST API.

Once we get the UX figured out I can implement it pretty easily. I might add a basic option for now with a couple of checkboxes & we can iterate with the UX

[2017-06-14 21:10] joshuawilson commented on #1344
sounds good, we need this and can adjust when the designs come in

[2017-06-14 21:48] catrobson commented on #1344
Adding @qodfathr to the thread to get some input on expectations when deleting a space.  There are *many* things that a space contains that could either be migrated to another space or deleted upon deleting a space.  Is there an expectation around this from the PM standpoint on what we should be supporting?

[2017-06-14 22:39] joshuawilson commented on #1516
@dlabrecq @mindreeper2420 can you please take a look at running on Safari.

[2017-06-15 01:24] joshuawilson opened #1517 "Sizing of Create Space / App Wizard is inconsistant"
If you use the context menu or the link on the home dashboard for "Create Space", you get a very wide pop-up window.

If you go into "View All Spaces" and click the "add" button at the top it displays a narrow version.

[2017-06-15 02:50] joshuawilson commented on #1485
@fabric8io/uxd @catrobson what should the work flow be here. Currently, when you finish the wizard it changes to the the space you created. What should happen when you cancel?

[2017-06-15 02:52] joshuawilson commented on #1403
I just verify this. I deleted all my pipelines and builds, then created a new one.
So you can't really delete the pipelines then?
Any progress on this @jstrachan ?

[2017-06-15 05:08] #260 closed

[2017-06-15 05:11] joshuawilson commented on #172
This appears done, closing.

[2017-06-15 05:11] #172 closed

[2017-06-15 05:14] joshuawilson commented on #382
@SMahil please verify this has been completed and close or fix it.

[2017-06-15 05:16] joshuawilson commented on #542
@SMahil please verify and close or fix.

[2017-06-15 05:17] joshuawilson commented on #594
This is fixed

[2017-06-15 05:17] #594 closed

[2017-06-15 05:17] SMahil commented on #382
Sure @joshuawilson

[2017-06-15 05:20] joshuawilson commented on #726
@catrobson has this been worked out? Should we close this issue?

[2017-06-15 07:00] SMahil commented on #382
@joshuawilson Currently we are taking the usernames directly for RedHat login system. Where/on which page you want me to put the validation?

[2017-06-15 07:07] alexeykazakov commented on #382
We used to allow editing usernames. Then we disabled it.

[2017-06-15 13:48] joshuawilson commented on #382
@alexeykazakov is there any thought to allowing it again, if so we can make sure the logic is there and then close this.

[2017-06-15 14:57] Essjaysee commented on #1485
@joshuawilson If you're on the first screen when you're naming it and selecting the method: https://redhat.invisionapp.com/share/ZQARDX35J#/221494634_Create_Space_Modal

If you're on the wizard itself: https://redhat.invisionapp.com/share/ZQARDX35J#/222201994_Wizard_-_Select_Stack_ALT_Empty

Hope that helps!

[2017-06-15 15:16] dgutride commented on #1185
@ldimaggi  - this doesn't appear to be happening anymore, the profile page was likely inadvertently broken and subsequently fixed  - can we move this to closed now?

[2017-06-15 15:43] joshuawilson opened #1524 "Failed to find Jenkins URL: java.lang.IllegalArgumentException"
_From @naina-verma on June 15, 2017 7:7_

While adding pipeline to the space with updated tanent , this error occurred

Video : https://drive.google.com/a/redhat.com/file/d/0B1qUq_laG6COSUp5WUtSOUE4ek0/view?usp=sharing

Log: https://gist.github.com/anonymous/11475c9173bf7a845e0d7740b6fcf651
![screenshot from 2017-06-15 15-40-15](https://user-images.githubusercontent.com/19172870/27179121-dd5df7a2-

[2017-06-15 16:04] joshuawilson opened #1525 "[Bug]Build failed with "java.io.FileNotFoundException: /root/.mvnrepository/io/vertx/vertx-health-check/3.4.1/vertx-health-check-3.4.1.pom.part.lock ""
_From @naina-verma on June 15, 2017 12:9_

Build failed with "Caused by: java.io.FileNotFoundException: /root/.mvnrepository/io/vertx/vertx-health-check/3.4.1/vertx-health-check-3.4.1.pom.part.lock "

Steps to reproduce
- Create a space
- Add to space
- chose Basic vertx
This build fails due to error !
logs : https://gist.github.com/almightytest/2eeecafe969b165a6997f16fb59f440a

_Copied from origi

[2017-06-15 16:56] alexeykazakov commented on #382
Yes, our intention is to allow to change usernames. The first step would be to allow to change it only once right after registration/first login. But eventually we would like to allow change the username anytime. Our sso supports it. The problem is in opensfhit namespace names which are currently based on OSO usernames which we don't control. As soon as we improve our tenant namespace management w

[2017-06-15 17:17] joshuawilson commented on #382
@SMahil on the "gettingStarted" page that you go to when you first login, there is a place that you can change your username. Though as has been stated, it is currently disabled. You can turn it on to work with it but leave it off when you

[2017-06-15 17:19] joshuawilson commented on #1485
Thanks @Essjaysee according to the designs we should get redirected to the newly created space when you cancel.

[2017-06-15 17:23] joshuawilson commented on #1185
@ldimaggi can you please verify and close OR provide details to reproduce it.

[2017-06-15 17:54] catrobson commented on #1388
Designs have been established in https://github.com/fabric8io/fabric8-ux/issues/456

[2017-06-15 18:28] joshuawilson commented on #1388
@catrobson if you meant to close it, please state why and go ahead and close it. Otherwise I'm assuming it was accidental.

[2017-06-15 18:42] catrobson commented on #1388
@rawlingsj do you want this issue for your work, or was this issue just to get the designs?  I'll close if only to gather design.

[2017-06-15 20:59] mindreeper2420 commented on #1517
@joshuawilson I'll take care of this once PR https://github.com/fabric8io/fabric8-ui/pull/1419 is merged and available.

[2017-06-15 21:00] mindreeper2420 commented on #1372
Closing, as PR was merged.

[2017-06-15 21:00] #1372 closed

[2017-06-15 21:00] joshuawilson commented on #1517
sounds good, thanks

[2017-06-15 21:01] mindreeper2420 commented on #474
Closed by https://github.com/fabric8io/fabric8-ui/pull/1419

[2017-06-15 21:04] mindreeper2420 commented on #825
verified as fixed in Build 448 (June 15, 2017).

[2017-06-15 21:04] #825 closed

[2017-06-15 21:07] mindreeper2420 commented on #1516
@joshuawilson @dlabrecq I can log into the system without error on Safari.

[2017-06-15 23:06] dlabrecq commented on #1516
I could not reproduce this on Safari 10.1.1. Tested both prod and prod-preview. Overall, the site looks pretty good on Safari.

The only time I ever saw a blank screen was when I inadvertently logged out. And that was only because I manually removed my OpenShift token during testing.

[2017-06-16 00:43] joshuawilson commented on #1516
@hferentschik can you please verify. You may want to try a hard refresh too. cmd+shift+r

[2017-06-16 03:06] ldimaggi opened #1526 "New project creation - builds are failing - project jar not found - root cause is that over time, a user's Maven .m2 PV can run out of space"
Create new project fails - build fails - project jar is not found:

https://jenkins-almusertest1-jenkins.8a09.starter-us-east-2.openshiftapps.com/job/almightytest/job/june16a/job/master/1/console

`
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-install-plugin:2.5.2:install (default-install) on project june16a: Failed to install artifact com.example:june16a:jar:1.0.1: /root/.mvnrepo

[2017-06-16 03:24] ldimaggi commented on #1253
I think that the cause of this error is:
https://github.com/fabric8io/fabric8-ui/issues/1498

So - we can close https://github.com/fabric8io/fabric8-ui/issues/1253

[2017-06-16 03:25] ldimaggi commented on #1214
Closing as a duplicate of:
https://github.com/fabric8io/fabric8-ui/issues/1498

[2017-06-16 03:26] #1253 closed

[2017-06-16 03:27] ldimaggi commented on #859
Closing - this is no longer an issue.

[2017-06-16 03:27] #859 closed

[2017-06-16 03:29] ldimaggi commented on #1435
Closing - caused by - https://github.com/fabric8io/fabric8-ui/issues/1498

[2017-06-16 03:29] #1435 closed

[2017-06-16 03:30] ldimaggi commented on #1279
Closing as not reproducible

[2017-06-16 03:30] #1279 closed

[2017-06-16 03:36] #56 closed

[2017-06-16 03:53] #55 closed

[2017-06-16 03:54] #53 closed

[2017-06-16 03:58] joshuawilson commented on #25
This has been fixed for a while, closing.

[2017-06-16 03:58] #25 closed

[2017-06-16 04:06] joshuawilson commented on #7
Since we have an App Wizard in OSIO that talks to forge and generates projects and pipelines now, I'm closing this.

[2017-06-16 04:06] #7 closed

[2017-06-16 04:08] joshuawilson commented on #5
Closing this since we have metrics in place. @pmuir please reopen if you still need this.

[2017-06-16 04:08] #5 closed

[2017-06-16 04:11] joshuawilson commented on #507
@pmuir is this in the "view all spaces"?

[2017-06-16 04:16] joshuawilson commented on #492
@pmuir @qodfathr @catrobson this is going to be important but I have some questions about how we do it.

Where does the feedback go?
Does it get logged as issues on the Planner?
Does it send an email to the devtools-saas mail list?
How will it different from a "support" button?

[2017-06-16 04:20] joshuawilson commented on #446
I think this has been fixed for a while.

[2017-06-16 04:20] #446 closed

[2017-06-16 04:26] joshuawilson commented on #438
This appears to no longer be an issue. I'm closing it for now, @qodfathr if you are still seeing this please reopen it.

[2017-06-16 04:26] #438 closed

[2017-06-16 04:29] joshuawilson commented on #365
@mindreeper2420 I'm giving this to you to include in your work to make the app mobile ready/viewable.

[2017-06-16 04:39] joshuawilson commented on #358
We have the company field added, closing this. If there are still more places to add it please reopen.

[2017-06-16 04:39] #358 closed

[2017-06-16 04:43] joshuawilson commented on #350
@mindreeper2420 can you post an update on this.
@alexeykazakov do you know anything more?

[2017-06-16 04:45] joshuawilson commented on #886
This has been fixed for a while. Closing.

[2017-06-16 04:45] #886 closed

[2017-06-16 04:46] #1206 closed

[2017-06-16 04:53] joshuawilson commented on #1210
This issue was moved to fabric8io/fabric8-planner#2004

[2017-06-16 04:53] #1210 closed

[2017-06-16 10:23] #1316 closed

[2017-06-16 13:43] pmuir commented on #507
Yes.

On 16 June 2017 at 00:11, Joshua Wilson <notifications@github.com> wrote:

--
Pete Muir
Technical Director, Red Hat Developer

[2017-06-16 14:18] l0rd opened #1528 "We should be able to stop and delete a workspace from the codebase UI"
Users are not able to clean-up workspaces right now and look for workarounds like using [Che dashboard](https://github.com/redhat-developer/rh-che/issues/105).

Some discussions about porting Che dashboard functionalities to the codebase UI have already been initiated. But having stop and delete buttons is really the minimum otherwise we won't be able to remove Che dashboard.

cc @ashumilova @gork

[2017-06-16 14:58] mindreeper2420 opened #1529 "Update Navigation for Multiple Screen Sizes"
Currently, the navigation hides elements when the user views the UI on a screen smaller than 1024px. According to the PatternFly/Bootstrap framework, the navigation should respond by moving the links into a hamburger menu and provide a user with the ability to open the menu with a button.

This story is to address that issue, converting the custom navigation bar into an extended Bootstrap navbar.

[2017-06-16 15:03] mindreeper2420 opened #1530 "Add Less Linter to Build Process"
In order to ensure the the HTML/CSS meets the code guidelines as defined in the [Code Guidelines](https://github.com/fabric8io/fabric8-ux/blob/master/code-guidelines.md) document, a Linter needs to be added to the build process that will fail the build when deviations are made.

**Requires the following work to be completed:**
- PR #1419

**Verification Conditions:**
- All LESS files follow the gu

[2017-06-16 15:15] joshuawilson commented on #1528
I'm still not sure how much functionality makes sense to add to the codebases page. That said, we should discuss it here.

cc @maxandersen @aslakknutsen @catrobson

[2017-06-16 15:41] joshuawilson opened #1531 "Bug: Report issue on the 404 page is not working"
_From @luebken on June 16, 2017 6:45_

How to redo: Go to https://openshift.io/_error and click the"I'm felling helpful, let's report the issue" button. No errors in the console.
![screen shot 2017-06-16 at 08 45 09](https://user-images.githubusercontent.com/53055/27215115-1d1adbbe-5270-11e7-9f68-4e4b0c0af50d.png)

_Copied from original issue: openshiftio/openshift.io#235_

[2017-06-16 16:35] ldimaggi opened #1532 "Pipelines continue to be seen in OSIO - even after they have been deleted in OpenShift"
See the attached screenshots - the pipelines in question were deleted through the OpenShift console, but they continued to be seen in the OSIO UI - even after that UI was refreshed:

![screenshot from 2017-06-16 11-37-50](https://user-images.githubusercontent.com/642621/27235789-3459efd4-5290-11e7-97c0-fb2301b8c938.png)
![screenshot from 2017-06-16 11-37-30](https://user-images.githubusercontent.c

[2017-06-16 16:53] ldimaggi commented on #1526
I think that the root cause of this is that the Jenkins services can not be scaled up or down, For the Jenkins service, the up/down icons are disabled.

How does the user resolve debug/resolve this issue?

![screenshot from 2017-06-16 12-35-43](https://user-images.githubusercontent.com/642621/27236377-c88e3e06-5292-11e7-836c-a3184c04450a.png)

[2017-06-16 17:27] joshuawilson opened #1533 "Remove dummy data/fake screens"
_From @maxandersen on June 16, 2017 12:37_

_Copied from original issue: openshiftio/openshift.io#246_

[2017-06-16 17:27] joshuawilson commented on #1533
_From @qodfathr on June 16, 2017 12:44_

I think I only see 1 remaining: Developer Poll (https://openshift.io/_home)

[2017-06-16 17:41] joshuawilson commented on #1532
@jstrachan did you say you already had an issue for this?

[2017-06-16 17:43] joshuawilson commented on #1526
@jstrachan do you have any ideas on this?

[2017-06-16 17:45] l0rd opened #1534 "The only Che stack that is used is the plain java one"
Even if Che has a distinct stack for every quick start (vertx, spring boot, wildfly) these are never used in OSIO. When Platform starts a Che workspace it uses always the same plain Java stack even if user has selected a vertx quickstart.

It's a pity because these stacks would ensure a better UX for the developers (dependencies are pre-downloaded and commands to build and run applications are pre

[2017-06-16 17:46] dhallee commented on #1526
the task appears to have completed successfully, wondering if that's not your problem..

[2017-06-16 17:49] mindreeper2420 commented on #1530
@joshuawilson I looked at [lesslint](https://github.com/lesshint/lesshint) and was able to get something working, but nothing more than a print-out of the errors. I have a config file (.lesshintrc), if you'd like to take a look at it.

[2017-06-16 18:00] joshuawilson commented on #1534
Let's use this to discuss the long term and short term plan.

cc @maxandersen @catrobson @jstrachan @corinnekrych

[2017-06-16 18:17] joshuawilson commented on #1530
Thanks, I'll take a look at the tool.

[2017-06-16 18:33] joshuawilson commented on #1533
@catrobson do you have any ideas what to put in for the Developer Poll?

[2017-06-16 18:35] joshuawilson commented on #1534
@l0rd can you be clarify that this issue is blocking the use of Che?

[2017-06-16 18:39] joshuawilson commented on #1528
The status/open-for-dev label is for issues that have a clear specification. This one needs discussion.

[2017-06-16 19:10] joshuawilson commented on #1529
related to https://github.com/fabric8io/fabric8-ui/issues/365

[2017-06-16 19:17] joshuawilson commented on #1526
@ldimaggi Please specify the steps to reproduce.

[2017-06-16 19:22] joshuawilson commented on #1534
I thought the only stack we were using was the one for vert.x.

[2017-06-16 19:26] joshuawilson commented on #322
@alexeykazakov @dlabrecq can you please update this.

[2017-06-16 19:27] joshuawilson commented on #272
@fabric8io/uxd please review

[2017-06-16 19:29] joshuawilson commented on #272
To be clear the default is no context, now using /_home.
When in a context the default is the Analyze page with the URL of <user>/<space>.

What is the desired change?

[2017-06-16 19:30] joshuawilson commented on #350
related to #193

[2017-06-16 19:36] joshuawilson commented on #182
@dlabrecq is this something you were planning on taking on in PF?

[2017-06-16 19:38] joshuawilson commented on #152
Can you please clarify this and provide steps to reproduce it. If it is no longer an issue, please close it.

[2017-06-16 19:44] joshuawilson commented on #145
@pmuir I think this is done. Do we need to do more on this?

[2017-06-16 19:45] joshuawilson commented on #114
@pmuir @catrobson @maxandersen who owns this task?

[2017-06-16 19:49] joshuawilson commented on #113
The Pipelines, Environments, and Apps page are now dynamic. If this refers to something else please reopen and clarify.

[2017-06-16 19:49] #113 closed

[2017-06-16 20:21] alexeykazakov commented on #322
It has been implemented. So, closing it. If we have any issues with the current approach or if we want to improve it then let's open a new issue(s).

[2017-06-16 20:21] #322 closed

[2017-06-16 20:24] joshuawilson opened #1535 "cut line ------------------------------------------- cut line"
This line is for marking the backlog. It is only a visual cue in github issues.

[2017-06-16 20:38] joshuawilson commented on #611
This does not appear to be an issue any more.

[2017-06-16 20:38] #611 closed

[2017-06-16 20:39] joshuawilson commented on #111
This appears fixed, closing.

[2017-06-16 20:39] #111 closed

[2017-06-16 20:41] joshuawilson commented on #97
@kbsingh @jstrachan do we need these files for running docker locally?

[2017-06-16 20:53] rawlingsj commented on #1526
` Failed to install artifact com.example:june16a:jar:1.0.1: /root/.mvnrepository` sounds like you've run out of diskspace on the .m2 PV.  We only have 1GB per PV and the .m2 dir is mounted on one.  If you're running lots of tests then I'd say this is probably the issue.

To trash the PV (persistent volume) you need to delete the `jenkins-mvn-local-repo` PVC (persistent volume claim) in your jenkin

[2017-06-16 21:25] ldimaggi commented on #1526
Hmm...

Well - that caused a *different* error...   ;-)

https://jenkins-almusertest1-jenkins.8a09.starter-us-east-2.openshiftapps.com/job/almightytest/job/june17a/job/master/1/console

On Fri, Jun 16, 2017 at 4:53 PM, James Rawlings <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.

[2017-06-16 22:12] l0rd commented on #1534
@joshuawilson no it's not blocking Che usage. It makes a the UX worst. A user needs to manually run `mvn clean vertx:run` or needs to create a custom command. Whereas with vertx stack a user can click the run button right away.

[2017-06-16 22:22] l0rd commented on #1534
The UX problem has been described by @burrsutter here: https://github.com/redhat-developer/rh-che/issues/95.

We need to discuss if it makes sense to implement a temporary workaround to address @burrsutter concern or if we can wait untill forge/chefile integration is completed.

[2017-06-17 00:59] joshuawilson commented on #86
I think this is fixed.

[2017-06-17 00:59] #86 closed

[2017-06-17 01:04] joshuawilson commented on #72
@mindreeper2420 @dgutride @dlabrecq what do you guys think about this. Please reference the code and discussion in the PR #60

[2017-06-17 01:07] joshuawilson commented on #63
This has been done for all the UI repos. Closing.

[2017-06-17 01:07] #63 closed

[2017-06-17 01:07] #57 closed

[2017-06-17 01:16] joshuawilson commented on #870
The Pipelines tab should still be highlighted.

[2017-06-17 01:23] joshuawilson commented on #828
@dgutride has this been done?

[2017-06-17 01:25] joshuawilson commented on #762
@ldimaggi is this still an issue?

[2017-06-17 01:41] mindreeper2420 commented on #1529
navigation updated on the current framework - will convert to the new framework (PR #1419) once merged.

[2017-06-17 01:47] joshuawilson commented on #739
This is done.

[2017-06-17 01:47] #739 closed

[2017-06-17 01:48] joshuawilson commented on #736
@mindreeper2420 has this been done yet?

[2017-06-17 01:56] joshuawilson commented on #726
cc @maxandersen

[2017-06-17 01:58] joshuawilson commented on #717
How would you ever find another space?
@catrobson I'm closing this but if you think it we need this restriction and there is another place to search for spaces, please reopen it and specify.

[2017-06-17 01:58] #717 closed

[2017-06-17 02:06] #688 closed

[2017-06-17 02:09] joshuawilson commented on #592
@dgutride can you please take a look at this.

[2017-06-17 02:15] joshuawilson commented on #591
@dgutride please take a look at this.

[2017-06-17 02:16] mindreeper2420 commented on #736
@joshuawilson no - this will be done as part of the Less conversion (the latest version of PatternFly uses the latest version of Font Awesome).

[2017-06-17 02:19] joshuawilson commented on #536
We have the error page but we need the flow that gets a user to it. In most cases if something doesn't exist we redirect them.
What flows would bring a user to an error page.

[2017-06-17 02:23] #520 closed

[2017-06-17 02:25] joshuawilson commented on #508
This is fixed.

[2017-06-17 02:25] #508 closed

[2017-06-17 02:26] #517 closed

[2017-06-17 02:27] joshuawilson commented on #604
This issue was moved to fabric8io/fabric8-planner#2007

[2017-06-17 02:27] #604 closed

[2017-06-17 02:29] joshuawilson commented on #603
This has been fixed.

[2017-06-17 02:29] #603 closed

[2017-06-17 02:35] joshuawilson commented on #599
@jstrachan Is this still relevant? Is this still the best way to do this?

cc: @maxandersen @aslakknutsen

[2017-06-17 02:38] joshuawilson commented on #588
@mindreeper2420 I'm going to guess that this will get fixed in the LESS conversion.

[2017-06-17 02:40] joshuawilson commented on #182
related to fabric8-ui/ngx-widgets#46
related to #588

[2017-06-17 02:43] joshuawilson commented on #578
They work now.

[2017-06-17 02:43] #578 closed

[2017-06-17 02:46] joshuawilson commented on #552
@dlabrecq please follow up on this. We need to be able to clean up the codebases.

[2017-06-17 02:48] #553 closed

[2017-06-17 02:50] joshuawilson commented on #542
This appears done. When new designs are ready we can open a new issue.

[2017-06-17 02:50] #542 closed

[2017-06-17 03:11] ldimaggi commented on #762
YES it is!  ;-)

[2017-06-17 05:26] #1366 closed

[2017-06-17 05:30] joshuawilson commented on #1201
related to #1517

[2017-06-17 05:55] jstrachan commented on #97
Letting folks use docker to run locally sounds fine - though they won't be used for CI/CD.

Maybe the ReadMe needs to be more clear they are only for local development?

[2017-06-17 10:42] catrobson commented on #193
I think there are a few options:
Option 1:  Pull the user profile image from one of the OATH accounts (github most likely for now, eventually we would use a Red Hat one used for login
Option 2: Only allow for user uploaded profile images.

If we go the way of Option 2, it might be work we throw away as we get a proper "Red Hat Account" set up with picture, profile information, etc.  I'm not sure i

[2017-06-17 10:49] catrobson commented on #1534
Thanks for the very comprehensive explanation of the situation @l0rd - very helpful!  @joshuawilson is there anything we can do on the front-end carry the knowledge from the wizard (where we knew what stack they chose) into the workspaces page so that we can pass that into the "create workspace" action without adding a user-driven UI step for this?

[2017-06-17 11:02] catrobson commented on #1533
Documentation is not live, so link on homepage goes to 404: https://access.redhat.com/documentation/en-us/red_hat_openshift.io/1/html-single/user_guide

[2017-06-17 11:04] catrobson commented on #1533
For developer poll, can we replace with an Recent Active Pipelines widget that shows me the 5 most recent *currently in progress* or *failed* pipelines across my spaces.

[2017-06-17 11:17] catrobson commented on #726
I don't think this has been resolved.  I still go to the marketing homepage when I am logged in and type https://openshift.io into my browser.  Expected behavior:  skip marketing home page and bring me right into the account homepage (https://openshift.io/_home).

[2017-06-17 12:19] catrobson commented on #272
I'm not clear what the problem is - is it that the url is just generically _home rather then something like crobson/home?

[2017-06-18 03:56] ldimaggi commented on #1526
Thanks - but that did not resolve this.

[2017-06-18 03:59] ldimaggi opened #1536 "Intermittent 401 errors - github repo not retrieved when creating new project"
Steps to recreate:
* Login in
* Create new space
* Create new project ("add to space") - select all defaults

The interesting thing is that in spite of the error message, the github repo is created:

![2](https://user-images.githubusercontent.com/642621/27257939-dafdbcac-53b8-11e7-94e0-c4637aa04837.png)

![1](https://user-images.githubusercontent.com/642621/27257940-db08b1de-53b8-11e7-9b59-a566a74

[2017-06-18 05:26] joshuawilson commented on #726
OK, closing this. When new designs and user flows are done we can make a new issue.

[2017-06-18 05:26] #726 closed

[2017-06-18 05:28] joshuawilson commented on #1534
This needs to be discussed by the team.

[2017-06-18 05:36] joshuawilson commented on #272
I'm not sure, waiting on @pmuir.

[2017-06-18 18:54] pmuir commented on #145
It's done

[2017-06-18 18:54] #145 closed

[2017-06-18 18:54] #152 closed

[2017-06-19 07:01] SMahil commented on #382
@joshuawilson this functionality is already there. I have questions. Can a username start with a number ? Are we allowing uppercase characters in username?

[2017-06-19 13:32] joshuawilson commented on #382
@alexeykazakov can you define the exact list of requirements for the user name?

[2017-06-19 14:00] skabashnyuk opened #1539 "Redirect loop"
After opening "View Pipeline Runs" in separate browser tab I have infinite redirect loop
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/1614429/27288828-aca1f450-5510-11e7-820a-2f5ab0bd815b.gif)

[2017-06-19 14:40] dlabrecq commented on #182
We will port the Angular Patternfly wizard to pattenfly-ng, eventually. (We want to have feature parity at some point.) However, I don't have plans to port the Angular Patternfly wizard to ngx-widgets, considering the space wizard has already been implemented. Are there plans to introduce additional wizards any time soon?

[2017-06-19 14:44] dlabrecq commented on #552
The codebases UI has a disabled option to delete a codebase; however, the Restful API does not support it. When the API has been implemented, we can enable the feature in the UI.

[2017-06-19 14:54] joshuawilson commented on #182
I think the question is could we use the Angular Patternfly in pf-ng to replace the space wizard we have in fabric8-ui.

[2017-06-19 14:56] joshuawilson commented on #1539
That looks interesting, we'll have to investigate.

[2017-06-19 15:00] dlabrecq commented on #182
No, we cannot use Angular Patternfly because it's an Angular 1 component. I was asking because simply because we could change the priority of what components are added to patternfly-ng, first.

[2017-06-19 15:24] dlabrecq commented on #182
Yes, but it will require a rewrite of the space wizard. The wizard in Angular Patternfly will also require a port to Angular 4. Now that we have some momentum going with patternfly-ng, I would suggest porting the wizard there, instead.

I was asking about the priority because we could change what order components are added to patternfly-ng. Now that we've performed the less conversion, we can begi

[2017-06-19 15:59] maxandersen commented on #1534
@l0rd what part is it that are missing ?

Does che today read the file that Forge is generating or is it because Forge is not generating the file you need ?

[2017-06-19 16:03] aslakknutsen commented on #1534
The Forge service needs to return the stack id to the UI so the Codebase can be created with the correct stack. If that is done, Codebases will call the CheStarter with the stack id.

[2017-06-19 16:05] jstrachan commented on #1534
The Forge UI adds an annotation to the BuildConfig with the correct Che Stack ID.

We just need to use that stack ID value in the wizard front end when we create the Codebase (and for the Create Workspace to use that value too)
[code]

[2017-06-19 16:06] jstrachan commented on #1534
Forge can generate a `Chefile` in the source of newly created projects too; but I thought we were some ways off reading `Chefile`s?

[2017-06-19 16:08] jstrachan commented on #1498
issue now fixed with the latest tenant. Though its worth clearing out or deleting the Jenkins github org job in test cases

[2017-06-19 16:08] #1498 closed

[2017-06-19 16:09] jstrachan commented on #1532
fixed in the latest tenant. Now deleting a Pipeline removes the project name from the Jenkins Github Org job

[2017-06-19 16:09] #1532 closed

[2017-06-19 16:10] #1470 closed

[2017-06-19 16:10] gorkem commented on #1534
@jstrachan correct, It is better to adopt the `chefile` based solution once https://github.com/eclipse/che/issues/4362 is resolved. This solution also requires factories which is not part of our assembly of Che yet.

[2017-06-19 16:11] jstrachan commented on #1403
fixed in the latest tenant - jenkins-sync-plugin correctly removes the project name from the github org job

[2017-06-19 16:12] jstrachan commented on #1525
wonder if this is basically the same as this one that the test account ran out of PV space preventing any new writes? https://github.com/fabric8io/fabric8-ui/issues/1526

[2017-06-19 16:14] jstrachan commented on #1466
can we still reproduce this? We had issues with RHOAR quickstarts having broken system tests which is now resolved

[2017-06-19 16:16] #1283 closed

[2017-06-19 16:17] #991 closed

[2017-06-19 16:17] rawlingsj commented on #1467
This has been resolved but the init tenant service doesn't have the new version yet https://github.com/fabric8io/fabric8-init-tenant/pull/104

[2017-06-19 16:19] #1069 closed

[2017-06-19 16:22] jstrachan commented on #1354
think this was to do with init-tenant not creating the default namespace?

[2017-06-19 18:36] jstrachan commented on #1534
@gorkem is there a way to pass the stack id into the create Codebase REST call?

[2017-06-19 18:37] #1349 closed

[2017-06-19 19:10] gorkem commented on #1534
che-starter REST api has a parameter for stack ID but codebases are on core @aslakknutsen can provide the best information.

[2017-06-19 19:39] ibuziuk commented on #1534
che-starter  supports all 5 stacks with project-type mapping [1]. So, if Forge is able to pass stack id to Codebases, che-starter will be able to create a workspace against it  (AFAIK, currently platform is always passing `java-centos` to che-starter)
[1] https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/model/stack/StackProjectMapping.java#L28

[2017-06-19 19:50] hferentschik commented on #1516
I tried with cdm+shift+r, no luck.

Using the developer tools, I can see several Javascript errors. The first one indicating that there is an error retrieving my spaces (which would explain why all is blank):

    2406396Failed to retrieve list of spaces owned by user
    error — main.8cc8a658619e8f07113f.bundle.js:1:2406396
    initSpaces — 2.6c302b6ab2054293e2b4.chunk.js:1
    (anonymous functio

[2017-06-19 20:46] joshuawilson commented on #182
I'm not ready to discuss priority yet, but I will say that once the less conversion is complete I would like us to switch from ngx-widgets to patternfly-ng where ever we can.

[2017-06-19 21:26] joshuawilson commented on #1525
@naina-verma can you please confirm.

[2017-06-19 21:26] joshuawilson commented on #1466
@luebken please confirm.

[2017-06-19 21:47] alexeykazakov commented on #382
@pmuir already specified requirements :) See the description of the issue:

To be clear. We don't have any technical limitations from sso. Any string can be a username. But usernames are part of URLs so they should be URL-friendly. And maybe @catrobson can add anything from the UX point of view.

[2017-06-20 02:09] joshuawilson commented on #1354
@chmouel are you still seeing this?

[2017-06-20 02:18] joshuawilson commented on #1124
@catrobson do the stack reports match the design or is there still more work on this issue? If it is done, please close the issue.

[2017-06-20 06:31] corinnekrych commented on #1238
Let's sub-task the uni tests per module (ie: functionalities of fabric8-ui):
- [ ] unit test for space-wizard module
- [ ] unit test for space-wizard module
- [ ] unit test for profile module
- [ ] unit test for shared module
- [ ] unit test for settings module
- [ ] unit test for dashboard module
- [ ] unit test for about-modal module
- [ ] unit test for landing-page / home / getting started / he

[2017-06-20 06:32] corinnekrych opened #1545 "Unit test for space-wizard"
Unit test services and component test for the space wizard module.

[2017-06-20 06:54] jstrachan commented on #599
yeah - as folks can import projects using wildcards or create projects using `oc`; none of which show up in the Codebases view. Any BC should always really have a Codebase too I'd have thought. Or at least an easy wizard to import them all in one quick operation

[2017-06-20 06:58] jstrachan opened #1546 "App Wizard should pass the `cheStackId` property from Forge into the Codebases resource when it creates a Codebase"
when the App Wizard creates a Codebase for the new project we should pass in the `cheStackId` property (so that it can be reused later on when folks create a Workspace)

[2017-06-20 07:00] jstrachan opened #1547 "create Workspace should reuse the `stackId` property on the Codebase"
we will be passing in the `stackId` shortly when creating new projects passing the returned value from Forge (https://github.com/fabric8io/fabric8-ui/issues/1546).

We need to reuse this value when creating the Workspace to then associate the correct stack id with the che workspace

[2017-06-20 07:01] jstrachan commented on #1534
@ibuziuk cool thx; so Forge passes the stack id to the fabric8-ui.

I've split this into separate sub issues:

*  we need the App Wizard to pass this id into the Codebase (assuming it can be included as a property): https://github.com/fabric8io/fabric8-ui/issues/1546
* then we need the create Workspace to reuse the stack id on the Codebase: https://github.com/fabric8io/fabric8-ui/issues/1547

we c

[2017-06-20 08:31] #870 closed

[2017-06-20 09:45] corinnekrych opened #1549 "Retrieve repositories for a github organisation with space in it fails silently"
When trying to retriev the repos associates with https://github.com/DuchessFrance which has a value of "Duchess France", the value is sent with the space to fabric8-generator add-on and it fails silently, returning no error code.
* A pre-processing is required at UI level to replace "Duchess France" by "duchessfrance"
* at forge add-on level an error should be send if it fails to retrieve list of

[2017-06-20 13:37] mindreeper2420 opened #1551 "Configure Navigation for Small Screen Usage"
Currently, the navigation bar hides elements when the screen resolution drops into the 'mobile' realm. PatternFly/Bootstrap has built-in support for the navigation at those resolutions. As such, the navigation bar should be updated to the proper PatternFly/Bootstrap layout and have the jQuery expand/collapse converted to an angular component.

[2017-06-20 13:38] mindreeper2420 commented on #1551
duplicate of https://github.com/fabric8io/fabric8-ui/issues/1529

[2017-06-20 13:38] #1551 closed

[2017-06-20 17:30] ldimaggi opened #1552 "Intermittent error - codebase not created when a new project is created"
Steps to recreate:
* Create a new space
* Add to space - via Quickstart wizard - Vert.X project
* Observe that sometimes - (10%?) of the time - the codebase is not created - no error is logged to the UI or to the Chrome console

Assigning to ldimaggi to investigate - is anyone else seeing this?

[2017-06-20 17:36] rawlingsj commented on #1526
So you deleted the PVC and get the exact same error with the new empty PV?

Does this happen on a fresh create project wizard too?  Only this seem to be the only occurrence of this error so am surprised at the steps to recreate.  I've been able to create vertx quickstarts and run their pipelines.

[2017-06-20 17:49] #1479 closed

[2017-06-20 17:56] joshuawilson commented on #1552
Can you confirm that the codebase does NOT get created in github, not just on the codebases page?

[2017-06-20 18:49] ldimaggi commented on #1552
Thanks for the reminder - the github repo is created.

[2017-06-20 19:08] ldimaggi commented on #1526
Yes - watch the screencasts here - just ran the test again today:

https://drive.google.com/drive/folders/0B1s-ZoxD8FjUZmRjcE1rRG1QWjg?usp=sharing

[2017-06-20 20:06] joshuawilson commented on #1552
@corinnekrych I think this is an issue in the app-wizard

[2017-06-20 20:34] joshuawilson opened #1553 "Can't leave a space on first click, View all spaces is empty"
Login
go to a space
try to go to View All Spaces or your Profile (this results in a error that prevents you from navigating away)
try again and it should work
the View All Spaces is now empty
refresh and it fills in the list of spaces

[2017-06-21 00:19] catrobson commented on #492
Captured external research, possible user flows, and a first pass at design here:  https://redhat.invisionapp.com/share/CFC91QFHU.  Need to review and discuss with PM and Dev stakeholders to solidify direction.

[2017-06-21 00:29] catrobson commented on #1124
I'm unable to get a stack report running to verify.  Can someone screenshot the latest?

[2017-06-21 02:27] joshuawilson commented on #492
I commented on the designs. Nice work @catrobson, that helps a lot.

[2017-06-21 02:39] l0rd commented on #1534
@jstrachan I would prefer to keep this open and log here the work related to Chefiles and factories.

[2017-06-21 02:40] joshuawilson commented on #1124
Here is what I have.
![osio-stack-dashboard](https://user-images.githubusercontent.com/1184371/27364592-7157056c-5609-11e7-8321-f412a285f0af.png)
![osio-stack-report](https://user-images.githubusercontent.com/1184371/27364593-7159fa42-5609-11e7-92f7-cdd889651c07.png)

[2017-06-21 02:49] joshuawilson commented on #1036
@xcoulon I think this is fixed. I'm going to close it. If you are still having an issue please reopen it.

[2017-06-21 02:49] #1036 closed

[2017-06-21 03:01] joshuawilson commented on #1199
This appears fixed.

[2017-06-21 03:02] joshuawilson commented on #1198
This issue was moved to fabric8io/fabric8-planner#2018

[2017-06-21 03:02] #1198 closed

[2017-06-21 03:21] joshuawilson commented on #1156
This has been fixed.

[2017-06-21 03:21] #1156 closed

[2017-06-21 03:35] joshuawilson commented on #1185
@ldimaggi I'm closing this. Please reopen if it is still an issue.

[2017-06-21 03:35] #1185 closed

[2017-06-21 03:36] joshuawilson commented on #1182
This issue was moved to fabric8io/fabric8-planner#2019

[2017-06-21 03:36] #1182 closed

[2017-06-21 03:37] #1108 closed

[2017-06-21 03:39] joshuawilson commented on #1009
@ldimaggi please verify.

[2017-06-21 03:43] #992 closed

[2017-06-21 03:47] joshuawilson commented on #1199
related to #974

[2017-06-21 03:49] joshuawilson commented on #974
reference notes on #1199 for further direction

[2017-06-21 03:51] joshuawilson commented on #959
I think this is fixed.

[2017-06-21 03:51] #959 closed

[2017-06-21 03:52] joshuawilson commented on #958
Closing as we have turned off the ability to edit the username.

[2017-06-21 03:52] #958 closed

[2017-06-21 04:07] joshuawilson commented on #945
This issue was moved to fabric8io/fabric8-planner#2020

[2017-06-21 04:07] #945 closed

[2017-06-21 04:08] joshuawilson commented on #931
This issue was moved to fabric8io/fabric8-planner#2021

[2017-06-21 04:08] #931 closed

[2017-06-21 04:09] joshuawilson commented on #930
This issue was moved to fabric8io/fabric8-planner#2022

[2017-06-21 04:09] #930 closed

[2017-06-21 04:12] joshuawilson commented on #921
This doesn't allow you to proceed but there is still no explanation given to the user.
@kylebuch8 Can you take this one on?

[2017-06-21 04:15] joshuawilson commented on #920
I think this has been fixed

[2017-06-21 04:15] #920 closed

[2017-06-21 04:15] joshuawilson commented on #918
Fixed

[2017-06-21 04:15] #918 closed

[2017-06-21 04:16] joshuawilson commented on #916
Not a bug, works as designed.

[2017-06-21 04:16] #916 closed

[2017-06-21 04:19] joshuawilson commented on #1318
@jstrachan there was a bug in the dashboard that prevented it from displaying. Can you please confirm that this is still an issue.

[2017-06-21 04:24] joshuawilson commented on #1311
Clicking the button should display a dialog box stating your current tenant version and the one being upgraded OR the version they are running and that there is no update available.

@aslakknutsen is there an API for this now?

[2017-06-21 04:32] joshuawilson commented on #1301
@jstrachan @pmuir @maxandersen @catrobson
Where would these URLs be set/stored/used? Would they be a link on the Codebases page?

[2017-06-21 04:43] joshuawilson commented on #1290
@jstrachan is this still something you think we should pursue? I'm not clear on how this would work.
cc @maxandersen @catrobson

[2017-06-21 04:49] joshuawilson commented on #1289
All of the listed links should still display even when not logged. There is another issue for determining what needs to be restricted when not logged in at #139.

[2017-06-21 04:49] #1289 closed

[2017-06-21 04:53] joshuawilson commented on #1265
@rkratky is this still an issue?

[2017-06-21 04:57] joshuawilson commented on #1264
@dlabrecq is this fixed? If so, please close this.

[2017-06-21 05:11] joshuawilson commented on #1254
@ldimaggi While I do agree with you, I'm not sure how to track this to know that we have completed it. If you want to create a list of errors that don't have messages in the UI, you can list them in the main description and we could treat this as an epic. Or we take it as general advise and close the issue.

[2017-06-21 05:16] joshuawilson opened #1555 "Quickstart wizard should have a back button"
_From @mishaone on June 21, 2017 4:57_

The 5 step wizard for the quickstart app menu has a next and finished option, but should have a back option as well to go to a former step in the process to change something if required. At the moment the only workaround for this is to quit the process and start again from scratch.

How to replicate:
1. Add to space > Create a quickstart project
2. Add proje

[2017-06-21 05:17] joshuawilson commented on #1555
@mishaone I'm not sure the API we are using can support going back. @mitchharpur or @corinnekrych can you please confirm.

[2017-06-21 05:19] joshuawilson opened #1556 "Cannot deselect checkbox options in QuickStart Wizard Step 4"
_From @mishaone on June 21, 2017 5:16_

Step 4/5 in the Quickstart wizard offers two checkboxes for a Jenkins build and triggering build. Neither can be deselected. Deselecting either or both of these results in OSIO verifying and then re-selects both. Not sure why this is an option to change if it can't actually be changed.

![checkboxes](https://user-images.githubusercontent.com/926572/27368011-

[2017-06-21 07:12] jstrachan commented on #1290
yes I think we should still do it as there are going to be many places in the UI we need to 'open in Che'. In terms of how it would work I'm assuming its an angular component along the lines of
[code]
or something like that.

We'd like to use this on multiple Pipeline / Build / Deployment / Pod UIs for a start; am sure we could use it in the planner when we start supporting PRs or commits too.

[2017-06-21 07:14] jstrachan commented on #1301
We'd be able to use these URLs inside README.md files on github projects for example. Or on wiki pages. Links are kinda handy on the internet to link to things from anywhere.

Then we could create a Chrome plugin to add an `openshift.io` button to all projects on github just like you can get an IDEA button on all github projects via this plugin: https://chrome.google.com/webstore/detail/jetbrains-

[2017-06-21 07:35] jstrachan commented on #1318
If you are on the Analyse tab and you create a new app, once you click OK on the wizard it stays on the Analyse tab. You have to stare at the screen very carefully to spot that anything's really happened (you will hopefully detect something new happening in the Pipeline rectangle if your browser window is big enough to show that below the large stack report rectangle).

I'd have thought it should

[2017-06-21 07:45] rkratky commented on #1265
@joshuawilson, yes, I'm still seeing the same thing in Chrome. Only when I'm not logged in, though.

[2017-06-21 07:51] jstrachan opened #1557 "how should we deal with Pipelines/Resources not labelled with a space?"
Its possible to have kubernetes/openshift resources created without a label for the space. e.g. old projects created before the wizard associated the current space as a label have no `space` label. Folks can create resources or pipelines in multiple ways (openshift console, templates, `oc` CLI) which don't have the space label.

So how can we view the `spaceless` resources? Do we need a special sp

[2017-06-21 07:56] jstrachan commented on #1515
this looks like an issue with being able to create a Codebase which is a WIT thing rather than forge/jenkins

[2017-06-21 08:58] naina-verma opened #1558 "[Bug] "Add a quickstart project" popup dialogue looks distorted"
"Add a quickstart project" popup dialogue looks distorted
![screenshot from 2017-06-21 14-26-02](https://user-images.githubusercontent.com/19172870/27375779-d7f78e20-568d-11e7-8a24-2742da8cc404.png)

[2017-06-21 13:19] catrobson commented on #1533
@dgutride and @dlabrecq - can you and I work on this today to see if we can resolve any dead links and information?

[2017-06-21 13:26] joshuawilson commented on #1301
Maybe I'm missing something. The only way I can see to do this is to set up routes to go to those URLs.

OR they would be artificially created and stored but not really usable. Meaning `https://openshift.io/github/owner/` would be dead.

If you want every level active then aren't we duplicating github?

I do think the idea has merit, I just don't understand how to do it.

[2017-06-21 13:30] joshuawilson commented on #1318
@jstrachan that makes sense.

I think we still need @catrobson to come up with the updated designs and user flows to nail down what we do.

[2017-06-21 13:31] joshuawilson commented on #1265
Oh, that is interesting. @mindreeper2420 can you please take a look at this.

[2017-06-21 13:34] jstrachan commented on #1301
I think you've misunderstood me completely :) Lemme try again!

All I'm talking about is using the usual Angular router to create a single HTML page inside fabric8-ui for viewing github repos (optionally branches) from which we can offer the user options to Fork, Open in Che, import as a Pipeline options etc.

The actual URL we use doesn't matter. Given `https://openshift.io/{entity}/{space}` is r

[2017-06-21 13:43] jstrachan commented on #1318
totally agreed - this page could be the first page folks see when clicking on links on github projects and stuff; so we want a really slick lovely page!

Mind you we could probably add the functions we need (Fork repo, Create Codebase and/or create Workspace / and or Open Workspace, Import Pipeline)  using simple buttons for now until we replace the HTML layout with something slick from UX

[2017-06-21 13:44] jstrachan commented on #1318
we'll also need to show `you are not logged into openshift.io; to be able to work on this codebase we recommend you  [Log In]` etc

[2017-06-21 13:46] ldimaggi commented on #1526
James discovered that:

Over time, a user's maven .m2 Persistent Volume runs out of space - as does the user's content repo

Current solution is to create a Jenkinfile that mounts the .m2 folder and runs rm - rf

[2017-06-21 14:03] ldimaggi opened #1560 "Over time, a user's maven .m2 Persistent Volume and Content Repo runs out of space - must be cleaned out manually"
Related to: https://github.com/fabric8io/fabric8-ui/issues/1526

There's no centralised logs or metrics for tenant namespaces - and over time, a user's maven .m2 Persistent Volume runs out of space - as does the user's content repo

Current solution is to create a Jenkinfile that mounts the .m2 folder and runs rm - rf

We should ship jenkins with this job, call it purge or something - then a user

[2017-06-21 14:04] ldimaggi commented on #1560
To clean out the content repo:

oc project almusertest1-jenkins

oc get pods
NAME                                 READY     STATUS      RESTARTS   AGE
content-repository-5-3cw6j           1/1       Running     0          1d

oc exec -ti content-repository-5-3cw6j bash
rm -rf /var/www/html/content/repositories

Can we also clean out the .m2 repo from the container's shell?

No because it's not moun

[2017-06-21 14:40] mindreeper2420 commented on #736
@joshuawilson this has been completed as part of PR #1419. The latest PatternFly version utilizes Font Awesome 4.7.0.

[2017-06-21 14:43] ldimaggi opened #1561 "Create new project (quickstart) dialog - final page display is malformatted"
First started seeing this on June 2.

To recreate:
* Create a new (quickstart) project - accept all defaults

![format](https://user-images.githubusercontent.com/642621/27390092-50528cf0-566e-11e7-919b-5bdf1a6aa218.jpg)

[2017-06-21 14:45] ldimaggi opened #1562 "Pipeline view has broken link - user cannot view log files for Jenkins builds - issue is limited to 1 specific user account"
For example:

Link points to:
https://jenkins-almusertest1.8a09.starter-us-east-2.openshiftapps.com/job/almusertest1-june21/1/console

But - it should point to:
https://jenkins-almusertest1-jenkins.8a09.starter-us-east-2.openshiftapps.com/job/almightytest/job/june21/job/master/1/

![screenshot from 2017-06-21 10-35-00](https://user-images.githubusercontent.com/642621/27390186-a1e9a486-566e-11e7-9a

[2017-06-21 14:53] ldimaggi opened #1563 "Pipeline display in OpenShift.io seems to not be connected to Jenkins builds (issue limited to a specific user account)"
Started seeing this on June 21 - it looks like the link to the builds is broken.

For example: - the promote option is displayed in the Jenkins log, but not the pipeline display:

![screenshot from 2017-06-21 10-22-12](https://user-images.githubusercontent.com/642621/27390503-68fc6982-566f-11e7-9b9e-08410e2249ce.png)

And - the (successful) status of the build is not displayed either:

![screensho

[2017-06-21 14:54] ldimaggi commented on #1563
Is this caused by:  https://github.com/fabric8io/fabric8-ui/issues/1562   ?

[2017-06-21 14:56] mindreeper2420 opened #1564 "Update README for Less Conversion"
As fabric8-ui has converted the preprocessor to Less, the README needs to be updated in that aspect. Additionally, the README should reference the Code Guidelines where necessary.

[2017-06-21 15:08] rawlingsj commented on #1560
I'm gonna knock up a housekeeping pipeline that folks can run + add a diagnose one too that will help us investigate issues and even automatically solve known issues where we can.

[2017-06-21 15:12] ldimaggi commented on #1560
Thanks James - if we cannot solve this automatically (ala a garbage collector type approach) then we had better find a way to reliably warn the users and give them an easy way to fix this....when it happens.

[2017-06-21 15:19] joshuawilson commented on #1563
@jstrachan @mindreeper2420 can you please take a look.

[2017-06-21 15:49] joshuawilson commented on #1561
@corinnekrych and @mindreeper2420 please take a look.

[2017-06-21 15:50] rawlingsj opened #1565 "add community branding and a flag to turn it on"
We have the community branding from UX https://github.com/fabric8io/fabric8-ux/issues/456#issuecomment-307533039 what we need next is to include this in the fabric8-ui along with a flag (disabled by default) that we can enable in the community fabric8-ui openshift / kubernetes YAML.

I can have a crack at this if someone can point me in the right direction or please assign to someone that can do i

[2017-06-21 16:54] dgutride commented on #1475
This work is complete - moving to closed

[2017-06-21 16:54] #1475 closed

[2017-06-21 16:55] dgutride commented on #828
@joshuawilson - this work was completed before summit - moving to closed

[2017-06-21 16:55] #828 closed

[2017-06-21 17:20] joshuawilson commented on #1561
duplicates #1558

[2017-06-21 17:40] mindreeper2420 commented on #1201
@joshuawilson This should be fixed as part of PR #1419.

[2017-06-21 17:40] mindreeper2420 commented on #1517
@joshuawilson This should be fixed as part of PR #1419.

[2017-06-21 17:52] #474 closed

[2017-06-21 17:53] mindreeper2420 commented on #365
closed by PR #1566

[2017-06-21 18:06] ldimaggi opened #1567 "Intermittent issue - auto-recreation of pods is not always successful"
This issue is being logged to ensure that its solution is fully verified.

When out of memory issues are encountered, the workaround is to manually delete Jenkins pods as they are automatically recreated. Sometimes, the automatic recreation fails, and they must be recreated manually.

We have to verify that the automatic recreation is successful after this issue is resolved:
https://github.com/fab

[2017-06-21 18:12] ldimaggi commented on #1567
Related to:
https://github.com/fabric8io/fabric8-ui/issues/1279

[2017-06-21 18:20] #1529 closed

[2017-06-21 18:22] #365 closed

[2017-06-21 18:41] ldimaggi opened #1568 "Refreshing the browser from the pipelines history page hangs the browser"
To recreate this bug:
* Navigate to the pipelines page - for example - https://openshift.io/ldimaggi%40redhat.com/june17/create/pipelines
* Refresh the browser - press control/R

(Confirmed this with Chrome on Windows10 and RHEL7)

[2017-06-21 18:43] #736 closed

[2017-06-21 18:44] joshuawilson commented on #1562
@mindreeper2420 @jstrachan can you please take a look at this.

[2017-06-21 20:03] ldimaggi commented on #1254
Let's close this issue - when we see a good (or is it bad   ;-) error that is not handled for the user, we can open up a separate issue for each specific error. Thx!

[2017-06-21 20:03] #1254 closed

[2017-06-21 20:08] mindreeper2420 commented on #1561
I'm unable to verify this, as the wizard always fails for me. I know that it revolves around how the labels/inputs are styled.

[2017-06-21 20:10] ldimaggi commented on #1561
Stop on by and I can show you the error Adam...

[2017-06-21 20:44] joshuawilson commented on #1560
@ldimaggi if we can't get it fixed automatically soon enough, could you please add this to https://github.com/openshiftio/openshift.io/wiki/FAQ

[2017-06-21 20:47] joshuawilson commented on #1565
Where would you think the should go or get set? We have some env vars that might work.

[2017-06-21 20:48] #1201 closed

[2017-06-21 20:48] #1517 closed

[2017-06-21 20:52] joshuawilson commented on #1568
Can you please try again and confirm. There have been several updates and it works for me.

[2017-06-21 20:58] #1564 closed

[2017-06-21 21:04] joshuawilson commented on #1252
@ldimaggi have you tried to clean it up with the direction at https://github.com/openshiftio/openshift.io/wiki/FAQ#how-do-i-clean-up-all-apps-and-builds-in-my-openshift-online

[2017-06-21 21:06] joshuawilson commented on #1251
@jstrachan @rawlingsj do you know how we are doing regarding cleaning up when we delete a space?

[2017-06-21 21:41] joshuawilson commented on #1238
Cleaned up the and moved the listed to the main description so that it would be easier to track.

[2017-06-21 21:43] joshuawilson commented on #1222
@rkratky we just did a major refactor of the UI. Please try again.

[2017-06-21 21:46] joshuawilson commented on #1221
@catrobson do we need to change the label or do we keep it with "che"?

[2017-06-21 21:50] joshuawilson commented on #1378
@catrobson That link you provided doesn't work. Can you please provide the correct link?

[2017-06-21 21:54] joshuawilson commented on #1377
Since each "page" is a tab in a Single Page Application there is only one <title> for the whole thing.

We can take it as a task to see if there is some Angular trick to set the title but it works as designed.

[2017-06-21 21:55] joshuawilson commented on #1377
@kylebuch8 can you look into this and see if anything can be done?

[2017-06-21 22:07] joshuawilson commented on #1365
@jstrachan @rawlingsj what do you think?

[2017-06-21 22:10] joshuawilson commented on #1364
@dlabrecq @mindreeper2420 can you please take a look at this. Is this still an issue?

[2017-06-21 22:12] joshuawilson commented on #1027
duplicates #390

[2017-06-21 22:13] joshuawilson commented on #1363
duplicates #390 with the addition of making the field *required.

[2017-06-22 00:57] mindreeper2420 commented on #182
the last part of the Less conversion for the Wizard is in PR #1571.

[2017-06-22 01:00] mindreeper2420 opened #1572 "Update Button Consistency"
Update the buttons consistency to use the primary button color for primary actions, default for secondary actions and red/warning for destructive actions. See the [PatternFly Button Widget](http://www.patternfly.org/pattern-library/widgets/#buttons) for additional information.

[2017-06-22 01:00] joshuawilson commented on #182
@mindreeper2420 while that is cool it is not what this issue is about. This is about creating a generic PatternFly wizard that we can swap out for the custom version we currently have.

[2017-06-22 01:15] mindreeper2420 commented on #182
@joshuawilson understood. You just linked this to 588, which is about the color variables, so I thought I would make a note of it here.

[2017-06-22 01:24] joshuawilson commented on #1362
@jstrachan @rawlingsj any ideas?

[2017-06-22 01:28] joshuawilson commented on #1360
@corinnekrych please verify.

[2017-06-22 01:37] joshuawilson commented on #1358
@burrsutter can you please verify, it looks like the fix has been merged.

[2017-06-22 01:42] ldimaggi commented on #1252
Yes - that works - but the 'delete' option in the OSIO UI does not actually delete the pipelines.

(If we don't support users deleting pipelines in the UI, we should remove the delete option.)

[2017-06-22 01:54] #588 closed

[2017-06-22 01:55] ldimaggi commented on #1568
Still hangs for me.

[2017-06-22 01:57] #1572 closed

[2017-06-22 02:05] joshuawilson commented on #1252
No, that doesn't work yet. We do have https://github.com/fabric8io/fabric8-ui/issues/1355 to track that.
Can we close this?

[2017-06-22 02:10] joshuawilson commented on #1357
@alexeykazakov @dlabrecq is there something we can do to help the user when they try to do this. I know they can only link github to only one account at a time. But they don't know that.

[2017-06-22 02:17] joshuawilson commented on #1533
related to #1348

[2017-06-22 02:19] joshuawilson commented on #1356
@catrobson can you please add this to your list of user flows that need to be reconsidered.

[2017-06-22 02:25] joshuawilson commented on #1353
The number has been removed. Closing.

[2017-06-22 02:25] #1353 closed

[2017-06-22 02:27] joshuawilson commented on #1352
@ldimaggi can you try to reproduce this please?
cc @jstrachan @rawlingsj @corinnekrych

[2017-06-22 02:29] joshuawilson commented on #1350
@fbricon did you get this error in OpenShift? If so, isn't this an OpenShift issue?

[2017-06-22 02:30] joshuawilson commented on #1347
related to #1378

[2017-06-22 02:32] ldimaggi commented on #1352
I have seen that error message - not sure about how to recreate it. Will keep an eye open for it.

[2017-06-22 02:33] ldimaggi commented on #1252
Sounds good!

[2017-06-22 02:34] #1252 closed

[2017-06-22 02:38] joshuawilson commented on #1344
related to #1252 #1197 #1251

[2017-06-22 02:40] ldimaggi commented on #1009
No longer a bug - closing.

[2017-06-22 02:40] #1009 closed

[2017-06-22 02:47] joshuawilson commented on #1456
@kylebuch8 maybe you want to try working on this when you have time.
@dlabrecq do you know if there is anything set yet to support this?

[2017-06-22 02:51] joshuawilson commented on #1455
@catrobson @mindreeper2420 can you look at the design for this?

[2017-06-22 03:03] joshuawilson commented on #1446
duplcates #552

[2017-06-22 03:08] joshuawilson commented on #1445
@rawlingsj @alexeykazakov do either of you have a suggestion on how to fix this?

[2017-06-22 03:16] joshuawilson commented on #1436
@luebken did you get this resolved?

[2017-06-22 03:19] joshuawilson commented on #1434
@mindreeper2420 can you reproduce this? (since you have a Mac)

[2017-06-22 03:23] joshuawilson commented on #1434
@luebken it looks like you tried to access https://openshift.io/_error. Did you get this error on that page or were you redirected to it?

[2017-06-22 03:30] joshuawilson commented on #1406
The UX has been changed and this is not viable, closing.

[2017-06-22 03:30] #1406 closed

[2017-06-22 03:34] joshuawilson commented on #1405
@catrobson can you please look at this user flow.
@aslakknutsen @jstrachan @alexeykazakov can you confirm that the error indicates the exact issue every time and the only solution is to update the tenant? Also, what do we do when we get the tenant updating automatically and they get this error (if that is possible)?

[2017-06-22 03:38] joshuawilson commented on #1388
I think we should leave it open to track the work.
Now we need a way to switch between visuals. What do we use for the switch?

[2017-06-22 03:40] joshuawilson commented on #1384
@corinnekrych can we close this?

[2017-06-22 03:43] joshuawilson commented on #1524
@naina-verma please update the tenant and clean up using https://github.com/openshiftio/openshift.io/wiki/FAQ#how-do-i-clean-up-all-apps-and-builds-in-my-openshift-online

[2017-06-22 03:44] joshuawilson commented on #1496
Are you still having this issue?

[2017-06-22 03:53] joshuawilson commented on #1501
Fixed in #1559. Closing.

[2017-06-22 03:53] #1501 closed

[2017-06-22 03:56] alexeykazakov commented on #1357
Keycloak just ignores if the GitHub account had been linked to another account - https://github.com/almighty/almighty-core/issues/1291
We need to investigate why Keycloak doesn't return any error here but we will probably stop using Keycloak for storing GitHub/OSO accounts anyway.

[2017-06-22 04:03] joshuawilson commented on #1467
I think you can update the tenant now, @burrsutter can you please update your tenant and try again.

[2017-06-22 06:02] jstrachan commented on #1405
The exception isn't related to updating the tenant at all - its when either the github or OpenShift tokens are bad.

Updating the tenant has nothing to do with tokens; that just affects what version of stuff runs in the tenant.

Technically updating a tenant can force Jenkins to go down and restart - as can idling -  but taking down jenkins doesn't generate `KeyCloakFailureException` either.

The

[2017-06-22 06:46] joshuawilson commented on #1405
Ah, I'm sorry. I thought you wanted to update the tenant, you just wanted to bring them back to the user profile to update their token.

[2017-06-22 06:52] jstrachan commented on #1405
yeah - the most common cause of failures on the Forge wizard is github or openshift tokens are borked which then leads to the wizard failing - so this ticket is about trying to at least nudge the user to a workaround (relink github/openshift) until we figure out the real fix for tokens going bad

[2017-06-22 10:26] rkratky commented on #1222
@joshuawilson, it now works in an incognito window. The problem is the same in a regular session. I also tried to delete all cache and configs + reinstall Chrome -- so it's a totally fresh session -> still the same problem.

[2017-06-22 11:54] joshuawilson commented on #1222
That is crazy, it works in incognito but not normal. wow!
Currently you are the only seeing this issue. We will need to figure out more if we are going to fix this.

[2017-06-22 12:25] rawlingsj commented on #1565
I'm not familiar with the fabric8-u code or how assets are added but I was thinking we have an env var `BRANDING` and a couple of constants in the code `OSIO` and `FABRIC8` which we use to switch between the two.
Then in the community [DeploymentConfig.yml](https://github.com/fabric8io/fabric8-platform/blob/master/apps/fabric8/src/main/fabric8/deployment.yml#L24) we set the `BRANDING=FABRIC8` env

[2017-06-22 12:29] rkratky commented on #1222
@joshuawilson, is there any way I can help with it? I'm not sure what to try next.

[2017-06-22 12:37] mindreeper2420 commented on #1434
@joshuawilson I get this:

![viewpipelineserror](https://user-images.githubusercontent.com/4032718/27434224-fdc4c6c0-5725-11e7-8577-4bde1c1b1fd4.gif)

[2017-06-22 13:07] dgutride commented on #1553
@joshuawilson - work complete, moving to closed (unless you'd like to add a new status tag of status/verify)

[2017-06-22 13:07] #1553 closed

[2017-06-22 13:28] ldimaggi commented on #1515
This is still a problem as of June 22 - see screencast here:
https://drive.google.com/open?id=0B1s-ZoxD8FjUR0xUR3MyQU45Zjg

[2017-06-22 13:38] catrobson opened #1576 "Feature flag/toggles"
A user can turn on or off the ability to see experimental features in OSIO.

Stage 1:
 Experimental features on/off

Stage 2:
 Allow user to turn on or off certain experimental features

[2017-06-22 13:38] jstrachan commented on #1515
I don't understand those 3 videos; they don't seem to match this issue. The first one shows some JavaScript console log before the wizard is invoked (maybe when Forge was down, not sure - can't quite see on the screen - doesn't look like the failure to create a Codebase error at least). The second video shows a working wizard. The third the codebase page?

[2017-06-22 13:39] catrobson commented on #1576
https://martinfowler.com/articles/feature-toggles.html

[2017-06-22 13:42] ldimaggi commented on #1515
Yes - but on the 3rd video:

* The "Create Codebase" link is missing
* Clicking on "Create Codebase" in the kebab results in the 504 error

Are not able to recreate this error at https://openshift.io?

Thx!

[2017-06-22 13:57] ldimaggi commented on #1515
Is this problem unique to the user account - that we are using for tests?

[2017-06-22 13:58] maxandersen commented on #1557
As comment on the "all spaces" then that is a great idea but assumes (I reckon) we can query across possible multiple clusters somehow efficiently - also Che workspaces and some aspects of planner aren't really well fitted inside a "all space view"

For this specific item of "non-labelled" items I would think it would make more sense to have them on a separate tab or checkbox within a single space

[2017-06-22 14:04] jstrachan commented on #1557
@maxandersen the UI only works on one OpenShift cluster at once so we don't need multi-cluster queries any time soon. One day federation may make multiple clusters look like 1 (and provide a single API to multiple physical clusters); but I'd expect there to be a single development cluster really.

The entire Create/Codebases/Pipelines/Apps/Environments UI is designed around going into a Space firs

[2017-06-22 14:47] #1346 closed

[2017-06-22 14:49] #1452 closed

[2017-06-22 15:16] jstrachan opened #1578 "Add to Space Wizard: only options are Import and New Quickstart right now?"
when clicking the `Add to space` button the only 2 options we have right now are import git repo and new quickstart right now?

we've 4 buttons today; wonder if we should hide 2 for now to make it easier to grok?

[2017-06-22 15:23] joshuawilson commented on #1222
At this point, I can only think of getting into a shared session to see exactly what you have going on.

[2017-06-22 15:25] joshuawilson commented on #1434
Did you click on something to get there? Or did you manually type in the URL

[2017-06-22 15:26] joshuawilson commented on #1576
We have an Epic for this at https://github.com/openshiftio/openshift.io/issues/278

[2017-06-22 15:30] mindreeper2420 commented on #1434
I clicked on the 'View Pipeline Runs' link, but by using cmd+click to open it in a new tab in the background. Just clicking on the link (no new tab) works fine.

[2017-06-22 15:33] ldimaggi commented on #1515
In looking at Che - it looks like the workspaces ARE being created - the workspace creation takes several minutes - and the workspaces fail to start due to deployment errors:

![screenshot from 2017-06-22 10-56-17](https://user-images.githubusercontent.com/642621/27442554-8d81eb86-573e-11e7-9abf-037d0bd58215.png)

![screenshot 18](https://user-images.githubusercontent.com/642621/27442560-93da631e-

[2017-06-22 15:33] joshuawilson commented on #1557
@jstrachan
1) Do you want to associate "resource" with a space?
2) Do you want to view/work with non-labeled "resources" and leave them "non-labeled?

[2017-06-22 15:37] jstrachan commented on #1557
1. we already do, via a label of `space: nameOfSpace` in OpenShift (Pipelines, Deployments, Services etc)
2. be able to view resources using a space filter; or view all resources whether they are associated with a space or not

[2017-06-22 15:47] joshuawilson commented on #1487
duplicates #1417

[2017-06-22 15:48] joshuawilson commented on #1578
duplicates #1487 #1417

[2017-06-22 15:50] joshuawilson commented on #1434
@luebken are you creating a new tab?
@mindreeper2420 we have an issue for new tab #1539

[2017-06-22 15:53] joshuawilson commented on #1557
Let's have @fabric8io/uxd look at it.

[2017-06-22 15:59] dlabrecq commented on #1357
The UI only knows that a GitHub token is available, there is nothing to indicate where the token came from.

[2017-06-22 16:01] dlabrecq commented on #1533
Yes, the dev poll is fake / hard coded. Just something to fill space for summit.

[2017-06-22 16:03] jstrachan commented on #1578
I'm not sure they are quite the same thing. There's the Create space wizard and the Add to space wizard - today they are the same but I'm not sure they should be.

When creating a space we probably need 3 options; `Plan, Import, Quickstart`

Once we have a space, the `Add to Space` should only show `Import & Quickstart` - since the Forge wizard doesn't help Plan anything, you use the Plan tab for

[2017-06-22 16:04] jstrachan commented on #1417
should `Plan out my space` just be the same as clicking on the `Plan` tab for now? Though it sounds odd having a massive button; when after the dialog closes you get to click on `Plan` on the nav bar anyways?

[2017-06-22 16:06] joshuawilson commented on #1357
Do you guys have a suggestion?

[2017-06-22 16:09] joshuawilson commented on #1578
I agree, let's remove them for now. Then add them back in when they work.

[2017-06-22 16:12] joshuawilson commented on #1417
@mitchharpur what was your intent here?
We also need help from @fabric8io/uxd on this.

[2017-06-22 16:47] alexeykazakov commented on #1357
Options:
1. Fix Keycloak to return an error if the account is already linked. Then we can reflect it in UI.
2. Start using our own solution for linking accounts instead of KC. It will allow us to link the same GitHub account to multiple OSIO accounts.
This problem is in our TODO list. Just don't have time to fix it right now.

[2017-06-22 16:56] jstrachan opened #1581 "Add to Space Wizard: Import repositories to use multi-selection"
if we change the back end to use multi-selection the UI (`UISelectMany`) the UI is much slicker and lets folks pick the repos they want to import using multi-selection and filtering - which also avoids accidentally importing all of them too :)

<img width="1016" alt="fabric8" src="https://user-images.githubusercontent.com/30140/27445987-c8c37a18-5773-11e7-91b8-d1926dbfcac8.png">

the problem is th

[2017-06-22 17:21] jstrachan commented on #1581
I tried a quick debug and I never saw any of the methods in this controller being triggered to change the values
https://github.com/jstrachan/fabric8-ui/blob/4fbc302e1e0f922b1c14b4022d921f80df9c5c53/src/app/space-wizard/components/app-generator-multiple-selection-label-list/app-generator-multiple-selection-label-list.component.ts#L20

then when I clicked `Next` I ended up in `gotoNextStep()` with

[2017-06-22 17:22] joshuawilson opened #1582 "405 error reported when a new space is created in the openshift.io UI"
_From @ldimaggi on June 22, 2017 13:24_

Steps to recreate:
* Using the Chrome browser, open the More Tools->Developer Tools->Console log
* At https://openshift.io, create a new space
* Observe this error written to the console log:

```polyfills.f49acb8….bundle.js:1 PUT https://openshift.io/_p/oso/api/v1/namespaces/almusertest1/configmaps/fabric8-spaces 405 (Not Allowed)```

Note - there is no ap

[2017-06-22 17:24] #1546 closed

[2017-06-22 17:26] joshuawilson commented on #1357
@alexeykazakov do you want to duplicate this issue in the backend or track it here?

[2017-06-22 17:32] alexeykazakov commented on #1357
@joshuawilson it's already there - https://github.com/almighty/almighty-core/issues/1291

[2017-06-22 19:10] dlabrecq commented on #1264
I no longer see the issue.

[2017-06-22 19:10] #1264 closed

[2017-06-22 21:13] joshuawilson commented on #1417
Any update @mitchharpur

[2017-06-22 21:29] mitchharpur commented on #1417
For "Plan out my space'
Yes. Plan out my space is just navigating to the planner... that is the intent... no more ... no less ... and that based on Todd's original spec ... It is no doubt a redundant button.

For 'code from scratch' ...
The intent was to have a forge command that creates an empty repo/codebase and then open che in the repo

[2017-06-22 21:36] joshuawilson commented on #1417
Thanks @mitchharpur

@qodfathr can you provide guidance on these 2 button in the wizard.
cc @catrobson

[2017-06-22 23:38] #1558 closed

[2017-06-23 00:39] #1561 closed

[2017-06-23 01:05] catrobson commented on #1124
Thanks @joshuawilson.  Closing.

[2017-06-23 01:05] #1124 closed

[2017-06-23 01:12] catrobson commented on #1417
+1 to Mitch's description.   "Plan out my space" should bring me into the planner to start adding work items.  "Code from Scratch" should bring me right into an IDE to start working as described.

[2017-06-23 01:27] catrobson commented on #1557
While I think this is a valid use case for users converting their apps over into OpenShift.io, I don't think this was a primary concern for MVP.  I agree we need to put some UX thought into the use case of migrating apps into OpenShift.io, but feel it should go from that use case instead of just adding a page that shows a set of resources that might not make much sense to the user.

Can we postpon

[2017-06-23 01:30] catrobson commented on #1388
Wouldn't this be toggled based on where the app is being launched from?   How would community users access the UI?

[2017-06-23 01:34] catrobson commented on #1221
We can change it to just "Workspace" to be more consistent.  @mindreeper2420 can you take this?

[2017-06-23 02:15] #1348 closed

[2017-06-23 02:15] #1533 closed

[2017-06-23 02:40] joshuawilson commented on #1562
This works for me. @ldimaggi can you verify, please.

[2017-06-23 02:51] ldimaggi commented on #1562
I am still seeing the problem see screencast here:
https://drive.google.com/open?id=0B1s-ZoxD8FjUY29rZGRXelBsSEE

[2017-06-23 05:06] joshuawilson commented on #1027
Closing as it is a duplicate.

[2017-06-23 05:06] #1027 closed

[2017-06-23 05:41] jstrachan commented on #1562
@ldimaggi I think your issue seems to be caused by there being 2 jenkins; one in your main user account 'almusertest1' and one in the correct place 'almusertest1-jenkins' which is leading the code which generates the link to the jenkins to get confused and use the wrong jenkins. I wonder why you need a 2 jenkins servers in this account?

I'll try figure out the code as to why its getting the wrong

[2017-06-23 05:43] jstrachan commented on #1562
the telltale sign a link is pointing to the wrong jenkins is at the front of the URL:
* https://jenkins-almusertest1.8a09.starter-us-east-2.openshiftapps.com/
* https://jenkins-almusertest1-jenkins.8a09.starter-us-east-2.openshiftapps.com/
the part after the "https://jenkins-" is the namespace name which shows you've 2 jenkins in 2 different namespaces

[2017-06-23 05:44] jstrachan commented on #1562
FWIW figuring out which jenkins is kinda complex; as the BuildConfig and test pods live in `almusertest1` but for security/quota reasons we run the jenkins master and build pods in `almusertest1-jenkins` so it can be a challenge knowing which one of those 2 namespaces is the real deal

[2017-06-23 05:45] #1581 closed

[2017-06-23 07:12] jstrachan commented on #1367
this one is fixed - I just need a new fabric8-ui release in prod before I update to the new back end

[2017-06-23 07:13] jstrachan commented on #1454
added better validation in forge

[2017-06-23 07:13] #1454 closed

[2017-06-23 07:53] luebken commented on #1436
@joshuawilson It works for me now. If it is resolved I can not answer since I don't know the underlying problem.

[2017-06-23 09:14] naina-verma commented on #1496
yes @joshuawilson

[2017-06-23 11:34] ldimaggi commented on #1562
Do you have any idea on how this user managed to obtain 2 namespaces for Jenkins?

[2017-06-23 11:37] jstrachan commented on #1562
I presume either via the openshift console; via oc or maybe OSO decided to create one as it saw a BC with a pipeline? Its odd though - I've not seen one in any other user account yet.

Note this is a vanilla openshift jenkins - nothing to do with fabric8 / OSIO

[2017-06-23 12:20] rawlingsj commented on #1565
@joshuawilson @mindreeper2420 is this something that's in my novice ability or should someone else look at it?

[2017-06-23 12:36] rkratky commented on #1222
@joshuawilson, OK, I've no idea what changed, but it works now. Same new installation of the browser, but it's OK now. Apologies for taking up your time.

[2017-06-23 12:36] #1222 closed

[2017-06-23 12:57] ldimaggi commented on #1563
I am seeing this with the "almightytest" account - AND - with my own account too.

[2017-06-23 13:02] jstrachan commented on #1563
I see it in mine too! :) only my quotas have stopped it from actually deploying! am guessing its OSO automating that due to the BC's with pipelines inside.

Need to find how to disable that

[2017-06-23 13:02] rawlingsj commented on #1563
I just tried here and it seems to work fine.  Yeah I think this is related to https://github.com/fabric8io/fabric8-ui/issues/1562.  Perhaps try with a new test account and see if you can recreate the issue.

[2017-06-23 13:03] ldimaggi commented on #1563
I just tried this my personal RHD-linked account. Am creating a new test account today and will try there too. Are you not seeing this issue?

[2017-06-23 13:04] rawlingsj commented on #1563
Ok scrap my comment if James S has it https://github.com/fabric8io/fabric8-ui/issues/1563#issuecomment-310659587

[2017-06-23 13:04] jstrachan commented on #1563
I have a jenkins DC in my main namespace here - but its not deployed a pod due to quotas...
[code]
its the one from OSO
[code]

[2017-06-23 13:04] rawlingsj commented on #1563
Any extra BCs around?

[2017-06-23 13:16] joshuawilson commented on #1367
@jstrachan I think the release you are waiting on is done.

[2017-06-23 13:19] joshuawilson commented on #1436
Thanks, closing this.

[2017-06-23 13:19] #1436 closed

[2017-06-23 13:24] joshuawilson commented on #1496
@naina-verma I'm unable to play the video. Additionally the video is not public and this is a public repo.

It would be better if you wrote out the steps to reproduce it.

[2017-06-23 13:40] joshuawilson commented on #1565
@rawlingsj this is more intermediate level. We are focused on Blocking and P1 issues that need to be done for the release.

[2017-06-23 13:43] joshuawilson opened #1591 "Configure CI/CD for the whole UI"
Currently the UI repos build independently but they need to role up into the components that use them.

Additionally we need to have every push to master update prod automatically for CD.

[2017-06-23 14:36] mitchharpur commented on #1367
the multi select widget seems like a good candidate

[2017-06-23 16:04] joshuawilson commented on #1417
@qodfathr the PR #1590 removes those 2 buttons/features. Do you want to keep them?

[2017-06-23 16:21] joshuawilson opened #1593 "Build configuration appears twice in Create a new Starter project wizard"
_From @ppalaga on June 23, 2017 8:25_

Create a new Starter  project
EXPECTED: Build configuration step appears just once
ACTUAL: Build configuration step appears twice
![image](https://user-images.githubusercontent.com/1826249/27473116-48f39170-57fe-11e7-84ed-5fc68ee99b04.png)

_Copied from original issue: openshiftio/openshift.io#280_

[2017-06-23 16:21] joshuawilson commented on #1593
@ppalaga this is a limitation of the Forge backend that requires a validation step. That said, we are aware of it and are looking for a better way to handle it.

[2017-06-23 16:35] qodfathr commented on #1417
We can remove from now. FWIW, the original intent was:

Plan my space -- just navigate to Planner.
Start from scratch -- basically, just set up a new, empty codebase, create the workspace, and navigate directly into Che.

[2017-06-23 16:36] jstrachan commented on #1367
@mitchharpur agreed - fixed it and used it thanks! :)

[2017-06-23 16:36] #1367 closed

[2017-06-23 16:37] #1490 closed

[2017-06-23 16:38] #1491 closed

[2017-06-23 16:38] #1489 closed

[2017-06-23 16:53] #1417 closed

[2017-06-23 16:53] #1487 closed

[2017-06-23 16:53] #1578 closed

[2017-06-23 17:32] dgutride opened #1595 "Context menu should include View my spaces option"
The top menu should include a View my spaces link takes the user to their profile page and automatically shows the spaces tab.

[2017-06-23 19:23] naina-verma commented on #1496
https://drive.google.com/a/redhat.com/file/d/0B1qUq_laG6COYTg5QkFDa3VDaGc/view?usp=sharing

[2017-06-23 19:23] naina-verma commented on #1496
@joshuawilson https://drive.google.com/a/redhat.com/file/d/0B1qUq_laG6COYTg5QkFDa3VDaGc/view?usp=sharing

[2017-06-23 19:54] #1221 closed

[2017-06-23 19:58] joshuawilson commented on #1496
@naina-verma if I have to be logged in via my red hat account to see it, it is not public. Please just list the steps to reproduce this issue. That will make it easier to search this issues too.

[2017-06-24 01:47] ldimaggi opened #1598 "Newly provisoned user not able to create new project"
A new test account ("osiotest314") was created and provisioned today - the user's account is correctly linked to OpenShift and github and RHD - when this user creates a new project - this error results:  Forbidden!Configured service account doesn't have access. Service account may have been revoked. User "osiotest314" cannot list extensions.ingresses in project "osiotest314"

Steps to recreate:
*

[2017-06-24 03:48] chmouel commented on #1354
Yep this has been resolved with a fix to almighty with login
synchronization, we can close this thanks

On Tue, Jun 20, 2017, 04:09 Joshua Wilson <notifications@github.com> wrote:

[2017-06-24 05:16] #1354 closed

[2017-06-24 12:04] rawlingsj commented on #1565
Ok fair enough but just so you know the fabric8 community project is now released and folks have started installing it. The first thing they see is openshift.io product branding rather than community which isn't great.

[2017-06-24 13:41] corinnekrych commented on #1547
should be done with https://github.com/fabric8io/fabric8-ui/pull/1580

[2017-06-24 13:41] #1547 closed

[2017-06-26 12:50] sbose78 commented on #1598
I can reproduce this - I used a 2 and a half week old OSO token which works fine for querying builds.
[code]

[2017-06-26 13:24] sbose78 commented on #1598
When I hit the url with the token I too get this issue, but if I create a new project, everything works.

[code]

Btw, I had done a tenant update because of https://github.com/openshiftio/saas/commit/4e5da6b673d83eda68496f7c8caffca2f42ff636

[2017-06-26 13:44] hectorj2f commented on #1598
This is a kubernetes-openshift issue related to the jenkinsfile configuration. Are you sure your Jenkinsfile is right? Can you compare with pther jenkinsfile from the quickstarts repos?

[2017-06-26 13:50] ldimaggi commented on #1598
After scaling Jenkins down to zero pods, and back up to 1 pod - the new user account was able to successfully create a new new project - and see its build progress from stage to  production:

![screenshot from 2017-06-26 09-48-29](https://user-images.githubusercontent.com/642621/27542328-e5a25ed6-5a54-11e7-9f9c-b2ab2c7f20eb.png)

[2017-06-26 13:50] #1598 closed

[2017-06-26 13:51] ldimaggi commented on #1598
Maybe this was a timing issue on the token for the new account?

[2017-06-26 13:57] dgutride commented on #1557
@jstrachan @catrobson - from looking at the code, it seems that our current behavior means we  include items that are not labeled so my rogue pipelines are always visible.

In my environment, it means my spaceship pipelines (that didn't get labeled somehow) show up in all of my space dashboards instead of filtering unlabeled items out by default.

[2017-06-26 14:06] catrobson commented on #1557
@dgutride Thanks.  I think that is probably not the behavior we desire at this point.  I think we don't want to show any pipeline or other artifacts which are not labeled.  If it is not labeled, my assumption is that there is some migration path we need to build to allow people to import these items, rather than surprising a user by showing them without any context.

[2017-06-26 15:12] ldimaggi commented on #1562
This problem seems to be unique to the test account in question - possibly due to the account username being different from the account jenkins path and github username?

[2017-06-27 17:14] ldimaggi opened #1606 "For newly provisioned OSIO users, Jenkins and/or Che projects are not immediately visible in OpenShift (reproducible)"
Related to: https://github.com/fabric8io/fabric8-ui/issues/1598

The new account that was provisioned was not provided with a Che project:

 token provided.

You have access to the following projects and can switch between them with 'oc project <projectname>':

  * osiotest314
    osiotest314-jenkins
    osiotest314-run
    osiotest314-stage

Using project "osiotest314".
$ oc get projects
NAME

[2017-06-27 19:04] ldimaggi opened #1607 "Add to Space -> Import Code -> "OK" button displayed after import is non-operational"
![screenshot from 2017-06-27 15-00-34](https://user-images.githubusercontent.com/642621/27605180-da059106-5b49-11e7-97b9-094d0cdd0289.png)

[2017-06-27 19:21] ldimaggi opened #1608 "Add to Space -> Import Code indicates success, Jenkins job and Codebase are not created"
To recreate:

* At https://openshift.io, create new space, select "Add to Space"
* Select Import code, select github repo
* Success will be indicated in dialog:

![screenshot from 2017-06-27 15-15-15](https://user-images.githubusercontent.com/642621/27605914-1c0cdb34-5b4c-11e7-9b45-1ba01340b5c9.png)

But - Jenkins job and codebase are not created:

![screenshot from 2017-06-27 15-15-50](https://us

[2017-06-27 23:40] joshuawilson commented on #1562
that might be, maybe you should create a new user that has matching accounts

[2017-06-27 23:43] joshuawilson commented on #1606
@rawlingsj @aslakknutsen @jstrachan can you please take a look at this.

[2017-06-28 02:11] ldimaggi commented on #1562
Thanks! - already did - these problems seem to be unique to the
almightytest account - but - I think we should investigate to be 100%
certain.

On Tue, Jun 27, 2017 at 7:40 PM, Joshua Wilson <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community