[2016-11-20 21:42] pmuir opened #5 "Integrate lighthouse for performance metrics and checks"
https://github.com/GoogleChrome/lighthouse

[2016-11-20 23:04] pmuir commented on #5
My commit is start, but I don't know how to only run this part of our tests / get the server up first.

[2016-12-07 11:30] rawlingsj opened #7 "fabric8 create project UI"
fabric8 has a create new project UI:

<img width="1439" alt="screenshot 2016-12-07 10 47 16" src="https://cloud.githubusercontent.com/assets/1457180/20964753/b6f455b8-bc6a-11e6-9c79-294757370f36.png">

Which is a front end to [fabric8-forge](https://github.com/fabric8io/fabric8-forge) a set of forge addons that can be used with the (currently at) 48 https://github.com/fabric8-quickstarts to genera

[2016-12-07 13:27] pmuir commented on #7
/cc @joshuawilson

[2016-12-07 13:33] jstrachan commented on #7
@gashcrumb has a port to angular2 of the fabric8 forge UI

[2016-12-07 13:35] gashcrumb commented on #7
Yep, right now it's hiding out here -> https://github.com/redhat-ipaas/ipaas-api/tree/master/sandbox

[2016-12-07 13:52] cmoulliard commented on #7
Obsidian is also angular2 + patternfly

Here is the code generator front where we have published it today (backend should be redeployed to generate a zip file - will be affective in 1H)

Demo : https://obsidian-toaster.github.io/intro

Projects :
Front :  https://github.com/obsidian-toaster/generator-frontend
Forge Backend :  https://github.com/obsidian-toaster/generator-backend

[2016-12-07 14:20] rawlingsj commented on #7
@cmoulliard is the Obsidian frontend still WIP?  Is it worth Obsidian switching and collaborating on the fabric8 one which has been around for over a year?  We can then all work together to fill in the missing parts because unless I'm missing something they seem to do the same thing?

Yes the fabric8 forge UI needs to be angular 2 but as @gashcrumb mentioned that work has already started.

[2016-12-07 14:40] jstrachan commented on #7
@gashcrumb has migrated the forge part of fabric8 console to angular 2 already - its being used in the iPaaS https://github.com/redhat-ipaas/ipaas-api/tree/master/sandbox

at some point it'd be good to move all of [fabric8-console](https://github.com/fabric8io/fabric8-console) over to angular2. I think @joshuawilson is looking at supporting angular 1 and 2 together for a little while tactically un

[2016-12-07 14:44] cmoulliard commented on #7
@rawlingsj For sure James. We will Almighty + Obsidian + Fabric8 collaborate together to design the new Developer UI Experience. The ideas of the different groups/teams will be discussed in order to design/develop the different screens/wizards/workflows.

The Obsidian Front end like the Fabric8 front end will be merged at some point as we are developing our respective projects using the same stand

[2016-12-07 14:49] jstrachan commented on #7
@cmoulliard this repository is the UI created as part of Dev Experience &  the fabric8 team and anyone else who wants to contribute and its being created from the fabric8 console. Anything anyone has outside of the fabric8 console should be merged in.

[2016-12-07 14:50] jstrachan commented on #7
@cmoulliard you might want to integrate any Obsidian Forge addons into the [fabric8-forge](https://github.com/fabric8io/fabric8-forge) project so that they show up in the fabric8 console (and hence in the DevExp console)

[2016-12-07 14:51] pmuir commented on #7
@jstrachan +1 - this is our integration repository now.

[2016-12-07 14:56] cmoulliard commented on #7
As we are preparing a first release of Obsidian - TP in 2 weeks to support Eclipse Vert.x, Spring Boot + Apache Tomcat with the Front Generator tool, I suggest that we discuss/start this merging process  beginning of next year in order to :
- Move our Quickstarts to Fabric8 quickstarts organization
- Merge code developed for the new addon used by the Front in order to create a Vert.x/Swarm or Spri

[2016-12-07 14:57] jstrachan commented on #7
@cmoulliard BTW the fabric8 console has had wizards to create projects in vertx, spring boot, tomcat, karaf & WF Swarm using jboss forge for over a year ;)

[2016-12-07 14:59] cmoulliard commented on #7
As the purpose of this ticket is to discuss "Create Project UI", we should keep the discussion around this topic ;-)

[2016-12-07 15:03] jimmidyson commented on #7
@cmoulliard Out of interest, why are you creating something that has existed in fabric8 console for a long time? Why not just reuse those or if they aren't quite what you want, help to update them?

[2016-12-07 16:26] gastaldi commented on #7
Just a minor consideration here: https://github.com/fabric8io/fabric8-forge/issues/726 decouples the Forge integration (moves a subset of the Fabric8-forge-core  classes needed for integration with the Forge UI API) from the Fabric8-forge-core and it's maintained by the Forge team (me), so it's updated everytime a Forge release happens.

[2016-12-07 16:27] cmoulliard commented on #7
The workflow requested by the PM was different from what has been created in Fabric8

- From vert.x/spring boot (and later wildfly swarm) --> create a zipped file
- From vert.x/spring boot (with or without Red Hat SSO) --> create a zipped file

and the frontend designed using angular2, patternfly & almighty

[2016-12-07 16:45] jstrachan commented on #7
@cmoulliard I don't grok the 'create zipped file' comments above. If you'd rather create projects as downloadable tarballs and have no git, CI, CD, OpenShift integration, that could be added as a separate wizard step (to avoid the git + CD and just make a tarball). It doesn't sound terribly useful though does it? :) Most folks wanna build + run projects really

[2016-12-07 16:46] jstrachan commented on #7
Oh you mean you want a stand alone start.spring.io style website only - and not have any OpenShift / CI / CD / git integration right? At least you can reuse the same underlying forge commands & may be able to repurpose most of the angular front end - its just a different action at the end (import to git + setup CD versus download tarball)

[2016-12-07 16:47] gastaldi commented on #7
@jstrachan exactly, that's what the current backend is doing right now. We are reusing the Fabric8 addons, so it's basically the same thing

[2016-12-07 16:52] rawlingsj commented on #7
so could we:

- add the obsidian quickstarts to fabric8
- add the obsidian addons to fabric8-forge
- add any missing UI bits to fabric8-console

Then Obsidian could just use fabric8?

Once we get this repo updated with the migrated angular 2 fabric8 forge UI (or the tactical option mentioned above) you'd satisfy the PM requirements, we'd avoid duplication and both projects would benefit from each

[2016-12-07 16:58] gastaldi commented on #7
@rawlingsj that would be my thought as well, to happen after this first release

[2016-12-07 19:39] jclingan commented on #7
I need to look at the Fabric8 create project UI. We don't want to duplicate work, but we also do not plan to support all the fabric8 features up front.

Post-December, we may have the opportunity to switch from "download zip" to a more online-centric experience since our target deployment focus is switching from the OpenShift Container Platform to OpenShift Online.

I dunno about others, but I cou

[2016-12-08 08:18] edewit commented on #7
@jclingan this one is good: https://youtu.be/bERRJksRB1A?t=1012

[2016-12-08 09:13] rawlingsj commented on #7
yeah that's probably the best one we have

FWIW you can find all the fabric8 demos here https://blog.fabric8.io/

If you don't want to support all the fabric8 features from day one then that's totally fine.  We could look adding feature flags for example but for me the main thing would be to reuse and extend what's already been developed in the community.

[2016-12-08 09:25] jstrachan commented on #7
@jclingan yeah the above demo is probably the best. If you're super pushed for time here's a 6 minute video from about 6 months ago; the console's a little older but its about the same as today https://vimeo.com/170830750

BTW once a project is created via the web UI & the Forge wizards; we could easily configure what happens next via, say, a configuration (whether we want to download a ZIP or cre

[2016-12-08 15:20] jclingan commented on #7
BTW, this is seriously great stuff! I watched the whole video last week, didn't realize that this is the same UI we are talking about here (versus prior versions). All goodness.

I'm going to take some of this offline since it relates specifically to product.

[2016-12-12 21:35] joshuawilson opened #8 "Get AoT to work with Chunking"
There is something preventing the AoT build from Chunking the code into vendor, polyfills, and main.

Is it possible to use both AoT and Chunking with Angular 2 and Webpack?

[2016-12-12 21:39] TheLarkInn commented on #8
Alright so this is what I did in your aot.min config:

[code]

Inside of your vendors.ts file, I simply removed any `import @angular/core` etc. Instead the commonschunk for polyfills and vendor are now determining whether modules resource (aka the url) comes from node_modules, if so, shove it into vendor chunk. You can see comments for the information to implement.

I do not know whether I have th

[2016-12-19 00:43] qodfathr opened #18 "Dashboard links for 'number gadgets' not working"
@pmuir The links on http://fabric8.surge.sh/analyze in the lower-right -- Codebases, Pipelines, and Hypotheses -- do not go any where, but at least the 1st two should (here: http://fabric8.surge.sh/analyze/create and here: http://fabric8.surge.sh/analyze/run).

[2016-12-19 15:43] #18 closed

[2016-12-19 20:10] pmuir opened #23 "Use /^_.*$/ as the pattern for reserved words"
Reserved words are those that don't denote a user/space/path but a system operation. For example, this issue is created using the URL https://github.com/fabric8io/fabric8-ui/issues/new - fabric8io/fabric8-ui are the user/space, and issues/new are the reserved words. If we reserve and use underscore, it means we don't need to worry about reserved words.

/cc @qodfathr @joshuawilson

[2016-12-19 20:55] joshuawilson opened #25 "What does the logged out menu look like?"
Define what the nav system looks like when the user is not logged in e.g. they are sent a link.

The right hand dropdown clearly needs updating (e.g. a sign in link), but of greater interest is the main nav structure, where a number of menus no longer make sense (e.g. settings).

This needs some thought, so for now let's assume that all pages require a user to be logged in.

[2016-12-19 21:00] pmuir commented on #25
/cc @qodfathr

@joshuawilson I rewrote the description as it's actually more about the main nav structure.

[2016-12-19 22:17] qodfathr commented on #25
The nav system basically looks the same, although the 'Profile' icon (your pix) in the upper right is replaced with a Sign In button, and the "Context" drop-down in the upper left is probably removed.

What's more important is that some screens will not render if you are not logged in -- they can just redirect you to home for now. We need a way to indicate which screens have this  behavior.

And,

[2016-12-20 04:33] joshuawilson commented on #25
@qodfathr I completely agree with the need to constrain what data the user can view is controlled by the back end by the backend.

As for the pages. We can hide pages or even tabs or just parts of pages. If you mark it up, we can control what is viewed while logged out.

We already applied this logic to the Planner. You have to be logged in to edit anything but if you aren't logged in then you can

[2016-12-20 08:35] jstrachan commented on #25
when you logout I'd assume you're redirected to the OAuth login page; so there's no nav structure when you're not logged in?

[2016-12-20 13:05] qodfathr commented on #25
@jstrachan you should not need to be logged in to navigate/read content which is open to anonymous browsing (which, for v1, is almost everything). e.g., if I'm not logged into GitHub I can still visit https://github.com/fabric8io/fabric8, use the navigation, etc. In fact, some operations are still visible -- e.g., create a fork -- but any attempt to use them prompts me to log in. Upon doing so, I'

[2016-12-20 13:30] jstrachan commented on #25
@qodfathr guess it depends what resources we're talking about.

Public OSS projects source + issues are visible by anyone on github. But when it comes to a user or teams environments, builds & apps on, say, OpenShift Online I figured there'd be nothing to browse until you login to your OpenShift Online cluster.

What stuff is gonna be public? e.g. right now I'm not sure there's any concept of publ

[2016-12-20 13:43] qodfathr commented on #25
@jstrachan Correct, there are definitely items which are restricted, and you give some very good examples. When it comes to OpenShift Online, that team owns those rules.

The stuff that's public are things like the work item tracking, user profiles, etc. Essentially much of what originated from Almighty. (Essentially, project management stuff is generally public; operational stuff is generally not

[2016-12-29 06:56] sbose78 opened #36 "Add post-commit-to-master hook for jenkins"
On every commit to master, jenkins ( ci.centos.org ) should invoke `cico_build_deploy.sh`

[2017-01-04 15:53] pmuir opened #38 "Don't show crazy errrors if backend not present"
If the backend is not on the URL specified, the console log in the browser ends up full of junk, which makes other errors very hard to spot.

[2017-01-05 11:55] pmuir opened #41 "Get typeaheads working"
I was struggling to get both ng2-bootstrap and ng2-typeahead to work at all. Anyone want to take a look and put an example in?

[2017-01-05 12:34] pmuir commented on #41
Couple of TODOs in the code for this.

[2017-01-09 00:28] pmuir opened #49 "Decide how we're going to handle logged in vs not logged in users."
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current b

[2017-01-09 00:28] pmuir commented on #38
Resolved by pointing users to set API_URL in readme

[2017-01-09 00:29] #38 closed

[2017-01-09 00:30] pmuir commented on #41
@mitchharpur can you look at this one?

[2017-01-09 03:20] joshuawilson commented on #41
We do have type ahead in Planner that pulls the data from the backend. Where do you need them?

It really depends if you have a static list or a search of that large data set.

[2017-01-09 13:58] pmuir commented on #41
I think there is one in team membership dialog, and there are a few filter boxes (e.g. in profile/spaces) that need them. Both will be searching the backend, not a static list, eventually. Right now it's a client side list obviously.

[2017-01-09 23:46] pmuir commented on #25
@qodfathr not sure of the best mechanics for doing it, but it would be helpful to make a start on this at some point.

[2017-01-10 15:58] qodfathr commented on #25
@pmuir I think in the existing mockups I have created, we can add a note for which ones are visible when logged-out/anonymous, and which ones are visible but behave differently when logged out/anonymous.

[2017-01-10 19:17] pmuir opened #51 "Implement HTML only for new screens"
https://drive.google.com/drive/u/1/folders/0B84xd3xHpx5cTnRwekI5c2NWOUU

In powerpoint, turn on outline view to see page names

* Space wizard selection
* Forge wizard (For the grid of icons, please just take a png from the slides and paste that in - no need to implement the tiles)
* Pipeline wizard (For the grid of icons, please just take a png from the slides and paste that in - no need to imple

[2017-01-11 19:43] VineetReynolds opened #53 "List all spaces"
**Description**

As a owner or participant of spaces, I'd like to view a list of spaces I'm currently collaborating in,
so that I can view various activities in that space.

The spaces should be listed at the following route in the UI : `/<username>/spaces`

The list of spaces, that the user collaborates in, should be retrieved from the REST API from the Spaces resource at `/api/spaces`.

**Functi

[2017-01-11 19:50] VineetReynolds opened #54 "Select/View a single space"
**Description**

As a owner or participant of spaces, I'd like to view a single space I'm currently collaborating in,
so that I can view various activities in that space. I should also be able to view other spaces where I am not a collaborator at a given moment, as long as the space is public.

The spaces should be listed at the route: `/<username>/<spacename>`

The space should be retrieved from

[2017-01-11 20:02] VineetReynolds opened #55 "Edit a space"
As a owner or participant of spaces, I'd like to edit a space I'm currently collaborating in,
so that I can edit the description and other high-level details for the space.

The spaces should be editable at the route: `/<username>/<spacename>`

**Functional Acceptance criteria:**

1. Editing the description of the space should result in an updated description.

**Questions**

1. Should editing the

[2017-01-11 20:03] VineetReynolds opened #56 "Search for a space in list of spaces"
As a viewer or collaborator in spaces, I'd like to search the entire list of spaces I'm currently collaborating in, so that I can pinpoint a specific space to navigate to.

The spaces should be listed and searchable at the route: `/<username>/spaces`

The spaces should be retrieved from the REST API from the Spaces resource at `/api/spaces`.

**Functional Acceptance criteria:**

1. Entering a sear

[2017-01-11 20:08] VineetReynolds opened #57 "Create a space"
**Description**

As a project owner, I'd like to create a new space, so that I can collaborate with other team members on a specific project.

When creating a space, I should specify a name unique to the namespace where the space exists. Currently, this is the user account, and may eventually be an organization account.

**Functional Acceptance Criteria:**

1. Spaces can be created with an alphanu

[2017-01-11 20:44] VineetReynolds commented on #56
For now, typeahead is likely to be used for implementing the search functionality.

[2017-01-13 13:43] jstrachan opened #58 "create a REST proxy to the users openshift (online?) cluster so we can start to use Build/Run/Pipelines UI components"
a pre-requisite of using the fabric8 Run / Build tabs is gonna be access to the OpenShift Online cluster (rather than the SaaS back end).

So it'd be nice once the user has logged into the console to also sign into the users OpenShift Online account and expose the REST API for OpenShift Online.

I guess one day we may support multiple clusters (free tier, paid tier, on premise cluster maybe?) so w

[2017-01-13 13:54] jstrachan opened #59 "integrate Spaces/Teams in planner with Namespaces/Teams in OpenShift online"
The fabric8 Build/Run console pages are all based 100% on the kubernetes/openshift APIs. i.e. a Team is a namespace with the `fabric8-environments` `ConfigMap` inside which lists all the environments the team users etc. More [background here](http://fabric8.io/guide/terminology.html)

The upstream fabric8 console will keep this model for now; so we need a way to be able to populate the planner wit

[2017-01-16 16:55] pmuir opened #63 "Add Pull request builder"
When someone submits a PR, have ci.centos.org build a copy of the app, and serve it up from a unique URL, so the reviewer can use the changed system without having to do local work.

[2017-01-17 10:18] VineetReynolds opened #65 "Create an Angular service for querying the Spaces REST API"
**Description**

We need an Angular service to interact with the spaces REST API. For now, it would handle querying/listing of spaces.

**Implementation**

This service is imported in the module. It should be available as an injectable service.

**Reference**

User story - #53

[2017-01-17 10:44] VineetReynolds opened #66 "Update SpacesComponent to list spaces fetched by SpacesService"
**Description**

Currently, SpacesComponent uses DummyService to list spaces. With SpacesService being available, we can use this instead to list and display spaces.

**Implementation**

Replace DummyService with SpacesService. Inject the SpacesService into the SpacesComponent and store any retrieved spaces, so spaces do not have to be retrieved from the backend every time.

**Reference**

User st

[2017-01-17 11:31] VineetReynolds opened #67 "Extend SpacesService to create spaces in the REST API backend."
**Description**

We need to extend the Angular service SpacesService to create new spaces at the spaces REST API.

**Implementation**

The SpacesService need to implement and expose a new public method to create a new Space.

**Reference**

User story - #57

[2017-01-17 11:47] VineetReynolds opened #68 "Update SpaceDialogComponent to use SpacesService"
**Description**

Currently, DummyService is used to create spaces that are persisted only to localstorage, and not the REST API backend.

**Implementation**

Update SpaceDialogComponent to use SpacesService instead of DummyService to create a new Space.

**Reference**

User story - #57

[2017-01-17 12:14] VineetReynolds opened #69 "Extend SpacesService to query the REST API with filter parameters."
**Description**

We need to extend the Angular service SpacesService to search against spaces (name and description) at the spaces REST API.

**Implementation**

The SpacesService need to implement and expose a new public method to search for spaces using user-supplied criteria.

**Reference**

User story - #56

[2017-01-17 12:27] VineetReynolds opened #70 "Update SpacesComponent to use SpacesService for querying."
**Description**

Currently, SpacesComponent does not search against the local collection of spaces, or the spaces in the backend. This should change for searching of spaces to work.

**Implementation**

The SpacesComponent should created and observe the user input stream for input events from the search input field. It should debounce the event stream, to wait on user input. And it should respond

[2017-01-18 20:58] pmuir opened #72 "Consider moving the <header> element back inside the header component"
https://github.com/fabric8io/fabric8-ui/pull/60 moved it out, but we should consider moving it back in.

[2017-01-19 01:21] joshuawilson commented on #72
I agree, that the header, main, and footer elements belong in the components that generate them.

@mitchharpur what is the reason to have them outside of their controlling components?

[2017-01-19 11:14] #65 closed

[2017-01-19 13:20] #66 closed

[2017-01-19 16:56] alexeykazakov opened #75 "Change "Sign in with GitHub" button to "Sign in with Red Hat Developers""
We switched to keycloak authentication instead of github in almighty-core. Our keycloak uses developers.redhat.com as Identity Provider. We now should change the label/image of the sign-in button.

Related to https://github.com/fabric8io/fabric8-planner/issues/780 and https://github.com/almighty/almighty-core/pull/654

[2017-01-20 10:39] jstrachan commented on #59
Here's a strawman approach for mapping external entities to the planner model:

OpenShift Namespace with Jenkins => Organisation
----------------------------------------------------------------------
a fabric8 team is an OpenShift Namespace running a Jenkins; lets map that 1-1 with some Organisation. (It could have parents and children that have no OpenShift equivalent but thats fine for now - the

[2017-01-20 23:17] #67 closed

[2017-01-20 23:30] #68 closed

[2017-01-23 17:22] pmuir commented on #59
Long story short, I think spacess actually map to teams. Let me try to rewrite the above based on that.

[2017-01-23 17:42] pmuir commented on #59
Here's Pete's strawman approach for mapping external entities to the planner model:

??? => Organisation
----------------------------------------------------------------------
TODO

OpenShift Namespace with Jenkins => Space
----------------------------------------------------------------------
a fabric8 team is an OpenShift Namespace running a Jenkins; lets map that 1-1 with some Space. Lets also

[2017-01-26 16:36] pmuir opened #82 "Add lookupSpace(name: string) to SpaceService"
This is needed for us to e.g. load a context

[2017-01-26 16:38] pmuir commented on #82
@VineetReynolds please can you do this.

[2017-01-26 16:38] pmuir opened #83 "Remove space entirely from dummy"
This is needed in order to properly implement space service

[2017-01-26 16:38] pmuir commented on #83
@VineetReynolds can you look at this?

[2017-01-27 10:42] VineetReynolds commented on #82
@pmuir Yes, please assign it to me. I've already implemented it locally, and should have this ready very soon.

[2017-01-27 10:43] VineetReynolds commented on #83
@pmuir Yes

[2017-01-27 11:22] pmuir commented on #82
@VineetReynolds I can't assign to you, I think you need to accept the collaboration invitation.

[2017-01-27 12:41] pmuir opened #86 "space.path is not set when fetching space from backend"
* **I'm submitting a ...**
[ x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
The path of every space on http://fabric8.almighty.io/pmuir/spaces is 'undefined'

* **What is the expected behavior?**
The path is the name of the space, converted to a URL (i.e. spaces etc. removed)

[2017-01-27 12:41] pmuir opened #87 "Some screens still using dummy.spaces"
Some screens (notably /home and and /pmuir) are still using dummy.spaces

[2017-01-27 16:34] pmuir opened #88 "Missing New Space Dialog"
See https://github.com/fabric8io/fabric8-ui/blob/master/src/app/header/header.component.html#L94

[2017-01-27 23:35] mitchharpur commented on #88
There are some instances when the modal window does not open from the dropdown menu. The work around for now is to refresh the page and try again

[2017-01-27 23:35] #88 closed

[2017-01-29 23:55] VineetReynolds opened #91 "Extend SpacesService to edit spaces in the REST API backend."
**Description**

We need to extend the Angular service SpacesService to edit existing spaces using the spaces REST API. The space name should be used to identify the space.

**Implementation**

The SpacesService need to implement and expose a new public method to edit existing spaces.

**Reference**

User story - #55

[2017-01-31 16:29] aslakknutsen opened #93 "Remove Private option from Space Creation Wizard"

[2017-01-31 16:33] pmuir opened #94 "Finish button on select pipeline screen on new space wizard is not wired in"

[2017-02-06 07:33] pmuir commented on #86
@VineetReynolds ^^^

[2017-02-06 07:33] pmuir commented on #87
/cc @VineetReynolds

[2017-02-06 12:17] humaton opened #97 "Remove docker related files that are not used"
remove docker-compose.yml and Dockerfiles.

[2017-02-07 08:01] sbose78 opened #101 "URL for stack service needs to be passed as an environment variable."

[2017-02-07 09:20] sbose78 commented on #97
Following files are not needed, and maybe removed.

- docker-compose.yml
- Dockerfile

[2017-02-07 09:31] sbose78 commented on #97
@humaton

This is the script https://github.com/fabric8io/fabric8-ui/blob/master/cico_build_deploy.sh which should work for deploying in a container. This is currently not working because of failure of `npm run build:prod` , but the deploy stuff is already in there.

[2017-02-07 09:39] sbose78 commented on #101
Related task on the deployment side is tracked here:
https://github.com/almighty/almighty-jobs/issues/72

[2017-02-07 09:49] pmuir opened #104 "Error building default context if username is undefined"

[2017-02-07 11:08] VineetReynolds opened #107 "Question: Should spaces be created in the first stage of the create space dialog?"
* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[x] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

Requesting clarity on whether spaces should be created in the first stage of the spaces wizard, or whether the dialog needs to be improved to convey that a new space will be created in the first stage.

* **What is the c

[2017-02-07 13:20] humaton commented on #97
Thanks for the info, so it is/will be used in production. My question is can we make it run in development?
Not every one is in favor of running npm install on main OS.

[2017-02-07 17:47] #104 closed

[2017-02-07 18:43] joshuawilson commented on #97
I think that @kbsingh said that we should keep these docker files so that we can run it in docker locally.

@kbsingh can you please confirm.

[2017-02-08 00:06] mitchharpur commented on #107
This is just because it was in the mockup and will probably change as the wizard evolves with the obsidian api over the next several weeks. The space is created on the finish button

[2017-02-08 04:58] joshuawilson commented on #107
@aslakknutsen do know you the answer to the above question?

[2017-02-08 05:12] pmuir commented on #107
As @mitchharpur said, right now we just copied the mockup from @qodfathr but the mockup contains a logical flaw - the screen allows you to go back, but it also says that part of the transaction is complete (creating the space). @qodfathr can you tell us how you want the mockup altered to resolve?

[2017-02-08 13:29] mitchharpur opened #110 "space wizard should start with an empty space name"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current b

[2017-02-08 13:49] pmuir opened #111 "Rename Start Collaborating to ..."
On http://console.prod-preview.openshift.io/home rename the button.

@qodfathr please provide the new name

Please then assign to me to make code fix, or send PR :-)

[2017-02-08 13:52] pmuir opened #112 "Menu bar is not loading if you don't enter a username in to the signup screen"
I made an async error when I rewired the context service, and I managed to allow the menu bar to disappear if someone somehow doesn't have a username set up

[2017-02-08 13:53] pmuir opened #113 "Implement resource usage screens"
All resource usage screens are hardcoded

[2017-02-09 04:21] pmuir opened #114 "Login process is cumbersome"
The current (Feb 8) initial login process is cumbersome - 4 steps to login with an existing github account - see below.

Requires significant changes

[2017-02-09 14:05] ldimaggi commented on #114
![1](https://cloud.githubusercontent.com/assets/642621/22786510/ce5282fc-eea6-11e6-8fad-dd7956ff5bb5.png)

![2](https://cloud.githubusercontent.com/assets/642621/22786508/ce3dda0a-eea6-11e6-8edc-77a9af5b7f66.png)

![3](https://cloud.githubusercontent.com/assets/642621/22786511/ce5365dc-eea6-11e6-9e82-6cbca37bf442.png)

![4](https://cloud.githubusercontent.com/assets/642621/22786509/ce473c08-eea6-1

[2017-02-09 14:25] pmuir commented on #112
Requires username to be returned in request to /api/user

[2017-02-09 20:11] alexeykazakov commented on #112
Related to https://github.com/almighty/almighty-core/issues/735

[2017-02-09 20:13] alexeykazakov commented on #112
Username will be returned by /api/user when the following PR is merged https://github.com/almighty/almighty-core/pull/692

[2017-02-09 22:27] alexeykazakov commented on #112
almighty/almighty-core#692 has been merged - username is now available in JSON returned by /api/user

[2017-02-09 22:28] alexeykazakov commented on #112
Details: http://swagger.goa.design/?url=github.com%2Falmighty%2Falmighty-core%2Fdesign#!/user/user_show

[2017-02-09 22:56] alexeykazakov opened #115 "/signup freezes if token is not valid"
"Please wait, loading user details from OAuth Provider..." it's what I see if had ever logged in before we changed the tokens in backend.
I suspect this is because the old tokens are not valid anymore. I can't re-login without cleaning my browser.

[2017-02-10 05:59] pmuir commented on #115
Do you get his stack trace in the console?

[code]

[2017-02-10 06:02] alexeykazakov commented on #115
Yes. The old tokens are not valid anymore.

[2017-02-10 06:32] alexeykazakov commented on #115
Token validation problem should be handled by UI

Here is an example of 401 error returned by backend in case of invalid token (including expired tokens):

[code]

We need to re-login in this case. Related planner issue - https://github.com/fabric8io/fabric8-planner/issues/928

[2017-02-10 13:51] pmuir opened #117 "/signup shows, even if the user information is sufficient"

[2017-02-10 21:25] almightytest opened #118 "Multiple UI elements are assigned the same name/ID on the same UI page"
Multiple UI elements are assigned the same name/ID on the same UI page - this makes test automation more difficult. See attached screenshots - can we assign a unique ID to each UI element, within the context of a UI page:

![projectname_2](https://cloud.githubusercontent.com/assets/23330096/22844427/39630b42-efac-11e6-8da6-4dda225247ac.png)
![projectname_1](https://cloud.githubusercontent.com/asse

[2017-02-11 01:19] #112 closed

[2017-02-11 16:57] joshuawilson commented on #115
I believe I fixed this with the latest commit.

[2017-02-13 05:50] pmuir opened #120 "Settings link is only valid if the user is the currently logged in user"

[2017-02-13 06:46] nimishamukherjee opened #121 "For a returning user, the screen does not go beyond the OAuth screen"
This issue occurs for a returning user:
- On Firefox, I return to the application
- I click on http://console.prod-preview.openshift.io/
- I'm redirected to http://console.prod-preview.openshift.io/signup
- The screen does not proceed beyond this. The text "Please wait, loading user details from OAuth Provider..." is displayed.
- Console screen shot:
![consoleerror](https://cloud.githubusercontent

[2017-02-13 06:57] nimishamukherjee opened #122 "Space is undefined when launching the app from an incognito browser for the first time"
- Open a fresh instance of Chrome's incognito window
- Login
- Click on a space (BalloonPopGame)
- We get a blank screen
- Console displays "space undefined" error
- After we refresh the incognito window, the UI works as expected
- Screenshot of console error:
![spaceundefined](https://cloud.githubusercontent.com/assets/1892722/22873597/1d561df8-f1e7-11e6-940b-1db89f2cff66.png)

[2017-02-13 06:58] pmuir commented on #121
Dupe of #115 I think.

[2017-02-13 07:27] pmuir commented on #121
@nimishamukherjee do you still see this as @joshuawilson thinks he fixed it...

[2017-02-13 07:37] joshuawilson commented on #121
I think there are still bugs but I also know that if you delete the cookie for the sight you should be able to login. What I don't know is if that is enough. I don't know if my the changes done with the keys is the cause or if something else is broken. Something to work out over the next several days.

[2017-02-13 08:10] pmuir commented on #121
@joshuawilson the other bug was about not having to delete the token from local storage to login... I will reopen.

[2017-02-13 08:10] pmuir commented on #115
Don't think this is actually fixed.

[2017-02-13 09:37] pmuir commented on #115
Actually it did just work for me.

[2017-02-13 09:37] #115 closed

[2017-02-13 09:38] pmuir commented on #121
@nimishamukherjee please retest, as this did work for me.

[2017-02-13 15:05] invincibleJai opened #127 "In recommender/stack feature replacing angular-datatable with patternfly components and make it div layout"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current b

[2017-02-13 15:13] invincibleJai opened #128 "In recommender/stack feature , modal should make use of existing ngx-modal"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current b

[2017-02-13 20:38] kbsingh opened #129 "use relative url's rather than fqdn's for dependancy services"
* **I'm submitting a ...**
[X] feature request

* **What is the current behavior?**
https://github.com/fabric8io/fabric8-ui/blob/master/cico_build_deploy.sh#L19 specifies an absolute URL to be used for a dependancy service.

* **What is the expected behavior?**
Move to using relative urls eg : api.<domain of fabric8-ui>, and sso.<domain of fabric8-ui> etc

* **What is the motivation / use case for

[2017-02-13 21:38] #117 closed

[2017-02-14 05:50] #120 closed

[2017-02-14 09:08] sbose78 commented on #129
Hi @kbsingh Sorry if this is a very fundamental question,
The name of the environment ( "demo.almighty.io" ) would be passed on an env variable to cico_build_deploy.sh ?
Is that the expectation?

[2017-02-14 10:29] pmuir opened #130 "Remove recent activity from /home"
Not needed right now

[2017-02-14 10:43] kbsingh commented on #129
@sbose78 no, there would be / should be nothing passed in via the Env at build time, the code should be able to make assumptions around where to find the various end points. eg. in your example of demo.almighty.io, if the ui code was running on www.almighty.io, it should assume that the sso is at sso.almighty.io and api is at api.almighty.io; similarly moving it to mydevbox.io should make it look

[2017-02-14 11:55] pmuir opened #131 "Provide an secure http wrapper for calls to backend"
This way the services only need to know whether they want a secure connection or not, not how to do it

[2017-02-14 11:56] pmuir commented on #131
@joshuawilson please ack and myself or @sbose78 are happy to do it :-D

[2017-02-14 11:59] pmuir opened #132 "Remove hardcoded auth token from stacks in fabric8ui"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current b

[2017-02-14 12:03] arunkumars08 opened #133 "Changes in the Public facing API and refactoring of a few modules"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current b

[2017-02-14 14:38] pmuir commented on #122
I did a big upgrade to contexts yesterday which Joshua merged, and after that I can''t reproduce, please can you check @nimishamukherjee

[2017-02-14 14:41] pmuir opened #137 "Switch to parameterized URLs for loading spaces and users"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current b

[2017-02-14 15:04] invincibleJai commented on #101
this has been taken care as PR #119

https://github.com/fabric8io/fabric8-ui/blob/master/src/app/analyze/stack/stack-analyses.service.ts

can it be closed?

[2017-02-14 15:38] #130 closed

[2017-02-14 16:29] pmuir opened #138 "Support remembering originating URL when redirecting to login"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current b

[2017-02-14 16:30] pmuir opened #139 "Determine which pages require login"

[2017-02-14 19:14] #137 closed

[2017-02-14 20:02] #133 closed

[2017-02-15 03:07] invincibleJai opened #143 "Update API reference in webpack.prod.js for STACK/Recommender"
Update API reference in webpack.prod.js for STACK/Recommender

[2017-02-15 04:11] pmuir opened #145 "Implement waitlisting and access code support"

[2017-02-15 04:13] #132 closed

[2017-02-15 05:34] arunkumars08 opened #146 "To move the private members below the public ones."
To make the Linting successful,

1. Private members(functions and variables) have to be moved below the public declarations.
2. Refactor the code

[2017-02-15 08:13] pmuir opened #147 "flashMessages not working on /public"
I get some error when I call show

[2017-02-15 11:00] pmuir commented on #94
It does actually work there is just some weird validation going on

[2017-02-15 11:01] pmuir opened #150 "Remove space-dialog"

[2017-02-15 13:26] pmuir opened #151 "Switch github icon to RHD icon"

[2017-02-15 13:31] pmuir opened #152 "It's not obvious/you can't select a stack"

[2017-02-15 13:31] pmuir opened #153 "It's not obvious / you can't select a pipeline"

[2017-02-15 13:32] pmuir opened #154 "Integrate planner"

[2017-02-15 13:37] #143 closed

[2017-02-15 13:50] pmuir commented on #129
@sbose78 should we assign this one to you?

Offline discussion:

Core issue is https://github.com/almighty/almighty-core/issues/775

[2017-02-15 14:15] alexeykazakov commented on #129
To be clear. This issue is about using relative URL's in UI for dependency services. For UI these services are almighty-core, planner etc.
UI currently doesn't use Keycloak (sso.*) service directly. The keycloak/sso part is for the core side - almighty/almighty-core#775
But if we start using Keycloak directly in UI then yes, it should use the relative URL for that too.

[2017-02-15 14:18] pmuir commented on #129
Ok, now I understand.

[2017-02-15 15:32] sbose78 commented on #129
Thanks @pmuir @kbsingh and @alexeykazakov
Wanted to add that :
I don't think we should be doing away with the env or API_URL argument approach completely since it helps when trying out things in local.

The code should use relative URLs ( as required by this issue ) as a default , but use env var if they are present.

[2017-02-15 16:36] kbsingh commented on #129
@sbose78 can that be made optional ? so use API_URL if its exists, otherwise default to api.<domain>/

[2017-02-15 18:22] alexeykazakov commented on #129
@sbose78 completely agree with you. This is what I'm going to implement in almighty-core. Use the relative URL's by default but you still can override it by passing the absolute URL's via configuration/env vars. We need it for testing stuff in dev environment.

[2017-02-16 06:14] #138 closed

[2017-02-16 06:23] #146 closed

[2017-02-16 14:55] pmuir commented on #129
@sbose78 @kbsingh that was my idea - I'll add an api service to the UI that we can share with other components.

[2017-02-17 05:18] alexeykazakov opened #157 "Refresh token to avoid access token experation"
We need to refresh token if user is active. Otherwise the token will be expired and the user will be redirected to the login page.
Backend has all needed support for that:
https://github.com/almighty/almighty-core/pull/776
https://github.com/almighty/almighty-core/pull/780

I know that @dgutride is working on this but I didn't find any open UI issue for that. Sorry if it's a duplicate.

[2017-02-17 05:45] pmuir commented on #157
@dgutride please self assign if you are working on this.

[2017-02-17 06:06] invincibleJai opened #158 "API call for multiple recommendation"
once user select multiple recommendation , it's not making an API call to work-item creation

[2017-02-17 07:44] sbose78 commented on #129
Yes @kbsingh .
@alexeykazakov Are you working on it? If yes, let me know if you need to split up tasks with me.

[2017-02-17 08:11] alexeykazakov commented on #129
@sbose78 I'm working on the core part only - https://github.com/almighty/almighty-core/issues/775
Not on this one which is the UI part.

[2017-02-17 11:19] arunkumars08 opened #160 "Implement recommender feature as per mock."
1. Change the current recommender feature's look to make it in sync with the mock.

[2017-02-17 12:20] dgutride commented on #157
@pmuir - I'm not able to assign myself, can you add me to the fabric8io org?

[2017-02-17 15:15] #158 closed

[2017-02-19 06:33] pmuir opened #162 ":entity/spaces and :entity/resources routes are not loading"
Since we switched to parameterized routing, these broke

[2017-02-19 06:34] pmuir commented on #151
@paulrobinson is there a RHD font icon we can use?

[2017-02-19 17:41] paulrobinson commented on #151
@insectengine can you help Pete?

[2017-02-20 05:58] #129 closed

[2017-02-20 06:00] pmuir commented on #129
@kbsingh @aslakknutsen @sbose78 @alexeykazakov fabric8-ui is updated to look at relative URLs for services but I have left the hard-coding in the prod build for now until you tell me the services are appearing at the right URLs (I need work item tracker and bayesian right now).

[2017-02-20 16:43] pmuir opened #163 "Add spaceChanged event"

[2017-02-20 17:41] pmuir opened #165 "Add leading _ to paths of entity, and reserve all words starting with _"

[2017-02-20 20:13] pmuir opened #167 "As a user I want to be able to view the pipelines associated with my space"
### Verification Conditions

1) I can click the Run tab for my space and then navigate to the pipelines view

[2017-02-20 20:14] pmuir opened #168 "As a user I want to be able to select a pipeline when creating a new space"
### Verification Conditions

1. The pipeline I select when creating a new space is automatically enabled for my codebase

[2017-02-20 20:15] pmuir opened #169 "As a user I want to be able to view the pipelines associated with each of my codebases"
### Verification Conditions
1. I can click on some sort of menu or link associated with a codebase and view the relevant codebases

[2017-02-20 20:59] #167 closed

[2017-02-20 20:59] #168 closed

[2017-02-20 21:01] #169 closed

[2017-02-21 09:19] #163 closed

[2017-02-21 14:33] VineetReynolds opened #172 "Add a collaborator to a space"
**Description**

As a project owner, I'd like to add a collaborator to a space, so that I can collaborate with other team members on a specific project.

When adding a collaborator, the collaborator should be identified uniquely as a user in the system.

**Functional Acceptance Criteria:**

* The collaborator should see the space under the list of spaces he is collaborating on.
* The space should

[2017-02-21 16:19] ldimaggi commented on #172
Question - Do we also want the ability to revoke a collaborator's membership in a team? If we do this, what will happen to his/her access to workitems, comments, etc. that she created? Thx!

[2017-02-21 18:45] alexeykazakov commented on #172
related to https://github.com/almighty/almighty-core/issues/762

[2017-02-22 13:23] jstrachan commented on #153
shouldn't this issue be raised here? https://github.com/fabric8-ui/fabric8-runtime-console

[2017-02-22 13:35] pmuir opened #174 "Login fails at times"

[2017-02-22 13:35] pmuir opened #175 "If you load an already logged in session, it just spins"

[2017-02-22 13:36] pmuir opened #176 "Very poor error message if space name is not unique"
At the end of the create space wizard

Very poor error message if space name is not unique

“Failed to create the collaboration space:
        space name :
        demo
        message:
        Cannot read property 'logger' of null

“

[2017-02-22 13:37] pmuir opened #177 "Closing new space wizard doesn't clear it's state"

[2017-02-22 13:38] pmuir commented on #153
This is on the create space wizard

[2017-02-22 15:47] ldimaggi opened #179 "Chrome browser issues - some screen elements are showing up blank"
Just started seeing this today - see attached screenshots - to recreate:

* Build from source, access localhost:3000
* Navigate UI screens - observe blank UI elements
* Navigating to the "learn" screen seems to clear this up
* Problems are being seen on RHEL7 with Chrome Version 54.0.2840.59 (64-bit)

![screenshot from 2017-02-22 10-38-38](https://cloud.githubusercontent.com/assets/642621/23219106

[2017-02-22 21:43] pmuir commented on #179
@mitchharpur @dgutride either of you know what is up here.

[2017-02-22 22:36] #162 closed

[2017-02-22 22:37] pmuir opened #182 "Replace space-wizard with the angular patternfly wizard"

[2017-02-22 22:50] pmuir opened #183 "Embed process.env.BUILD_NUMBER somewhere in the prod UI"

[2017-02-22 22:57] pmuir opened #184 "Replace angular 2 flash messages"
This is where we should integrate the toast notifications IMO

[2017-02-23 08:13] pmuir opened #187 "Redo SASS imports to not reimport base every time"

[2017-02-23 10:32] pmuir opened #189 "Investigate loading .scss files in dev rather than inline <style> elements"

[2017-02-23 10:33] pmuir opened #190 "Properly load styles from CSS files in production"

[2017-02-23 13:29] dgutride commented on #179
@pmuir - the styles appear to be loading too late - I noticed quite a few scss changes coming in shortly, I'd like to wait to debug until those are complete because it could all be related.

[2017-02-23 13:47] pmuir commented on #179
I think https://github.com/fabric8io/fabric8-ui/pull/188 may well fix it @dgutride

[2017-02-23 14:30] pmuir opened #191 "Switch from ruby import of patternfly to npm"

[2017-02-23 16:05] #150 closed

[2017-02-23 16:31] #165 closed

[2017-02-23 16:37] #187 closed

[2017-02-23 16:52] dgutride commented on #174
@pmuir - any insight into how to repro this?  I think my fix here https://github.com/fabric8io/fabric8-ui/pull/192 cleaned up the oddities with the initial login when either a good or bad token is existing.

[2017-02-23 17:05] pmuir commented on #174
No, let's leave this open and if we spot anything, add it?

[2017-02-23 18:25] #183 closed

[2017-02-23 19:12] catrobson opened #193 "Profile picture should come from github"
The profile picture is not being carried in from github correctly:

![image](https://cloud.githubusercontent.com/assets/3739227/23274820/1977a7e0-f9d2-11e6-8694-0a772bd4e736.png)

[2017-02-23 19:28] dgutride commented on #175
https://github.com/fabric8io/fabric8-ui/pull/192/files - this should be fixed now

[2017-02-23 19:28] #175 closed

[2017-02-23 19:29] dgutride commented on #157
https://github.com/fabric8io/fabric8-ui/pull/194 - ngx-login-client was updated to auto refresh the token prior to expiration.  Closing...

[2017-02-23 19:29] #157 closed

[2017-02-24 11:57] pmuir opened #195 "Include date/time in build id"

[2017-02-24 13:19] pmuir commented on #193
@catrobson I will need to borrow you or your account to reproduce.

[2017-02-24 13:22] pmuir commented on #184
@dgutride @dlabrecq @joshuawilson do we have plans to add toast-notifications to ngx-widgets?

[2017-02-24 13:22] pmuir commented on #179
@ldimaggi can you please check this on current HEAD of master or http://prod-preview.openshift.io as I think this is fixed.

[2017-02-24 13:30] ldimaggi commented on #179
Closing - verified as fixed in master.

[2017-02-24 13:55] pmuir commented on #121
@nimishamukherjee please retest or I will close ;-)

[2017-02-24 13:55] pmuir commented on #122
@nimishamukherjee please can you check if you still reproduce?

[2017-02-24 14:32] dlabrecq commented on #184
Angular Patternfly has pfToastNotification and pfToastNotificationList available. I'm guessing we would want the list functionality, too?

http://www.patternfly.org/angular-patternfly/#/api/patternfly.notification.component:pfToastNotificationList

Would you like us to convert these components to Angular 2?

[2017-02-24 15:12] pmuir commented on #184
I would but I defer to Joshua on priorities...

On 24 February 2017 at 09:32, Dan Labrecque <notifications@github.com>
wrote:

[2017-02-24 17:21] #195 closed

[2017-02-24 17:38] catrobson commented on #193
After discussion with Alexey, the current profile picture is being carried in from gravatar.  We don't ask the user before doing this, so its a bit hard for the user to identify where this mysterious profile picture came from.

Instead, I propose that we have a blank state image for the profile picture until we link to the user's github account.  Upon the github link, we will bring in the users pr

[2017-02-26 00:52] #189 closed

[2017-02-26 01:40] #191 closed

[2017-02-26 11:19] pmuir opened #202 "Add sass source maps"
Requires upgrading to sass-loader 6.x which I think means moving to a more modern webpack.

[2017-02-26 17:58] #179 closed

[2017-02-26 22:38] dlabrecq commented on #184
Converted the Angular Patternfly toast notification. Working on the notification list which uses it.

https://github.com/fabric8-ui/ngx-widgets/pull/9

[2017-02-27 22:30] #93 closed

[2017-02-27 22:30] #110 closed

[2017-02-27 22:30] #177 closed

[2017-02-28 15:07] joshuawilson commented on #202
I'm working on the upgrade today.

[2017-02-28 17:24] pmuir opened #214 "Use patternfly compiled css rather than building from sass"

[2017-02-28 17:27] pmuir commented on #190
Can't quite get this to work right now. Will try again once we have upgraded to newer webpack and angular, as I suspect some of the bugs will resolve themselves

[2017-02-28 18:19] pmuir commented on #190
Hmm, I seem to have made it work after all... Not sure if this *really* works or not...

[2017-03-01 13:16] pmuir opened #219 "Fonts and images are not displaying properly in production"

[2017-03-01 13:27] pmuir opened #220 "Clicking finish on the wizard from the pipeline page doesn't properly close the wizard"
Actually, I think what happens is that the system is communicating with the backend but it's not clear that you have to wait for the space to be created

[2017-03-01 13:28] pmuir opened #221 "Clicking on an unknown space can result in the application crashing"
Clicking on a new space results in a spinner

[2017-03-02 06:20] #214 closed

[2017-03-02 06:48] #91 closed

[2017-03-02 08:06] #82 closed

[2017-03-02 08:15] #69 closed

[2017-03-02 21:41] mitchharpur opened #229 "layout styles need to be updated to allow for content to fill container"
When a view css class contains an app component ... a view-content class is needed to help content fill the container.

[2017-03-03 02:23] #229 closed

[2017-03-03 03:39] #70 closed

[2017-03-05 02:15] #219 closed

[2017-03-05 02:18] pmuir commented on #190
This is now as complete as I can get it, I think (there is still some odd interaction with the sass loader, but we only have very small bits it style tags now

[2017-03-05 02:18] #190 closed

[2017-03-05 02:53] #220 closed

[2017-03-05 13:51] pmuir opened #238 "Move Navigation and Context models to ngx-fabric8-wit"
These are useful for modules that want to integrate

[2017-03-05 14:14] pmuir commented on #160
Is this done @arunkumars08

[2017-03-05 17:39] arunkumars08 commented on #160
@pmuir This is moved to another repository. fabric-recommender. I will close the issue here.

[2017-03-05 17:39] #160 closed

[2017-03-05 17:40] arunkumars08 commented on #128
Moved to an other repository fabric-recommender. Closing the issue here.

[2017-03-05 17:40] arunkumars08 commented on #128
@invincibleJai Please close this issue from here.

[2017-03-05 17:41] arunkumars08 commented on #127
@invincibleJai Please close this issue. This has been moved to fabric-recommender.

[2017-03-05 23:53] joshuawilson opened #241 "Fetching work-items happens multiple times instead of once"

[2017-03-06 00:10] pmuir commented on #241
This happens because a single context change results in multiple spaceChanged events. We need to get it down to one.

[2017-03-06 06:29] #127 closed

[2017-03-06 06:29] #128 closed

[2017-03-06 19:18] Mgranfie opened #242 "Allow user to navigate + log in to their home page via cut and paste or type entering URL"
@pmuir
As a user of OpenShift.io I want to be able to paste or type my URL "openshift.io/<myusername>" into the browser and if I am not yet logged in, I am directly navigated to the RHD login, so that I don't have to click the "Log in" option/button on the OS.io beta page every time I want to log in to OS.io.

[2017-03-07 01:57] pmuir commented on #242
@Mgranfie could you open this in https://github.com/openshiftio/www.openshift.io please?

[2017-03-07 13:56] pmuir opened #243 "Plan component is missing custom.scss"

[2017-03-07 13:57] pmuir commented on #243
/cc @SMahil

[2017-03-07 16:41] Mgranfie commented on #242
@pmuir Yes will do.

[2017-03-07 18:04] #242 closed

[2017-03-07 18:04] Mgranfie commented on #242
This was moved to OpenShift.io

[2017-03-08 01:08] #243 closed

[2017-03-08 01:09] pmuir commented on #238
I moved context - see https://github.com/fabric8-ui/ngx-fabric8-wit/releases/tag/v6.7.0

[2017-03-08 01:09] #202 closed

[2017-03-08 01:14] #23 closed

[2017-03-08 01:14] pmuir commented on #23
I implemented this a while back in the UI

[2017-03-08 01:14] pmuir commented on #36
This is done.

[2017-03-08 01:14] #36 closed

[2017-03-08 01:15] #51 closed

[2017-03-08 01:16] #101 closed

[2017-03-08 01:16] #121 closed

[2017-03-08 01:16] #122 closed

[2017-03-08 22:49] #241 closed

[2017-03-08 23:40] #238 closed

[2017-03-09 01:50] #221 closed

[2017-03-09 18:09] dgutride opened #255 "Work-item detail display hides tertiary menu incorrectly"
The submenu items disappear when viewing a planner item details.

[2017-03-10 06:32] #184 closed

[2017-03-10 06:36] #255 closed

[2017-03-11 01:28] pmuir commented on #174
This seems to be sorted out.

[2017-03-11 01:28] #174 closed

[2017-03-11 01:28] pmuir commented on #131
Done by @dgutride

[2017-03-11 01:28] #131 closed

[2017-03-11 01:29] pmuir commented on #147
Done by #239

[2017-03-11 01:29] #147 closed

[2017-03-11 22:20] joshuawilson opened #260 "Can't logout"
From being logged, I can not log out. If I want to switch accounts or users I have to wait for some unknown timeout to occur.

We need to be able to actually log out when you click "logout".

[2017-03-11 22:28] alexeykazakov commented on #260
I created an issue for backend - https://github.com/almighty/almighty-core/issues/987

[2017-03-12 02:42] joshuawilson opened #266 "Space creation default button closes modal"
When I create a new space the first screen that pops up is for entering the name. If I type the name and hit enter it closes the screen.

We need to get @fabric8io/uxd to think about what it should do, but I know it shouldn't close.

[2017-03-12 14:18] pmuir commented on #266
@Essjaysee is working on this and I've seen first versions of mockups that change the UX flow.

[2017-03-12 14:18] #154 closed

[2017-03-12 14:19] pmuir commented on #111
@muruGanesan is working onthe designs for this

[2017-03-12 14:20] pmuir commented on #107
@Essjaysee is working on this

[2017-03-12 14:21] pmuir commented on #87
Done

[2017-03-12 14:21] pmuir commented on #87
See #268

[2017-03-12 14:22] pmuir commented on #83
See #268

[2017-03-12 14:22] pmuir commented on #151
Duplicate of #75

[2017-03-12 14:22] #151 closed

[2017-03-12 14:47] aslakknutsen commented on #107
Personally, I wouldn't see it is one large popup wizard. In my mind the 'get started' makes more sense as the default 'dashboard' landing page for an empty space. 'get started' is also something you would want to do over and over again inside the same space which means you need to know where to get access to that part of the wizard anyway.

[2017-03-12 16:01] pmuir opened #270 "ContextCurrentUserAuthGuard is hanging because the context is not loaded yet"
Reproduce by:

1) Logging out
2) visiting `/<username>/_settings`
3) Observe spinning wheel

This is because we have a race between the context resolver and this guard

[2017-03-12 18:43] pmuir opened #272 "Better way to handle displaying the default context"
Right now this is hardcoded to display for `/home` which may or may not be a problem.

[2017-03-12 18:57] #54 closed

[2017-03-12 19:13] #87 closed

[2017-03-12 23:09] #83 closed

[2017-03-12 23:10] pmuir commented on #86
@VineetReynolds is going to remove space.path

[2017-03-12 23:12] pmuir commented on #56
Fixed by #269 I think

[2017-03-12 23:12] pmuir commented on #53
Fixed by #269 I think

[2017-03-12 23:13] #94 closed

[2017-03-12 23:13] pmuir commented on #41
one for ngx-widgets

[2017-03-12 23:13] #41 closed

[2017-03-12 23:14] pmuir commented on #49
Dupe of #139

[2017-03-12 23:14] #49 closed

[2017-03-12 23:14] pmuir commented on #25
See also #139

[2017-03-13 09:29] muruGanesan commented on #111
@pmuir, Jessica worked on the screen. You can see the (wireframe) mock up  here: https://redhat.invisionapp.com/share/XZAOBAOPB#/screens

[2017-03-13 15:34] aslakknutsen opened #274 "URL is double(?) escaped in Planner"
http://prod-preview.openshift.io/aslak%404fs.no/Aslak-Test

Open up any Detail view of a WI and it works, url becomes: http://prod-preview.openshift.io/aslak%25404fs.no/Aslak-Test/plan/detail/2

Close the Details and try to open another:
Notification comes up: "/aslak%2525404fs.no/Aslak-Test/plan/detail/6 not found"
![screenshot from 2017-03-13 16-35-28](https://cloud.githubusercontent.com/assets/

[2017-03-13 15:37] michaelkleinhenz opened #275 "After login, need to hit refresh on browser to start application"
The current production version (date of bug) needs a F5 refresh after login to get from the spinner to the application. Browser is Chrome Beta.

Console after login:

Router Event: NavigationStart
filter-fields.component.scss:11 NavigationStart(id: 2, url: '/public')
filter-fields.component.scss:11 NavigationStart {id: 2, url: "/public"}
filter-fields.component.scss:11 Router Event: RoutesRecogniz

[2017-03-13 15:40] michaelkleinhenz opened #276 "Create new space does not work"
Current version as of bug on production: I can not create a new space from scratch. Selecting "Agile" as the template and hitting on "Finish" does nothing. In the console, an error is popping up (Chrome Beta Current):

finish! undefined
filter-fields.component.scss:11 undefined
patternfly.css:2 EXCEPTION: Cannot find user
ErrorHandler.handleError @ patternfly.css:2
next @ patternfly.css:2
e.object

[2017-03-13 15:42] michaelkleinhenz opened #277 "Submenu vanishes when opening the detail view in Planner"
Current prod version as of bug, Chrome Beta Current: when in Planner, opening the detail view of a work item from the list view removes the submenu bar from view, never to be seen again. Reload brings it back, though.

[2017-03-13 16:17] Essjaysee commented on #266
https://redhat.invisionapp.com/share/ZQARDX35J if you'd like to take a look, @joshuawilson

[2017-03-13 17:05] pmuir commented on #277
@michaelkleinhenz please can you provide the version number from the footer. Something like: ` ( v1.6.1 Build#49 2017-03-13T02:44:11+00:00 )`

[2017-03-13 17:22] pmuir commented on #274
Looks like a bug in planner where they call navigate which is re-encoding the URL. Will try to fix and submit PR.

[2017-03-13 19:36] pmuir opened #281 "Use space.id and user.id to store recent contexts"
In https://github.com/fabric8io/fabric8-ui/blob/master/src/app/shared/context.service.ts#L347 we save and load the recent spaces (currently from localstorage, later from the backend). At the moment we store the space name and username, but instead we should use id.s

[2017-03-13 19:45] pmuir commented on #111
@muruGanesan is this ready for us to start implementing? If so, can @SMahil do an initial html/css pass through for us? /cc @maxandersen @michaelkleinhenz

[2017-03-13 22:09] #274 closed

[2017-03-13 22:57] #275 closed

[2017-03-13 23:28] pmuir opened #283 "Move /home to /_home to be consistent"

[2017-03-14 21:18] pmuir opened #290 "infinite scroll is not working on /<username>/_spaces"

[2017-03-15 04:24] pmuir opened #293 "_spaces should show owned spaces only"

[2017-03-15 04:27] pmuir commented on #293
@VineetReynolds please fix this properly with a backend API.

In the meantime I will implement a poor mans approach by just iterating all spaces in the impl.

[2017-03-15 10:10] arunkumars08 opened #294 "Putting Bayesian NPM package into fabric8-ui codebase"

[2017-03-15 13:46] pmuir opened #296 "Validate Space Names to not contain banned chars"
Any character that get's URL encoded should be banned.

[2017-03-15 16:12] SMahil opened #297 "Create HTML for Space Landing page"
Create HTML for Space Landing page

Wireframes: https://redhat.invisionapp.com/share/NZATYFVXT#/screens/223261821_Space_Homepage_-

Visuals:

[2017-03-15 21:29] #266 closed

[2017-03-15 21:29] #276 closed

[2017-03-15 21:29] pmuir commented on #277
Can't reproduce.

[2017-03-15 22:29] pmuir commented on #281
@VineetReynolds would you like to take this one on?

[2017-03-15 22:30] #277 closed

[2017-03-16 01:41] joshuawilson commented on #266
@Essjaysee thanks, for the link. Additionally I really like the Space Wizard image, I want to find a way to Easter Egg that. :)

[2017-03-16 08:04] jstrachan opened #300 "migrate fabric8-runtime-console's use of Caddy into fabric8-ui for proxying, serving content + templates"
as discussed on chat yesterday we could either:

* migrate the [Caddyfile](https://github.com/fabric8-ui/fabric8-runtime-console/blob/master/Caddyfile) into the equivalent nginx thingy
* migrate fabric8-ui to just use Caddy instead of nginx (which is probably the simplest thing to do)

The main thing is we need possible proxying (if CORS doesn't work on OSO)
https://github.com/fabric8-ui/fabric8-r

[2017-03-16 11:09] pmuir commented on #300
Status update: I started to impl in nginx, but realised that a module I need for nginx is not built as RPMs for CentOS so @mohammedzee1000 or @dharmit will build the right container with the module in for me in the next day or two. If we block on this in the meantime let me know, and I will just use caddy for now.

Regarding configuration: We currently inject the API URLs to use in to the code (as

[2017-03-16 11:10] pmuir commented on #300
I guess I will template the nginx config file using some JS templating / yaml thingy.

[2017-03-16 11:11] pmuir commented on #293
Done

[2017-03-16 11:11] #293 closed

[2017-03-16 11:12] pmuir commented on #107
This specific question is now addressed, there is a create space button.

[2017-03-16 11:12] #107 closed

[2017-03-16 11:13] pmuir commented on #75
Done with switch to new landing page.

[2017-03-16 11:13] #75 closed

[2017-03-16 11:18] jstrachan commented on #300
@pmuir ah thanks! Just noodling that module now; will try update fabric8-runtime-console to use a similar approach too...

[2017-03-16 11:30] pmuir commented on #300
it's the https://github.com/openresty/headers-more-nginx-module that I am missing on centos - it's in apt-get as nginx-extras if that helps anyone.

[2017-03-16 14:33] #270 closed

[2017-03-16 14:39] #296 closed

[2017-03-16 15:17] pmuir commented on #57
@VineetReynolds the UI now has all of this.

[2017-03-16 15:19] pmuir commented on #57
@VineetReynolds can you make sure you add validation to the rest endpoint for allowed chars. ^[a-zA-Z0-9_-]*$

[2017-03-16 15:24] pmuir opened #304 "Allow editing of user profile"
See https://github.com/almighty/almighty-core/pull/906#issue-211010870 for API

[2017-03-16 15:33] sbose78 commented on #304
Please note that the payload does not require user id.
The user id is picked up from token.

[2017-03-16 15:37] sbose78 opened #305 "Persist user context information via the 'update User profile' service."
Use the following payload format :
https://github.com/almighty/almighty-core/pull/1007#issue-214631751

Look out for 'ContextInformation'

Depends on core task : https://github.com/almighty/almighty-core/issues/908

[2017-03-16 23:38] pmuir opened #307 "The list of work items is the same for every space"

[2017-03-17 01:00] pmuir commented on #193
I'm not actually clear where the image is coming from now that we get the user record from developers.redhat.com.

However, @catrobson we now have the ability for the user to update their image by providing a new URL. We can't implement image storage atm. Can you think about how we present that UX?

[2017-03-17 02:11] pmuir commented on #300
Regarding proxying, the module is needed is being added to a container, I hope for an update tomorrow.

For dev proxying I suggest we just use the webpack dev server's inbuilt support for proxying and use the same config loader I wrote today to configure it. I can do that tomorrow if you agree @jstrachan

[2017-03-17 02:15] #304 closed

[2017-03-17 08:21] michaelkleinhenz commented on #307
Yes, known issue. AFAIK the work items are already space-attached, but whats missing is the related link in the space model. Hector is working on that. @aslakknutsen any ETA?

Sidenote: Hector seems not to be member of this project. I can't find him in the assign list.

[2017-03-17 09:48] jstrachan commented on #300
@pmuir sounds great to me yeah. In dev mode we can avoid templating too and just use the web pack env var stuff directly. Sounds like dev mode will be slicker and require less download/messing around which is a big win too ;)

I'm reasonably hopeful for fabric8-ui we can minimise templating at all too; its more for the fabric8-runtime-console side of the house.

Many thanks!

[2017-03-17 10:29] vikram-raj opened #310 "Token remain in the URL after login."
Token remain in the URL after login and it throws NavigationError when the user performs any activity on the page.

Video link for reference: https://youtu.be/Cjcu15xZrR0

[2017-03-17 10:54] pmuir opened #311 "Local development against local WIT server doesn't work"
@alexeykazakov I will try to reproduce but any tips are most welcome.

[2017-03-17 12:26] pmuir commented on #310
Reproduction: Navigate to http://prod-preview.openshift.io/rhn-support-pmuir/BalloonPopGame/plan when not logged in, click login, then click a work item.

I suspect this is caused by 274 which is fixed when we upgrade planner in platform. I will look again at that point.

[2017-03-17 19:50] alexeykazakov commented on #311
The steps to reproduce if pretty simple.
Clean/destroy the core DB. Run core locally. Run fabric8-ui against the local core.
I suspect the issue reproducible when you are using some just created DB.

[2017-03-19 16:02] pmuir commented on #310
The upgrade to planner has made this worse, the navigation now no longer completes when you aren't logged in.

[2017-03-20 04:50] alexeykazakov opened #322 "Initiate federated identity linking after successful login"
Backend now supports federated identity linking. See details here - https://github.com/almighty/almighty-core/pull/1015

Currently we hardcoded auto-linking during login. But here is proposed workflow:

- User logins using UI. UI calls `/api/login/authorize` with no parameters.
- `/api/login/authorize` logins the user and checks if there is any unlinked federated identities. If no, then adds `link

[2017-03-20 14:52] joshuawilson commented on #322
@dgutride can you take this on? If you need anyone else to help, let me know or just ask.

[2017-03-20 15:15] qodfathr opened #323 "Space names > 16 chars"
Space names should be allowed to be more than 16 char. Platform supports up to 1GB; 100-ish would be a reasonable trade-off. 20-30 char names would not be unusual.

[2017-03-20 15:17] qodfathr opened #324 "Space names to include spaces"
Space names, as far as the user is concerned, should permit embedded spaces. e.g. "Stock Market Analyzing Bot" should be a permissible Space name.

[2017-03-20 15:44] pmuir commented on #324
The backend should disallow spaces. The UI will handle the +/space thing. If using the API, you just put + where you want space.

[2017-03-24 02:15] aslakknutsen opened #348 "UI should generate a unique ID for all http requests"
Using the HTTP Header **X-Request-Id**

ID is used to track requests from client to backend services.

[2017-03-24 12:14] qodfathr opened #349 "Nav bar on all pages should contain same service status gadget as found on www"

[2017-03-24 15:03] qodfathr opened #350 "Profile picture should use aspect ratio of source image"
When displaying the user's profile picture on /<userid>, set the image's aspect ratio to match the source image. Note it is not necessary to display the image in its original size. (e.g., if the source image is 3000x2000, you probably want to display it at 150x100).

[2017-03-24 15:44] mindreeper2420 opened #352 "Header Should Read 'Log In' Not 'Sign In'"
If I navigate to http://prod-preview.openshift.io/adamjolicoeur without being logged in, the text in the upper right corner of the navigation should read 'Log In'. This will match the text that will be used on http://prod-preview.openshift.io/ when a user is not logged in.

<img width="1920" alt="screen shot 2017-03-24 at 11 43 30 am" src="https://cloud.githubusercontent.com/assets/4032718/2430188

[2017-03-24 20:58] qodfathr opened #353 "Space names must not have leading or trailing spaces"
@VineetReynolds  When creating a new Space, although spaces are permitted within the Space name, spaces are not permitted at the start or end of the Space name.

Valid:
`My<space>space`

Invalid:
`My<space>space<space>`
`<space>My<space>space`

[2017-03-24 21:10] qodfathr opened #354 "In all page titles, change 'Openshift.io' to 'OpenShift.io'"

[2017-03-24 21:15] qodfathr opened #355 "In production, change favicon to be OpenShift icon"
For example, this one: https://assets.openshift.net/content/subdomain/favicon32x32.png

[2017-03-24 21:28] qodfathr opened #356 "List of recent Spaces on /_home should include entity id if not owned by current user"
On /_home, there is a list of recent Spaces. It only shows the Space name. This is desired if the Space is owned by the current user. However, if the Space is owned by another entity, then it should be listed with the entity id and then the space name.

e.g.

Hello World   <----- A space that I own
pmuir/Hello World   <------ A space that I recently visited, but is owned by pmuir
SomeOrg/Hello Wor

[2017-03-25 00:36] pmuir opened #358 "Add company field to analytics and profile"
Once https://github.com/fabric8-ui/ngx-login-client/issues/27 is complete

This would need to be done using the identifyUser method on the analytics service. Look at the segment.io documentation to identify the correct field.

[2017-03-25 03:44] joshuawilson opened #360 "Create Space 'take me' link broken"
When I create a new space and it succeeds the modal changes to the "how to get started" view. There is a button at the bottom that says "no thanks, just take me to the [space name]". That button doesn't take me anywhere and I just stay on the modal.

[2017-03-25 13:21] pmuir commented on #355
Favicons are setup, but I need the svg version as we generate 37 different sizes of favicon, some over 200x200 so a 32x32 png won't scale well.

[2017-03-25 13:21] #354 closed

[2017-03-25 16:03] pmuir commented on #350
@mindreeper2420 do you know a good way to fix this?

[2017-03-26 22:01] #355 closed

[2017-03-27 00:50] mindreeper2420 opened #365 "Navigation on mobile does not show all links"
The navigation on mobile devices (tested on Safari and Chrome, iOS) does not show all of the links. I can see the user dropdown, but the other items in the secondary navigation do not appear.

The menu should render in the same as the homepage (logged out).
<img width="357" alt="screen shot 2017-03-26 at 8 49 42 pm" src="https://cloud.githubusercontent.com/assets/4032718/24337003/c607a14e-1265-11e

[2017-03-27 01:03] #360 closed

[2017-03-27 03:02] mindreeper2420 commented on #350
@qodfathr @pmuir if we continue to pull images in from gravatar, then by taking off the hard-coded `height: 250px; width: 150px`, the image will render in the default `80px X 80px` that gravatar utilizes (I tested this locally with no fixed width/height and it came out to `80px X 80px`).

We can also set a constraint for `80px X 80px` to be the minimum and maximum width, to account for pulling in

[2017-03-27 03:50] mindreeper2420 opened #366 "Update navigation to match PatternFly"
Update the horizontal navigation to match the PatternFly design for a two-level navigation, with the additional menu-bars w/dropdowns configuration. The navigation should be mobile friendly by default, matching the wrapping pattern that PatternFly provides.

Current Navigation Style:
<img width="1920" alt="screen shot 2017-03-26 at 11 45 01 pm" src="https://cloud.githubusercontent.com/assets/40327

[2017-03-27 04:46] alexeykazakov commented on #350
We will use GitHub images.
Now we have GitHub account linking in place and it's easy to start re-using GitHub images.
See https://github.com/almighty/almighty-core/issues/874
And https://github.com/fabric8io/fabric8-ui/issues/193#issuecomment-282354014

[2017-03-27 05:46] #352 closed

[2017-03-27 07:38] VineetReynolds commented on #350
I've fixed this incidentally in the spaces listing page, where the profile pic is also shown. It would be great if someone could review the html and layout (I've used flexbox, due to the infinite scroll component) in #367. For reference this is how the profile image looks with height set to 250px

![image](https://cloud.githubusercontent.com/assets/792234/24345546/5fe94b54-12ee-11e7-9edf-314b039cb

[2017-03-27 12:22] mindreeper2420 commented on #350
@VineetReynolds can a media query be added to shrink the size of the image proportionately when viewed on a smaller screen?

[2017-03-27 12:41] mindreeper2420 commented on #366
not adding the logo due to extra vertical space used by just the logo height.

[2017-03-27 12:41] #366 closed

[2017-03-27 12:47] qodfathr commented on #350
Note that using GitHub for images is only a stop-gap solution. Eventually we'll support multiple Git servers and not require GitHub. So, at some point, we'll need to maintain our own set of images. (Likely with an options such as "just use my Gravatar image' or 'just use my GitHub image'.)

[2017-03-27 12:53] mindreeper2420 commented on #349
I can add the static version as a placeholder until the connections are made, if desired.

[2017-03-27 14:59] xcoulon opened #370 "Use conditional requests"
Support for conditional requests is landing on the platform: https://github.com/almighty/almighty-core/issues/965

But on the UI side, the browser does not include the `If-None-Match` or `If-Modified-Since` headers after the first request on an endpoint that returned an `ETag` or `Last-Modified` header, which means that the server will return the whole data again in subsequent requests.

Also, for

[2017-03-27 17:06] #311 closed

[2017-03-27 17:31] pmuir commented on #350
Actually we have the ability to switch out images today (as it's just a URL, the profile PATCH endpoint supports it). UX is working on a UX for supporting imageURLs... Though this means we need to somehow crop of otherwise size the image...

[2017-03-27 17:40] pmuir commented on #349
Yes please @mindreeper2420

[2017-03-27 18:47] pmuir commented on #370
I can see cache-control working, I'm getting resources from the disk cache.

[2017-03-27 19:15] pmuir commented on #370
I have checked this in Chrome where it doesn't send those headers, and in Firefox, where it does.

I'm not sure how to stop chrome looking at the cache headers but keep looking at the etag headers.

[2017-03-27 19:16] pmuir commented on #370
The cache headers are working fine, so I don't think this is urgent.

[2017-03-27 19:27] pmuir commented on #322
Can we do this post-summit, the current workflow is fine I think.

[2017-03-27 20:36] #348 closed

[2017-03-27 20:36] #310 closed

[2017-03-28 13:15] qodfathr opened #376 "Woopra action links are malformatted"
Woopra links for actions are invalid. e.g. "/cctrieloff/_settings/tokens" is being logged with the following hyperlink "http://prod-preview.openshift.iohttp//prod-preview.openshift.io/cctrieloff/_settings/tokens"

[2017-03-28 16:52] mindreeper2420 commented on #349
Closing, as the static indicator has been merged.

[2017-03-28 16:52] #349 closed

[2017-03-28 18:48] #290 closed

[2017-03-28 20:27] pmuir opened #382 "Validate username is ok"
usernames may only contain lower-case letters, numbers, and dashes. They may not start or end with a dash. Max 63 chars in length.

[2017-03-29 13:15] #307 closed

[2017-03-29 13:15] #300 closed

[2017-03-29 13:16] #176 closed

[2017-03-29 13:19] pmuir opened #390 "Space wizard needs to select space template."
Please also see this issue in core  https://github.com/ALMighty/almighty-core/issues/833

[2017-03-29 13:22] pmuir opened #391 "Z index of Toast notifications is below the space wizard mal"

[2017-03-29 13:23] pmuir opened #392 "Assign user does not work in planner"

[2017-03-29 13:29] pmuir opened #393 "Top nav broken (showing user nav) when editing a work item"

[2017-03-30 15:17] dgutride commented on #393
![work-item](https://cloud.githubusercontent.com/assets/7306953/24511683/67754fc8-153a-11e7-8893-6360b09ad5ac.png)

@pmuir - this is what I'm seeing right now, it seems to be correct to me unless you are expecting something to change in this view?

[2017-03-30 15:22] dgutride commented on #391
![toast-notification](https://cloud.githubusercontent.com/assets/7306953/24511904/0b394556-153b-11e7-9b1e-8cb2ce681936.png)

@pmuir - can you be a bit more specific about what you'd like changed here?  It seems to be correct if I'm understanding the title of this issue correctly.

[2017-03-30 15:29] pmuir commented on #391
That does look correct. Maybe it was if you click wizard? If you replay yesterdays integration demo, that's where I spotted it.

[2017-03-30 15:48] joshuawilson commented on #391
it might be a browser issue, you should try Chrome and FF

[2017-03-31 09:01] naina-verma opened #412 "Multiple users shows up in platform"
Multiple users shows up in platform
Video link : https://drive.google.com/a/redhat.com/file/d/0B1qUq_laG6COQjVlcUF4OGFHWmc
/view?usp=sharing

Steps to reproduce
i have multiple accounts for testing purpose i logged in with different account one by one, and the behavior is recorded in video.

is this expected behavior ?

[2017-03-31 09:50] hectorj2f commented on #412
@naina-verma so you mention you created multiple user accounts and you can access to the others after login with one of them. Is that correct ?

[2017-03-31 10:23] naina-verma commented on #412
@hectorj2f , yes correct!

[2017-03-31 11:00] sbose78 opened #413 "jsonspi response will have type="users" for User API , instead of "identities""

[2017-03-31 15:19] pmuir commented on #413
I can probably pick this up. @sbose78 when does it switch over?

[2017-03-31 15:21] sbose78 commented on #413
@pmuir
https://github.com/almighty/almighty-core/issues/1076 is still being worked upon by @xcoulon .
Should be switched over by Monday.

[2017-03-31 15:41] ldimaggi commented on #412
IS this a browser caching issue? Are you logging as as 2 diff users from the same machine/browser?

[2017-03-31 15:51] mindreeper2420 commented on #412
this looks like you are logged in as one user, but are just looking at two different accounts (which is allowed). I'm viewing my profile while logged in, but also have Pete's account in my recent list of viewed areas.

Example below:
<img width="599" alt="screen shot 2017-03-31 at 11 49 56 am" src="https://cloud.githubusercontent.com/assets/4032718/24558182/439223b4-1608-11e7-8b44-87a036df6bd4.png

[2017-03-31 20:52] ldimaggi commented on #412
Can a user have multiple accounts? This would make sense within the context of a team, but we don't have teams defined yet. (Can every user view areas in every other user's account?)

[2017-03-31 21:57] pmuir commented on #413
PR created @sbose78 see linked commit. Please test

[2017-03-31 21:59] pmuir commented on #412
This is expected behavior at the moment, recent contexts are not currently stored in the user's profile on the backend. I am working with @sbose78 to fix this atm. Once that is fixed I will ask you to verify the problem is gone.

[2017-03-31 22:08] pmuir commented on #376
Appears to be a woopra error. I think it's fixed now. Please check it.

[2017-03-31 22:08] #376 closed

[2017-03-31 22:09] pmuir commented on #393
Can you double check this weeks demo video - Michael Virgil will have a link.

[2017-04-01 14:55] qodfathr commented on #376
Agreed. Fixed.

[2017-04-01 15:10] qodfathr opened #438 "chunk.js not located in bundle.map on Edge"
Noticed the following error when using Microsoft Edge:

Could not locate webpack:///_assets/lib/8.bd5af6514bafa822b6a0.chunk.js specified in source map http://prod-preview.openshift.io/_assets/lib/8.bd5af6514bafa822b6a0.bundle.map.

Not sure if that impacted anything, tho.

[2017-04-01 15:12] qodfathr commented on #350
/<userid>, /<userid>/_spaces and /<userid>/_resources render profile image differently, although /_spaces looks most correct. (But very low-res).

[2017-04-02 15:59] pmuir commented on #438
I suspect this was a caching problem.

[2017-04-02 16:19] pmuir commented on #392
@michaelkleinhenz any updates on this?

[2017-04-02 22:29] pmuir opened #446 "username on undefined in header"
I think this happens if your token times out. We probably need to protect the header better.

[2017-04-03 07:07] sbose78 opened #453 "Updation of user email will not work."
This is a behaviour that would be caused when https://github.com/almighty/almighty-core/pull/1035 is merged. We are disabling the email updation till we figure out how to do the same properly on the keycloak side as well.

The API side fix would be made as part of :
 https://github.com/almighty/almighty-core/issues/1109

Only after that,
email can be updated from the UI again.

CC: @alexeykazakov

[2017-04-03 14:18] dgutride commented on #391
@pmuir - I reviewed the demo video and tried again on Chrome (which was the browser used in the demo) - this issue appears to have been addressed (both on prod-preview and locally when I run it).  Moving to closed...

[2017-04-03 14:18] #391 closed

[2017-04-03 15:34] pmuir opened #454 "Header menu not collapsing properly"
On a couple of screens https://www.screencast.com/t/5Xh6yyhQWpcj the menubar doesn't collapse back properly anymore.

[2017-04-03 15:49] mindreeper2420 commented on #454
by fixing the nav, it introduced another override bug :) I'll get this fixed and see about getting it to show up on mobile at the same time, as that is a default behavior that should be working.

[2017-04-03 16:17] pmuir commented on #453
@dgutride can you look at this one?

[2017-04-03 17:41] pmuir commented on #392
Fixed now

[2017-04-03 17:41] #392 closed

[2017-04-03 17:50] #370 closed

[2017-04-03 17:50] pmuir commented on #370
This is working

[2017-04-03 17:51] pmuir commented on #281
Fixed by #421

[2017-04-03 17:51] pmuir commented on #297
Done

[2017-04-03 17:51] #297 closed

[2017-04-03 20:40] mindreeper2420 opened #474 "Update to PatternFly 3.23.1"
In order to consume the latest PatternFly icons and components, PatternFly needs to be updated to the latest version. **NOTE: visual designs will not be a 1-1 to patterns until this is completed**

The correct version can be found here: https://github.com/patternfly/patternfly/releases/tag/v3.23.1

[2017-04-04 13:37] pmuir opened #492 "Add feedback button"

[2017-04-04 14:02] #454 closed

[2017-04-04 14:36] #393 closed

[2017-04-04 17:29] dgutride commented on #453
Fixed with https://github.com/fabric8io/fabric8-ui/pull/493 - @pmuir

[2017-04-04 19:44] #453 closed

[2017-04-04 20:40] #413 closed

[2017-04-05 01:15] rhn-support-pmuir commented on #412
@naina-verma the fix went in, please verify this is now fixed for you.

[2017-04-05 05:23] joshuawilson commented on #474
I tried using this updated version of PF and it broke the UI.

[2017-04-05 05:59] joshuawilson commented on #492
from @kbsingh "Can we get a 'feedback' button on the logged-in user UI that points to a
specific planner board ? Maybe even put it on every page. Feedback as a
term so as to not confuse the situation with a 'support' button."

[2017-04-05 06:04] joshuawilson commented on #63
@rawlingsj you did something like this for the runtime-console. Can you do it for Planner too?

[2017-04-05 08:44] rawlingsj commented on #63
Yeah we have that in the runtime console using a Jenkins pipeline.  I can refactor the code to its just one or two lines in a Jenkinsfile that does this https://github.com/fabric8-ui/fabric8-runtime-console/blob/master/Jenkinsfile#L66

I'll make a PR and you can test it out.

[2017-04-05 13:37] joshuawilson opened #499 "Can't browse Spaces"
When I go to Browse the list of Spaces I get this error and there is nothing listed.

`ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'id' of null`

[2017-04-05 13:44] pmuir opened #500 "Remove Forge button from first page of wizard"
http://www.screencast.com/t/Xpt6UAObOA4k

[2017-04-05 14:52] qodfathr opened #502 "Also support GitHub browser URLs for code bases"
Right now, using a GitHub "clone URL" works fine for adding a code base (e,g, https://github.com/qodfathr/helloworld-msa.git); however, it should also be possible to simply copy the URL out of the browser address bar (e.g. https://github.com/qodfathr/helloworld-msa). Today, if trying to add a code base with the browser URL, the response is "Invalid GitHub repository."

[2017-04-05 16:02] dlabrecq commented on #502
Currently, the Add codebases panel supports 3 types.

1. HTTS URL: git@github.com:patternfly/patternfly.git
2. SSH URL: https://github.com/patternfly/patternfly.git
3. Full name: patternfly/patternfly

What is shown above is copied directly from the "Clone or download" button on GitHub. However, I can change that to accept an URL without .git at the end.

[2017-04-05 17:24] dlabrecq commented on #502
Fixed. See https://github.com/fabric8io/fabric8-ui/pull/505

[2017-04-05 17:25] pmuir commented on #499
Resolved

[2017-04-05 17:25] #499 closed

[2017-04-05 17:26] pmuir opened #506 "No thanks button on space wizard is not working"
http://www.screencast.com/t/zkEE9iQzyyZ5

[2017-04-05 17:27] pmuir opened #507 "Order list on <user>/_spaces by most recently created"

[2017-04-05 17:32] pmuir opened #508 "New space modal appears in front of toast notifications"
http://www.screencast.com/t/djjcMQX9I

[2017-04-05 17:35] pmuir opened #509 "Creating a new space should add it to the recent spaces list"
http://www.screencast.com/t/W5oheSzV0

[2017-04-05 17:42] alexeykazakov commented on #260
We now have a new endpoint in api:
GET /api/logout
Optional param: `redirect=<encodedURL>`, if not set then referrer will be used to redirect to after logout.
Please use it to logout users :)

[2017-04-05 17:45] joshuawilson commented on #260
Thanks @alexeykazakov, @dgutride when you get time, please update this.

[2017-04-05 17:57] #502 closed

[2017-04-05 18:08] joshuawilson commented on #63
Thanks.

[2017-04-05 18:37] pmuir opened #517 "Add codebase toast notification says 'undefined'"
http://www.screencast.com/t/wvml5g7rpW

[2017-04-05 18:41] pmuir opened #520 "Space id is null when navigating away from space dashboard"
http://www.screencast.com/t/9XHv3JWSovX

[2017-04-05 18:57] dgutride commented on #520
This was fixed in the planner: https://github.com/fabric8io/fabric8-planner/pull/1454 - moving to closed

[2017-04-05 19:00] pmuir commented on #520
Reopen until it's verified fixed in prod-preview.

[2017-04-05 23:45] pmuir commented on #509
No, it shouldn't

[2017-04-05 23:45] #509 closed

[2017-04-06 01:45] pmuir commented on #281
Done

[2017-04-06 01:45] #281 closed

[2017-04-06 02:09] cctrieloff opened #533 "Cant associate GIT repo code base."
Router Event: NavigationEnd
patternfly.css:2NavigationEnd(id: 45, url: '/cctrieloff/testv5/create/(action:add-codebase)', urlAfterRedirects: '/cctrieloff/testv5/create/(action:add-codebase)')
patternfly.css:2NavigationEnd
https://api.prod-preview.openshift.io/api/spaces/ddaa5594-b5e3-44a4-95c7-7665348de4ee/codebases Failed to load resource: the server responded with a status of 401 (Unauthorized)

[2017-04-06 03:14] joshuawilson commented on #533
You can't assign repos when you aren't logged in.

[2017-04-06 03:33] joshuawilson commented on #294
done

[2017-04-06 03:33] #294 closed

[2017-04-06 03:46] joshuawilson commented on #111
I think we should expand the scope of the issue to "implement the homescreen design".

@SMahil are you able to take this on?

[2017-04-06 05:26] SMahil commented on #111
Sure @joshuawilson

[2017-04-06 05:32] joshuawilson commented on #111
thanks @SMahil

[2017-04-06 05:43] joshuawilson opened #535 "Update Profile"
The wireframe designs are ready for the Profile page. We need to update it to match.

https://redhat.invisionapp.com/share/TKB4AJP4M#/screens/226801770

[2017-04-06 06:28] joshuawilson opened #536 "Create Error page"
We need to handle Error when pages don't load.

Use this design. https://redhat.invisionapp.com/share/VTB0FR05Z

[2017-04-06 06:46] joshuawilson opened #538 "Create Settings"
Build the Settings page, at the moment it should only have Area in it.

Still waiting on designs from @fabric8io/uxd

[2017-04-06 06:52] joshuawilson opened #539 "Update Codebases"
Update Codebases to match wireframes.

https://redhat.invisionapp.com/share/R2AWXA6DU#/screens/224263813

[2017-04-06 06:57] joshuawilson opened #540 "Update Navigation"
Update the navigation to match the design.

https://redhat.invisionapp.com/share/R2AWXA6DU#/screens/224263812

[2017-04-06 06:59] joshuawilson opened #541 "Update Create wizard"
Update the Create Wizard to match the designs.

https://redhat.invisionapp.com/share/QNAOD7PF4#/screens/221494634

[2017-04-06 07:02] joshuawilson opened #542 "Update Space dashboard"
Update the Space Dashboard to match the designs.

https://redhat.invisionapp.com/share/TNAXIS9UW#/screens

Here is the same screen in the context of the Nav flow. https://redhat.invisionapp.com/share/R2AWXA6DU#/screens/224263814

[2017-04-06 07:12] joshuawilson opened #543 "First log in flow"
This is what the user sees when they log into the system for the time. It uses the Profile page, but it is blank.

Here are the designs.
https://redhat.invisionapp.com/share/TKB4AJP4M#/screens/226801770

This depends on #535

[2017-04-06 12:55] mindreeper2420 commented on #542
@joshuawilson @SMahil there were a few deviations from the initial design due to the available APIs. The newsfeed was taken out, etc. @pmuir and I went through and configured it the way it is today on prod-preview.

[2017-04-06 13:39] jfchevrette opened #546 "HTTP 500 & CORS error when clicking "Quickstart""
1) Logged in to my account
2) Created a space, corner popup said it was successful
3) Clicked on Quickstart, then got a large overlay box with the following

[code]

The following was found in the console right after I clicked Quickstart
[code]

Google Chrome Version 57.0.2987.133 (64-bit) on Fedora 25

[2017-04-06 13:41] jfchevrette opened #547 "Mixed Content errors when browsing the UI"
When browsing the UI a couple of elements fail to load because it's loading HTTP items on a HTTPS page

[code]

Chrome Version 57.0.2987.133 (64-bit) on Fedora 25

[2017-04-06 14:38] joshuawilson commented on #542
Based on the discussion with @catrobson, we should use a list style in the design for the home screen.

[2017-04-06 15:07] mindreeper2420 commented on #542
Ok, should be an issue drop-in. The designs can just slide into the cards without much customization.

[2017-04-06 15:15] joshuawilson commented on #542
@dlabrecq can you take a look at the design and see if there is something that should be a component.

[2017-04-06 16:07] catrobson commented on #542
Yes, let's see if we can follow the styling generally laid out in the user homepage widgets:  https://redhat.invisionapp.com/d/main#/console/10425298/221480597/preview

[2017-04-06 16:08] catrobson commented on #542
Happy to talk to you while you implement about what data should go where given what we can get from the APIs - might need to deviate from the designs to build something that makes sense to the user.

[2017-04-06 16:08] cctrieloff commented on #533
Ack, will check however maybe message should be, 'log-in' to add repos.

Carl.

On Wed, Apr 5, 2017 at 11:14 PM, Joshua Wilson <notifications@github.com>
wrote:

[2017-04-06 16:54] cctrieloff opened #552 "Can't remove a codebase"
[Screencast from 04-06-2017 12:53:03 PM.webm.zip](https://github.com/fabric8io/fabric8-ui/files/903348/Screencast.from.04-06-2017.12.53.03.PM.webm.zip)

[2017-04-06 17:25] qodfathr opened #553 "Codebases link on Analyze screen is malformed"
![image](https://cloud.githubusercontent.com/assets/16322190/24767272/71670d9a-1acc-11e7-8cd9-97e4202e2ef5.png)

The link goes to: https://prod-preview.openshift.io/https///github.com/qodfathr/helloworld-msa

[2017-04-06 17:27] qodfathr opened #554 "Codebases on Analyze screen should be a link"
This:
![image](https://cloud.githubusercontent.com/assets/16322190/24767351/a6ec18f2-1acc-11e7-9307-8ad86ce2bb47.png)
should be a link to the Create/Codebases screen

[2017-04-06 18:46] alexeykazakov opened #556 "View/Add/Remove space collaborators"
Backend now suports space collaboration managment. See details here - https://github.com/almighty/almighty-core/pull/1116
We now can start using it in UI.

Part of https://github.com/almighty/almighty-core/issues/762 user story

[2017-04-06 18:50] pmuir commented on #554
@fabric8-ux please review as that is a deviation from the design.

[2017-04-06 19:50] dlabrecq commented on #539
I spoke with Adam about these wireframes, which are somewhat "a wish list". Thus, I implemented the codebases page based on what is currently available.

The GitHub APIs don't provide permissions, dependents, etc. I added what was available such as the last commit, license, etc.

We're not showing available branches because we cannot select one prior to launching Che. Not being able to select a br

[2017-04-06 19:53] dlabrecq commented on #539
We also cannot use the combobox shown in the wireframe.  That is a Patterfly combobox, based on jQuery. Unless we're ok with including jQuery, I have to use a dropdown or select.

[2017-04-06 20:00] dlabrecq commented on #542
The first thing I see is the Patterfly combobox, which is based on jQuery. Unless we're ok with including jQuery, we have to use a dropdown or select.

We have one of these in the fabric8-ui already, but it's non-functional. Someone copied the HTML output, but there is no Javascript around it to make it work.

We might create our own Angular based, combobox component. However, this won't be a stra

[2017-04-06 20:13] dlabrecq commented on #539
@mindreeper2420 Can you confirm that what we spoke about regarding the codebases page will be ok? Do you want to update the wireframes?

[2017-04-06 22:25] mindreeper2420 commented on #539
@dlabrecq you are correct, that items were adjusted based off of our conversation and 1-1 work. I'll update the wireframes to reflect these changes, in order to avoid further confusion.

[2017-04-06 23:02] mindreeper2420 commented on #539
@dlabrecq @joshuawilson here is the link to the updated [Codebase wireframe](https://redhat.invisionapp.com/share/FXACSF1AP#/227893822_Codebases_-_001).

@catrobson - can you replace the existing screen in the current frame to the new wireframe, based off of work with Dan?

[2017-04-06 23:52] catrobson commented on #539
Yes, I can update.  Adam's codebases wireframes are really the rights ones to work off of anyway, but will update to keep it synced.

[2017-04-07 00:38] dlabrecq commented on #539
I have a question about the buttons on the right of the Add Codebase panel. The Patternfly form styles currently align the button on the left -- is that acceptable?

I've only seen buttons aligned left in the Patternfly examples. I can make it work, but would be overriding the default Patternfly styles.

[2017-04-07 01:08] mindreeper2420 commented on #539
@dlabrecq This is a known pattern discrepancy but, as the Detail Panel for Work Items has the button on the right, it should be kept on the right for the time being to keep some consistency.

[2017-04-07 01:20] mindreeper2420 commented on #542
In order to match the designs listed by @catrobson, the cards should utilize the [Utilization Bar Card](http://www.patternfly.org/pattern-library/cards/utilization-bar-card/), with the [Card View](http://www.patternfly.org/pattern-library/content-views/card-view/#/design), [Empty State](http://www.patternfly.org/pattern-library/communication/empty-state/) and [List View](http://www.patternfly.org/

[2017-04-07 01:23] mindreeper2420 commented on #474
@joshuawilson that probably happened due to a lot of custom code trying to replace the grid/column framework of PatternFly, as well as deviations from PatternFly patterns. This might be best done once the platform is returned to following the correct framework layout.

[2017-04-07 01:25] joshuawilson commented on #474
@mindreeper2420 PRs are always welcome. :)

[2017-04-07 01:28] joshuawilson commented on #533
I agree, we have talked about doing that.

I would prefer the github model of view without logging in and then be prompted for login when you want to do something that requires it. However this is not the current design and is outside of the scope of the demo. Hopefully, we can work with UX to come up with a flow that works like that soon.

[2017-04-07 01:29] joshuawilson commented on #556
@dgutride can you take a look at this along with the work you are doing with Spaces?

[2017-04-07 01:33] mindreeper2420 commented on #474
@joshuawilson - can I take out all of the custom flex bits and other deviations from PF? :) Returning it to the default PF would also allow a lot to work on mobile, without custom code ;-)

[2017-04-07 01:36] joshuawilson commented on #474
I'm fine with that. You and @SMahil need to maintain it. If you can live with that way, works for me.

I had questioned the use of flexbox from the beginning as it is not a part of PF (yet).

[2017-04-07 01:41] mindreeper2420 commented on #474
I started to pull it out as I worked on various pages (and updated the navigation), so I have a path in mind to go back to the framework defaults. It will take time, but can definitely be done. I think it'd be a worthy chunk of effort (all dependant on deadlines) to include as an early piece to the next phase of work.

[2017-04-07 01:45] joshuawilson commented on #539
@dlabrecq we are not using jQuery, it is too large.

[2017-04-07 01:47] joshuawilson commented on #542
No jQuery.

[2017-04-07 01:50] catrobson commented on #539
@dlabrecq want to do a review of where you are tomorrow so we can work through any remaining questions, or are you all set?

[2017-04-07 01:51] mindreeper2420 commented on #474
With all of the other fixes/priority items on the table, I don't see this as doable in a week. It will require a lot of line-by-line code review :-/ Give me a solid week of no other work, then I'd have a chance.

[2017-04-07 01:52] joshuawilson commented on #474
Then I think we should save it for after May 1st

[2017-04-07 01:55] mindreeper2420 commented on #474
Works for me. I'll do some research on the next PF versions in the mean time to see if we might be able to provide some of the upcoming enhancements as a part 2 of returning this to base PF. I'll let you know what I find out.

[2017-04-07 01:59] joshuawilson commented on #474
thanks

[2017-04-07 02:36] dlabrecq commented on #539
My questions have been answered, so I'm all set. Thanks!

[2017-04-07 12:37] #535 closed

[2017-04-07 12:54] cctrieloff commented on #533
Ack, maybe for now (next week) we can just update the error message to be
useful to the user. i.e. 'Must be logged in to perform this action" as a
start.

Carl.

On Thu, Apr 6, 2017 at 9:28 PM, Joshua Wilson <notifications@github.com>
wrote:

[2017-04-07 15:18] michaelvirgil opened #573 "Creating CodeBase - Failed to retrieve GitHub repo license"
After creating a codebase from the UI and navigating to the Create -> Codebases tab, received the following error in the console when expanding the newly created workspace:

![screen shot 2017-04-07 at 11 12 51 am](https://cloud.githubusercontent.com/assets/11527926/24806703/b22e671c-1b83-11e7-8d0e-67d89a9d4867.png)

[2017-04-07 15:22] michaelvirgil opened #577 "Create Workspace and Open in Editor - 500 (Internal Server Error)"
Selecting the "Create Workspace and Open in Editor" from the newly created codebase.

![screen shot 2017-04-07 at 11 19 39 am](https://cloud.githubusercontent.com/assets/11527926/24806910/5a5b1822-1b84-11e7-8f1e-f84e1c849f57.png)

[2017-04-07 15:29] michaelvirgil opened #578 "Environments - no longer accessible (was just 1 hour earlier...)"
After working with KB and Aslak to setting up and re-establishing my OSO account and syncing with KeyCloak - the pipelines for the newly create Space was successfully displayed. After logging off and retrying the integration script, the environments no longer come up in the UI... approximately an hour had passed.

![screen shot 2017-04-07 at 11 23 48 am](https://cloud.githubusercontent.com/assets/

[2017-04-07 15:54] michaelvirgil commented on #578
Update; After logging off and retrying the integration script, the environments now come up - other errors...

- Error retrieving list ConfigMaps: Response with status: 403 Forbidden
- failed: Error during WebSocket handshake: Unexpected response code: 403

![screen shot 2017-04-07 at 11 50 16 am](https://cloud.githubusercontent.com/assets/11527926/24808179/d939e16a-1b88-11e7-9c1a-b4c32d2c6f0c.png

[2017-04-07 16:00] aslakknutsen opened #579 "Codebase 'undefined' created"
When you add a new codebase the popup notification contains "Codebase 'undefined' created".

[2017-04-07 16:06] aslakknutsen opened #580 "Codebase Workspace 'select' option does not show existing workspaces"
UI should display the Workspaces as returned by the Codebase API:

[code]

[2017-04-07 16:27] pmuir commented on #578
Environments are a tad broken right now for me too. We need to look at it.

[2017-04-07 16:52] michaelvirgil commented on #577
Now working.... launched Che as expected....

[2017-04-07 16:52] #577 closed

[2017-04-07 16:52] michaelvirgil commented on #577
Now working.... launched Che as expected....

[2017-04-07 17:20] dlabrecq commented on #573
That's expected when the repo doesn't have a license. I simply log a message and add "none" as the license value. We can hide the log message if that's causing confusion?

[2017-04-07 17:25] michaelvirgil commented on #573
No problem, that explains it. Thanks.

[2017-04-07 17:25] #573 closed

[2017-04-07 17:27] dlabrecq commented on #573
I'm going to silence the message and just set the value to none -- we don't really need a message in the console log. I'll mark this fixed when the PR is merged.

[2017-04-07 17:29] dlabrecq commented on #579
Fixed.

[2017-04-07 17:30] dlabrecq opened #582 "Codebase should launch Che only if successful."
I didn't get to finish my window service, but the idea was to open a window only if Che was able to create a workspace and provide a URL to open it.

The way it works currently is to launch an empty window and set the URL after the workspace was created.

[2017-04-07 17:43] aslakknutsen commented on #579
@dlabrecq I guess I'll take your word for it.. ;)

[2017-04-07 19:34] dlabrecq commented on #582
In addition, if a window is already open for a given workspace, the same window should be opened/focused instead of creating multiple new windows.

[2017-04-07 19:59] dlabrecq commented on #573
Fixed by https://github.com/fabric8io/fabric8-ui/pull/583

[2017-04-07 19:59] dlabrecq commented on #580
Fixed by https://github.com/fabric8io/fabric8-ui/pull/583

[2017-04-07 19:59] dlabrecq commented on #582
Fixed by https://github.com/fabric8io/fabric8-ui/pull/583

[2017-04-07 20:00] dlabrecq commented on #579
Fixed by https://github.com/fabric8io/fabric8-ui/pull/583

[2017-04-07 20:10] dlabrecq commented on #552
FYI, the APIs don't support deleting a codebase, so the feature is disabled in the codebases page. I would also like the ability to delete a space.

[2017-04-07 20:29] #582 closed

[2017-04-07 21:14] joshuawilson commented on #552
@qodfathr @pmuir @aslakknutsen will we be allowed to remove a codebase?

[2017-04-07 23:25] cctrieloff commented on #552
Can we edit them as an alternate to correct bad URL's for example?

On Fri, Apr 7, 2017 at 5:14 PM, Joshua Wilson <notifications@github.com>
wrote:

[2017-04-08 15:44] qodfathr commented on #552
Yes, you should be able to remove a codebase. Of concern is that if having at least one codebase listed is the only way to manipulate workspaces, that would be a problem (hence why workspaces probably need their own management screen).

It is not unreasonable to have a Space with no codebases -- e.g., that's essentially what Trello is.

[2017-04-09 20:32] mindreeper2420 opened #588 "Wizard should use PF color variables."
The Wizard modal uses hex codes for close (border, alerts, etc) and should use PatternFly controlled colors instead for consistency and uniformity.

[2017-04-10 02:25] ldimaggi opened #589 "On https://prod-preview.openshift.io - selecting cancel after the new space wizard fails raises a new error"
See attached screenshot - to recreate the error, create a new user space, select the wizard option, and then press cancel.

![screenshot from 2017-04-09 22-21-16](https://cloud.githubusercontent.com/assets/642621/24843709/5cc8c7c6-1d73-11e7-9dd9-e561fbeae45d.png)

[2017-04-10 02:31] ldimaggi commented on #589
Screencast:

https://drive.google.com/open?id=0B1s-ZoxD8FjUV3RTdTNGRURwelE

[2017-04-10 09:06] aslakknutsen opened #591 "PATCH /api/users called 8 times on page load"

[2017-04-10 09:13] aslakknutsen opened #592 "GET /api/space/n/codebases called 4 times per page"

[2017-04-10 09:19] aslakknutsen opened #593 "414 URI Too long on woopra calls"
Seems all calls, even on subpages where referrer technically shouldn't contain the Token, to woopra somehow contain the token.

Could be history URL API is not called on inpage url change?

[2017-04-10 09:24] pmuir commented on #593
I'm pretty sure it's called, as that is how angular is manipulating the URL. The key to this is to get the referrer changed I think.

[2017-04-10 10:31] pmuir commented on #588
TBH The whole wizard needs implementing inside the PF Wizard component (which is not yet built).

[2017-04-10 10:37] pmuir commented on #593
@aslakknutsen going to need a video or a reproduction instruction, as I don't see this trying either way of logging in.

[2017-04-10 10:51] pmuir commented on #553
@muruGanesan where was this link supposed to go?

[2017-04-10 10:53] pmuir commented on #547
I fixed this last week

[2017-04-10 10:53] #547 closed

[2017-04-10 10:57] pmuir commented on #542
Datawise, it's mostly correct as is. The Bayesian box needs implementing (on @arunkumars08) and the work items need ordering by created.

IMO the list style suggested by the designs is not great for comprehension, and I'm hoping that seeing the actual data in there we can improve the structure of the list views.

[2017-04-10 11:06] aslakknutsen commented on #593
Seems to be gone after cleaning Local Storage

[2017-04-10 11:06] #593 closed

[2017-04-10 11:12] aslakknutsen opened #594 "Can not logout"
When attempting to logout the console throws an exception:

[code]

Token seems to be cleared, but user stays in same page with no indication of logout happening.

[2017-04-10 11:17] aslakknutsen opened #595 "User context menu show up hidden behind WorkItem details panel when active"
![screenshot from 2017-04-10 13-16-24](https://cloud.githubusercontent.com/assets/132158/24859246/064745a8-1df0-11e7-8841-c9f4b0a42aca.png)

[2017-04-10 11:30] pmuir commented on #578
Looks like the upgrade to the tree list component broke this somehow. As this is a temp component until we move to the list view I'm reluctant to spend time on this. Will talk with Dan in the platform meeting later.

[2017-04-10 11:32] pmuir commented on #305
This is done

[2017-04-10 11:32] #305 closed

[2017-04-10 11:32] #412 closed

[2017-04-10 11:33] pmuir commented on #579
Dupe of #517

[2017-04-10 11:33] #579 closed

[2017-04-10 11:35] #356 closed

[2017-04-10 11:54] pmuir commented on #595
See also #508 - I think we need a global guide for z-index.

[2017-04-10 12:56] mindreeper2420 commented on #595
The z-index can actually be lowered a lot - it is currently at 1050. That will fix the layering problem. Elements should only go up by 5-10 layers at a time.

[2017-04-10 13:49] ldimaggi opened #596 "Logout fails"
The error reported is:

patternfly.css:2 ERROR TypeError: Cannot read property 'contextInformation' of undefined
    at SafeSubscriber._next (main.b8434d9….bundle.js:1)
    at SafeSubscriber.__tryOrSetError (patternfly.css:2)
    at SafeSubscriber.next (patternfly.css:2)
    at Subscriber._next (patternfly.css:2)
    at Subscriber.next (patternfly.css:2)
    at DoSubscriber._next (patternfly.css:2

[2017-04-10 13:50] ldimaggi commented on #596
Dup of:  https://github.com/fabric8io/fabric8-ui/issues/594

[2017-04-10 13:50] #596 closed

[2017-04-10 14:21] pmuir commented on #540
@crobson is this ready for development yet?

[2017-04-10 14:25] pmuir commented on #533
We have a global action to update the ability to view screens when not logged in - #319

[2017-04-10 14:25] #533 closed

[2017-04-10 14:28] catrobson commented on #540
Let me make one update to the visual design document this morning to reduce confusion.  It will be ready in an hour or less.

[2017-04-10 14:33] jstrachan opened #599 "Codebases page should also list BuildConfigs from OpenShift which have a Che stack annotation"
Folks can create apps via the Space wizard, via the OpenShift console or via `oc`. They appear on the Builds/Pipeline UI. However they don't show up in Codebases; so there's no way to open Che from that page for created projects.

For now we should combine the data from the Planner and the BuildConfig resources in the users default OpenShift Namespace.
e.g. an example BuildConfig created via the F

[2017-04-10 14:36] jstrachan commented on #599
an example of how to view the BuildConfigs is on this page of the fabric8-runtime-console: https://github.com/fabric8-ui/fabric8-runtime-console/blob/master/src/app/kubernetes/ui/buildconfig/list-page/list-page.buildconfig.component.ts#L18 there's a view of them with an Observable<BuildConfigs> we could then filter/combine with the planner data maybe?

[2017-04-10 14:37] jstrachan commented on #599
this change will mean folks don't need to do the 'Add codebase' in the UI after using the Space wizard

[2017-04-10 14:47] qodfathr opened #600 "GitHub repo api calls should be authenticated"
When going to Codebases screen, getting error: 'Failed to retrieve GitHub repo: https://github.com/pmuir-demo-3/fri0704171413.git'

Root cause seems to be unauthenticated calls to api.github.com

"https://developer.github.com/v3/#rate-limiting"
message
:
"API rate limit exceeded for 'ip-addr'. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation fo

[2017-04-10 15:09] catrobson commented on #540
Visual designs finalized.  Ready for implementation:  https://redhat.invisionapp.com/share/N7B8IRLUK

[2017-04-10 17:01] muruGanesan commented on #553
@Mgranfie , Hi Monica, could you please clarify the above point?
I assume that, you would know about 'Codebase'.

[2017-04-10 17:04] Mgranfie commented on #553
@muruGanesan @mindreeper2420 worked on this and can most likely assist.

[2017-04-10 17:19] muruGanesan commented on #553
@Mgranfie thanks Monica

@pmuir, sorry! I have very limited knowledge on the "code base" workflow.

[2017-04-10 17:32] qodfathr opened #603 "Put work item type in details"
When I open the work item details, it would be helpful to see the name of the type, rather than just the icon.

![image](https://cloud.githubusercontent.com/assets/16322190/24874240/ff31905a-1df1-11e7-8e1c-0292e914efae.png)

It's very hard for me to know what type 459 is in the above example.

[2017-04-10 17:34] cctrieloff commented on #552
Why do you need a workspace without a code base?  I don't see that as a
limitation.

On Sat, Apr 8, 2017 at 11:44 AM, Todd Mancini <notifications@github.com>
wrote:

[2017-04-10 17:38] qodfathr opened #604 "Making a WI a child leaves it in both child and non-child state"
![image](https://cloud.githubusercontent.com/assets/16322190/24874490/d8a5e0b6-1df2-11e7-8b01-7e3640e38b5b.png)
I thought I was making 460 a child of 459, but maybe I got that backwards. Regardless, now 459 is showing as both a child and not a child.

[2017-04-10 17:44] muruGanesan commented on #553
@dlabrecq, Dear Dan, Could you please provide clarification on the above question? i.e. where these "Code base" links are pointed to?

[2017-04-10 17:46] joshuawilson commented on #588
Related to: https://github.com/fabric8-ui/ngx-widgets/issues/46

[2017-04-10 17:51] joshuawilson commented on #578
fyi @dlabrecq

[2017-04-10 17:52] mindreeper2420 commented on #603
This should be updated in the visual design holistic view as well. @catrobson

[2017-04-10 17:54] joshuawilson commented on #599
@pmuir can you help with this?
cc:/ @dlabrecq @michaelkleinhenz

[2017-04-10 18:00] muruGanesan commented on #553
@pmuir, @qodfathr,  I got the clarity:

1) Code base panel will show 'code base' links  i.e. links from Github repository of the logged in user -as shown in the picture. [**Assumption:** If an user got too many 'code' repository it will show most recent FIVE/TEN]
2) But, the link which Todd mentioned  "https://prod-preview.openshift.io/https///github.com/qodfathr/helloworld-msa" is WRONG URL  - it

[2017-04-10 18:13] qodfathr opened #605 "Everyone thinks the big Plus is a button"
This happens all over the dsaas, and even in other Patternfly-based products. The big "circle plus" icon

![image](https://cloud.githubusercontent.com/assets/16322190/24875888/a13dbbee-1df7-11e7-9a20-48e59f29b2e9.png)

sure does seem like a button. People keep clicking on it, expecting it to do something. It consumes a ton of screen real-estate, yet is non-functional. Worse, the real buttons are o

[2017-04-10 18:17] joshuawilson commented on #604
@michaelkleinhenz can you review this and duplicate it in Planner unless it is really something that goes to the tree-list component, then it should go to Widgets @dlabrecq

[2017-04-10 18:22] alexeykazakov commented on #591
is it /api/users or /api/users/:userID?
/api/users should not be used at all! :)

[2017-04-10 18:24] alexeykazakov commented on #594
Related to https://github.com/fabric8io/fabric8-ui/issues/260

[2017-04-10 18:28] joshuawilson commented on #603
@mindreeper2420 can you do this or pass it to @SMahil once the designs are done, since this will be fixed in the Planner.

[2017-04-10 18:28] alexeykazakov commented on #591
Ah, didn't notice you are talking about PATCH. Not GET.

[2017-04-10 18:31] alexeykazakov commented on #605
+100! I keep clicking on that + :)

[2017-04-10 18:35] aslakknutsen commented on #591
@alexeykazakov Tho, unsure why this call is actually to PATCH the /api/users Collection endpoint, as oppose to the /api/user Resource. Make little sense.

[2017-04-10 18:50] joshuawilson commented on #605
@catrobson can you comment on this?

[2017-04-10 18:54] dlabrecq commented on #580
Confirmed that workspaces appear in the select menu after they have been successfully created/started.

[2017-04-10 18:54] #580 closed

[2017-04-10 19:01] ldimaggi commented on #605
+1 Agreed - it looks like a non-functioning button.

[2017-04-10 19:04] dlabrecq commented on #539
Fixed by https://github.com/fabric8io/fabric8-ui/pull/606

[2017-04-10 19:05] catrobson commented on #605
@agalante will take a look at this and provide a suggestion on improvement.

[2017-04-10 19:12] dlabrecq commented on #578
I've been encountering the same token errors while testing the codebases page. Aslak had me log out and clear my cache and the problem cleared up. Although, this didn't have anything to do with the tree list component.

[2017-04-10 19:21] dlabrecq commented on #578
I'm seeing the same Websocket error message, but no tree list errors

GET http://localhost:3000/_p/oso/api/v1/namespaces/default/configmaps 403 (Forbidden)

WebSocket connection to 'wss://api.free-int.openshift.com/api/v1/namespaces/default/configmaps?watch=true&access_token=Tf8EEERVlcfqn-y5dnQRHphKXU4AsIHGsMfi81Q_uqU' failed: Error during WebSocket handshake: Unexpected response code: 403

[2017-04-10 19:32] andresgalante commented on #605
Hi, you can make the `div` an anchor `a` and modify the styles a bit to look as it should:

First the HTML, I’ll add a prefix but you can overwrite pf class if you want.
[code]
Instead of a `<div>`

Then write a bit of CSS to make it block, change the colors and add a hover:
[code]

Let me know if this helps!

[2017-04-10 19:58] catrobson commented on #603
Can you assign this to me?  I'll update and get to @SMahil

[2017-04-10 20:05] sbose78 commented on #591
@aslakknutsen Just checked the requests in the browser console -
Looks like the UI is making PATCH request to update `contextInformation`  ( stuff like recent spaces, etc )

@pmuir Any way we could bring down the number of requests from 8 ?

[2017-04-10 20:18] qodfathr commented on #605
What exacerbates the problem is that in other parts of the UI, there are blue circle-pluses, and those are buttons to add something.

[2017-04-10 20:20] qodfathr commented on #552
@cctrieloff I was thinking this:

1. Have a codebase  (via new Space, import, etc.)
2. Create a workspace
3. Remove the codebase
4. ??? How do I deal with the workspace created in step 2? How do I see it? Deprovision it? etc.

[2017-04-10 20:23] andresgalante commented on #605
Sorry, I can't really help with that. That seems like a customization you've made adding anchors around the icons. So I guess you'll have to chose one or the other.

[2017-04-10 21:14] cctrieloff commented on #552
We should delete the workspace when you remove the codebase. The system
should clean that up automatically.

Carl.

On Mon, Apr 10, 2017 at 4:20 PM, Todd Mancini <notifications@github.com>
wrote:

[2017-04-10 22:29] catrobson commented on #605
The blue icons are standalone icons in the UI instead of "add" buttons everywhere.  I think Andres's fix will make this area clickable now so I think this resolves our problem.

[2017-04-10 22:44] joshuawilson commented on #552
@aslakknutsen is this something that you could do on the backend?

[2017-04-10 23:31] mindreeper2420 commented on #605
@catrobson I can fix this, if desired. It would go in under the Planner repo.

[2017-04-10 23:32] mindreeper2420 commented on #540
@catrobson @joshuawilson as Brian and I did some preliminary work on this and he sent me the PSD file before he left, I can take this on.

[2017-04-10 23:59] joshuawilson commented on #605
That would be great, thanks @mindreeper2420

[2017-04-11 00:00] joshuawilson commented on #540
I'm good with that @mindreeper2420. When you get to routing changes, please let @pmuir and myself know. We can take care of that.

[2017-04-11 00:08] mindreeper2420 commented on #595
PR https://github.com/fabric8io/fabric8-planner/pull/1562 fixes this issue

[2017-04-11 01:00] mindreeper2420 commented on #605
Here is the updated Blank State:
Static:
<img width="1466" alt="screen shot 2017-04-10 at 8 58 03 pm" src="https://cloud.githubusercontent.com/assets/4032718/24888313/89fec9bc-1e30-11e7-995d-4f8355380f20.png">

Hover:
<img width="1455" alt="screen shot 2017-04-10 at 8 57 44 pm" src="https://cloud.githubusercontent.com/assets/4032718/24888318/8de4da08-1e30-11e7-861f-c2ad1a438b5c.png">

@joshuawilso

[2017-04-11 01:19] joshuawilson commented on #595
thanks

[2017-04-11 01:45] qodfathr commented on #552
@cctrieloff but codebases are not associated 1:1 with workspaces. i.e., I may have 5 codebases and only one workspace which I end up bouncing between them (e.g. need to do that on Free). There are so many potential use cases, that I'd be very concerned about not having some sort of workspace management screen. Maybe not a priority for this month, but probably something that needs to get addressed

[2017-04-11 01:47] qodfathr commented on #605
I don't feel that the text "You can add one by clicking here, or by either of the + icons" is necessary. It also creates an unnecessary dependency between that text and the UI (e.g., if the UI changes, we'd need to remember to update this text.)

[2017-04-11 01:48] joshuawilson commented on #552
@qodfathr I might be mistaken but I thought you could only run one workspace at a time but each was directly associated with a codebase. As far as i remember, Che doesn't really work in a way for you to use different codebases with the same workspace.

[2017-04-11 01:52] joshuawilson commented on #552
A workspace is a docker image that is built based on the stack the codebase needs. So if you have a Java codebase, then the workspace needs to have Java installed. Whereas, if it is a Node project then you don't want Java installed but it will have Node.

[2017-04-11 05:46] naina-verma opened #609 "prod-preview.openshift.io isn't loading (except incognito)"
prod-preview.openshift.io isn't loading  (except incognito)

Gist link : https://gist.github.com/naina-verma/2fe9df96fc9a5f9109b854d5b9ecadd4
![bug](https://cloud.githubusercontent.com/assets/19172870/24894454/178ce3c8-1ea8-11e7-8c78-b17244e8740e.png)

[2017-04-11 05:48] #595 closed

[2017-04-11 06:11] naina-verma opened #611 "prod-preview.openshift.io is not redirecting directly to home page after auth"
prod-preview.openshift.io is not redirecting directly to home page after auth
Steps to reproduce
- Authenticate with RH credential (incognito tab)
- after auth it  will not directly land on home page

Video Link :https://drive.google.com/a/redhat.com/file/d/0B1qUq_laG6COckFoTWNFVFZkYms/view?usp=sharing
![screenshot from 2017-04-11 11-54-57](https://cloud.githubusercontent.com/assets/19172870/24895

[2017-04-11 07:06] joshuawilson commented on #609
Looks fine to me. Did you try to clean the local storage and refresh?

[2017-04-11 07:37] sbose78 opened #612 "Add 'company' field in UI , on the User Profile page"
related to the task created by @pmuir :
https://github.com/almighty/almighty-core/issues/1052

[2017-04-11 10:01] maxandersen commented on #609
I saw this today too - had to clean the local storage and refresh.

But why is this required ? seems to happen when we done an update - we can't expect users to know how to go clean local storage.

[2017-04-11 10:10] andresgalante commented on #605
@mindreeper2420 Sorry, color should be `#363636` and not `black;`
and remove the blue on hover with the same color declaration.

Cards don't have a color change on hover and this should be consistent.

[2017-04-11 11:31] cctrieloff commented on #552
right now they 1:1 and our UX etc oly assumes a 1:1 mapping. Let's auto
clean up the resources for now. One day if we decide to change the
relationship we can look at more options then.  I would prefer to be more
aggressive in clean up as we pay for any orphaned resources.

Carl.

On Mon, Apr 10, 2017 at 9:48 PM, Joshua Wilson <notifications@github.com>
wrote:

[2017-04-11 15:08] jstrachan opened #640 "forge obsidian/launchpad wizard should default the the `labelSpace` property name from the current space"
if we use the UI to create a space called `foo` then the wizard appears for quickstarts etc; when we start to invoke the forge wizard we should pass in the property value `labelSpace = "foo"` (and maybe hide the labelSpace field in the UI if folks hit `Next` to the namespaces page) so that we can pass the current 'labelSpace' into the back end to do the right thing from a labelling perspective.

T

[2017-04-11 15:27] joshuawilson commented on #609
We already have 2 issues tracking the need to fix the logout, #260 and #594, going to close this a duplicate.

@maxandersen to answer your question is has to do with token timeouts and when they expire or don't. Without a functional logout, we can't now clear the tokens. So you must do it manually.

[2017-04-11 15:27] #609 closed

[2017-04-11 17:09] pmuir commented on #612
And also add to the analytics service - https://github.com/fabric8io/fabric8-ui/blob/master/src/app/shared/analytics.service.ts#L170 add a new trait called 'company'

[2017-04-11 17:16] #323 closed

[2017-04-11 17:16] #324 closed

[2017-04-11 17:16] #353 closed

[2017-04-11 18:52] dgutride commented on #538
Areas added and now visible in prod-preview
https://github.com/fabric8io/fabric8-ui/pull/581

[2017-04-11 18:52] #538 closed

[2017-04-12 03:07] joshuawilson opened #688 "Delay after login"
There is a significant delay after login where you on see a white screen.

I think this is due to the Refreshing the Token. @dgutride can you please look into this.

[2017-04-12 07:25] joshuawilson commented on #611
@naina-verma what does it do if it doesn't redirect to home? I have noticed a delay and filed an issue for it, is that what you are referring to?

[2017-04-12 07:28] joshuawilson commented on #612
This is related to #358

[2017-04-12 13:27] jstrachan opened #699 "forge wizard seems to forget the `project name` you enter if you hit Next to go to next pages"
usually you get a failure at the `Finish` point as it tries to create a git repo called 'demo' - despite what you typed on the first page

[2017-04-12 13:54] catrobson commented on #543
Correct Wireframes to build from:  https://redhat.invisionapp.com/share/KQB6LEHM8

[2017-04-12 14:48] dgutride commented on #688
Fixed over here:  https://github.com/fabric8-ui/ngx-login-client/pull/44

[2017-04-12 19:32] catrobson commented on #536
There are additional error page situations that you can see here:  https://redhat.invisionapp.com/share/UQB3HEXFN

[2017-04-12 20:21] catrobson commented on #193
@alexeykazakov - can you describe where we currently stand with this?  Where are we getting the user profile image from by default before the user attempts to change it?

[2017-04-12 22:01] joshuawilson commented on #536
@catrobson since all the pages look the same except for the text, I thought we could change that on the fly as needed.

[2017-04-13 02:34] #540 closed

[2017-04-13 04:58] VineetReynolds opened #717 "Search results for spaces in the spaces page should be restricted to the owner"

[2017-04-13 09:34] jstrachan opened #721 "real time updates of pipelines seem to be broke in fabric8-ui"
so you have to keep hitting refresh to see a pipeline move through stages to completion

[2017-04-13 10:30] jstrachan commented on #721
@pmuir any idea on this one? is it related to updates in how the observables are working?

[2017-04-13 11:48] luebken opened #726 "No obvious way to navigate to workspace when logged in"
When you have been logged in and you are back at the homepage the login and register buttons are missing. But there is no obvious way to navigate to workspace.

How to reproduce:

- Log in at prod-preview.openshift.io
- Open prod-preview.openshift.io

![screen shot 2017-04-13 at 13 44 09](https://cloud.githubusercontent.com/assets/53055/25003450/bae4e2a2-204f-11e7-9a0d-c8cbc8575db5.png)

Solution:

[2017-04-13 11:49] mindreeper2420 commented on #726
Currently, that is what the 'Home' link in the navigation is for. Clicking that should bring you to /_home.

[2017-04-13 11:57] luebken commented on #726
ack. but that navigation is not recognisable to the user. especially since there where big buttons at that blank space before. as a user you are searching for them.

[2017-04-13 13:39] mindreeper2420 commented on #726
Easy enough to update. I'll put together a rough image and add it here for review.

[2017-04-13 15:37] mindreeper2420 opened #736 "Upgrade Font Awesome to 4.7.0"
In order to consume the full set of Font Awesome icons, we need to update to the latest 4.7.0 (we are currently using 4.6.3). This update gives us 41 new icons.

In order to make upgrades easier, we should separate Font Awesome from the PatternFly-Sass-CSS consumable and have it as a separate package in the package.json for each repo. Webpack will need to be configured to place the stylesheets in

[2017-04-13 15:58] catrobson commented on #554
@pmuir @qodfathr will be looking at how we have a standard "link to all" for widgets on the dashboard.

[2017-04-13 16:04] catrobson commented on #536
Yup - makes sense to me @joshuawilson

[2017-04-13 16:55] joshuawilson commented on #726
This design was intentional, @catrobson can you please comment.

[2017-04-13 17:38] catrobson opened #739 "Move profile page into user dropdown; remove navigation"
To navigate to the profile page, I should click my username and select "My Profile".  At that point, my username should show as highlighted while showing the profile page.

![image](https://cloud.githubusercontent.com/assets/3739227/25016521/596ed1a0-204e-11e7-9c71-8cc404295981.png)

Wireframe showing this state:
https://redhat.invisionapp.com/share/X7BA3VAMB#/224263817_Navigation_Space_Profile

I

[2017-04-13 17:46] catrobson opened #740 "Move footer information into About Modal"
Can we move the footer information about the product into a PatternFly about modal?

![image](https://cloud.githubusercontent.com/assets/3739227/25016824/78b4a980-204f-11e7-99c8-8b5a5a6ecbe8.png)

http://www.patternfly.org/pattern-library/communication/about-modal/

Since we have help in the user dropdown, I think we could also add a menu item for "About" which would then display this modal.

[2017-04-13 17:50] catrobson commented on #726
@mindreeper2420 - Can we just check if they are logged in and always redirect openshift.io to openshift.io/home if they are?  I think we don't want people to see this page if they are logged in.

[2017-04-13 18:30] joshuawilson commented on #739
I think this touches the work that both @dgutride and @dlabrecq. Can you both sort out who is going to change what?

[2017-04-13 18:39] joshuawilson commented on #740
yeah, that makes sense

[2017-04-14 10:40] pmuir commented on #740
Also suggest removing the version and link at the same time, we aren't
really using it. The build and timestamp is most relevant.

On 13 April 2017 at 19:39, Joshua Wilson <notifications@github.com> wrote:

--
Pete Muir
Technical Director, Red Hat Developer

[2017-04-14 10:44] pmuir commented on #726
When you log in you get auto-redirected. Not sure that disabling all access
to this page when you specifically request is a good idea. I think a better
approach is to have a CTA that sends you to _home.

On 13 April 2017 at 18:50, catrobson <notifications@github.com> wrote:

--
Pete Muir
Technical Director, Red Hat Developer

[2017-04-14 11:16] pmuir commented on #721
This was working fine as long the websockets connected as recently as Weds.

[2017-04-14 11:56] catrobson commented on #726
@pmuir Why would you need to see the marketing page if you are a user?  If you look at many websites that have extensive applications behind them, the only way you can get back to their marketing page is by logging out - otherwise you only will ever see your homepage.

[2017-04-14 12:51] pmuir commented on #726
Yes, and I find that a very frustrating experience ;-) If I navigate somewhere, I want to see the page there, not be redirected.

[2017-04-14 13:24] mindreeper2420 commented on #726
@pmuir @catrobson what about changing the navigation on the marketing page if a user is already logged in? We already do that by adding the 'Home' link (hidden if a user is not logged in), so it would be simple to do that again. This would be similar to a variety of sites in how they show completely different navigation on the same page, depending on whether a user is logged in or not.

[2017-04-14 13:27] pmuir commented on #726
That works for me.

On 14 April 2017 at 14:24, Adam Jolicoeur <notifications@github.com> wrote:

--
Pete Muir
Technical Director, Red Hat Developer

[2017-04-14 13:48] mindreeper2420 commented on #605
This is what a user will see when they are logged in and no Work Items are present, or none match the filtered criteria:
<img width="709" alt="screen shot 2017-04-14 at 9 46 55 am" src="https://cloud.githubusercontent.com/assets/4032718/25044909/6383d308-20f7-11e7-88bf-907b1e778617.png">

This is what a user will see when they are logged out and no Work Items match the filtered criteria:
<img widt

[2017-04-14 20:18] joshuawilson commented on #740
@catrobson since we have more then "label: version" listed in the PF example, what do you want to see in modal?

[2017-04-14 20:26] joshuawilson commented on #726
@mindreeper2420 so how do you get to the landing/marketing page if you are logged in? Just go to the base URL? Should you also be redirected to Home during login but that is the only time you get redirected?

[2017-04-14 20:30] joshuawilson commented on #605
Why an "i"? Why not an "L" or a closed pad lock?
If we go with this, then we might want to add this to the existing pattern that @dlabrecq has done.
Have we answered the question that most of the devs have, namely this looks like a button and we have other "plus" buttons used for adding but this is not a button.

[2017-04-14 20:44] mindreeper2420 commented on #605
@joshuawilson I went with the 'i' instead of a lock as the lock made it feel 'bad' in some way. The 'i' gave off (to me) the idea that the user has done nothing wrong, and can continue if they log in (and, in essence, create an account with us).

When a user is logged in, this will be a clickable element. When the user hovers over the blank state, it will 'pop' out at them and the cursor will chan

[2017-04-15 21:16] dlabrecq commented on #543
Encountered problems with the login APIs and filed an issue here.

https://github.com/almighty/almighty-core/issues/1193

[2017-04-17 02:14] mindreeper2420 commented on #726
Quick wireframe of Logged Out vs Logged In

https://redhat.invisionapp.com/share/SGBBGSAZA#/229218879_Navigation_Options

[2017-04-17 02:19] joshuawilson commented on #726
@mindreeper2420 That works for me. But the question of flow hasn't been answered. Currently the user is redirected to Home if they are logged in. Can you and @catrobson work out the flow of how to get to this page while logged in?

[2017-04-17 16:38] ldimaggi opened #757 "Logging into prod-preview.openshift.io raises 400 (bad request) exception - No 'Access-Control-Allow-Origin' header is present on the requested resource"
After logging in, this exception is logged:
[code]

Originally mis-logged as:
https://github.com/openshiftio/www.openshift.io/issues/83

[2017-04-17 16:39] ldimaggi opened #758 "On prod-preview.openshift.io, home page 'create a space' options are not operational"
Workaround - Spaces can be created through the logged in user's profile.

Clicking on the 'create a space' options on the home page does nothing.

Originally mis-logged as:
https://github.com/openshiftio/www.openshift.io/issues/84

[2017-04-17 16:41] ldimaggi opened #759 "Logged in user cannot view existing spaces on prod-preview.openshift.io"
Selecting 'View all spaces' (under left navigation bar) raises this exception:

[code]

[2017-04-17 16:41] ldimaggi commented on #759
Originally mis-logged as:
https://github.com/openshiftio/www.openshift.io/issues/85

[2017-04-17 16:43] ldimaggi opened #760 "Logged in user cannot create new space on prod-preview.openshift.io"
Steps to recreate:
* Login
* Select left top navigation bar, under the bar select 'Create space'
* Fill in space create dialog - on saving, this exception is raised:

[code]

Originally mis-logged as:
https://github.com/openshiftio/www.openshift.io/issues/86

[2017-04-17 16:45] ldimaggi opened #761 "Enhancement request - to facilitate automated UI creation - add unique (within each page) ID's to UI elements"
The UI at present is difficult to work with for automated test creation - multiple elements share the same ID, path, selectors - for example:

![screenshot 63](https://cloud.githubusercontent.com/assets/642621/24676288/64cd2308-1950-11e7-9be5-7417513e20c8.png)

[2017-04-17 16:47] ldimaggi opened #762 "Logging in with Firefox on RHEL7 presents the user with a blank screen"
his happens at the 18 second mark of the referenced screencast:

https://drive.google.com/open?id=0B1s-ZoxD8FjUcmRqSlpUQXBzT3M

This seems to be limited to RHEL7.

[2017-04-17 18:17] joshuawilson commented on #757
fixed in https://github.com/fabric8io/fabric8-ui/pull/763

[2017-04-17 18:17] #757 closed

[2017-04-17 18:19] joshuawilson commented on #758
How do I reproduce this. It appears to work. There is an issue with using the Quickstarts but that is not required for creating a space.

[2017-04-17 18:21] joshuawilson commented on #759
I do not see this error. You might need to have @aslakknutsen set up the Tenant Spaces in OS for the test user. Can you try this with your user and reproduce it?

[2017-04-17 18:46] joshuawilson commented on #760
The log you posted states that the space was created. The error is unrelated and fixed in https://github.com/fabric8io/fabric8-ui/pull/763.

[2017-04-17 18:46] #760 closed

[2017-04-17 18:49] joshuawilson commented on #761
@ldimaggi since only the tests will use the IDs you should be able to add them without breaking anything. Though I suggest you use [the component name - whatever the thing is].

[2017-04-17 19:20] mindreeper2420 commented on #740
would the footer info that is on the homepage be relevant inside of the product?
* Privacy Statement
* Terms of Use
* All policies and guidelines

[2017-04-17 20:07] joshuawilson commented on #740
@catrobson any guidance on this?
@SMahil can you take this task on?

[2017-04-17 20:11] joshuawilson commented on #762
I can't see the video. Does the UI eventually appear? If that is the case, I have noticed this as a bug that was fixed but needs a hard refresh to clear out.

[2017-04-17 21:41] catrobson commented on #740
I'm hoping to give you some guidance tomorrow from our visual designer, he was on vacation today. This made me realize that we don't have branding applied, so I want him to provide about box with the proper branding and we can also look at the header as a separate issue

[2017-04-17 23:12] joshuawilson commented on #740
We will wait for the designs.

[2017-04-18 01:54] dlabrecq commented on #543
Created the following PR:
https://github.com/fabric8io/fabric8-ui/pull/774

[2017-04-18 05:12] SMahil commented on #740
sure @joshuawilson

[2017-04-18 10:02] cctrieloff opened #784 "Render issue for new project wizard"
[Screencast from 04-18-2017 05:58:27 AM.webm.zip](https://github.com/fabric8io/fabric8-ui/files/928510/Screencast.from.04-18-2017.05.58.27.AM.webm.zip)

[2017-04-18 12:34] ldimaggi commented on #762
Sorry - can you see this link:

https://drive.google.com/a/redhat.com/file/d/0B1s-ZoxD8FjUcmRqSlpUQXBzT3M/view?usp=sharing

No - the app never loads for me with Firefox 45.4.0 on RHEL 7

[2017-04-18 13:44] jstrachan commented on #58
gonna close this as we can talk direct these days

[2017-04-18 13:44] #58 closed

[2017-04-18 14:11] sbose78 opened #804 "User Profile: update username 'once' as part of registration"
- The User api now returns a read-only property called "registration_completed" which is  `false` when the user first logs in.
-  "registration_completed"=true implies that the username can be updated.
-  "registration_completed"=false implies that the username cannot be updated.
-  username can be updated only once in the registration workflow. On doing so, `registration_completed` is automatical

[2017-04-18 14:13] sbose78 opened #805 "User Profile: Support for updating email address restored"
Support for updating the email is restored in the API.
If the email already exists in sso for a different account, then HTTP 409 conflict is returned.
Related to : https://github.com/almighty/almighty-core/commit/b76505860a5d1dfd94e0b67eea3c9c427fd1e159

[2017-04-18 15:55] jryhanyc commented on #740
@catrobson @joshuawilson @mindreeper2420 @pmuir

Visual design draft for [About Modal](https://redhat.invisionapp.com/share/DCBC8D2RX#/229470358_Artboard_1)

[2017-04-18 16:10] xcoulon opened #809 "UI does not recognize accounts already linked"
As a user, when logging in, I'm brought to a page that asks me to connect my github and openshift accounts. Once this is done, if I try to login again, I arrive again on this same page even though the linking as been recorded (as verified on the `Federated Identities` pages of the KC console).

[2017-04-18 17:20] dlabrecq commented on #804
I saw the newly added registration_completed attribute and we're already using it in the getting started page. However, I added the check for the 409 status.

That said, I was able to update using my existing username without any errors. I'm not able to change my username to something different now that an update has taken place. For testing purposes, it would be helpful to update the username mor

[2017-04-18 17:20] #804 closed

[2017-04-18 17:40] arunkumars08 opened #814 "Make the Stack Reports(Analytical Reports) section in dashboard as per Mock"

[2017-04-18 18:30] dlabrecq commented on #809
If you log in without a linked account, you are brought to the getting started page. After you link the accounts, you are intentionally returned to the getting started page, but this time there is a success message. You are expected to click the "Get Started" button or one of the home/profile page links.

The workflow can be viewed here:
https://redhat.invisionapp.com/share/KQB6LEHM8#/screens/2275

[2017-04-18 18:39] dlabrecq commented on #809
The way the page determines success is if it can obtain a GitHub and OpenShift token. You can check if they have been linked here (may need to log in, again):
https://sso.prod-preview.openshift.io/auth/realms/fabric8/account/identity

[2017-04-18 19:42] #814 closed

[2017-04-18 20:06] #589 closed

[2017-04-18 20:23] joshuawilson commented on #740
the green looks like it won't match, is that a Patternfly standard?

[2017-04-18 20:40] jryhanyc commented on #740
Hey @joshuawilson the greens are pulled from the RH brand color library and map to this specific product offering. The modal design and layout is part of PatternFly standards so we should be ok moving forward.

[2017-04-18 20:47] xcoulon commented on #809
yes, I've see the GitHub and OpenShift accounts linked on the Keycloak admin console, but I was sent back to the getting started page without any success message to continue.

[2017-04-18 20:54] joshuawilson commented on #740
ok, thanks

[2017-04-18 21:29] catrobson opened #825 "User dropdown should be full width"
The right hand dropdown under the user also be the full width of the name above it to be consistent with the left hand dropdown behavior.  Also not sure if we can get rid of the little gap between the primary nav and the dropdown itself, and "dock" it off of the navigation like the left hand dropdown is.

![image](https://cloud.githubusercontent.com/assets/3739227/25153947/80ad0130-245c-11e7-9bc5-

[2017-04-18 21:43] catrobson opened #826 "Status dropdown - make placeholder all green"
The status dropdown is a placeholder for now.  Please make it all green & OK looking for now until we have it functional.

![image](https://cloud.githubusercontent.com/assets/3739227/25154396/80cc202c-245e-11e7-87ce-53603401c52f.png)

[2017-04-18 21:51] catrobson commented on #554
Updated to have the title link.  Part of https://github.com/fabric8io/fabric8-ui/pull/818.  Closing this issue.

[2017-04-18 21:51] #554 closed

[2017-04-18 21:52] catrobson commented on #556
Wireframes being built for this by @muruGanesan

[2017-04-18 21:59] catrobson commented on #553
@mindreeper2420 - I think this is probably fixed, can you confirm and close?

[2017-04-18 23:19] dlabrecq commented on #809
It appears that the Rxjs Observable.combineLatest is not obtaining both GitHub and OpenShift tokens reliably. We need to test both tokens in order to navigate to home page or show getting started page.

Fixed by:
https://github.com/fabric8io/fabric8-ui/pull/827

[2017-04-18 23:28] alexeykazakov opened #828 "Refresh token every 10 minutes"
Currently our tokens have pretty long lifespan - 24 hours. But the tokens will include the set of spaces available to the user. If this list is updated after the token was issued we will need to call SSO to verify permissions. So, if we refresh the token every 10 minutes or so we will minimize our calls to SSO.

[2017-04-18 23:36] mindreeper2420 commented on #826
PR filed: https://github.com/fabric8io/fabric8-ui/pull/829

[2017-04-18 23:37] mindreeper2420 commented on #826
<img width="263" alt="screen shot 2017-04-18 at 7 37 10 pm" src="https://cloud.githubusercontent.com/assets/4032718/25157307/78ba95ca-246e-11e7-968a-08f6649e8e87.png">

[2017-04-19 00:32] joshuawilson commented on #828
@alexeykazakov what needs to be done in the UI, change the refresh to 10 minutes?

[2017-04-19 00:33] #826 closed

[2017-04-19 04:56] arunkumars08 opened #835 "Show Message when pipelines aren't there"

[2017-04-19 05:51] alexeykazakov commented on #828
@joshuawilson yes.

[2017-04-19 07:27] #835 closed

[2017-04-19 08:07] xcoulon commented on #809
@dlabrecq I'm reopening the issue since I still have the same problem, where I get back to the registration page without any success message.

[2017-04-19 13:09] ldimaggi commented on #759
Closing - problem was most likely due to (test) user account permissions.

[2017-04-19 13:09] #759 closed

[2017-04-19 13:13] ldimaggi opened #859 "On https://prod-preview.openshift.io/ - user profile includes canned information"
See attached screenshot:
![screenshot from 2017-04-19 09-07-21](https://cloud.githubusercontent.com/assets/642621/25181711/61574cda-24e0-11e7-8ca1-6677a436922e.png)

[2017-04-19 13:19] ldimaggi opened #860 "On https://prod-preview.openshift.io/ - multiple edit user profile options all link to email field"
See attached screenshot - trying to edit the bio or URL result in the email field being highlighted:

![screenshot from 2017-04-19 09-16-01](https://cloud.githubusercontent.com/assets/642621/25181996/40e351f0-24e1-11e7-894f-740a332cefd5.png)

[2017-04-19 13:56] mindreeper2420 opened #861 "Create Space Wizard Modal inside of Create Space Wizard Modal"
On prod-preview, the Create Space wizard modal is appearing inside of another Create Space wizard modal when launching the wizard from prod-preview/USERNAME/_space.

![screen shot 2017-04-19 at 9 53 51 am](https://cloud.githubusercontent.com/assets/4032718/25183716/5fa50e6c-24e6-11e7-9351-07a2421b5228.png)

[2017-04-19 13:59] mindreeper2420 opened #862 "Space Wizard has the same tooltip/title message everywhere"
No matter where I hover my mouse in the Space Wizard, I am presented with a tooltip/title message of 'Create new space'. If tooltips/title messages are used, they should be specific to given click points ('X' for close, buttons, etc.).

![screen shot 2017-04-19 at 9 57 27 am](https://cloud.githubusercontent.com/assets/4032718/25183924/eac018d4-24e6-11e7-9492-99d0f1b6f8ce.png)

[2017-04-19 14:08] ldimaggi opened #863 "On https://prod-preview.openshift.io - creating new space - creating project fails"
Steps to recreate:
* User Logins in
* Selects “Sign in” with GitHub
* Create Space
* Select Scenario Driven Planning
* Get going dialog - selects "technology stack and pipeline"

A dialog with this error message is opened:

[code]

![screenshot from 2017-04-19 10-05-09](https://cloud.githubusercontent.com/assets/642621/25184319/1251f89e-24e8-11e7-9f29-a5bcefadf78e.png)

[2017-04-19 14:10] mindreeper2420 commented on #859
this is on purpose - there is no information for Activity at this time.

[2017-04-19 14:26] ldimaggi commented on #863
Unlinking the account resolved this error:
http://sso.prod-preview.openshift.io/auth/realms/fabric8/account/identity

[2017-04-19 14:26] #863 closed

[2017-04-19 14:43] qodfathr opened #870 "Viewing pipeline history sets active navigation tab to Codebases"
Create | Piplines | View Pipeline Runs for some pipeline

Notice that active 2nd level tab has changed from Pipelines to Codebases:

![image](https://cloud.githubusercontent.com/assets/16322190/25186073/0beb5f0e-24ed-11e7-9d0f-5aa8a6e81f26.png)

[2017-04-19 14:47] ldimaggi opened #871 "On https://prod-preview.openshift.io - creating new project results in 500 server error"
Steps to recreate:
* User Logins in
* Selects “Sign in” with GitHub
* Create Space
* Select Scenario Driven Planning
* Get going dialog - selects "technology stack and pipeline"
* Launchpad: New Project dialog - select Vert.x HTTP & Config Map (accept all defaults)
* Obsidian: Configure pipeline dialog (accept all defaults)
* io.fabric8.forge.generator.github.GithubRepoStep dialog (accept all defa

[2017-04-19 15:21] joshuawilson commented on #859
@mindreeper2420 can you check with @catrobson and confirm what gets fixed vs what gets removed. And then remove the bits that go away.

[2017-04-19 15:24] jryhanyc commented on #740
Updated visual design to include Red Hat Red instead of the green, see [here](https://redhat.invisionapp.com/share/DCBC8D2RX#/229470358_Artboard_1). Since green was removed from home page this will feel more coheasive, thanks all!

[2017-04-19 15:26] joshuawilson commented on #740
thank you

[2017-04-19 16:16] michaelkleinhenz commented on #605
I tried to aggregate all above info into a PR. See here: https://github.com/fabric8io/fabric8-planner/pull/1685

[2017-04-19 16:25] mindreeper2420 commented on #859
@joshuawilson we're getting a list of pages that are going to be shown at demo and then remove static content from those screens. Pages that will not be shown will be left with static info, unless time allows to remove it.

[2017-04-19 16:34] joshuawilson commented on #859
ok, thanks

[2017-04-19 16:48] muruGanesan commented on #556
Please look at the latest file URL:

https://redhat.invisionapp.com/d/#/console/10518262/228772655/comments/80395532

[2017-04-19 16:51] joshuawilson commented on #556
moving it to Settings makes a lot more sense to me

[2017-04-19 17:13] #740 closed

[2017-04-19 18:42] arunkumars08 opened #877 "Scroll overflow issue in cards - Dashboard screen"

[2017-04-19 18:52] mindreeper2420 commented on #877
what scroll overflow issue is there? I fixed the horizontal scroll that was occurring in the Stack Reports card.

[2017-04-19 19:03] arunkumars08 commented on #877
@mindreeper2420 Actually it overflows beyond the card's container.

[2017-04-19 21:18] joshuawilson opened #885 "Add the codebase Git repo"
Auto add the codebase Git repo to codebases when you complete the wizard for create space

[2017-04-19 21:18] #877 closed

[2017-04-19 21:22] maxandersen opened #886 "login with user A, logout, then login with user B result in "already logged in" error and stuck"
login with user A, logout, then login with user B result in "already logged in" error and stuck.

And by stuck is meant most attempt after that to login result in being logged in as user A even though already supposedly logged out.

via tracing was found that no actual call is made to backend for doing logout.

[2017-04-19 22:30] mindreeper2420 opened #889 "About Modal Is Incorrect"
The About Modal does not follow the designs, as given in Issue https://github.com/fabric8io/fabric8-ui/issues/740. Initial work merged with PR https://github.com/fabric8io/fabric8-ui/pull/852.

Requirements:
- footer needs to be removed from the site
- build and timestamp information should still be available
- overall implementation should match the [visual design](https://redhat.invisionapp.com/

[2017-04-19 22:32] ldimaggi commented on #886
I saw the same behavior today while trying to create multiple automated tests - "logout" is not logging out the user.

[2017-04-19 23:33] alexeykazakov opened #896 "fabric8-ui using hardcoded sso realms when obtaining github/oso tokens"
I see calls to https://sso.prod-preview.openshift.io/auth/realms/fabric8/broker/openshift-v3/token and https://sso.prod-preview.openshift.io/auth/realms/fabric8/broker/github/token
when running fabirc8-ui and api locally.
But local api is using fabric8-test. Not fabric8.
So the correct URLs would be
https://sso.prod-preview.openshift.io/auth/realms/fabric8-test/broker/openshift-v3/token
and
https:

[2017-04-19 23:35] alexeykazakov commented on #896
Is there any env var which can be set to point fabric8-ui to proper realm?

[2017-04-19 23:44] maxandersen commented on #896
I found this https://github.com/fabric8-ui/ngx-login-client/blob/master/src/app/auth/authentication.service.ts#L136

Here realm/fabric8 is hardcoded this should be made configurable and overridable when run/packaged.

[2017-04-20 02:01] joshuawilson commented on #889
I didn't want the footer removed until we verified the data in prod. Now that it is done that can be removed.
The data does not display when you run it locally. You would need to run the prod build locally to see it.
The styles do need to be updated. But we are moving incrementally. But this is a good reminder to keep moving forward.

[2017-04-20 02:29] ldimaggi opened #908 "Seeing 403 errors when creating new spaces"
Started seeing this error late today - the test account used seems ok otherwise.

[code]

[2017-04-20 02:33] mindreeper2420 commented on #889
Here is a starting point for the design implementation, as the design is an update to the PatternFly About Modal: http://www.patternfly.org/pattern-library/communication/about-modal/#/code/html-css.

[2017-04-20 08:02] naina-verma opened #916 "Slashes/spaces shouldn't be part of area names"
Slashes/spaces shouldn't be part of area names
![bug5](https://cloud.githubusercontent.com/assets/19172870/25219935/c5e91fc8-25cd-11e7-950f-6728054c8f7f.png)

[2017-04-20 08:58] corinnekrych commented on #896
when I tried to hard-code it to `realm/fabric8-test` being in local env, I still got failure. there is 2 calls to KC:
https://sso.prod-preview.openshift.io/auth/realms/fabric8-test/broker/openshift-v3/token => 200
https://sso.prod-preview.openshift.io/auth/realms/fabric8-test/broker/github/token => 400

[2017-04-20 09:13] maxandersen commented on #896
@corinnekrych might just be bug that exist in both prod and test where it does not handle unlinked accounts.

What happens if you go to https://sso.prod-preview.openshift.io/auth/realms/fabric8-test/account/identity and do linking explicitly for your account ?

[2017-04-20 09:24] corinnekrych commented on #896
I can't add gh it complains: Federated identity returned by github is already linked to another user.
![unspecified-1](https://cloud.githubusercontent.com/assets/1395710/25223526/e6d765d0-25bb-11e7-9971-8dd204558d58.png)

[2017-04-20 09:25] luebken opened #918 ""Create space" widget contains "Lorem ipsum" text"
![screen shot 2017-04-20 at 11 23 07](https://cloud.githubusercontent.com/assets/53055/25223553/f624078c-25bb-11e7-8b24-05d11322ad10.png)

[2017-04-20 09:27] corinnekrych commented on #896
@maxandersen But then if I go to http://localhost:3000/_home I am logged in...
![unspecified-2](https://cloud.githubusercontent.com/assets/1395710/25223651/417a5d44-25bc-11e7-804b-390f06176a55.png)

[2017-04-20 09:28] luebken commented on #918
It differs for development process:

- Agile: "Lorem ipsum"
- Scrum: "Scrum is Scrum"
- Issue Tracking: "How boring"
- Scenario Driven: "We love Todd"

[2017-04-20 09:29] maxandersen commented on #896
Good - at least gets us halfway.

Any chance you have another user with same github id registered?

[2017-04-20 09:33] luebken opened #919 "Create Space notification is hidden"
When a new space is created the respective toast notification is hidden behind the widget / wizard for the next steps:

![screen shot 2017-04-20 at 11 29 01](https://cloud.githubusercontent.com/assets/53055/25223892/08bc1726-25bd-11e7-9a15-02f7376f238d.png)

Tested just now. On a Mac. Chrome: Version 57.0.2987.133

[2017-04-20 09:46] luebken opened #920 "Quickstarts: Can't get past "io.fabric8.forge.generator.github.GithubRepoStep""
Trying to populate my workspace with some code via the quickstarts widget. I tried several combinations of project names, boosters, pipelines, reponames etc.

In Chrome: I see some errors:

[code]

![screen shot 2017-04-20 at 11 39 04](https://cloud.githubusercontent.com/assets/53055/25224376/8202aee6-25be-11e7-9598-71b6fbb19231.png)

[2017-04-20 10:28] xcoulon commented on #896
I confirm that it works for me after changing the realm as suggested above (directly in `.js` file in the `/node_modules` directory of the project to make things more straightforward in my case).

[2017-04-20 10:39] maxandersen commented on #920
the forge wizard has a bug at the moment that makes it loose context when using "Next" - for now fill in first page and press finish to increase your chance of success.

[2017-04-20 10:48] jstrachan commented on #920
also its common for your tokens to be stale for github or openshift (we're just adding better UX around handling that case) -so you may need to logout/login again to refresh keycloak tokens then remove github + openshift from this page: https://sso.prod-preview.openshift.io/auth/realms/fabric8/account/identity

also type a unique project name before hitting Finish on the first page. The validation

[2017-04-20 11:40] naina-verma opened #921 "No error message for duplicate Area's name"
No error message for duplicate Area's name
![screenshot from 2017-04-20 17-09-59](https://cloud.githubusercontent.com/assets/19172870/25229005/34eedb6a-25ec-11e7-8f4a-16955a051b15.png)

video link: https://drive.google.com/a/redhat.com/file/d/0B1qUq_laG6COQ0hiRndQNkQ4Ukk/view?usp=sharing

`{"errors":[{"code":"bad_parameter","detail":"Bad value for parameter 'name \u0026 space_id \u0026 path': 'fab

[2017-04-20 13:29] corinnekrych commented on #896
Indeed I had 2 users created and I was trying to link them to the same gh account.

[2017-04-20 13:55] joshuawilson commented on #916
The slash is to show the parent. Though we should filter out any slash or space in the name it's self.

[2017-04-20 13:58] joshuawilson commented on #918
@catrobson can you please provide text for each of these?
@mitchharpur can you please remove the text until you get the designs?

[2017-04-20 14:30] joshuawilson commented on #918
@mitchharpur I'm going to take this one as we now have an API for it.

[2017-04-20 15:11] qodfathr opened #930 "Board view has odd spacing on card titles"
It looks like it's using justified text; does not look good on this example:

![image](https://cloud.githubusercontent.com/assets/16322190/25237975/1de088ba-25ba-11e7-9e1c-c2ec0c7ae982.png)

[2017-04-20 15:15] qodfathr opened #931 "Board view has invisibly sticky filtering"
1. Go to board with many cards, only some assigned to you.
2. Filter to cards assigned to you
3. Go to another screen (e.g. click Create)
4. Return to Plan | Board

View is still filtered to only cards assigned to you, but there is no filter information at the top of the board.

I like the stickiness -- but the filter needs to be visible. Otherwise it looks like I lost nearly everything.

[2017-04-20 15:26] joshuawilson commented on #919
@catrobson can you add this to your list of things to review please? Do we bring the notification forward? If so do we really need to button on the form that does the same thing? Do we not show a notification for this and just you the button on the form?

[2017-04-20 15:28] joshuawilson commented on #920
@luebken the app has been updated, can you please try again and post results.

[2017-04-20 15:36] joshuawilson commented on #896
Just in case you still have 2 accounts pointing to your github account, you must unlink one of them.

[2017-04-20 18:57] ldimaggi opened #945 "Workitems can be configured to have multiple parents"
Enabling workitems to support multiple parents can worsen conditions where a workitem appears more than once in the UI:

![screenshot from 2017-04-20 14-47-24](https://cloud.githubusercontent.com/assets/642621/25247713/ab3573e6-25d9-11e7-8a04-5c5e0b86810f.png)

[2017-04-20 19:01] joshuawilson commented on #945
Is this a tree list issue or a planner implementation of the tree list? @michaelkleinhenz @dlabrecq

[2017-04-20 19:16] samuzzal-choudhury opened #947 "Space Name does not accept underscores"
**Test Environment**: https://openshift.io

While trying to create a space with a space name "sam_test_space", I got the following error -

As per the above message my space name should have been a valid one. Replacing the underscores in the space names with hyphens made the error message disappear.

[2017-04-20 19:36] ldimaggi opened #949 "On creating a new project, the user must only use lowercase letters"
The error message displayed if uppercase letters are used refers only to "spaces and special characters."

--------------------------------
Before:
![screenshot from 2017-04-19 11-08-37](https://cloud.githubusercontent.com/assets/642621/25249177/fe898776-25de-11e7-9741-163d79a87268.png)

----------------------------------
After:
![screenshot from 2017-04-19 11-08-57](https://cloud.githubuserconten

[2017-04-20 20:50] michaelkleinhenz commented on #945
All components are working as they were designed here. It is just that the combined function does not make sense. :-)
But we already have a solution in a PR. @baijum
Also see the thread on devtools-planner on this. The solution will change the items displayed in the root level to only items that don't have a parent set.

[2017-04-20 20:58] michaelkleinhenz commented on #605
Fixed with #1685.

[2017-04-20 20:58] #605 closed

[2017-04-20 20:59] michaelkleinhenz commented on #931
@vikram-raj can you look into this?

[2017-04-20 21:00] michaelkleinhenz commented on #931
@sanbornsen maybe this is also an issue on the filters. Can you take a look?

[2017-04-20 21:01] michaelkleinhenz commented on #930
@vikram-raj an you take a look?

[2017-04-21 03:18] sanbornsen commented on #931
@michaelkleinhenz @qodfathr looks like the similar issue reported here - https://github.com/fabric8io/fabric8-planner/issues/1714

Try this - PR build - https://github.com/fabric8io/fabric8-planner/pull/1715

[2017-04-21 05:45] pranavgore09 opened #956 "Login shows "connect account" even after accounts are already connected."
Steps to reproduce
1. Visit https://prod-preview.openshift.io
2. Log in using RHD account
3. You see following page
![connect_accounts](https://cloud.githubusercontent.com/assets/2026565/25264237/2bc282a2-2683-11e7-8390-f50f857aa727.png)
This page reappear even after connecting accounts by submitting above form.

And my accounts are already linked on `/auth/realms/fabric8/account/identity`
![linke

[2017-04-21 05:59] joshuawilson commented on #956
I can think of several things here.
 - What is the link you used to connect? It might be unrelated to what is used by prod-preview, maybe. @alexeykazakov please confirm.
 - The getting started page is designed to connect you when you first login and it does not expect you to connect yourself through a backdoor. We you able to get past the screens? If so, I don't see this as a high priority. I don'

[2017-04-21 06:08] alexeykazakov commented on #956
UI should check if account already linked. It's just one call per link. I assumed UI already does it. No matter if it's first login or not. This is something wrong with that page. Username is empty.
And I can confirm that Pranavgore09 is already linked in sso.prod-preview

[2017-04-21 06:32] naina-verma opened #958 "Validation for username is not working as expected"
it says `Username must be less than 63 characters and can't begin with a dash or underscore. They may contain lowercase letters, numbers, dashes, or underscores.`

Actual behavior
- While trying user-name with underscore/hyphens in between the characters not in beginning

Video link : https://drive.google.com/a/redhat.com/file/d/0B1qUq_laG6COaldTb2s4TDMwMGM/view?usp=sharing

[2017-04-21 06:34] SMahil opened #959 "Detail Add Type doesn't work correctly"
Detail Add Type is not working correctly.
I have attached the video link to reproduce the error.

https://drive.google.com/open?id=0BzAb-YONh7fsZUc5ekhvbWFoeUE

[2017-04-21 06:44] sanbornsen commented on #931
Never mind, this is not fixed yet. This is a different issue than what I mentioned above. I am on it.

[2017-04-21 06:57] joshuawilson commented on #959
My browser doesn't support playing the video. Can you please list the steps to reproduce this?

[2017-04-21 06:58] SMahil commented on #959
1. On space homepage click Work Item
2. detail page is broken. Its not overlaying the homepage

[2017-04-21 07:08] joshuawilson commented on #959
and if you click the add work item and then scroll down you can still see the the Space dashboard (I had a smaller window due to having the dev console up)

[2017-04-21 07:10] sbose78 commented on #956
[code]

this is the trace in the browser console.

[2017-04-21 07:31] sbose78 commented on #956
I'm locked out now - no amount of refresh/incongnito is helping me get it. :(

[2017-04-21 10:31] pranavgore09 commented on #956
@joshuawilson , I do not intend to link the account, but UI does not let me in without connecting account hence blocked. And in my case "connect account" does not do anything but takes me to same page. Hence it has become a blocker at least for me on prod-preview.
@sbose78 : I hanvn't seen that error yet :smile: console is clean.

[2017-04-21 12:20] ldimaggi commented on #949
The issue here is that the user is not told that uppercase letters are considered as special characters.

[2017-04-21 12:34] ldimaggi opened #962 "User experiences 3-4 second delay in project name validation during "add to space""
Steps to recreate:

- Create a new user space - assign the space a name that includes an uppercase letter
- Click on 'add to space'
- Click on 'Select Technology stack and pipeline'
- The project name is automatically assigned the same name as the space - including the uppercase letter - this results in the next/finish buttons being set to disabled
- Remove the offending uppercase letter from the

[2017-04-21 12:44] ldimaggi opened #963 "User cannot 'add to space' in a space that contains an uppercase letter in its name"
Steps to recreate:

* Create a new user space - assign the space a name that includes an uppercase letter
* Click on 'add to space'
* Click on 'Select Technology stack and pipeline'
* The project name is automatically assigned the same name as the space - including the uppercase letter - this results in the next/finish buttons being set to disabled
* Remove the offending uppercase letter from the

[2017-04-21 13:04] ldimaggi opened #966 "Just started seeing 403 errors in trying to create spaces or add to space"
This error just started appearing - 09:00 EDT/Boston time):

polyfills.f49acb8….bundle.js:1 GET https://prod-preview.openshift.io/_p/oso/oapi/v1/namespaces/almusertest1/buildconfigs 403 (Forbidden)

Creating a new space now fails with the "something went wrong" error message:

`Something went wrong configuring your pipelines and environments as the OpenShift Project 'username' is not accessible to

[2017-04-21 13:13] ldimaggi commented on #966
To recreate - login and create a space.

[2017-04-21 14:32] dlabrecq commented on #956
I could not reproduce your issue. I was able to log into https://prod-preview.openshift.io just fine. I had to register a new account, so I didn't have GitHub and OpenShift linked. However, I also removed the links from keycloak to try again. In both cases, the getting started page linked my accounts and redirected me to the home page.

You might also try removing your GitHub and OpenShift link fr

[2017-04-21 14:49] dlabrecq commented on #956
FYI, I just checked with Alask and the getting started page is also working fine for him.

[2017-04-21 16:43] nimishamukherjee opened #974 "Work item title moves to the second line in the Planner list view when navigating between Plan and Create tabs"
1. Select a space
2. Select Plan tab (Analyze Plan Create)
4. Select Backlog
3. The work item title appears next to the ID
![beforenavigatingtocreate](https://cloud.githubusercontent.com/assets/1892722/25287284/6ec56686-26de-11e7-85c5-21477955c88e.png)
4. Select Create (Analyze Plan Create)
5. Select Plan tab (Analyze Plan Create)
6. Select Backlog
7. The work item title appears in the second line

[2017-04-21 20:25] mindreeper2420 commented on #889
@SMahil here is the background image that you should use for the modal:
![osiomodalbackground](https://cloud.githubusercontent.com/assets/4032718/25294842/052c25f4-26af-11e7-84d4-d8b6bbe4d282.png)

Just overlay the corporate logo onto the lower right corner, over the red.

[2017-04-22 01:54] dgutride commented on #886
@alexeykazakov
I think we might have the browser caching the redirect locally so it doesn't process
http://stackoverflow.com/questions/9020162/avoiding-301-redirect-caching - can we add a no-cache header to that api?
http://bugsquash.blogspot.com/2008/12/google-chrome-caches-301-redirects.html

[2017-04-22 02:17] joshuawilson commented on #886
That is worth a try.

[2017-04-22 05:44] alexeykazakov commented on #886
@dgutride I created an issue for core - https://github.com/almighty/almighty-core/issues/1227

[2017-04-22 12:55] ldimaggi commented on #966
Closing - this was probably part of the April 21 outage.

[2017-04-22 12:55] #966 closed

[2017-04-22 12:57] ldimaggi opened #983 "After logging in on prod-preview.openshift.io, user's home page is stuck at a developer survey"
The user is able to navigate to other pages (such as 'view all spaces'), but the user's home page is always the survey:

![screenshot from 2017-04-22 08-48-27](https://cloud.githubusercontent.com/assets/642621/25304647/a320773a-2739-11e7-9634-3b0d2b0681dd.png)

[2017-04-22 16:43] dlabrecq commented on #956
I was able to reproduce this only when the network went down and I navigated directly to the getting started page. In this scenario, I wasn't logged in properly. Thus, the username field was blank and GitHub and OpenShift were unchecked.

That said, I've added AuthGuard to ensure the user is logged in. If there is a problem with the login, the user should never get here, at least.

See:
https://gi

[2017-04-22 17:18] dlabrecq commented on #983
Fixed by https://github.com/fabric8io/fabric8-ui/pull/987

[2017-04-22 22:39] dlabrecq commented on #553
Fixed by https://github.com/fabric8io/fabric8-ui/pull/990

[2017-04-23 00:01] cctrieloff opened #991 "Bad link on projects space home page"
On the space dashboard, the environments link goes to the removed environments page. This should now go to openshift console and show a list of the openshift environments.

[2017-04-23 00:02] cctrieloff opened #992 "Codebase URL's on space home page don't work."
The don't go anywhere...

[2017-04-23 04:19] #956 closed

[2017-04-23 04:52] joshuawilson commented on #992
Should be fixed in #990

[2017-04-23 16:52] ldimaggi commented on #983
Not being seen now - closing

[2017-04-23 16:54] ldimaggi opened #994 "Login on https://prod-prevew.openshift.io - cannot get past 'getting started' page"
I cannot get past this page - but no error is being logged to the console

![screenshot from 2017-04-23 12-51-25](https://cloud.githubusercontent.com/assets/642621/25315508/ece5a03a-2823-11e7-85c7-47259d0cda29.png)

[2017-04-23 16:55] ldimaggi commented on #994
After disassociating my account from openshift.io, bad request errors are logged when trying to login:
[code]

[2017-04-23 17:11] alexeykazakov commented on #994
OSO auth is unstable because it's using RHD which still suffering from outage.

[2017-04-23 19:37] sbose78 commented on #994
Same here.
I'm using the workaround of reaching the url "/_home" manually

[2017-04-24 03:52] #983 closed

[2017-04-24 12:45] ldimaggi opened #999 ""Spaces" link on prod-preview.openshift.io points to: https://prod-preview.openshift.io/#"
See attached screenshot:

![screenshot from 2017-04-24 08-42-05](https://cloud.githubusercontent.com/assets/642621/25337568/6390a62a-28ca-11e7-944b-87767070460a.png)

[2017-04-24 12:54] ldimaggi commented on #908
Closing as no longer an issue.

[2017-04-24 12:54] #908 closed

[2017-04-24 12:59] catrobson commented on #172
Wireframes for adding collaborators to space:
https://redhat.invisionapp.com/share/7XAIMZBBK#/230302872_Space_Setting_Collab_0

[2017-04-24 13:00] ldimaggi opened #1000 "Unable to create a new project ('add to space') - no error logged"
Steps to recreate:
- User Logins in
- Selects “Sign in” with GitHub
- Create Space
- Select Scenario Driven Planning
- Get going dialog - selects "technology stack and pipeline"
- Launchpad: New Project dialog - select Vert.x HTTP & Config Map (accept all defaults)
- Click "next" - after 2-3 seconds, user is returned to New project dialog, no error is logged in console log

![screenshot from 2017-

[2017-04-24 13:16] ldimaggi commented on #1000
User account needs to be re-approved.

[2017-04-24 13:16] #1000 closed

[2017-04-24 16:27] ldimaggi opened #1009 "Login using a github-only account that is not linked to OpenShift fails - does not return error message to user"
Steps to recreate:

* With a github only account
* Login to https://prod-preview/openshift.io
* Observe that a 400 (bad request) error is logged, that the user's URL is set to https://prod-preview/openshift.io/_gettingstarted, and a blank browser window is displayed to the user

Workaround:
* Delete _gettingstarted from the URL
* Force a reload of the browser

NOTE - This bug blocks automated  EE

[2017-04-24 16:28] hectorj2f commented on #1009
A video about the issue can be found here: https://cloud.githubusercontent.com/assets/3602792/25344987/09a37d3c-2914-11e7-8931-afff1c9f647d.gif

[2017-04-24 16:55] hectorj2f commented on #1009
In keycloak, I found this error which is logical cause this user isn't associated to openshift-v3
[code]

[2017-04-24 17:41] alexeykazakov commented on #1009
That 400 is expected if there is no OSO link. The problem is in UI which should ask user to link OSO if it's not linked yet.

[2017-04-24 18:06] ldimaggi commented on #1009
So - the sequence for a new user - a user who only has a github account - is (1) connect his github account to openshift (https://sso.prod-preview.openshift.io/auth/realms/fabric8/account/identity) , and then (2) login to prod-preview.openshift.io, yes?

The login is successful, but it then hits this bug - https://github.com/fabric8io/fabric8-ui/issues/994

The problem in https://github.com/fabric

[2017-04-24 18:30] ldimaggi opened #1014 "403 Errors being generated after login on prod-preview.openshift.io"
After working around the issue reported in: https://github.com/fabric8io/fabric8-ui/issues/1009

403 Errors are being logged:

main.64b57e5….bundle.js:1 Error retrieving list BuildConfigs: Response with status: 403 Forbidden for URL: https://prod-preview.openshift.io/_p/oso/oapi/v1/namespaces/almusertest1/buildconfigs

[2017-04-24 21:34] maxandersen opened #1017 "UI should list somewhere the openshift console and/or api urls"
Once you run the wizards you don't have a way to actually browse to see the openshift console nor info on what api urls to use if using `oc`

Suggestion is to have the environment "tile" actually give a link to your spaces openshift console project(s)/environments - or at least a minimum the main console.

This would at least allow users to browse the details and find info to get cli access.

p.s.

[2017-04-24 21:35] maxandersen commented on #1017
from @pmuir on this from mailing list:
There will be links from the environments widget, and we will add the
applications page (like the environments page but better) after
Summit.

We're also adding the access tokens to the profile again, and it could
be good to have link to the openshift console there as well.

[2017-04-25 08:38] naina-verma opened #1027 "Able to create a space without any specified template"
Able to create a space without any specified template
Steps to reproduce
- create a space
- don't choose any template

expected result : there should be some default space template incase user is not selecting one.

video link : https://drive.google.com/a/redhat.com/file/d/0B1qUq_laG6CObEVhMS03aDhDMms/view?usp=sharing

[2017-04-25 10:44] xcoulon opened #1036 "Multiple encoding in `namedspaces` requests"
I'm getting some errors in the backend console such as this one, along with problems in the UI when trying to update a work item:

[code]

I have an identity with `username=xcoulon@redhat.com` in my DB, but I suspect that there's an encoding problem with the `@` character somewhere.

Looking in the browser console, I found the following request:
[code]

There seems to be a double-encoding which ca

[2017-04-25 10:49] jstrachan commented on #1017
this PR adds a link to the openshift console on the Pipelines page

[2017-04-25 11:16] jstrachan opened #1043 "quickstart wizard should render the pipeline choices using a visual pipeline representation"
rather than just a list of pipeline names it'd be nice to show a list of pipeline renderings for each pipeline choice.

The JSON returned by the wizard has the stages, environments and a description.

e.g.
[code]

For example the `ReleaseStageApproveAndPromote` pipeline choice has stages:

* Build Release
* Integration Test
* Rollout to Stage
* Approve
* Rollout to Run

To render that like the pip

[2017-04-25 11:17] jstrachan commented on #1043
here's an example of the UI in action for viewing a pipeline - we'd not have any details of the timings below the lines/arrows/circles though

<img width="1193" alt="openshift_io" src="https://cloud.githubusercontent.com/assets/30140/25382807/14351f9c-29b1-11e7-8be3-a2ecc6df5586.png">

[2017-04-25 12:48] jstrachan commented on #721
seems fine now!

[2017-04-25 12:48] #721 closed

[2017-04-25 12:50] ldimaggi opened #1049 "On https://openshift.io, seeing tokens refreshed.....constantly"
See screenshot of console log:

![screenshot from 2017-04-25 08-48-45](https://cloud.githubusercontent.com/assets/642621/25386088/20035932-2994-11e7-9fdf-0b556c4a3c52.png)

[2017-04-25 13:02] ldimaggi opened #1050 "Logging into openshift.io returns error"
Steps to recreate:
* Log in to https://openshift.io with a user account that is already linked to RHD and OSO
* After login, when the user is at this URL: https://openshift.io, this error is logged - a blank screen is displayed for the user:

[code]

* To workaround this issue, append a "/" to the URL and reload the page

This problem is similar to:  https://github.com/fabric8io/fabric8-ui/issues/

[2017-04-25 17:20] joshuawilson commented on #1043
@jstrachan where in the wizard are the pipelines shown?

[2017-04-25 17:51] jstrachan commented on #1043
on the second page of the wizard when you choose a pipeline

[2017-04-25 17:56] jstrachan commented on #1043
here's the second page of the new quickstart wizard:
<img width="1005" alt="fabric8" src="https://cloud.githubusercontent.com/assets/30140/25399915/e0605596-29e8-11e7-9699-a94e87987d59.png">

[2017-04-25 18:01] joshuawilson commented on #1043
@jstrachan so are you asking that an image of the pipeline be shown for each selection or something else.
cc @catrobson

[2017-04-25 18:08] pmuir commented on #1043
Yes, we need to do this. If we can render dynamically, even better.

[2017-04-25 18:08] jstrachan commented on #1043
I remember @pmuir asking for this recently.

Basically rather than showing a combo list of pipeline names (with just a textual description of the pipeline), the idea is to show a list of pipelines using the same visualisation as the pipeline visualisation above.

e.g. show the, currently 3 different pipelines and their stages and let the user pick which one they want

[2017-04-25 18:09] jstrachan commented on #1043
We've explicitly added the 'Stages' metadata to all the pipelines in the library - solely so that UIs can render the stages in each kind of pipeline to help the user pick which ones to use. It turns out that little bit of code above is pretty much all we need to do to render a static pipeline flow; using the list of stages from each pipeline object the server returns.

[2017-04-25 18:10] jstrachan commented on #1043
@pmuir I was thinking just a static rendering of each pipeline choice (making it look like they all completed with green)? Though I guess we could animate them but not sure that extra work is really needed?

[2017-04-25 18:13] pmuir commented on #1043
The only thing I'm not sure that shows well is the approval step...

[2017-04-25 19:03] dlabrecq opened #1069 "Pipelines toolbar issues"
The toolbar for pipelines does not stretch the full width of the page and also covers the secondary navigation bar.

The toolbar probably shouldn't be wrapped in class="content container". Look at the codebases toolbar implementation, which doesn't use that.

Also need UXD to look at how the OpenShift link is added in the toolbar's view area. This is really not intended to show links or buttons.

[2017-04-25 19:28] #889 closed

[2017-04-25 19:37] ldimaggi commented on #1014
Seems to be fixed now

[2017-04-25 19:37] #1014 closed

[2017-04-25 19:41] ldimaggi opened #1071 "In 'Add to space" the "Next" button fails"
Steps to recreate - on https://prod-preview.io

* Create a new space, or navigate to an existing space
* Select "Add to space"
* Select "Technology stack and pipeline"
* Select Vert.X CRUD (or other Vert.X options)
* Click on "Next" button - and the "Add to space" dialog is refreshed

The workaround is to click on the "Finish" button.

Console log - no error is logged:
[code]

[2017-04-25 19:58] alexeykazakov commented on #1049
We switched to 30 day tokens in our Keycloak instead of 1 day token last night.
And this morning a few people noticed that UI refreshing tokens constantly.
I switched to 1 day token to see if it solves the problem and that constant refresh stopped.
Then I switched it back to 30 days but we don't see that refresh problem since then.

[2017-04-25 20:26] ldimaggi opened #1073 "On openshift.io - add to space fails with patternfly.css:2 error"
This error is logged:
[code]

[2017-04-25 20:45] joshuawilson commented on #1071
If you use the Next button it creates a repo of the name "demo" and the next time you do it, it will do the same but the validation will prevent you. You must delete the "demo" repo in github.

[2017-04-25 21:19] jstrachan commented on #1043
Yeah - for approval stages we could use the `PAUSED_PENDING_INPUT` css style instead of `SUCCESS` to highlight input is required; though when the pipeline is complete if `Promote` is selected it goes green with `SUCCESS` anyway so its maybe not a biggie for now?

Either way if we wanted to render `Approve` stages separately we can just check for the Stage name `Approve` for now - e.g. https://gith

[2017-04-25 22:53] ldimaggi commented on #1049
It's back...

![screenshot from 2017-04-25 18-52-14](https://cloud.githubusercontent.com/assets/642621/25411056/6f66edd2-29e8-11e7-874b-8dbee1928b67.png)

[2017-04-25 23:47] catrobson commented on #1069
@dlabrecq do you have a screenshot of the OpenShift link in the toolbar?  Not familiar with what you're seeing.  Otherwise I think @mindreeper2420 was already looking at how to fix the container on his list, but if you can fix this it would take one thing off of his list!

[2017-04-25 23:58] catrobson commented on #1043
We had an original design that did not show the pipeline visualization, but rather listed a summary and extended to show full stage listing.  Is this a reasonable place to start?  https://redhat.invisionapp.com/share/ZQARDX35J#/screens/228077943

![image](https://cloud.githubusercontent.com/assets/3739227/25412412/7fbf4834-29f0-11e7-8caf-8915615553b0.png)

Ideally I'd like to create a micro-pipeli

[2017-04-26 01:22] alexeykazakov commented on #1049
https://goo.gl/YOzwja

[2017-04-26 01:54] alexeykazakov commented on #1049
It's reproducible only on the front page.
I login then remove /_home and see in the console:
`Refreshing token in: 14000 milliseconds.`
Then in 14 seconds it starts constantly refreshing the token.
If I go somewhere else, to profile for example, it stops.

[2017-04-26 02:04] joshuawilson commented on #1049
@pmuir it looks like this error only happens in the landing page. Can you please take a look at it.

[2017-04-26 02:16] ldimaggi commented on #1073
No longer being seen

[2017-04-26 02:16] #1073 closed

[2017-04-26 02:36] alexeykazakov commented on #1049
setTimeout() uses a 32 bit int to store the delay. So the max value allowed is 2147483647
But since we switched to 30 day tokens the token expiry now is bigger than that int which causes immediate refreshing.
Actually we need to refresh in 10 minutes or in 90% of the expiry time whatever is sooner so that will fix the problem.

[2017-04-26 03:22] #1049 closed

[2017-04-26 08:56] jstrachan commented on #1043
Ah I'd not seen that - its pretty nice yeah. Though do think just rendering what the pipeline looks like might be easier to grok for folks; particularly if they've seen fabric8/openshift/jenkins before - not sure folks understand 'stages' and 'environments' or if the number of each helps (in the un-expanded view); there's often confusion there what those words mean.

I wonder if the above UI might

[2017-04-26 10:46] rkratky commented on #809
Not sure if this is related, but even after linking GH and OS accounts (and they show on the KC Console page under "Federated Identities"), when I click on "Update Profile" on the profile page on os.io, It tells me:

*Please connect your GitHub and OpenShift accounts to OpenShit.io.*

Clicking on the respective buttons (Connect GitHub account, Connect OpenShift account) doesn't do anything, and th

[2017-04-26 16:12] rkratky opened #1108 "Placeholder widget name: Space name selector"
The drop-down for selecting a space in the "My work items" box on _home shows "Space name selector" as the default "value". I believe that should say something like "Select the space to work with".

[2017-04-26 17:48] ldimaggi opened #1115 ""KeyCloak failed to return a token for GitHub" showing up on prod-preview"
Steps to recreate:

* On prod-preview, select 'Add to Space' and then select 'Technology Stack'

This error is displayed in a dialog:

[code]

[2017-04-26 18:02] jstrachan commented on #1115
Looks like there is no GitHub token. Maybe test in production instead? Pre-prod isn't usable for making projects right now

[2017-04-26 18:03] aslakknutsen commented on #1115
@jstrachan different tokens from different providers :)

[2017-04-26 19:05] joshuawilson commented on #1115
this is due the forge api in prod-preview pointing to prod, I think

[2017-04-26 23:06] catrobson opened #1124 "Stack report on space dashboard - Redesign needed"
For summit, we would like to change the stack report on the space dashboard to work differently than it does today.  Specs included below.  Filled state changes are a priority for summit demo.

![stackanalysiswidget_newdesignforsummit](https://cloud.githubusercontent.com/assets/3739227/25460739/1b35af20-2ab3-11e7-8545-4270a746a40c.jpg)

Changes include:
- Change the title to “Stack Report Recommen

[2017-04-27 01:59] mindreeper2420 commented on #1108
fixed as part of PR https://github.com/fabric8io/fabric8-ui/pull/1129

[2017-04-27 02:13] dlabrecq commented on #1069
<img width="1437" alt="screen shot 2017-04-26 at 10 12 37 pm" src="https://cloud.githubusercontent.com/assets/17481322/25464990/8a1211bc-2acd-11e7-8d24-d41759cdcfec.png">

[2017-04-27 02:15] catrobson commented on #1069
+1 that the link should not be there.  Each Deployment-Config (Demo in this case) should link to the OpenShift console instead.

[2017-04-27 02:15] dlabrecq commented on #809
The functionality on the edit profile page has not been implemented. The rest has been fixed.

[2017-04-27 02:15] #809 closed

[2017-04-27 05:46] arunkumars08 commented on #1124
@catrobson How will the scenario be in case we have pipelines and no builds related to Bayesian (Meaning, we don't have any information from Bayesian)

[2017-04-27 06:01] joshuawilson commented on #1124
It will be empty, for now use the current empty state text you have.

The list in the drop down should only have pipelines that have builds that have Stack reports for them. You should not show all possible pipelines or builds.

[2017-04-27 06:03] joshuawilson commented on #1124
Note what is the 2nd point, "default to the latest build that has a stack report".

[2017-04-27 08:50] jstrachan commented on #699
I think this is mostly fixed now?

[2017-04-27 12:57] mitchharpur commented on #963
this is fixed. the space is now lowercased trimmed and  underscores are replaced with dashes and spaces replaced with dashed

[2017-04-27 12:57] #963 closed

[2017-04-27 12:58] mitchharpur commented on #962
title bar Spinner buttons indicating validation is underway are now added on same page validations and page level for page transitions

[2017-04-27 12:58] #962 closed

[2017-04-27 13:03] mitchharpur commented on #949
All text entered is automatically lowercased by a server side validation (there is a slight validation delay) ... the input is trimmed , spaces and underscores are replaced by dashes ... any remaining validation failures now have a clearer validation message

[2017-04-27 13:03] #949 closed

[2017-04-27 13:07] mitchharpur commented on #861
not reproducable ... issue is no longer occurring or might have been another side affect

[2017-04-27 13:07] #861 closed

[2017-04-27 13:10] mitchharpur commented on #784
this should now be corrected ... set a larger default width for the dialog

[2017-04-27 13:10] #784 closed

[2017-04-27 13:12] mitchharpur commented on #699
this should now be corrected. On every page when the next buttons  ... all the fields are posted to the api

[2017-04-27 13:12] #699 closed

[2017-04-27 13:12] mitchharpur commented on #640
This should now be corrected. The field is also now readonly

[2017-04-27 13:12] #640 closed

[2017-04-27 13:14] mitchharpur commented on #546
This was a server side issue that appears to have been corrected

[2017-04-27 13:14] #546 closed

[2017-04-27 13:18] corinnekrych commented on #947
@samuzzal-choudhury Fixed with https://github.com/fabric8-ui/ngx-fabric8-wit/pull/81
and new released ngx-fabric8-wit@v6.17.11

[2017-04-27 13:18] #947 closed

[2017-04-27 15:11] ldimaggi opened #1156 "Deleted spaces are not refreshed in/removed from the displayed list of recent spaces until a user logs out"
Screenshot #1 - After the space is created

![screenshot from 2017-04-27 11-00-13](https://cloud.githubusercontent.com/assets/642621/25490219/239f6eb2-2b3a-11e7-84a3-2fc51e336a87.png)

Screenshot #2 - After the space is deleted

![screenshot from 2017-04-27 11-01-00](https://cloud.githubusercontent.com/assets/642621/25490233/2f5a51b8-2b3a-11e7-9d68-f8d9f59d98dc.png)

[2017-04-27 15:21] ldimaggi opened #1157 "On login, a user's spaces are not listed in the home page"
Screenshot #1 - On login, no spaces are displayed:

![screenshot from 2017-04-27 11-17-20](https://cloud.githubusercontent.com/assets/642621/25490679/8b7869e8-2b3b-11e7-9075-e944b40d8921.png)

Screenshot #2 - But, the user does have spaces:

![screenshot from 2017-04-27 11-17-41](https://cloud.githubusercontent.com/assets/642621/25490701/99b2046a-2b3b-11e7-96d2-8b92e49743c6.png)

[2017-04-27 15:22] ldimaggi commented on #1115
Rseolved!

[2017-04-27 15:22] #1115 closed

[2017-04-27 15:23] ldimaggi commented on #994
Resolved as of April 27

[2017-04-27 15:23] #994 closed

[2017-04-27 15:23] ldimaggi commented on #871
Resolved as of April 27

[2017-04-27 15:23] #871 closed

[2017-04-27 15:24] ldimaggi commented on #999
Resolved - UI has changed to remove that link.

[2017-04-27 15:24] #999 closed

[2017-04-27 15:25] ldimaggi commented on #1050
Resolved as of April 27

[2017-04-27 15:26] ldimaggi commented on #758
Resolved as of April 27

[2017-04-27 15:26] #758 closed

[2017-04-27 15:27] #761 closed

[2017-04-27 15:27] #1050 closed

[2017-04-27 16:58] joshuawilson commented on #1157
it is only recent spaces

[2017-04-27 20:55] catrobson opened #1180 "Remove images from project type dropdown in wizard"
The images next to the project types (vert.x, swarm, etc) are poor quality, stretched, and don't have transparency.  We should remove these for now and go back to just a text list selection as previously implemented for this dropdown.

[2017-04-27 21:02] joshuawilson commented on #1180
@mitchharpur If you can get this done, I'll like to get it merged. Thanks

[2017-04-27 21:20] ldimaggi opened #1182 "Intermittent problem - Clicking on in planner causes the quick add bar to disappear"
Seeing this occur - not every time - clicking on the quick add option causes it to disappear. No error is logged in the console log:

![screenshot from 2017-04-27 17-16-54](https://cloud.githubusercontent.com/assets/642621/25504943/cde0002a-2b6d-11e7-8a85-adcf773a6e72.png)

[2017-04-27 21:21] ldimaggi commented on #1182
Leaving and returning to the planner restores the quick add bar.

[2017-04-27 21:30] ldimaggi opened #1185 "View user for collaborator results in error - Cannot read property 'links' of null"
To recreate:
* Select a collaborator and 'View User'
[code]

[2017-04-27 21:30] ldimaggi commented on #1185
No error is returned to the user in the UI.

[2017-04-27 21:40] ldimaggi opened #1188 "Iteraton dates - the dates selected are saved as (date - 1) - ONLY in USA timezones"
Here is an iteration as created:

![screenshot from 2017-04-27 17-38-49](https://cloud.githubusercontent.com/assets/642621/25505603/89140a10-2b70-11e7-9b23-3708ba698917.png)

And - here is how it is save by the Planner::

![screenshot from 2017-04-27 17-39-14](https://cloud.githubusercontent.com/assets/642621/25505616/9b9838fa-2b70-11e7-8095-9b76b249361e.png)

[2017-04-27 21:48] #1157 closed

[2017-04-27 21:50] ldimaggi opened #1190 "Changing status of workitem in Planner from Open to Closed raises error - TypeError: Cannot read property 'type' of undefined"
Seeing this on work items - regardless of whether they are associated with an iteration or not:

![screenshot from 2017-04-27 17-44-43](https://cloud.githubusercontent.com/assets/642621/25505910/f7b86d5c-2b71-11e7-94cd-691cb8ebda22.png)

[code]

[2017-04-28 02:35] ldimaggi opened #1197 "Deleting a space that contains workitems deletes the work items and not the space"
Steps to recreate:
* Create a new space
* In that space create one or more workitems
* Delete the space
* Logout and login to refresh all menus/lists of spaces
* The space is still there, but its workitems are gone
* The space can now be deleted

[2017-04-28 02:36] ldimaggi opened #1198 "Intermittent, non-reproducible problem where in the Planner, the workitem title field does not accept spaces"
I have seen this twice today - not reproducible.

[2017-04-28 02:39] alexeykazakov commented on #556
This is done. Closing.

[2017-04-28 02:39] #556 closed

[2017-04-28 02:42] joshuawilson commented on #1198
I saw it once too.